<form method="post" class ="eliminarDato" action="{{ path('formaRealizacion_delete', {'idFormaRealizacion': formaRealizacion.idFormaRealizacion}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formaRealizacion.idFormaRealizacion) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>
