    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idInsumo">Insumo</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idInsumo) }}
            <div class="invalid-feedback">{{ form_errors(form.idInsumo)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="registroInvima" class="fles">Registro invima</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.registroInvima) }}
            <div class="invalid-feedback">{{ form_errors(form.registroInvima)}}</div>
       </div>
    </div>
    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="lote">Lote</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.lote) }}
            <div class="invalid-feedback">{{ form_errors(form.lote)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="fechaVencimiento" class="fles">Fecha Vencimiento</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.fechaVencimiento) }}
            <div class="invalid-feedback">{{ form_errors(form.fechaVencimiento)}}</div>
       </div>
    </div>
    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cantidad">Cantidad</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.cantidad) }}
            <div class="invalid-feedback">{{ form_errors(form.cantidad)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="unidadMedida" class="fles">Unidad Medida</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.unidadMedida) }}
            <div class="invalid-feedback">{{ form_errors(form.unidadMedida)}}</div>
       </div>
    </div>
    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="modelo">Modelo</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.modelo) }}
            <div class="invalid-feedback">{{ form_errors(form.modelo)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idClinicaUbicacion">Ubicación</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idClinicaUbicacion) }}
            <div class="invalid-feedback">{{ form_errors(form.idClinicaUbicacion)}}</div>
       </div>
    </div>
    <hr>
    <div class="card bg-secondary text-white">Garantía - Intervalo mantenimiento</div>
    <div class="row">
        <div class="form-group col-xg-1 col-lg-1 col-md-1 col-sm-12">
          <label>Garantía</label>
        </div>
        <div class="form-group col-xg-3 col-lg-3 col-md-3 col-sm-12">
            <select id="tiempoMGEdt" name="tiempoMGEdt" required="required" data-toggle="tooltip" title="Seleccione el tiempo." data-placement="bottom" data-html="true" class="form-control">
               <option value="">Seleccionar tiempo</option>
               <option value="DIA">Días</option>
               <option value="MES">Meses</option>
               <option value="ANIO">Años</option>
            </select>
            <div class="invalid-feedback errorTiempoMGEdt">{{ form_errors(form.garantia)}}</div>
        </div>                                    
        <div class="form-group col-xg-2 col-lg-2 col-md-2 col-sm-12">
            <input type="text" id="cantidadGEdt" name="cantidadGEdt" data-toggle="tooltip"  title="Ingrese el tiempo de garantía. Se permite mínimo 1 y máximo 3 dígitos." onKeyPress="return SoloNumeros(event);" data-placement="top" data-color="black" data-html="true" maxlength="3" placeholder="Ingrese cantidad" class="form-control">
        </div>
        <div class="form-group col-xg-1 col-lg-1 col-md-1 col-sm-12">
            <label>Mantenimiento</label>
        </div>
       <div class="form-group col-xg-3 col-lg-3 col-md-3 col-sm-12">
            <select id="tiempoMEdt" name="tiempoMEdt" required="required" data-toggle="tooltip" title="Seleccione el tiempo." data-placement="bottom" data-html="true">
               <option value="">Seleccionar tiempo</option>
               <option value="DIA">Días</option>
               <option value="MES">Meses</option>
               <option value="ANIO">Años</option>
            </select>
            <div class="invalid-feedback errorTiempoMEdt">{{ form_errors(form.intervaloMantenimiento)}}</div>
        </div>
        <div class="form-group col-xg-2 col-lg-2 col-md-2 col-sm-12">
            <input type="text" id="cantidaMEdt" name="cantidaMEdt" data-toggle="tooltip"  title="Ingrese el tiempo de garantía. Se permite mínimo 1 y máximo 3 dígitos." onKeyPress="return SoloNumeros(event);" data-placement="top" data-color="black" data-html="true" maxlength="3" placeholder="Ingrese cantidad" class="form-control">
        </div>
    </div>
    <div hidden>
    	{{ form_widget(form.intervaloMantenimiento) }}
    	{{ form_widget(form.garantia) }}
    	{{ form_widget(form.estado) }}
    	{{ form_widget(form.idUsuarioIngresa) }}
    	{{ form_widget(form.idPedido) }}      
      <input type="hidden" id="fechaFacturacion" value="{{ entradaPedido.idPedido.fechaFactura ?  entradaPedido.idPedido.fechaFactura|date('Y-m-d') : '' }}">
    </div>
	<div class="text-center">
		<a href="{{ path('entradaPedido_index', { 'idPedido': entradaPedido.idPedido.idPedido }) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}