<table class="table" id="table_entradasPedido">  
  <tbody id="datosEntradaPedido">
  {% for entradaPedido in entradasPedidos %}
      <tr>
        <td class="text-left">{{ entradaPedido.idInsumo.idNombreInsumo }}</td>
        <td class="text-left">{{ entradaPedido.registroInvima ? entradaPedido.registroInvima | capitalize : '-'}}</td>
        <td class="text-left">{{ entradaPedido.lote ? entradaPedido.lote  | capitalize : '-' }}</td>
        <td class="text-left">{{ entradaPedido.fechaVencimiento ? entradaPedido.fechaVencimiento|date('Y-m-d H:i:s') : '-'}}</td>
        <td class="text-left">{{ entradaPedido.unidadMedida  | capitalize}}</td>
        <td class="text-left">{{ entradaPedido.cantidad  | capitalize}}</td>
        <td class="text-center" >
          <button type="button" onclick="detalle({{entradaPedido.idEntradaPedido}})" title="Detalle elemento" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>
          {% if entradaPedido.estado == true %}
            <button type="button" onclick="editarEntradaPedido({{entradaPedido.idEntradaPedido}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar entrada pedido"><span class="fas fa-edit"></span></button>
          {% else %}                            
             <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar entrada pedido"><span class="fas fa-edit"></span></button>
          {% endif %}
          <a  class="cambiarEstadoEntradaPedido" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{entradaPedido.idEntradaPedido}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
        </td>
      </tr>    
  {% endfor %}
  </tbody>
</table>