{% extends 'base.html.twig' %}

{% block title %}Pedido{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header card-title text-center">
                    <h3>ASIGNACIÓN DE ELEMENTOS A PEDIDO N° {{ pedido.idPedido}} </h3>
                </div>
                <hr>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                
                <div class="table-responsive-lg mt-3">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td colspan="2"></td>
                                <th>Fecha ingreso</th>
                                <td>{{ pedido.fechaApertura ? pedido.fechaApertura|date('Y-m-d H:i:s') : '' }}</td>
                                
                            </tr>
                            <tr>
                                <th>Número factura</th>
                                <td>{{ pedido.numeroFactura }}</td>
                                <th>Fecha factura</th>
                                <td>{{ pedido.fechaFactura ? pedido.fechaFactura|date('Y-m-d') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Proveedor</th>
                                <td>{{ pedido.idProveedor}}</td>
                                <th>Orden compra</th>
                                <td>{{ pedido.idOrdenCompra ? pedido.idOrdenCompra : '-' }}</td>
                            </tr>
                            <tr>
                            {% if pedido.imagen != '' %} 
                              <th>Imagen</th>
                              <td colspan="3">
                                <a target="_black" href="{{ asset('light/dist/assets/uploads/pedido/' ~ pedido.imagen) }}" title="Ver Adj"><button type="button" class="btn btn-default"><span class="fa fa-file"></span></button></a>
                              </td>
                             {% endif %}
                           </tr>
                        </tbody>
                    </table>
                </div>  
                <hr>  
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#elementos" data-toggle="tab" aria-expanded="false" class="nav-link active">
                            <h3>Registro Elementos</h3>
                        </a>
                    </li>
                </ul>                   
                <div id="elementos" class="tab-pane">
                 {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formNuevaEntradaPedido'} }) }} 
                   <br>
                   <div class="row">
                       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                            {{ form_widget(form.idInsumo) }}
                            <div class="invalid-feedback">{{ form_errors(form.idInsumo)}}</div>
                       </div>
                       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                            {{ form_widget(form.registroInvima, { 'attr': {'placeholder': "Ingrese registro invima"}}) }}
                            <div class="invalid-feedback">{{ form_errors(form.registroInvima)}}</div>
                       </div>
                       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                            {{ form_widget(form.lote, { 'attr': {'placeholder': "Ingrese lote"} }) }}
                            <div class="invalid-feedback">{{ form_errors(form.lote)}}</div>
                       </div>
                    </div>
                    <div class="row"> 
                       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                            {{ form_widget(form.fechaVencimiento, { 'attr': {'placeholder': "Ingrese fecha vencimiento"}}) }}
                            <div class="invalid-feedback">{{ form_errors(form.fechaVencimiento)}}</div>
                       </div>
                       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                            {{ form_widget(form.cantidad, { 'attr': {'placeholder': "Ingrese cantidad"}}) }}
                            <div class="invalid-feedback">{{ form_errors(form.cantidad)}}</div>
                       </div>
                       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                            {{ form_widget(form.unidadMedida) }}
                            <div class="invalid-feedback">{{ form_errors(form.unidadMedida)}}</div>
                       </div>
                    </div>
                    <div class="row">                       
                       <div class=" form-group col-xg-8 col-lg-8 col-md-8 col-sm-12"> 
                            {{ form_widget(form.idClinicaUbicacion) }}
                            <div class="invalid-feedback">{{ form_errors(form.idClinicaUbicacion)}}</div>
                       </div>
                       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                            {{ form_widget(form.modelo,{ 'attr': {'placeholder': "Ingrese modelo"}}) }}
                            <div class="invalid-feedback">{{ form_errors(form.modelo)}}</div>
                       </div>
                    </div>
                    <div class="card bg-secondary text-white">Garantía - Intervalo mantenimiento</div>
                    <div class="row">
                        <div class="form-group col-xg-1 col-lg-1 col-md-1 col-sm-12">
                          <label>Garantía</label>
                        </div>
                        <div class="form-group col-xg-3 col-lg-3 col-md-3 col-sm-12">
                            <select id="tiempoMG" name="tiempoMG" required="required" data-toggle="tooltip" title="Seleccione el tiempo." data-placement="bottom" data-html="true" class="form-control">
                               <option value="">Seleccionar tiempo</option>
                               <option value="DIA">Días</option>
                               <option value="MES">Meses</option>
                               <option value="ANIO">Años</option>
                            </select>
                            <div class="invalid-feedback errorTiempoMG">{{ form_errors(form.garantia)}}</div>
                        </div>                                    
                        <div class="form-group col-xg-2 col-lg-2 col-md-2 col-sm-12">
                            <input type="text" id="cantidadG" name="cantidadG" data-toggle="tooltip"  title="Ingrese el tiempo de garantía. Se permite mínimo 1 y máximo 3 dígitos." onKeyPress="return SoloNumeros(event);" data-placement="top" data-color="black" data-html="true" maxlength="3" placeholder="Ingrese cantidad" class="form-control">
                        </div>
                        <div class="form-group col-xg-1 col-lg-1 col-md-1 col-sm-12">
                            <label>Mantenimiento</label>
                        </div>
                       <div class="form-group col-xg-3 col-lg-3 col-md-3 col-sm-12">
                            <select id="tiempoM" name="tiempoM" required="required" data-toggle="tooltip" title="Seleccione el tiempo." data-placement="bottom" data-html="true">
                               <option value="">Seleccionar tiempo</option>
                               <option value="DIA">Días</option>
                               <option value="MES">Meses</option>
                               <option value="ANIO">Años</option>
                            </select>
                            <div class="invalid-feedback errorTiempoM">{{ form_errors(form.intervaloMantenimiento)}}</div>
                        </div>
                        <div class="form-group col-xg-2 col-lg-2 col-md-2 col-sm-12">
                            <input type="text" id="cantidaM" name="cantidaM" data-toggle="tooltip"  title="Ingrese el tiempo de garantía. Se permite mínimo 1 y máximo 3 dígitos." onKeyPress="return SoloNumeros(event);" data-placement="top" data-color="black" data-html="true" maxlength="3" placeholder="Ingrese cantidad" class="form-control">
                        </div>
                    </div>
                    <div hidden>
                        {{ form_widget(form.intervaloMantenimiento) }}
                        {{ form_widget(form.garantia) }}
                        {{ form_widget(form.estado) }}
                        {{ form_widget(form.idUsuarioIngresa) }}
                        {{ form_widget(form.idPedido) }}
                        <input type="hidden" id="fechaFacturacion" value="{{ pedido.fechaFactura ? pedido.fechaFactura|date('Y-m-d') : '' }}">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
                    </div>                   
                {{ form_end(form) }}  
                </div>
                <table class="table" id="table_entradasPedido">
                    <thead>
                        <tr class="bg-primary">
                            <th colspan="7" class="text-center text-light">Listados elementos</th>
                        </tr>
                        <tr>  
                            <th class="text-left w-25">Elemento insumo</th>
                            <th class="text-left">Registro invima</th>
                            <th class="text-left">Lote</th>
                            <th class="text-left">Fecha vencimiento</th>
                            <th class="text-left">Unidad medida</th>                            
                            <th class="text-left">Cantidad</th>
                            <th class="text-center w-25">Acciones</th>
                        </tr>
                    </thead>                      
                    <tbody id="datosEntradaPedido">
                    {% for entradaPedido in entradasPedidos %}
                        <tr>
                          <td class="text-left">{{ entradaPedido.idInsumo.idNombreInsumo }}</td>
                          <td class="text-left">{{ entradaPedido.registroInvima ? entradaPedido.registroInvima | capitalize : '-'}}</td>
                          <td class="text-left">{{ entradaPedido.lote ? entradaPedido.lote  | capitalize : '-' }}</td>
                          <td class="text-left">{{ entradaPedido.fechaVencimiento ? entradaPedido.fechaVencimiento|date('Y-m-d H:i:s') : '-'}}</td>
                          <td class="text-left">{{ entradaPedido.unidadMedida  | capitalize}}</td>
                          <td class="text-left">{{ entradaPedido.cantidad  | capitalize}}</td>
                          <td class="text-center" >
                            <button type="button" onclick="detalle({{entradaPedido.idEntradaPedido}})" title="Detalle elemento" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>
                            {% if entradaPedido.estado == true %}
                              <button type="button" onclick="editarEntradaPedido({{entradaPedido.idEntradaPedido}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar entrada pedido"><span class="fas fa-edit"></span></button>
                            {% else %}                            
                               <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar entrada pedido"><span class="fas fa-edit"></span></button>
                            {% endif %}
                            <a  class="cambiarEstadoEntradaPedido" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{entradaPedido.idEntradaPedido}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                        </tr>    
                    {% endfor %}
                    </tbody>
              </table>
                <div class="text-center mt-3">
                    <a href="{{ path('pedido_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a>
                </div>
            </div>        
        </div>
    </div>
</div>   

{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosEntradaPedidos"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
  //añejo de datatable 
  newTable('#table_entradasPedido');
});


$( ".cambiarEstadoEntradaPedido").click( function(){
  var idEntradaPedido= $(this).data('id');
   var tipo = 'EntradaPedido';
  $('.modal-body #id').val(idEntradaPedido);
  $('.modal-body #tipo').val(tipo);

});
function editarEntradaPedido(id) {
  var url = "/entradaPedido/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosEntradaPedidos').modal('show'); 
            $('#datosEntradaPedidos').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

function detalle(id) {
  // alert(id); 
  var url = "/entradaPedido/"+id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosEntradaPedidos').modal('show'); 
            $('#datosEntradaPedidos').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
</script>
{% endblock %}