<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
        <div class="modal-header ">
            <div class="text-center w-100"><h3 class="modal-title">DETALLE ELEMENTO N° {{entradaPedido.idEntradaPedido}}</h3></div>             
            <a href="{{ path('entradaPedido_index', { 'idPedido': entradaPedido.idPedido.idPedido }) }}">
                <button type="button" class="close" title="Cerrar" aria-label="Close">
                  <span aria-hidden="true" class=" fa-lg">&times;</span>
                </button>
            </a>
          
        </div>
        <!--Body de Modal-->      
        <div class="modal-body">
            <div class="row">
               <div class="col-6"></div> 
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Fecha apertura</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ entradaPedido.fechaApertura  ? entradaPedido.fechaApertura|date('Y-m-d H:i:s') : ''}}
              </div>
          </div>
          <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Elemento insumo</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ entradaPedido.idInsumo}}
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Ubicación</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ entradaPedido.idClinicaUbicacion}}
              </div>
          </div>
          <div class="row mt-2">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Cant / Unid</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    {{entradaPedido.cantidad}} - {{entradaPedido.unidadMedida}} 
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Estado</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    {{entradaPedido.estado ? 'Activo' : 'Inactivo'}} 
              </div>      
          </div> 
          <div class="row mt-2">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Usuario ingreso</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    {{entradaPedido.idUsuarioIngresa}}
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Modelo</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    {{entradaPedido.modelo ? entradaPedido.modelo : '-'}}
              </div>               
          </div> 
          <div class="row mt-2">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Registro invima</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    {{entradaPedido.registroInvima ? entradaPedido.registroInvima : '-'}}
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Lote</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    {{entradaPedido.lote ? entradaPedido.lote : '-'}} 
              </div>      
          </div>
          <div class="row mt-2">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Fecha Vencimiento</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    {{entradaPedido.fechaVencimiento ? entradaPedido.fechaVencimiento|date('Y-m-d H:i:s') : '-'}} 
              </div> 
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Garantía</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    {{entradaPedido.garantia ? entradaPedido.garantia|date('Y-m-d H:i:s') : '-'}} 
              </div>      
          </div> 
          <div class="row mt-2">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Intervalo Mantenimiento</b>
              </div>
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                    {{entradaPedido.intervaloMantenimiento ? entradaPedido.intervaloMantenimiento| capitalize : '-'}} 
              </div> 
          </div>
        <div class="modal-footer">
           <a href="{{ path('entradaPedido_index', { 'idPedido': entradaPedido.idPedido.idPedido }) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
        </div>  
          
      </div>
    </div>
</div>  