{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar elemento{% endblock %}
{% block body %}
<div class="modal-dialog modal-full">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR ELEMENTO</h3></div>
    	{{ include('entradaPedido/_delete_form.html.twig') }}
        <a href="{{ path('entradaPedido_index', { 'idPedido': entradaPedido.idPedido.idPedido }) }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formEntradaPedidoEdit'} }) }} 
		   {{ include('entradaPedido/_form.html.twig') }}
    </div>
    <input type="hidden" id="idEntradaPedido" value="{{entradaPedido.idEntradaPedido}}">
    <input type="hidden" id="intervaloGarantia" value="{{seteoGarantia}}">
  </div>
</div> 
<script type="text/javascript">
var intervaloGarantia=$('#intervaloGarantia').val();
if (intervaloGarantia != '') {
  separacion=intervaloGarantia.split("_");
  $('#tiempoMGEdt').val(separacion[1]).change();
  $('#cantidadGEdt').val(separacion[0]);
}

var intervaloMantenimiento=$('#formEntradaPedidoEdit').children().children('input#entrada_pedido_intervaloMantenimiento').val();
if (intervaloMantenimiento != '') {
  separacion=intervaloMantenimiento.split("_");
  $('#tiempoMEdt').val(separacion[0]).change();
  $('#cantidaMEdt').val(separacion[1]);
}
</script> 
{% endblock %}
