<form method="post" class ="eliminarDato" action="{{ path('mantenimiento_delete', {'idMantenimiento': mantenimiento.idMantenimiento}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mantenimiento.idMantenimiento) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>