    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombre">Elemento</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
          {% if mantenimiento.idMantenimiento == '' %}  
            {{ form_widget(form.idEntradaPedido) }}
          {% else %}
            <p>{{mantenimiento.idEntradaPedido}}</p>
            <div hidden>{{ form_widget(form.idEntradaPedido) }}</div>
          {% endif %}
            <div class="invalid-feedback">{{ form_errors(form.idEntradaPedido)}}</div>
       </div>
    </div>
    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="fechaProgramada" class="fles">Fecha programada</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
          {% if mantenimiento.idMantenimiento == '' %}  
            {{ form_widget(form.fechaProgramada) }}
          {% else %}
            <p>{{mantenimiento.fechaProgramada ? mantenimiento.fechaProgramada|date('Y-m-d') : ''}}</p>
            {{ form_widget(form.fechaProgramada, { 'attr': {'hidden': 'hidden'} }) }}
          {% endif %}
            <div class="invalid-feedback">{{ form_errors(form.fechaProgramada)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12"> 
			{% if mantenimiento.idMantenimiento != '' %}       	
       			<label for="fechaEjecucion" class="fles">Fecha ejecución</label>&nbsp;<label class="text-danger fles">*</label>              
       		{% else %} 
       			<label for="fechaEjecucion">Fecha ejecución</label>
       		{% endif %}
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
          {% if mantenimiento.idEstadoMantenimiento != '' %}  
            {% if mantenimiento.idEstadoMantenimiento.idEstadoMantenimiento != 2 %}  
              {{ form_widget(form.fechaEjecucion) }}
            {% else %}
              <p>{{mantenimiento.fechaEjecucion ? mantenimiento.fechaEjecucion|date('Y-m-d H:m:s') : ''}}</p>
              <div hidden>{{ form_widget(form.fechaEjecucion) }}</div>
            {% endif %}  
          {% else %}
            {{ form_widget(form.fechaEjecucion) }}
          {% endif %}
            <div class="invalid-feedback">{{ form_errors(form.fechaEjecucion)}}</div>
       </div>
    </div>
    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="tipoMantenimiento">Tipo</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
          {% if mantenimiento.idEstadoMantenimiento != '' %}  
            {% if mantenimiento.idEstadoMantenimiento.idEstadoMantenimiento != 2 %}  
              {{ form_widget(form.tipoMantenimiento) }}
            {% else %}
              <p>{{mantenimiento.tipoMantenimiento  | capitalize }}</p>
              <div hidden>{{ form_widget(form.tipoMantenimiento) }}</div>
            {% endif %}  
          {% else %}
            {{ form_widget(form.tipoMantenimiento) }}
          {% endif %}
          <div class="invalid-feedback">{{ form_errors(form.tipoMantenimiento)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">  
			{% if mantenimiento.idMantenimiento != '' %}       	
       			<label for="idUsuarioAprueba" class="fles">Usuario aprueba</label>&nbsp;<label class="text-danger fles">*</label>              
       		{% else %} 
       			<label for="idUsuarioAprueba" class="fles">Usuario aprueba</label>&nbsp;<label hidden class="text-danger fles labelUsuariobleObli">*</label>
       		{% endif %}
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
          {% if mantenimiento.idEstadoMantenimiento != '' %}  
            {% if mantenimiento.idEstadoMantenimiento.idEstadoMantenimiento != 2 %}  
              {{ form_widget(form.idUsuarioAprueba) }}
            {% else %}
              <p>{{mantenimiento.idUsuarioAprueba  | capitalize }}</p>
              <div hidden>{{ form_widget(form.idUsuarioAprueba) }}</div>
            {% endif %}  
          {% else %}
            {{ form_widget(form.idUsuarioAprueba) }}
          {% endif %}
            <div class="invalid-feedback errorUsuarioAprueba">{{ form_errors(form.idUsuarioAprueba)}}</div>
       </div>
    </div>    
    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
       		{% if mantenimiento.idMantenimiento != '' %}       	
       			<label for="responsable" class="fles">Responsable</label>&nbsp;<label class="text-danger fles">*</label>              
       		{% else %} 
       			<label for="responsable">Responsable</label>&nbsp;<label hidden class="text-danger labelResponsableObli">*</label>
       		{% endif %}
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
          {% if mantenimiento.idEstadoMantenimiento != '' %}  
            {% if mantenimiento.idEstadoMantenimiento.idEstadoMantenimiento != 2 %}  
              {{ form_widget(form.responsable) }}
            {% else %}
              <p>{{mantenimiento.responsable  | capitalize }}</p>
              <div hidden>{{ form_widget(form.responsable) }}</div>
            {% endif %}  
          {% else %}
            {{ form_widget(form.responsable) }}
          {% endif %}
            <div class="invalid-feedback errorResponsable">{{ form_errors(form.responsable)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idEstadoMantenimiento">Estado</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
          {% if mantenimiento.idEstadoMantenimiento != '' %}  
            {% if mantenimiento.idEstadoMantenimiento.idEstadoMantenimiento != 2 %}  
              {{ form_widget(form.idEstadoMantenimiento) }}
            {% else %}
              <p>{{mantenimiento.idEstadoMantenimiento  | capitalize }}</p>
              <div hidden>{{ form_widget(form.idEstadoMantenimiento) }}</div>
            {% endif %}  
          {% else %}
            {{ form_widget(form.idEstadoMantenimiento) }}
          {% endif %}
            <div class="invalid-feedback">{{ form_errors(form.idEstadoMantenimiento)}}</div>
       </div>
    </div>
    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">  
          {% if mantenimiento.idMantenimiento != '' %}         
            <label for="descripcion" class="fles">Descripción</label>&nbsp;<label class="text-danger fles">*</label>              
          {% else %} 
            <label for="descripcion">Descripción</label>&nbsp;<label hidden class="text-danger labelDescripcionObli">*</label>
          {% endif %}              
            
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.descripcion) }}
            <div class="invalid-feedback errorDescripcion">{{ form_errors(form.descripcion)}}</div>
       </div>
    </div>
    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="observacion">Observación</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.observacion) }}
            <div class="invalid-feedback">{{ form_errors(form.observacion)}}</div>
       </div>
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('mantenimiento_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
