{% extends 'base.html.twig' %}
{% block title %}Mantenimiento{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>MANTENIMIENTO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_mantenimiento">
                    <thead>
                      <tr>  
                        <th class="text-center">N° mantenimiento</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Fecha programada</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Estado</th>
                        <th class="text-right">Acciones</th>
                        <th>
                          <a style="float: right;" data-controls-modal="crearMantenimiento" data-backdrop="static" data-toggle="modal" data-target="#crearMantenimiento" title="Crear mantenimiento"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                        </th> 
                      </tr>
                    </thead>
                    <tbody>
                    {% for mantenimiento in mantenimientos %}
                        <tr>
                          <td class="text-center">{{ mantenimiento.idMantenimiento}}</td>
                          <td class="text-center">{{mantenimiento.idEntradaPedido.idInsumo}}</td>
                          <td class="text-left">{{mantenimiento.fechaProgramada ? mantenimiento.fechaProgramada|date('Y-m-d') : ''}}</td>
                          <td class="text-left">{{ mantenimiento.tipoMantenimiento  | capitalize}}</td>
                          <td class="text-left">{{ mantenimiento.idEstadoMantenimiento  | capitalize}}</td>                          
                          <td class="text-right" colspan="2">
                            <button type="button" onclick="detalle({{mantenimiento.idMantenimiento}})" title="Detalle mantenimiento" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>
                             {% if mantenimiento.idEstadoMantenimiento.nombre != 'CANCELADO' %}
                            <button type="button" onclick="editar( {{ mantenimiento.idMantenimiento}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar mantenimiento"><span class="fas fa-edit"></span></button>
                            {% else %}
                             <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar mantenimiento"><span class="fas fa-edit"></span></button>
                            {% endif %}
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>
{{ include('mantenimiento/modalNew.html.twig') }}
<div class="modal fade bd-example-modal-lg" id="datosMantenimiento"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_mantenimiento');   
});

function detalle(id) {
  // alert(id); 
  var url = id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosMantenimiento').modal('show'); 
            $('#datosMantenimiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

function editar(id) {
  // alert(id); 
  var url = id+'/edit';
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosMantenimiento').modal('show'); 
            $('#datosMantenimiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

</script>
{% endblock %}
