<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE MANTENIMIENTO N° {{mantenimiento.idMantenimiento}}</h3></div>             
        <a href="{{ path('mantenimiento_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">        
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Nombre Elemento</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                {{mantenimiento.idEntradaPedido.idInsumo| capitalize }}
            </div>    
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Pedido #</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{mantenimiento.idEntradaPedido.idPedido.idPedido}}
            </div> 
        </div>     
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Fecha programada</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ mantenimiento.fechaProgramada  ? mantenimiento.fechaProgramada|date('Y-m-d H:i:s') : ''}}
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Fecha ejecución</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ mantenimiento.fechaEjecucion  ? mantenimiento.fechaEjecucion|date('Y-m-d H:i:s') : '-'}}
            </div>
        </div>        
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Tipo</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                {{mantenimiento.tipoMantenimiento | capitalize }}
            </div>    
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Usuario aprueba</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{mantenimiento.idUsuarioAprueba ? mantenimiento.idUsuarioAprueba : '-'}}
            </div> 
        </div>     
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Responsable</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{mantenimiento.responsable ? mantenimiento.responsable : '-'}}
            </div>   
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Estado</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-danger">
                {{mantenimiento.idEstadoMantenimiento | capitalize}}
            </div>   
        </div>  
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Descripción</b>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                {{mantenimiento.descripcion ? mantenimiento.descripcion : '-'}}
            </div>  
        </div>
        <div class="row mt-2"> 
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Observación</b>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                {{mantenimiento.observacion ? mantenimiento.observacion : '-'}}
            </div>   
        </div>  
    </div>    
    <div class="modal-footer">
       <a href="{{ path('mantenimiento_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  
