{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar mantenimiento{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR MANTENIMIENTO</h3></div>
      {% if mantenimiento.idEstadoMantenimiento != '' %}  
        {% if mantenimiento.idEstadoMantenimiento.idEstadoMantenimiento != 2 %} 
          {{ include('mantenimiento/_delete_form.html.twig') }}
        {% endif %}  
      {% endif %}
    	
        <a href="{{ path('mantenimiento_index') }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formMantenimientoEdit'} }) }} 
		   {{ include('mantenimiento/_form.html.twig') }}
    </div>
    <input type="hidden" id="idMantenimiento" value="{{mantenimiento.idMantenimiento}}">
  </div>
</div>  
{% endblock %}
