<form method="post" class ="eliminarDato" action="{{ path('habito_delete', {'idHabito': habito.idHabito}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ habito.idHabito) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>
