{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formAnexoPacienteEdit'} }) }} 
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.nombre) }}
            <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idRemision">Remisión</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idRemision) }}
            <div class="invalid-feedback">{{ form_errors(form.idRemision)}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="descripcion">Descripción</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.descripcion) }}
            <div class="invalid-feedback">{{ form_errors(form.descripcion)}}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="archivo">Archivo</label>
        </div>
        <div class="input-group image-preview col-xg-10 col-lg-10 col-md-10 col-sm-12 form-group ">
            <input type="text" class="form-control image-preview-filename" value="{{anexoPaciente.archivo}}" disabled="disabled"> 
            <span class="input-group-btn">
                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                    <span class="glyphicon glyphicon-remove"></span>Quitar
                </button>
                <div class="btn btn-default image-preview-input">
                    <span class="fas fa-folder-open"></span>
                    <span class="image-preview-input-title">Archivo</span>
                    {{ form_widget(form.archivo) }}
                </div>
            </span>
            <div class="invalid-feedback">{{ form_errors(form.archivo)}} </div>
        </div>
    </div>                            
    <div hidden>
        {{ form_widget(form.idPaciente) }}
        {{ form_widget(form.idUsuarioIngresa) }}
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('anexoPaciente_index',{'idPaciente':anexoPaciente.idPaciente.idPaciente}) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
