{% extends 'base.html.twig' %}
{% block title %}Anexos paciente{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    {{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">
          
            <div class="card-body"> 
                <div class="modal-header hearVisual">
                    <div class="text-center w-100">
                        <h3 class="modal-title">ANEXOS PACIENTE</h3>
                        <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
                    </div>              
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">                        
                        <div class="table-responsive mt-3"  >
                            <table class="table table-hover" id="table_anexosPacientes">
                                <thead>
                                    <tr>
                                        <th class="text-center w-25">Fecha registro</th>
                                        <th class="text-center w-50">Documento</th>
                                        <th class="text-right w-25">Acciones</th>
                                        <th>
                                            <button  style="float: right;" type="button" class="btn btn-sm btn-success waves-effect waves-light" data-toggle="collapse" data-target="#collapseAnexo" aria-expanded="false" aria-controls="collapseAnexo"><span class="fas fa-plus"></span></button>
                                        </th>
                                    </tr>                                        
                                </thead>
                                <tbody>
                                    {% for anexoPaciente in anexosPacientes%}
                                        <tr>
                                            <td class="text-left">{{anexoPaciente.fechaApertura ? anexoPaciente.fechaApertura|date('Y-m-d H:i:s') : ''}}</td>
                                            <td class="text-left">{{ anexoPaciente.archivo ? anexoPaciente.archivo : '-'}}</td>
                                            <td class="text-center" colspan="2">
                                                <button type="button" onclick="detalle({{anexoPaciente.idAnexoPaciente}})" title="Detalle anexo" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>
                                                <button type="button"  onclick="editar({{anexoPaciente.idAnexoPaciente}});"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar anexo"><span class="fas fa-edit"></span></button>
                                                <a target="_black"  href="{{ path('anexoPaciente_pdf', { 'idAnexoPaciente': anexoPaciente.idAnexoPaciente }) }}" class="imprimir"><button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light" title="Imprimir anexo"><span class="mdi mdi-printer-settings"></span></button></a>
                                            </td>
                                            <td style="display:none;"></td>
                                        </tr>                                                
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>
                        <div class="crearForm_anexo collapse" id="collapseAnexo" >
                            <hr><br><br>
                            <div class="card">
                                <div class="card-header bg-info py-3 text-white">
                                    <div class="card-widgets">
                                        <!--a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a-->
                                        <a data-toggle="collapse" href="#cardCollpase7" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                                        <!--a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a-->
                                    </div>
                                    <h5 class="card-title mb-0 text-white">Registro anexo</h5>
                                </div>
                                <div id="cardCollpase7" class="collapse show">
                                    <div class="card-body">
                                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formAnexoPaciente'} }) }} 
                                        <div class="row">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
                                            </div>
                                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                                {{ form_widget(form.nombre) }}
                                                <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
                                            </div>
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="idRemision">Remisión</label>
                                            </div>
                                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                                {{ form_widget(form.idRemision) }}
                                                <div class="invalid-feedback">{{ form_errors(form.idRemision)}}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="descripcion">Descripción</label>
                                            </div>
                                            <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
                                                {{ form_widget(form.descripcion) }}
                                                <div class="invalid-feedback">{{ form_errors(form.descripcion)}}</div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="archivo">Archivo</label>
                                            </div>
                                            <div class="input-group image-preview col-xg-10 col-lg-10 col-md-10 col-sm-12 form-group ">
                                                <input type="text" class="form-control image-preview-filename" value="{{anexoPaciente.archivo}}" disabled="disabled"> 
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                        <span class="glyphicon glyphicon-remove"></span>Quitar
                                                    </button>
                                                    <div class="btn btn-default image-preview-input">
                                                        <span class="fas fa-folder-open"></span>
                                                        <span class="image-preview-input-title">Archivo</span>
                                                        {{ form_widget(form.archivo) }}
                                                    </div>
                                                </span>
                                                <div class="invalid-feedback">{{ form_errors(form.archivo)}} </div>
                                            </div>
                                        </div>                            
                                        <div hidden>
                                            {{ form_widget(form.idPaciente) }}
                                            {{ form_widget(form.idUsuarioIngresa) }}
                                        </div>
                                        <br>
                                        <div class="text-center">
                                            <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="modal fade" id="datosAnexo"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">
function detalle(id) {
  // alert(id); 
  var url = "/anexoPaciente/"+id+"/show";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosAnexo').modal('show');
      $('#datosAnexo').html(respuesta);
    },
            // código a ejecutar si la petición falla;
    error : function(xhr, status) {
      $('body').removeClass('loading');
      $('.resp').removeAttr('hidden');
      $('.resp').html('Disculpe, existió un problema en la conexión.');
    },  
  });
}
function editar(id) {
  // alert(id); 
  var url = "/anexoPaciente/"+id+"/edit";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosAnexo').modal('show');
      $('#datosAnexo').html(respuesta);
    },
            // código a ejecutar si la petición falla;
    error : function(xhr, status) {
      $('body').removeClass('loading');
      $('.resp').removeAttr('hidden');
      $('.resp').html('Disculpe, existió un problema en la conexión.');
    },  
  });
}
var val= $(".invalid-feedback").children().children().children().val();
if (typeof(val) != "undefined") {
    $('.crearForm_anexo').addClass('show');    
}  

</script>

{% endblock %}
