{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar anexo{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR ANEXO</h3></div>
    	{{ include('anexoPaciente/_delete_form.html.twig') }}
        <a href="{{ path('anexoPaciente_index',{'idPaciente':anexoPaciente.idPaciente.idPaciente}) }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
      
		   {{ include('anexoPaciente/_form.html.twig') }}
    </div>
    <input type="hidden" id="idAnexoPaciente" value="{{anexoPaciente.idAnexoPaciente}}">
    
  </div>
</div>  
{% endblock %}
