<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
        <div class="modal-header ">
            <div class="text-center w-100"><h3 class="modal-title">DETALLE ANEXO N° {{anexoPaciente.idAnexoPaciente}}</h3></div>             
            <a href="{{ path('anexoPaciente_index', { 'idPaciente': anexoPaciente.idPaciente.idPaciente }) }}">
                <button type="button" class="close" title="Cerrar" aria-label="Close">
                  <span aria-hidden="true" class=" fa-lg">&times;</span>
                </button>
            </a>
          
        </div>
        <!--Body de Modal-->      
        <div class="modal-body">
          <div class="row">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Paciente:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{anexoPaciente.idPaciente.tipoIdentificacion}}  {{anexoPaciente.idPaciente.numeroIdentificacion}}  </p>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{anexoPaciente.idPaciente.nombres}} {{anexoPaciente.idPaciente.primerApellido}} {{anexoPaciente.idPaciente.segundoApellido}}   </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Fecha nacimiento:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{anexoPaciente.idPaciente.fechaNacimiento | date('d M Y H:i:s') }} </p>
                </div>
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Edad:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{edad}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Sexo:</label>
                </div>
                <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                    <p>{% if anexoPaciente.idPaciente.sexo == 'MASCULINO'%}Hombre{% elseif anexoPaciente.idPaciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Celular:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{anexoPaciente.idPaciente.celular}} </p>
                </div>
                {% if anexoPaciente.idPaciente.telefonoDomicilio != ''%}
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Teléfono:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{anexoPaciente.idPaciente.telefonoDomicilio}}</p>
                </div>
                {% endif %}
            </div>                                        
            <div class="row">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Dirección:</label>
                </div>
                <div class="col-xg-10 col-lg-4 col-md-10 col-sm-12" > 
                    <p>{{anexoPaciente.idPaciente.dirrecionDomicilio}} - {{anexoPaciente.idPaciente.idMunicipio}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-6"></div> 
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Fecha apertura</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ anexoPaciente.fechaApertura  ? anexoPaciente.fechaApertura|date('Y-m-d H:i:s') : ''}}
              </div>
          </div>
          <div class="row mt-2">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Nombre</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ anexoPaciente.nombre}}
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Remisión</b>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ anexoPaciente.idRemision ? anexoPaciente.idRemision : '-'}}
              </div>
          </div>
          <div class="row mt-2">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Descripción</b>
              </div>
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                    {{anexoPaciente.descripcion ? anexoPaciente.descripcion : '-'}}
              </div>  
          </div> 
          <div class="row mt-2">
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Usuario ingresa</b>
              </div>
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                    {{anexoPaciente.idUsuarioIngresa}} 
              </div>        
          </div> 
            <div class="row mt-2">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Archivo</b>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                    {% if anexoPaciente.archivo == ''%}
                        -
                    {% else %}
                         <a target="_black" href="{{ asset('light/dist/assets/uploads/anexoPaciente/' ~ anexoPaciente.archivo) }}" title="Ver Adj"><button type="button" class="btn btn-default"><span class="fa fa-file"></span></button></a>
                    {% endif %}
                    
                </div>
            </div>
        <div class="modal-footer">
           <a href="{{path('anexoPaciente_index', { 'idPaciente': anexoPaciente.idPaciente.idPaciente }) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
        </div>  
          
      </div>
    </div>
</div>  