{% extends 'base.html.twig' %}

{% block title %}New AnexoPaciente{% endblock %}

{% block body %}
    <h1>Create new AnexoPaciente</h1>

    {{ include('anexoPaciente/_form.html.twig') }}

    <a href="{{ path('anexo_paciente_index') }}">back to list</a>
{% endblock %}
