{% extends 'base.html.twig' %}
{% block title %}Ámbito Realización{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>ÁMBITO REALIZACIÓN</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('cieRip_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Configuración cie</button></a>
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración cups&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('ambitoRealizacion_index')}}">Ámbito realización</a>
                        <a class="dropdown-item" href="{{path('causaExterna_index')}}">Causa externa</a>
                        <a class="dropdown-item" href="{{path('cups_index')}}">Cups</a>
                        <a class="dropdown-item" href="{{path('finalidadProcedimiento_index')}}">Finalidad procedimiento</a>
                        <a class="dropdown-item" href="{{path('formaRealizacion_index')}}">Forma realización</a>
                        <a class="dropdown-item" href="{{path('personaAtiende_index')}}">Persona atiende</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_ambitoRealizacion">
                    <thead>
                          <tr>  
                            <th class="text-left w-100">Nombre</th>       
                            <th class="text-right">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearAmbitoRealizacion" data-backdrop="static" data-toggle="modal" data-target="#crearAmbitoRealizacion" title="Crear ámbito realización"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for ambitoRealizacion in ambitoRealizaciones %}
                        <tr>
                          <td class="text-left">{{ ambitoRealizacion.nombre | capitalize}}</td>
                          <td class="text-right" colspan="2">
                            <button type="button" onclick="editar( {{ ambitoRealizacion.idAmbitoRealizacion}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar ámbito realización"><span class="fas fa-edit"></span></button>                            
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('ambitoRealizacion/modalNew.html.twig') }}

<div class="modal fade bd-example-modal-lg" id="datosAmbitoRealizacion"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_ambitoRealizacion');   
});

function editar(id) {
  
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosAmbitoRealizacion').modal('show'); 
            $('#datosAmbitoRealizacion').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
</script>
{% endblock %}