{% extends 'base.html.twig' %}
{% block title %}Superficie{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>SUPERFICIE</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Datos examen general&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('alergia_index')}}">Alergia</a>
                        <a class="dropdown-item" href="{{path('antecedente_index')}}">Antecedente</a>
                        <a class="dropdown-item" href="{{path('habito_index')}}">Hábito</a>
                        <a class="dropdown-item" href="{{path('medicamento_index')}}">Medicamento</a>
                        <a class="dropdown-item" href="{{path('riesgo_index')}}">Riesgo</a>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Datos examen endodon&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('evolucionEndodoncia_index')}}">Evolución endodoncia</a>
                        <a class="dropdown-item" href="{{path('propiedad_index')}}">Propiedades</a>
                        <a class="dropdown-item" href="{{path('provocado_index')}}">Provocado</a>
                    </div>
                </div>
                <a href="{{path('superficie_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Superficie</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_superficie">
                    <thead>
                          <tr>  
                            <th class="text-center w-50">Nombre</th> 
                            <th class="text-center w-25">Convención</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearSuperficie" data-backdrop="static" data-toggle="modal" data-target="#crearSuperficie" title="Crear superficie"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for superficie in superficies %}
                        <tr>
                          <td class="text-left">{{ superficie.nombre  | capitalize}}</td>
                          <td class="text-left">{{ superficie.convencion  | upper}}</td>
                          <td class="text-right" colspan="2">
                            {% if superficie.estado == true and superficie.idSuperficie != 1 and superficie.idSuperficie != 2 and superficie.idSuperficie != 3 and superficie.idSuperficie != 4 and superficie.idSuperficie != 5 and superficie.idSuperficie != 6 and superficie.idSuperficie != 7  and superficie.idSuperficie != 8 %}

                            <button type="button" onclick="editar( {{ superficie.idSuperficie}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar superficie"><span class="fas fa-edit"></span></button>
                            {% else %}
                             <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar superficie"><span class="fas fa-edit"></span></button>
                            {% endif %}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ superficie.idSuperficie }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('superficie/modalNewSuperficie.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosSuperficie"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_superficie');
});

function editar(id) {
  if (id == 1 || id == 2 || id == 3 || id == 4 || id == 5 || id == 6 || id == 7 || id == 8) {
    $('.resp').removeAttr('hidden').html('No se pueden actualizar las superficies predeterminadas en el sistema!');
  }else{
  // alert(id); 
    $('.resp').attr('hidden',true);
    var url = "/superficie/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
      success: function(respuesta){
        $('body').removeClass('loading');
        $('#datosSuperficie').modal('show'); 
        $('#datosSuperficie').html(respuesta);
      },
      // código a ejecutar si la petición falla;
      error : function(xhr, status) {
        $('body').removeClass('loading');
        $('.resp').removeAttr('hidden');
        $('.resp').html('Disculpe, existió un problema en la conexión.');
      },
    });
  } 
}

$( ".cambiarEstado").click( function(){
  var idSuperficie= $(this).data('id');
   var tipo = 'superficie';
  $('.modal-body #id').val(idSuperficie);
  $('.modal-body #tipo').val(tipo);

});
</script>
{% endblock %}