<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}¡Bienvenidos Ortoboy!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- icono favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('light/dist/assets/images/logoOrtoboy.png') }}">
        <!-- App css -->
        <link href="{{ asset('light/dist/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('light/dist/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('light/dist/assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- Plugin css -->
		<link href="{{ asset('light/dist/assets/libs/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet" type="text/css" />
		<!--Calendario menu css-->
		<link href="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.css')}}" rel="stylesheet" type="text/css" />

		<!-- Plugins css select -->
        <link href="{{ asset('light/dist/assets/libs/select2/select2.min.css')}}" rel="stylesheet" type="text/css" />
       
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    	
    	 <div id="wrapper">
    	 	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        		{{ include('menuIzquierdo.html.twig') }}
        		{{ include('menuSuperior.html.twig') }}
    		{% endif %}
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
				        {% block body %}
				        {% endblock %}
				    </div>
       			</div>
    		</div>

    	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        		{{ include('menuDerecho.html.twig') }}
    		{% endif %}

        <!-- Vendor js -->
        <script src="{{ asset('light/dist/assets/js/vendor.min.js')}}"></script>

        <!-- App js -->
        <script src="{{ asset('light/dist/assets/js/app.min.js')}}"></script>
        
        <!-- plugin js -->
		<script src="{{ asset('light/dist/assets/libs/moment/moment.min.js') }}"></script>
		<script src="{{ asset('light/dist/assets/libs/jquery-ui/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('light/dist/assets/libs/fullcalendar/fullcalendar.min.js') }}"></script>

		<!-- Calendar init -->
		<script src="{{ asset('light/dist/assets/js/pages/calendar.init.js') }}"></script>


		<!--Jquery ui-->
		<!--script src="{{ asset('light/dist/assets/libs/jquery-ui/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('light/src/js/vendor/jquery.js') }}"></script-->
			
		<!--Calendario js-->
		<script src="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.js')}}"></script>

        <!-- Init js-->
        <script src="{{ asset('light/dist/assets/js/calendarioMenu.js')}}"></script>

        <!--Seleccion para que se pueda buscar dentro de un select-->
        <script src="{{ asset('light/dist/assets/libs/select2/select2.min.js')}}"></script>

        <!-- Init js-->
        <script src="{{ asset('light/dist/assets/js/pages/form-advanced.init.js')}}"></script>
        <script type="text/javascript">
      /*Inline menu*/       
    
  </script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
