<!-- ========== Left Sidebar Start ========== -->
<style type="text/css">
    .enlarged .left-side-menu #sidebar-menu .cal, .icono{
        display: none;
    }

    .cal, .enlarged .left-side-menu #sidebar-menu .icono{
        display: block;
    }
</style>
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navegación</li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-airplay"></i>
                        <span class="badge badge-success badge-pill float-right">4</span>
                        <span> Paciente </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#datosPersonales">Datos personales</a>
                        </li>
                        <li>
                            <a href="#Evolución">Evolución</a>
                        </li>
                        <li>
                            <a href="#Presupuesto">Presupuesto</a>
                        </li>
                        <li>
                            <a href="#Pagos">Pagos</a>
                        </li>
                        <li>
                            <a href="#Citas">Citas</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-pocket"></i>
                        <span> Administración </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#gestionUsuario">Gestión usuario</a>
                        </li>
                        <li>
                            <a href="#gestionConsulta">Gestión consulta</a>
                        </li>
                        <li>
                            <a href="#gestionUEstados">Gestión estados</a>
                        </li>
                        <li>
                            <a href="#gestionConvenios">Gestión convenios</a>
                        </li>
                        <li>
                            <a href="#gestionTratamiento">Gestión tratamiento</a>
                        </li>
                        <li>
                            <a href="#gestionDocumentacion">Gestión documentación</a>
                        </li>
                        <li>
                            <a href="#gestionInsumos">Gestión insumos</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-users"></i>
                        <span> Reporte </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <!--ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#gestionUsuario">Gestión usuario</a>
                        </li>
                        <li>
                            <a href="#gestionConsulta">Gestión consulta</a>
                        </li>
                        <li>
                            <a href="#gestionUEstados">Gestión estados</a>
                        </li>
                        <li>
                            <a href="#gestionConvenios">Gestión convenios</a>
                        </li>
                        <li>
                            <a href="#gestionTratamiento">Gestión tratamiento</a>
                        </li>
                        <li>
                            <a href="#gestionDocumentacion">Gestión documentación</a>
                        </li>
                        <li>
                            <a href="#gestionInsumos">Gestión insumos</a>
                        </li>
                    </ul-->
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-shopping-cart"></i>
                        <span> Configuración </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#datosGenerales">Datos generales</a>
                        </li>
                        <li>
                            <a href="#datosEmpresa">Datos empresa</a>
                        </li>
                        <li>
                            <a href="#datosSede">Datos sede</a>
                        </li>
                        <li>
                            <a href="#configuracionPerfil">Configuración perfil</a>
                        </li>
                    </ul>
                </li>



                <li><a href="javascript: void(0);">
                        <div class="icono">
                            <i class="ti-calendar"></i>
                            <span> Calendario </span>
                        </div>
                        <div class="cal">
                            <div  class="inline-datepicker_menu"></div>
                        </div>
                    </a>
                    
                </li>
                
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>

<!-- Left Sidebar End -->
 <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  
  <script>
  $( function() {
    $( "#datepicker" ).datepicker().css({
                "background": "#98FB98",
                "color" : "black",
                "margin-left" : "10px",
                "font-weight" : "700",
                "font-family" : "Open Sans,cursive",
                "font-size"   : "12px",
                "width"       :"100%",
                "height"      :"100%",
            });
  } );
  </script> -->
  <script type="text/javascript">
      /*Inline menu*/       
     !function(e){
        "use strict";
        var i=function(){};
        i.prototype.init=function(){
            e(".inline-datepicker_menu").flatpickr({inline:!0})
        },e.FormPickers=new i,e.FormPickers.Constructor=i}(window.jQuery),function(e){"use strict";e.FormPickers.init()}(window.jQuery);
  </script>

  <!-- Plugins js-->
       