<form method="post" class ="eliminarDato" action="{{ path('tipo_radiografia_delete', {'idTipoRadiografia': tipo_radiografium.idTipoRadiografia}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_radiografium.idTipoRadiografia) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>
