<div class="modal fade" id="cambioEstado">          
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">CAMBIAR ESTADO</h3></div>
          <button type="button" class="close"  title="Cerrar"  onclick="carga();">
            <span aria-hidden="true" class="fa-lg">&times;</span>
          </button>      
      </div>
      <div class="modal-body">
          <div class="alert alert-success mensaje" role="alert" hidden></div> 
          <div class="alert alert-danger alert-dismissable mensajeError" role="alert" hidden></div>  

          <div class="row">
            <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12">
              <label for="nombre">Seleccione el estado</label>&nbsp;<label class="text-danger">*</label>
            </div>
          </div>
          <div class="row">
            <div class=" form-group col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
                  <select id="estadoValor"  data-toggle="tooltip" data-placement="right" title="Seleccione un estado.">
                    <option value="ACTIVO">Activo</option>
                    <option value="INACTIVO">Inactivo</option>
                  </select>
            </div>
          </div>  
          <hr>
          <div class="text-center mt-2">
            <button class="btn btn-outline-warning" type="button" onclick="carga();"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button>

            <button class="btn btn-outline-success" onclick="cambiarEstadoGuardado();"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
          </div>
              
          <input type="hidden" id="id">
          <input type="hidden" id="tipo">

      </div>
    </div>
  </div>
   <div class='modalCargando'></div>
</div>

<script type="text/javascript">
function cambiarEstadoGuardado() {
  var id = $('#id').val();
  var tipo = $('#tipo').val();
  var estado = $('#estadoValor').val();
  
  if(tipo == 'tipoRadiografia'){
    var url = "/tipoRadiografia/editarestadotipoR";
  }else if (tipo == 'perfil') {
    var url = "/perfil/editarEstadoPerfil";
  }
  else if (tipo == 'sedeClinica') {
    var url = "/clinica/editarestadoClinica";
  }
  else if (tipo == 'consultorio') {
    var url = "/consultorio/editarestadoConsultorio";
  }
  else if (tipo == 'motivoConsulta') {
    var url = "/motivoConsulta/editarestadoMotivoConsulta";
  }
  else if (tipo == 'areaMedica') {
    var url = "/area/editarestadoAreaMedica";
  }
  else if (tipo == 'eps') {
    var url = "/eps/editarestadoEps";
  }
  else if (tipo == 'convenio') {
    var url = "/convenio/editarEstadoConvenio";
  }
  else if (tipo == 'tratamientoConvenio') {
    var url = "/tratamientoConvenio/editarEstadoTratamientoConvenio";
  }
  else if (tipo == 'alergia') {
    var url = "/alergia/editarEstadoAlergia";
  }
  else if (tipo == 'antecedente') {
    var url = "/antecedente/editarEstadoAntecedente";
  }
  else if (tipo == 'habito') {
    var url = "/habito/editarEstadoHabito";
  }
  else if (tipo == 'medicamento') {
    var url = "/medicamento/editarEstadoMedicamento";
  }
  else if (tipo == 'riesgo') {
    var url = "/riesgo/editarEstadoRiesgo";
  }
  else if (tipo == 'evolucionEndo') {
    var url = "/evolucionEndodoncia/editarEstadoEvoEndo";
  }
  else if (tipo == 'propiedad') {
    var url = "/propiedad/editarEstadoPropiedad";
  }
  else if (tipo == 'provocado') {
    var url = "/provocado/editarEstadoProvocado";
  }
  else if (tipo == 'superficie') {
    var url = "/superficie/editarEstadoSuperficie";
  }
  else if (tipo == 'diagnosticoOdontologico') {
    var url = "/diagnosticoOdontologico/editarEstadoDiagnosticoOdontologico";
  }
  else if (tipo == 'cieDiagnosticoTipo') {
    var url = "/cieDiagnosticoTipo/editarEstadoCieOdontologicoTipo";
  }
  else if (tipo == 'tipoContrato') {
    var url = "/tipoContrato/editarEstadoTipoContrato";
  }
  else if (tipo == 'esterilizacion') {
    var url = "/esterilizacion/editarEstadoEsterilizacion";
  }
  else if (tipo == 'paqueteEsterilizacion') {
    var url = "/paqueteEsterilizacion/editarEstadoPaqueteEsterilizacion";
  }
  else if (tipo == 'Acuerdo Pago') {
    var url = "/acuerdoPago/editarEstadoAcuerdoPago";
  }
  else if (tipo == 'Concepto Pago') {
    var url = "/conceptoPago/editarEstadoConceptoPago";
  }
  else if (tipo == 'Forma Pago') {
    var url = "/formaPago/editarEstadoFormaPago";
  }
  else if (tipo == 'Soporte Pago') {
    var url = "/soportePago/editarEstadoSoportePago";
  }  
  else if (tipo == 'categoria inventario') {
    var url = "/categoriaInventario/editarEstadoCategoriaInventario";
  }  
  else if (tipo == 'marca') {
    var url = "/marca/editarEstadoMarca";
  }
  else if (tipo == 'Nombre Insumo') {
    var url = "/nombreInsumo/editarEstadoNombreInsumo";
  }
  else if (tipo == 'Presentacion') {
    var url = "/presentacion/editarEstadoPresentacion";
  }
  else if (tipo == 'Stock') {
    var url = "/stock/editarEstadoStock";
  }
  else if (tipo == 'Insumo') {
    var url = "/insumo/editarEstadoInsumo";
  }
  else if (tipo == 'Proveedor') {
    var url = "/proveedor/editarEstadoProveedor";
  }
  else if (tipo == 'Pedido') {
    var url = "/pedido/editarEstadoPedido";
  }
  else if (tipo == 'EntradaPedido') {
    var url = "/entradaPedido/editarEstadoEntradaPedido";
    //alert(id + 'url'+ url);
  }
  else if (tipo == 'CategoriaTratamiento') {
    var url = "/categoriaTratamiento/editarEstadoCategoriaTratamiento";
    //alert(id + 'url'+ url);
  }
  else if (tipo == 'Tratamiento') {
    var url = "/tratamiento/editarEstadoTratamiento";
    //alert(id + 'url'+ url);
  }
  else if (tipo == 'agendaUsuario') {
    var url ='/agendaUsuario/editarEstadoAgendaUsuario';
  }
  else if (tipo == 'usuario') {
    var url ='/usuario/editarEstadoUsuario';
  }
  else if (tipo == 'paciente') {
    var url ='/paciente/editarEstadoPaciente';
  }
  //alert(url+'_'+id+'_Estado:'+estado);
  if (estado == 'ACTIVO') {
    swal({
      title: "¿Estás seguro?",
      text: "Estás por cambiar el estado a 'ACTIVO', recuerda que este dato se mostrara en todas las acciones que lo requieran.",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, Activarlo!',
      cancelButtonText: "Cancelar",
      allowEscapeKey: false,
      allowOutsideClick: false
       }).then(function (isConfirm) {
        if (isConfirm) {
          $.ajax({
              type: 'POST',
              url:url,
              data:{'id':id,'estado':estado},
              dataType: 'json',
              beforeSend: function () {
                $('body').addClass('loading'); //Agregamos la clase loading al body
              },
              success: function(respuesta){
                $('body').removeClass('loading');
                $('.mensaje').removeAttr('hidden');
                if (respuesta.error) {
                  $('.mensaje').html(respuesta.error).addClass('alert-danger').removeClass('alert-success');
                }else{
                  $('.mensaje').html(respuesta).addClass('alert-success').removeClass('alert-danger');
                  setTimeout(function(){
                    location.reload(true);
                  }, 10000);
                }
              },
              error : function(data){
                $('body').removeClass('loading');        
                $('.mensajeError').removeAttr('hidden');
                $('.mensajeError').html(data);

              }  
          });

        }}
        , function (dismiss) {
              if (dismiss === 'cancel') {
                swal("Cancelado!", " Se ha cancelado exitosamente.", "error");
              };
            }
        );
    return false;
  }else {
    swal({
      title: "¿Estás seguro?",
      text: "Estás por cambiar el estado a 'INACTIVO', recuerda que este dato no se mostrara en todas las acciones que lo requieran.",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, Inactivarlo!',
      cancelButtonText: "Cancelar",
      allowEscapeKey: false,
      allowOutsideClick: false
       }).then(function (isConfirm) {
        if (isConfirm) {         
          $.ajax({
              type: 'POST',
              url:url,
              data:{'id':id,'estado':estado},
              dataType: 'json',
              beforeSend: function () {
                $('body').addClass('loading'); //Agregamos la clase loading al body
              },
              success: function(respuesta){
                $('body').removeClass('loading');
                $('.mensaje').removeAttr('hidden');
                if (respuesta.error) {
                  $('.mensaje').html(respuesta.error).addClass('alert-danger').removeClass('alert-success');
                }else{
                  $('.mensaje').html(respuesta).addClass('alert-success').removeClass('alert-danger');
                  setTimeout(function(){
                    location.reload(true);
                  }, 10000);
                }
              },
              error : function(data){
                $('body').removeClass('loading');        
                $('.mensajeError').removeAttr('hidden');
                $('.mensajeError').html(data);

              }  
          });     

        }}
        , function (dismiss) {
              if (dismiss === 'cancel') {
                swal("Cancelado!", " Se ha cancelado exitosamente.", "error");
              };
            }
        );
    return false;
  }
}
function carga(){
  location.reload(true);
}
</script>