{% extends 'base.html.twig' %}

{% block title %}Tipo Radiografía{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
  {{ parent() }}
<div class="row  mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header text-center"> 
                    <h3>TIPO RADIOGRAFÍA</h3>
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden>
                </div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('errorTPR') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                <div class="row">
                  <div class="col-12">
                    <a href="{{path('tipoArchivo_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo archivo</button></a>                
                    <a href="{{path('tipoConsentimiento_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo consentimiento</button></a>
                    <a href="{{path('tipoContrato_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo contrato</button></a>
                    <a href="{{path('tipo_radiografia_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo radiografía</button></a>
                  </div>
                </div>            
                <div class="table-responsive-lg mt-3">
                    <table class="table" id="table_tipoRadiografia">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center w-50">Nombre</th>
                                <th class="text-center w-25">Estado</th>
                                <th class="text-center w-50">Acciones      
                                </th>
                                <th><a  class="text-right" data-controls-modal="crearTipoRadigrafia" data-backdrop="static" data-toggle="modal" data-target="#crearTipoRadigrafia" title="Crear tipo radiografía"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for tipo_radiografium in tipo_radiografias %}
                            {% set idtipoPricipal= tipo_radiografium.idTipoRadiografia%}                          {%if tipo_radiografium.idSedeTipoRadiografia == ""%}
                            <tr class="header expand" title="Ver" style="background: #F9F9F9;">
                                <td><span class="fas sign"></span></td>
                                <td class="w-50">{{ tipo_radiografium.nombre }}</td>
                                <td class="text-center w-25">{{ tipo_radiografium.estado ? 'Activo' : 'Inactivo' }}</td> 
                                <td class="text-center w-50" colspan="2">
                                   
                                    <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left"  data-content="{{tipo_radiografium.descripcion}}" title="Detalle tipo radiografía"><button title="Descripción"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                                    
                                    {%if tipo_radiografium.estado == true%}
                                    <button type="button" onclick="envioCrearSubtipo({{idtipoPricipal}});" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear Subtipo" ><span class="fe-share-2"></span></button>

                                    <button type="button"  onclick="envioEditarRP({{idtipoPricipal}});"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar tipo radiografía"><span class="fas fa-edit"></span></button>
                                    {%else%}
                                        <button disabled="false" type="button"  class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear Subtipo"><span class="fe-share-2"></span></button>

                                        <button disabled="false" type="button"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar tipo radiografía"><span class="fas fa-edit"></span></button>
                                    {%endif%}

                                    <a  class="cambiarEstado" data-controls-modal="crearTipoRadigrafia" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ tipo_radiografium.idTipoRadiografia }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                                </td>
                                <td style="display: none;"></td>
                            </tr>
                                {% for subtipo in tipo_radiografias %}
                                {%if subtipo.idSedeTipoRadiografia != "" and subtipo.idSedeTipoRadiografia.idTipoRadiografia == idtipoPricipal   %}
                                    <tr >
                                        <td></td>
                                        <td class="w-50">{{ subtipo.nombre }}</td>
                                        <td class="text-center w-25">{{ subtipo.estado ? 'Activo' : 'Inactivo' }}</td> 
                                        <td class="text-center w-50" colspan="2">
                                            <a  data-toggle="popover"  data-animation="false" data-easein="slideLeftIn"  data-placement="left"  data-content="{{subtipo.descripcion}}" title="Detalle"><button type="button" class="btn btn-sm  btn-outline-info waves-effect waves-light" title="Descripción"><span class="fas fa-eye"></span></button></a>
                                            {%if subtipo.estado == true%}
                                            <button type="button"  onclick="envioEditarTipoR({{subtipo.idTipoRadiografia}});"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar subtipo"><span class="fas fa-edit"></span></button>
                                            {%else%}
                                                <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar subtipo"><span class="fas fa-edit"></span></button>
                                            {%endif%}
                                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado subtipo" data-id="{{ subtipo.idTipoRadiografia }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                                        </td>     
                                        <td style="display: none;"></td>
                                    </tr>
                                {%endif%}
                                 {% endfor %}
                            {%endif%}
                        
                        {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>
        
    </div>
</div>  


{{ include('tipo_radiografia/modalNewPrincipalTipoR.html.twig') }}   
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade" id="crearSubtipo"></div> 

{% endblock %}
{% block javascripts %}

<script type="text/javascript">

$(document).ready(function(){
    //aejo de datatable 
    newTable('#table_tipoRadiografia');    
});  

function envioCrearSubtipo(idTipoRadiografia){
    
    var url = "/tipoRadiografia/newSubtipo";
    $.ajax({
      type: 'POST',
      url:url,
      data:{'idTipoRadiografia':idTipoRadiografia},
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
      success: function(respuesta){
        $('body').removeClass('loading');
        $('#crearSubtipo').modal('show'); 
        $('#crearSubtipo').html(respuesta);          
      },
 
        // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
} 

function envioEditarTipoR(idTipoRadiografia){
    var url = "/tipoRadiografia/"+idTipoRadiografia+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      data:{'tipo':'subtipo'},
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
      success: function(respuesta){
        $('body').removeClass('loading');
        $('#crearSubtipo').modal('show'); 
        $('#crearSubtipo').html(respuesta);          
      },
 
        // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
}

function envioEditarRP(idTipoRadiografia){
    var url = "/tipoRadiografia/"+idTipoRadiografia+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      data:{'tipo':'principal'},
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
      success: function(respuesta){
        $('body').removeClass('loading');
        $('#crearSubtipo').modal('show'); 
        $('#crearSubtipo').html(respuesta);          
      },
 
        // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
}
$( ".cambiarEstado").click( function(){
  var idTipoRadiografia = $(this).data('id');
   var tipo = 'tipoRadiografia';
  $('.modal-body #id').val(idTipoRadiografia);
  $('.modal-body #tipo').val(tipo);

});

</script>
{% endblock %}