{% extends 'baseModal.html.twig' %}

{% block title %}Actualizar Radiografía{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR TIPO RADIOGRAFÍA </h3></div>
    	  {{ include('tipo_radiografia/_delete_form.html.twig') }}
      	<a href="{{ path('tipo_radiografia_index') }}">
      		<button type="button" class="close" title="Cerrar" aria-label="Close">
	          <span aria-hidden="true" class=" fa-lg">&times;</span>
	        </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
      <div class="modal-body">
      	 {{ form_start(formGeneral, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formEditPR'} }) }} 
            <div class="row">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
                 </div>
                 <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
                      {{ form_widget(formGeneral.nombre) }}
                      <div class="invalid-feedback">{{ form_errors(formGeneral.nombre)}}</div>
                 </div>
              </div>
              <div class="row subtipo mt-2" hidden>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">    
                    <label for="descripcion">Suptipo</label>&nbsp;<label class="text-danger">*</label>
                 </div>
                 <div class="form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
                      {{ form_widget(formGeneral.idSedeTipoRadiografia) }}
                      <div class="invalid-feedback">{{ form_errors(formGeneral.idSedeTipoRadiografia)}}</div>
                 </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">      
                    <label>Descripción</label>
                 </div>
                 <div class="form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
                      {{ form_widget(formGeneral.descripcion) }}
                      <div class="invalid-feedback">{{ form_errors(formGeneral.descripcion)}}</div>
                 </div>
              </div>
              
              <div hidden>{{ form_widget(formGeneral.estado) }}</div>
              <hr>
            <div class="text-center">
              <a href="{{ path('tipo_radiografia_index') }}"><button class="btn btn-outline-warning atras" type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cerrar' |trans}}</button></a>
              <button  class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button> 

            </div>
          {{ form_end(formGeneral) }}

         
      </div>      
		<input type="hidden" id="idTipoR" value="{{tipo_radiografium.idTipoRadiografia}}">
      
  </div>
</div>  

{% endblock %}

