{% block body %}
<div class="modal fade" id="crearTipoRadigrafia">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
	    <!-- Encabezado del modal-->
	    <div class="modal-header ">
	    	<div class="text-center w-100"><h3 class="modal-title">REGISTRAR TIPO RADIOGRAFÍA</h3></div>
	    	
	      	<a href="{{ path('tipo_radiografia_index') }}">
	      		<button type="button" class="close" title="Cerrar" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </a>
	      
	    </div>
	    <!--Body de Modal-->
	      
	      <div class="modal-body">
				{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formGeneralPR'} }) }} 
					<div class="row">
						<div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">
					        <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
					    </div>
					    <div class="form-group col-xg-10 col-lg-10 col-md-10">			
					            {{ form_widget(form.nombre) }}
					            <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
					    </div> 					  
				    </div>
				    <div class="row mt-2">

				    	<div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">
					        <label for="descripcion" class="control-label">Descripción</label>
					    </div>
					    <div class="form-group col-xg-10 col-lg-10 col-md-10">			
					            {{ form_widget(form.descripcion) }}
					            <div class="invalid-feedback">{{ form_errors(form.descripcion)}}</div>
					    </div> 
				    </div>
				    <div hidden>
				    	{{ form_widget(form.idSedeTipoRadiografia) }}
				    	{{ form_widget(form.estado) }}
				    </div>
				    <hr>
					<div class="text-center">
						<a href="{{ path('tipo_radiografia_index') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>
					    <button type="submit" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
					    
				    </div>
				{{ form_end(form) }}
	      </div>
	      	
	  </div>
	</div>  
<div class='modalCargando'></div>
</div>	
{% endblock %}