
{% extends 'baseModal.html.twig' %}

{% block title %}Registrar Subtipo Radiografía{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">REGISTRAR SUBTIPO</h3></div>
    	
      <a href="{{ path('tipo_radiografia_index') }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
      <div class="modal-body">
      	{{ include('tipo_radiografia/_form.html.twig') }}
      </div>
      
  </div>
</div>  
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.subtipo').css("display", "none");
  });
</script>

 {% endblock %}

