{% extends 'baseModal.html.twig' %}

{% block title %}Actualizar Radiografía{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR SUBTIPO</h3></div>
    	  {{ include('tipo_radiografia/_delete_form.html.twig') }}
      	<a href="{{ path('tipo_radiografia_index') }}">
      		<button type="button" class="close" title="Cerrar" aria-label="Close">
	          <span aria-hidden="true" class="fa-lg">&times;</span>
	        </button>
	      </a>
      
    </div>
    <!--Body de Modal-->
      
      <div class="modal-body">
      	 {{ include('tipo_radiografia/_form.html.twig') }}
      </div>      
		<input type="hidden" id="idTipoR" value="{{tipo_radiografium.idTipoRadiografia}}">
      
  </div>
</div>  
{% endblock %}

