


 {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'crearform_remision'} }) }} 

 	{% for clinica in clinicas%}
 	<hr>
 	<div class="row mt-2">
 		<div class="col-2">
 			{%if clinica.logo != ''%}
 			<img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-75"> 			
 			{%endif%}
 		</div>
 		<div class="col-6 text-center">
 			<p> 
 				<b>{{clinica.nombre | upper}}</b><br>
 			    IDENTIFICACIÓN: {{clinica.nit | upper}}<br>
 			    {% if clinica.telefono != '' %}
 					TEL: {{clinica.telefono | upper}}<br>
 				{% endif %}
 				CELULAR: {{clinica.movil | upper}}<br>
 				SEDE {{app.user.idSucursal.nombre | upper}}<br>
 				REMISIÓN
 			</p>
 		</div>
 		<div class="col-4 text-rigth">
 			<p> <br><br><br>
 				<b>Fecha:</b> {{'now' | date('d M Y H:i:s', false)}}<br>
 			    <b>Página:</b> 1<br>
 			</p>
 		</div>
 	</div>
 	<hr>
 	<div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="tipoRemision">Tipo remisión</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            <select id="tipoRemision" name="tipoRemision">
            	<option value="">Seleccione un tipo</option>
            	<option value="INTERNA">Remisión interna</option>
            	<option value="EXTERNA">Remisión externa</option>
            </select>
            <div class="invalid-feedback"></div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 emailLabel" hidden>                
            <label for="email">Email</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12 emailAttrib" hidden> 
            {{ form_widget(form.email) }}
            <div class="invalid-feedback emailRemi">{{ form_errors(form.email)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 idUserRemiLabel" hidden>                
            <label for="idUsuarioRemitido">Dr(@)</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12 idUserRemi" hidden> 
            {{ form_widget(form.idUsuarioRemitido) }}
            <div class="invalid-feedback usuarioRemi">{{ form_errors(form.idUsuarioRemitido)}}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">    
          <label for="descripcion">Procedimiento</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class="form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idProcedimiento) }}
            <div class="invalid-feedback">{{ form_errors(form.idProcedimiento)}}</div>
        </div>
    </div>
    <hr>
    <div class="row">
    	<div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Paciente:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{paciente.tipoIdentificacion}}  {{paciente.numeroIdentificacion}}  </p>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{paciente.nombres}} {{paciente.primerApellido}} {{paciente.segundoApellido}}   </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Fecha nacimiento:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{paciente.fechaNacimiento | date('d M Y H:i:s') }} </p>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Edad:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{edad}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Sexo:</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
            <p>{% if paciente.sexo == 'MASCULINO'%}Hombre{% elseif paciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Celular:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{paciente.celular}} </p>
        </div>
        {% if paciente.telefonoDomicilio != ''%}
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Teléfono:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{paciente.telefonoDomicilio}}</p>
        </div>
        {% endif %}
    </div>
    <div class="row mt-3">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Dirección:</label>
        </div>
        <div class="col-xg-10 col-lg-4 col-md-10 col-sm-12" > 
            <p>{{paciente.dirrecionDomicilio}} - {{paciente.idMunicipio}}</p>
        </div>
    </div>
    <hr>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">      
       		<label for="observacion">Observación</label>
       </div>
       <div class="form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.observacion) }}
            <div class="invalid-feedback">{{ form_errors(form.observacion)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">      
            <label for="remision_fechaRealizar_final">Fecha vencimiento</label>
       </div>
       <div class="form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            <input type="text" id="remision_fechaRealizar_final" name="remision_fechaRealizar_final" class="datetimes">            
            <div class="invalid-feedback"></div>
       </div>
    </div>
    <div class="row mt-2">
        {% if app.user.firmaProfesional != ''%}
        <div class="col-12">
            <img src="{{ remision.idUsuarioRemite.firmaProfesional }}" class="w-25">  
        </div>
        {% endif %}
        <p>{{remision.idUsuarioRemite | capitalize}}</p>
    </div>
    <div hidden>
    	{{ form_widget(form.idUsuarioRemite) }}
        {{ form_widget(form.idPaciente) }}
    </div>
    {% endfor %}
    {% if edad != ''%}
    <div class="text-center">
        <a href="{{ path('remision_new',{'idPaciente':paciente.idPaciente}) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
        <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
    </div>
    {% endif %}
{{ form_end(form) }}
