{% extends 'baseInicial.html.twig' %}
{% block body %}
<style type="text/css">
p{
   font-family: "Cerebri Sans,sans-serif";
   font-size:15px;
   font-style:normal;
   color: #6c757d;
}
b{
  color:black;
  font-size:15px;
  font-style:normal;
}
img{
  position: absolute; 
  align-self: center; 
  width: 3.5in; 
  height:1.5in;
}
table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid;
}
</style>
	<meta charset="utf-8">
	<div class="row well">
	    <div class="col-lg-12"> 
	    	{% if remision.idUsuarioRemite.idSucursal.idSedeClinica != ''%}
        	{% set clinicaNombre= remision.idUsuarioRemite.idSucursal.idSedeClinica.nombre %}
      	{% else %}	
        	{% set clinicaNombre= remision.idUsuarioRemite.idSucursal.nombre %}
        {% endif %}
	        <table style="max-width: 850px;" >
	            <tr><td></td></tr><tr><td></td></tr>
                <tr>
                  	<td colspan="4">
                  		<p class="text-justify w-75">Cordial saludo.</p><br><br>
                 	</td>
                </tr>
                <tr>
                  	<td colspan="4">
                  		<p  style="text-align: justify; max-width: 850px;"> Te damos la bienvenida al sistema gestión clinico de {{clinicaNombre}}, usted recibio la siguiente remisión.</p><br><br>
                 	</td>
                </tr>
                <tr>
	                <td colspan="4" >
	                 <img src="http://i.imgur.com/VeyeADV.png" alt="Image" style=" width: 100%;"/> 
	                </td>
	            </tr>  
	            <tr>
	              	<td colspan="4">
	              		<p style="text-align: right; border: white 0px solid;"><b>Fecha ingreso:</b> {{remision.fechaApertura | date('d M Y H:i:s', false)}}  /  <b> Fecha vencimiento:  </b>{{remision.fechaRealizar | date('d M Y H:i:s', false) }}</p>
	              	</td>
	            </tr> 
	            <tr>
                    <td colspan="4" ><hr></td>
                </tr> 
                <tr>
                  	<th style="text-align: left; border: white 0px solid; width: 20%;">Profesional remite:</th>
                  	<td style="text-align: left; border: white 0px solid;">
                  		{{remision.idUsuarioRemite.nombres}} {{remision.idUsuarioRemite.apellidos}}
                  	</td>
                  	<th style="text-align: left; border: white 0px solid; width: 20%;">N° Remision:</th>
                  	<td style="text-align: left; border: white 0px solid;">
                  		{{remision.idRemision}}
                  	</td>
                </tr>
                <tr>
                  	<th style="text-align: left; border: white 0px solid;">Paciente</th>
                    <td colspan="2" style="text-align: left; border: white 0px solid;">{{remision.idPaciente.nombres}} {{remision.idPaciente.primerApellido}} {{remision.idPaciente.segundoApellido}}</td>
                    <td style="text-align: left; border: white 0px solid;">
                      {{remision.idPaciente.tipoIdentificacion.nomenclatura}} N° {{remision.idPaciente.numeroIdentificacion}}
                    </td>
                </tr>
                <tr>
                  	<th style="text-align: left; border: white 0px solid;">Genero:</th>
                  	<td style="text-align: left; border: white 0px solid;">
                  		{{remision.idPaciente.sexo}}
                  	</td>
                  	<th style="text-align: left; border: white 0px solid;">Fecha nacimiento:</th>
                  	<td style="text-align: left; border: white 0px solid;">
                  		{{remision.idPaciente.fechaNacimiento | date('d M Y H:i:s') }}  /  Edad: {{edad}}
                  	</td>
                </tr>
                <tr>
                  	<th style="text-align: left; border: white 0px solid;">Dirección</th>
                  	<td colspan="3" style="text-align: left; border: white 0px solid;">
                  		{{remision.idPaciente.dirrecionDomicilio}} - {{remision.idPaciente.idMunicipio.nombre}}
                  	</td>
                </tr>
                <tr>
                  	<th style="text-align: left; border: white 0px solid;">Celular:</th>
                  	<td style="text-align: left; border: white 0px solid;">
                  		{{remision.idPaciente.celular}}
                  	</td>
                  	{% if remision.idPaciente.telefonoDomicilio != ''%}
                  	<th style="text-align: left; border: white 0px solid;">Teléfono:</th>
                  	<td style="text-align: left; border: white 0px solid;">
                  		{{remision.idPaciente.telefonoDomicilio}}
                  	</td>
                  	{% endif %}
                </tr>                
                <tr>
                    <td colspan="4" ><hr></td>
                </tr>
                <tr>
                  	<th style="text-align: left; border: white 0px solid;">Diagnóstico</th>
                  	<td colspan="3" style="text-align: left; border: white 0px solid;">
                  		{{remision.idProcedimiento}}
                  	</td>
                </tr>
                <tr>
                    <td colspan="4" ><hr></td>
                </tr>
                <tr>
                  	<th style="text-align: left; border: white 0px solid;">Observación</th>
                  	<td colspan="3" style="text-align: left; border: white 0px solid;">
                  		<p>{{remision.observacion}}</p>
                  		<p>Se remite al paciente para la realización del exámen {{remision.idProcedimiento}}, para adicionar su valoración debe dar clic en el link: 
                        {% if remision.idUsuarioRemitido != ''%}
                          "<b><a href="http://localhost:8000/anexoPaciente/new?dato={{remision.idPaciente.idPaciente}}&dato2={{remision.idRemision}}">Indicar valoración</a></b>"                        
                        {% else %}
                        "<b><a href="http://localhost:8000/externo/newExterno?dato={{remision.idPaciente.idPaciente}}&dato2={{remision.idRemision}}">Indicar valoración</a></b>"
                        {% endif %}
                      </p>
                  	</td>
                </tr>
                <tr>
                    <td colspan="4" ><hr></td>
                </tr>
                {% if username != ''%}
                <tr>
                  	<th style="text-align: left; border: white 0px solid;">Datos Acceso</th>
                  	<td colspan="3" style="text-align: left; border: white 0px solid;">
                  		<p> Nombre de usuario:  "<b>{{username}}</b>"</p>
                        <p> Contraseña: "<b>{{password}}</b>"</p>
                  	</td>
                </tr>
                <tr>
                    <td colspan="4" ><hr></td>
                </tr>
                {% else %}
                <tr>
                  <td colspan="4">
                      <p  style="text-align: justify; max-width: 850px;">Recuerde que sus datos de acceso fueron enviados con anterioridad, si requiere mayor información contáctese con la administración.</p><br><br>
                  </td>
                </tr>
                <tr>
                    <td colspan="4" ><hr></td>
                </tr>
                {% endif %}
                <tr>
                  	<td colspan="4" >
                  		<img src="http://i.imgur.com/p0XxF72.png" alt="Image" style=" width: 100%; height: 50px;"/>
                    </td>
                </tr>
                <tr>
                	<td colspan="4">
                		<br><p> Cordialmente,</p><br>           
                	</td>
                </tr>
                <tr>
                	<td colspan="4" >
                     <!--img src="http://i.imgur.com/NndC3hr.png" style="position: absolute; align-self: center; width: 3.5in; height:1.5in;" /-->
                     <!-- Inicio Firma Ing Maricela Rojas -->
                    <p>Ing Maricela Rojas</p>
                    <table  data-mysignature-date="2019-04-16T16:12:49.899Z" data-mysignature-is-paid="0" width="500" cellspacing="0" cellpadding="0" border="0"> <tr> <td> <table cellspacing="0" cellpadding="0" border="0"> <tr>  <td valign="top" width="100" style="padding:0 8px 0 0;vertical-align: top;"> <img alt="OTTIS Comunicaciones" width="100" style="width:100px;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border-radius:10%;" src="https://img.mysignature.io/p/3/6/e/36e0cd0e-8193-5295-87cd-f26d490af564.png?time=1555431170" /> </td>  <td style="font-size:1em;padding:0 15px 0 8px;vertical-align: top;" valign="top"> <table cellspacing="0" cellpadding="0" border="0" style="line-height: 1.4;font-family:Verdana, Geneva, sans-serif;font-size:90%;color: #000001;"> <tr> <td> <div style="font: 1.2em Verdana, Geneva, sans-serif;color:#000001;">Mariciela Rojas López</div> </td> </tr> <tr> <td style="padding: 4px 0;"> <div style="color:#000001;font-family:Verdana, Geneva, sans-serif;"> Directora Administrativa y Financiera  |  OTTIS Comunicaciones   </div> </td> </tr> <tr> <td> <span style="font-family:Verdana, Geneva, sans-serif;color:#00529B;">Pbx:&nbsp;</span> <span><a style="font-family:Verdana, Geneva, sans-serif;color:#000001;" href="tel:3212893978">3212893978 - 3114916907 Op 1</a></span> </td> </tr>  <tr> <td> <span style="font-family:Verdana, Geneva, sans-serif;color:#00529B;">Celular:&nbsp;</span> <span><a style="font-family:Verdana, Geneva, sans-serif;color:#000001;" href="tel:3132966561">3132966561</a></span> </td> </tr>   <tr> <td> <span style="font-family:Verdana, Geneva, sans-serif;color:#00529B;">Web:&nbsp;</span> <span style="font-family:Verdana, Geneva, sans-serif;"><a href="https://ottis.com.co" style="color:#000001;" target="_blank">ottis.com.co</a></span> </td> </tr>      </table> </td>  <td style="border-left:3px solid;vertical-align:middle;padding:0 0 3px 6px;font-family: Arial;border-color:#00529B;" valign="middle"> <table cellspacing="0" cellpadding="0" border="0" style="line-height: 1;"> <tr><td style="padding: 4px 0 0 0;"><a href="https://wa.me/573132966561" target="_blank"><img alt="" style="width:22px;" width="22" src="http://www.ottis.com.co/ico/whatsapp_socialnetwork_17360.png" ></a></td></tr><tr><td style="padding: 4px 0 0 0; color:#00529B;"><a href="https://www.facebook.com/ottiscomunica/" target="_blank"><img alt="" style="width:22px; " width="22" src="http://www.ottis.com.co/ico/facebook_icon-icons.com_53612.png"></a></td></tr><tr><td style="padding: 4px 0 0 0;"><a href="https://twitter.com/OTTISComunica"  target="_blank"><img alt="" style="width:22px;" width="22" src="http://www.ottis.com.co/ico/twitter_socialnetwork_17445.png"></a></td></tr> </table> </td>  </tr> </table> </td> </tr></table><table class="branding" cellspacing="0" cellpadding="0" border="0"> <tr><td style="display:block;padding:15px 0 0 0;"></td></tr> <tr>  </tr></table>
  <!-- Fin Firma Ing Maricela Rojas -->
                  </td>
                </tr>
                <tr>
                	<td colspan="4">
                		<p style="font-size:11px;">El contenido de este mensaje y de los archivos adjuntos están dirigidos exclusivamente a sus destinatarios y puede contener información privilegiada o confidencial. Si usted no es el destinatario real, por favor informe de ello al remitente y elimine el mensaje de inmediato, de tal manera que no pueda acceder a él de nuevo. Está prohibida su retención, grabación, utilización o divulgación con cualquier propósito.</p>
                	</td>
                </tr>
	        </table>
	  </div>
	</div>     
{% endblock %}