
{# download-specifications/pdf.html.twig #}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
    <title>Remisión</title>
    <style type="text/css">
     

    </style>
    {% endblock %}
  </head>
  <body class="logo">
    {% block body %}
            <div class="col-md-12" > 
                <table style="max-width: 950px;" >
                    <tr><td></td></tr><tr><td></td></tr>
                    <tr>
                        <td colspan="4">
                          <p style="text-align: left; border: white 0px solid;">
                            <b>N° Remision:</b> {{remision.idRemision}}<br>
                            <b>FR:  </b> {{remision.fechaApertura | date('d M Y H:i:s', false)}}<br>
                            <b>FV:  </b>{{remision.fechaRealizar | date('d M Y H:i:s', false) }}</p>
                        </td>
                    </tr> 
                    <tr>
                          <td colspan="4" ><hr></td>
                      </tr> 
                      <tr>
                          <th style="text-align: left; border: white 0px solid; width: 20%;">Profesional remite:</th>
                          <td colspan="3" style="text-align: left; border: white 0px solid;">
                            {{remision.idUsuarioRemite.nombres}} {{remision.idUsuarioRemite.apellidos}}
                          </td>
                      </tr>
                      <tr>
                          <th style="text-align: left; border: white 0px solid;">Paciente</th>
                          <td colspan="3" style="text-align: left; border: white 0px solid;">{{remision.idPaciente.nombres}} {{remision.idPaciente.primerApellido}} {{remision.idPaciente.segundoApellido}}</td>
                          
                      </tr>
                      <tr>
                          <th style="text-align: left; border: white 0px solid;">{{remision.idPaciente.tipoIdentificacion.nomenclatura}} N° </th>
                          <td style="text-align: left; border: white 0px solid;">
                            {{remision.idPaciente.numeroIdentificacion}}
                          </td>
                          <th style="text-align: left; border: white 0px solid;">Genero:</th>
                          <td style="text-align: left; border: white 0px solid;">
                            {{remision.idPaciente.sexo}}
                          </td>
                      </tr>
                      <tr>
                          <th style="text-align: left; border: white 0px solid;">Fecha nacimiento:</th>
                          <td style="text-align: left; border: white 0px solid;">
                            {{remision.idPaciente.fechaNacimiento | date('d M Y H:i:s') }} 
                          </td>
                          <th style="text-align: left; border: white 0px solid;">Edad:  </th>
                          <td style="text-align: left; border: white 0px solid;">
                             {{edad}}
                          </td>
                      </tr>
                      <tr>
                          <th style="text-align: left; border: white 0px solid;">Dirección</th>
                          <td colspan="3" style="text-align: left; border: white 0px solid;">
                            {{remision.idPaciente.dirrecionDomicilio}} - {{remision.idPaciente.idMunicipio.nombre}}
                          </td>
                      </tr>
                      <tr>
                          <th style="text-align: left; border: white 0px solid;">Celular:</th>
                          <td style="text-align: left; border: white 0px solid;">
                            {{remision.idPaciente.celular}}
                          </td>
                          {%if remision.idPaciente.telefonoDomicilio != ''%}
                          <th style="text-align: left; border: white 0px solid;">Teléfono:</th>
                          <td style="text-align: left; border: white 0px solid;">
                            {{remision.idPaciente.telefonoDomicilio}}
                          </td>
                          {%endif%}
                      </tr>                
                      <tr>
                          <td colspan="4" ><hr></td>
                      </tr>
                      <tr>
                          <th style="text-align: left; border: white 0px solid;">Diagnóstico</th>
                          <td colspan="3" style="text-align: left; border: white 0px solid;">
                            {{remision.idProcedimiento}}
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" ><hr></td>
                      </tr>
                      <tr>
                          <th style="text-align: left; border: white 0px solid;">Observación</th>
                          <td colspan="3" style="text-align: left; border: white 0px solid;">
                           {{remision.observacion}}
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" ><hr></td>
                      </tr>                      
                      <tr>
                        <td colspan="4">
                          <br>Cordialmente,<br>           
                        </td>
                      </tr>
                      <tr>
                        <td colspan="4" ><br>
                          {%if remision.idUsuarioRemite.firmaProfesional != '' %}                          
                            <img src="{{remision.idUsuarioRemite.firmaProfesional }}" class="w-25"><br><br>
                          {%endif%}                              
                          {{remision.idUsuarioRemite}}
                          <!--table  data-mysignature-date="2019-04-16T16:12:49.899Z" data-mysignature-is-paid="0" width="500" cellspacing="0" cellpadding="0" border="0"> <tr> <td> <table cellspacing="0" cellpadding="0" border="0"> <tr>  <td valign="top" width="100" style="padding:0 8px 0 0;vertical-align: top;"> <img alt="OTTIS Comunicaciones" width="100" style="width:100px;moz-border-radius:10%;khtml-border-radius:10%;o-border-radius:10%;webkit-border-radius:10%;ms-border-radius:10%;border-radius:10%;" src="https://img.mysignature.io/p/3/6/e/36e0cd0e-8193-5295-87cd-f26d490af564.png?time=1555431170" /> </td>  <td style="font-size:1em;padding:0 15px 0 8px;vertical-align: top;" valign="top"> <table cellspacing="0" cellpadding="0" border="0" style="line-height: 1.4;font-family:Verdana, Geneva, sans-serif;font-size:90%;color: #000001;"> <tr> <td> <div style="font: 1.2em Verdana, Geneva, sans-serif;color:#000001;">Mariciela Rojas López</div> </td> </tr> <tr> <td style="padding: 4px 0;"> <div style="color:#000001;font-family:Verdana, Geneva, sans-serif;"> Directora Administrativa y Financiera  |  OTTIS Comunicaciones   </div> </td> </tr> <tr> <td> <span style="font-family:Verdana, Geneva, sans-serif;color:#00529B;">Pbx:&nbsp;</span> <span><a style="font-family:Verdana, Geneva, sans-serif;color:#000001;" href="tel:3212893978">3212893978 - 3114916907 Op 1</a></span> </td> </tr>  <tr> <td> <span style="font-family:Verdana, Geneva, sans-serif;color:#00529B;">Celular:&nbsp;</span> <span><a style="font-family:Verdana, Geneva, sans-serif;color:#000001;" href="tel:3132966561">3132966561</a></span> </td> </tr>   <tr> <td> <span style="font-family:Verdana, Geneva, sans-serif;color:#00529B;">Web:&nbsp;</span> <span style="font-family:Verdana, Geneva, sans-serif;"><a href="https://ottis.com.co" style="color:#000001;" target="_blank">ottis.com.co</a></span> </td> </tr></table></tr> </table> </td> </tr></table><table class="branding" cellspacing="0" cellpadding="0" border="0"> <tr><td style="display:block;padding:15px 0 0 0;"></td></tr> <tr>  </tr></table-->
                        </td>
                      </tr>
                </table>
        </div>     
    {% endblock %}

    <!--p>This is my awesome first PDF generated using Snappy in my Symfony 3 project.</p>
    <p>UTF-8 Test : κ?σμε</p>
    <p>Image : </p><br>
    <img height="200" src="http://ourcodeworld.com/resources/img/ocw-empty.png"/>
    <p>SVG Example : </p><br>
    <p>Canvas Example with Javascript: </p><br>
    <div>
        <canvas id="myCanvas" width="300" height="200"/>
    </div>
    <hr>
    <span id="dinamic-content"></span>
    <script>
        document.getElementById("dinamic-content").innerHTML = 'This string has been appended using javascript';
        
        // Draw circle on canvas
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(100,75,50,0,2*Math.PI);
        ctx.stroke();
    </script-->
  </body>
</html>

