{% extends 'baseModal.html.twig' %}

{% block title %}Detalle remisión {% endblock %}
{% block body %}
{{parent()}}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE REMISIÓN N° {{ remision.idRemision }}</h3></div>
        <a href="{{path('remision_new',{'idPaciente': remision.idPaciente.idPaciente})}}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body"> 
        <table class="table">
            <tbody>
                <tr>
                    <th>Fecha apertura</th>
                    <td>{{ remision.fechaApertura ? remision.fechaApertura|date('Y-m-d H:i:s') : '' }}</td>
                    <th>Fecha Vencimiento</th>
                    <td>{{ remision.fechaRealizar ? remision.fechaRealizar|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <hr>
                <tr>
                    <th>Tipo remisión</th>
                    <td colspan="3">{%if remision.email != '' %} Externa {%else%} Interna{%endif%}</td>
                </tr>
                 <tr>
                    <th>Paciente </th>
                    <td>{{remision.idPaciente}}</td>
                    <th> {{remision.idPaciente.tipoIdentificacion.nomenclatura}}</th>
                    <td> N° {{remision.idPaciente.numeroIdentificacion}}</td>
                </tr>
                <tr>
                    <th>Remitido por:</th>
                    <td>{{remision.idUsuarioRemite}}</td>
                    <th>Remitido a:</th>
                    <td>{% if remision.email != '' %} {{remision.email}} {% else %} {{remision.idUsuarioRemitido}}{% endif %}</td>
                </tr>
                <tr>
                    <th>Observacion</th>
                    <td colspan="3">{{ remision.observacion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <a href="{{path('remision_new',{'idPaciente': remision.idPaciente.idPaciente})}}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  
{% endblock %}   
