{% extends 'base.html.twig' %}
{% block title %}Remisiones{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}
<div class="row mt-3">
	{{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>REMISIONES</h3>
                <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
		        <div class=" alert alert-success" role="alert">
		            <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		            <div> {{ flashMessage }}</div> 
		        </div>
		    {% endfor%}
		    {%  for flashMessage in app.flashes('error') %}
		        <div class="alert alert-danger alert-dismissable" role="alert">
		            <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		            <div id="resp"> {{ flashMessage }}</div> 
		        </div>
		    {% endfor%}
		    <div class="row">
	            <div class="col-xl-12">
	                 <div class="card-box">
	                 	<div class="text-right"><button type="button"  id="crearRemision" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span>&nbsp;&nbsp;Crear remisión</button></div>
	                    <div class="tab-pane" id="home">	      
                        	<div style="display: none;">                     
            						    {{ include('remision/_form.html.twig') }}
            							</div>
                        </div>
	                </div> <!-- end card-box-->
	            </div> 
	        </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_remision">
                    <thead>
                          <tr>  
                            <th class="text-center w-25">Fecha</th>
                            <th class="text-center w-25">Remitido por</th>
                            <th class="text-center w-25">Remitido a</th>
                            <th class="text-right w-25">Acciones</th>
                          </tr>
                    </thead>
                    <tbody>
                    {% for remision in remisiones %}
                      <tr>
                          <td class="text-center">{{ remision.fechaApertura | date('d M Y H:i:s')}}</td>
                          <td class="text-center">{{ remision.idUsuarioRemite}}</td>
                          {%if remision.email != ''%}
                          <td class="text-center">{{ remision.email  | capitalize}}</td>
                          {%else%}
                          <td class="text-center">{{ remision.idUsuarioRemitido  | capitalize}}</td>
                          {%endif%}
                          <td class="text-center" colspan="2">
                            <button type="button"  onclick="verDetalle({{remision.idRemision}});" class="btn btn-sm  btn-outline-info waves-effect waves-light" title="Detalle remisión"><span class="fas fa-eye"></span></button>
                            <a target="_black"  href="{{path('remision_imprimir',{'idRemision': remision.idRemision})}}" class="imprimir"><button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light" title="Imprimir remisión"><span class="mdi mdi-printer-settings"></span></button></a>

                            <a target="_black"  href="{{path('remision_correo',{'idRemision': remision.idRemision})}}" class="Envia correo"><button type="button" class="btn btn-sm btn-outline-warning waves-effect waves-light" title="Enviar e-mail remisión"><span class="mdi mdi-email-check"></span></button></a>

                            <!--a target="_black"  href="{{path('remision_show',{'idRemision': remision.idRemision})}}" class="imprimir"><button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light" title="Imprimir"><span class="mdi mdi-printer-settings"></span></button></a-->
                          </td>
                      </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>
<div class="modal fade" id="datosRemision"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">
$(document).ready(function(){
  newTable('#table_remision');
});

function verDetalle(idRemision){
      var url = "/remision/"+idRemision;
      $.ajax({
        type: 'POST',
        url:url,
        dataType: 'html',
        beforeSend: function () {
          $('body').addClass('loading'); //Agregamos la clase loading al body
        },
        success: function(respuesta){
          $('body').removeClass('loading');
          $('#datosRemision').modal('show'); 
          $('#datosRemision').html(respuesta);          
        },
   
          // código a ejecutar si la petición falla;
          error : function(xhr, status) {
              $('body').removeClass('loading');
              $('.resp').removeAttr('hidden');
              $('.resp').html('Disculpe, existió un problema en la conexión.');
          },
      });
  }

  var contador =0;
  $('.imprimir').click(function() { 
    contador++;
    if (contador == 1) {
      $('body').addClass('loading');
      setTimeout(function(){ location.reload(); }, 2000); 
      
    }
  });
</script>
{% endblock %}