<html>
    <meta charset="utf-8">
    <head>
        <title>Remisión</title>
        <style type="text/css">
            body { width: 21cm; margin: 0; padding: 0;  }

            .page{width: 210mm;height: 297mm;}

            table { width: 14cm; max-width: 200%;border-spacing: 0; /*border-spacing: 0; width: 100%; border: 1px solid black;*/}

            .break {page-break-after:always; margin-bottom: 1cm;}

            h2 {width: 14cm; height:0.7cm; color: #000000; background-color: #E9EEF1; padding-left: 1.08cm; font-weight: bold; font-size: 0.57cm;}

            h3 {width: 14cm; height:1.7cm; color: #000000; background-color: #E9EEF1; padding-left: 1.08cm; font-weight: bold; font-size: 0.57cm;}

            .header{margin-left:1cm;margin-top:1cm;}

            div.left-gray{width: 7cm;height:29.7cm;background-color: #E9EEF1;float:left;}

            div.right-white{width: 14cm;height: 29.7cm;background-color: white;float:right;}

            .right-white h1{margin-left: 1cm; margin-top: 1cm;color: black;padding-top:1cm}

            .right-white p{margin-left: 1cm; width: 12cm;text-align: justify}

            .left-gray h1 {margin-top: 1cm;margin-left: 1cm;padding: 0;display: inline}

            .left-gray h3 {margin-left: 1cm;padding:0;display:inline;}
            .left-gray img {margin-left: 1cm;padding:0;display:inline;}
        </style>
    <head>
    <body>
        <div class="page">
            <div class="left-gray">      
            {#app.request.scheme ~'://' ~ app.request.httpHost #}

            {# app.request.requesturi #} 

            {#pathToWeb ~ '/light/dist/assets/images/logoOrtoboy.png' #} <br>  
            {#app.request.scheme ~  asset('light/dist/assets/images/logoOrtoboy.png')#}   
            {#app.request.httpHost#}
                <h1>Remisión N° {{remision.idRemision}}</h1>
                <!--img src="{{pathToWeb ~ asset('light/dist/assets/images/logoOrtoboy.png') }}" style=" width: 80%;height:1.5in;"/--> 
                <img src="http://i.imgur.com/VeyeADV.png" style=" width: 80%;height:1.5in;"/> 
            </div>
            <div class="right-white">
                <br>
                <h3>FR: {{remision.fechaApertura | date('d M Y H:i:s', false)}}<br>
                FV: {{remision.fechaRealizar | date('d M Y H:i:s', false) }}</h3>
                <table>
                  <tr>
                      <th>Profesional remite:</th>
                      <td>
                        {{remision.idUsuarioRemite.nombres}} {{remision.idUsuarioRemite.apellidos}}
                      </td>
                  </tr>
                  <tr>
                      <th>Paciente</th>
                      <td>{{remision.idPaciente.nombres}} {{remision.idPaciente.primerApellido}} {{remision.idPaciente.segundoApellido}}</td>
                      
                  </tr>
                  <tr>
                      <th>{{remision.idPaciente.tipoIdentificacion.nomenclatura}} N° </th>
                      <td>
                        {{remision.idPaciente.numeroIdentificacion}}
                      </td>
                      <th>Genero:</th>
                      <td>
                        {{remision.idPaciente.sexo}}
                      </td>
                  </tr>
                  <tr>
                      <th>Fecha nacimiento:</th>
                      <td>
                        {{remision.idPaciente.fechaNacimiento | date('d M Y H:i:s') }} 
                      </td>
                      <th>Edad:  </th>
                      <td>
                         {{edad}}
                      </td>
                  </tr>
                  <tr>
                      <th style="text-align: left; border: white 0px solid;">Dirección</th>
                      <td colspan="3" style="text-align: left; border: white 0px solid;">
                        {{remision.idPaciente.dirrecionDomicilio}} - {{remision.idPaciente.idMunicipio.nombre}}
                      </td>
                  </tr>
                  <tr>
                      <th style="text-align: left; border: white 0px solid;">Celular:</th>
                      <td style="text-align: left; border: white 0px solid;">
                        {{remision.idPaciente.celular}}
                      </td>
                      {%if remision.idPaciente.telefonoDomicilio != ''%}
                      <th style="text-align: left; border: white 0px solid;">Teléfono:</th>
                      <td style="text-align: left; border: white 0px solid;">
                        {{remision.idPaciente.telefonoDomicilio}}
                      </td>
                      {%endif%}
                  </tr>                
                  <tr>
                      <td colspan="4" ><hr></td>
                  </tr>
                  <tr>
                      <th style="text-align: left; border: white 0px solid;">Diagnóstico</th>
                      <td colspan="3" style="text-align: left; border: white 0px solid;">
                        {{remision.idProcedimiento}}
                      </td>
                  </tr>
                  <tr>
                      <td colspan="4" ><hr></td>
                  </tr>
                  <tr>
                      <th style="text-align: left; border: white 0px solid;">Observación</th>
                      <td colspan="3" style="text-align: left; border: white 0px solid;">
                       {{remision.observacion}}
                      </td>
                  </tr>
                  <tr>
                      <td colspan="4" ><hr></td>
                  </tr>                      
                  <tr>
                    <td colspan="4">
                      <br>Cordialmente,<br>           
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" ><br>
                      {%if remision.idUsuarioRemite.firmaProfesional != '' %}                          
                        <img src="{{remision.idUsuarioRemite.firmaProfesional }}" class="w-25"><br><br>
                      {%endif%}                              
                      {{remision.idUsuarioRemite}}
                    </td>
                  </tr>
                </table>      
            </div>
        </div>
    </body>
</html>