{% extends 'base.html.twig' %}
{% block title %}Motivo Consulta{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>MOTIVO CONSULTA</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('finalidadConsulta_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-feather"></span>&nbsp;&nbsp;Finalidad Consulta</button></a>
                <a href="{{path('motivoConsulta_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fab fa-earlybirds"></span>&nbsp;&nbsp;Motivo consulta</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_motivoconsulta">
                    <thead>
                          <tr>  
                            <th class="text-center w-25">Nombre</th>
                            <th class="text-center w-25">Tiempo estimado de consulta</th>
                             <th class="text-center w-50">Procedimiento</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearMotivoConsulta" data-backdrop="static" data-toggle="modal" data-target="#crearMotivoConsulta" title="Crear motivo consulta"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for motivoConsulta in motivosConsultas %}                     
                      <tr>
                          <td class="text-left">{{ motivoConsulta.nombre  | capitalize}}</td>
                          <td class="text-left">{{ motivoConsulta.tiempoEstimado  | capitalize}}</td>
                          <td class="text-justify">{{ motivoConsulta.idProcedimiento  | capitalize}}</td>
                          <td class="text-center" colspan="2">
                            {%if motivoConsulta.estado == true%}
                            <button type="button" onclick="editar( {{ motivoConsulta.idMotivoConsulta }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar motivo consulta"><span class="fas fa-edit"></span></button>
                            {%else%}
                            <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar motivo consulta"><span class="fas fa-edit"></span></button>
                            {%endif%}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ motivoConsulta.idMotivoConsulta }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                      </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('motivoConsulta/modalNewMotivoConsulta.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade" id="datosMotivoConsulta"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_motivoconsulta');   
});

function editar(id) {
  // alert(id); 
    var url = "/motivoConsulta/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosMotivoConsulta').modal('show'); 
            $('#datosMotivoConsulta').html(respuesta);
      },
      // código a ejecutar si la petición falla;
      error : function(xhr, status) {
        $('body').removeClass('loading');
        $('.resp').removeAttr('hidden');
        $('.resp').html('Disculpe, existió un problema en la conexión.');
      },
    });
}

$( ".cambiarEstado").click( function(){
  var idMotivoConsulta= $(this).data('id');
   var tipo = 'motivoConsulta';
  $('.modal-body #id').val(idMotivoConsulta);
  $('.modal-body #tipo').val(tipo);

});
</script>
{% endblock %}