{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formFormulaEdit','class':'ml-2'} }) }}
    {% for clinica in clinicas%}
    <div class="row mt-2">
        <div class="col-2">
            {% if clinica.logo != ''%}
            <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-75">           
            {% endif %}
        </div>
        <div class="col-6 text-center">
            <p> 
                <b>{{clinica.nombre | upper}}</b><br>
                IDENTIFICACIÓN: {{clinica.nit | upper}}<br>
                {% if clinica.telefono != '' %}
                    TEL: {{clinica.telefono | upper}}<br>
                {% endif %}
                CELULAR: {{clinica.movil | upper}}<br>
                SEDE {{app.user.idSucursal.nombre | upper}}<br>
                FORMULA MEDICA
            </p>
        </div>
        <div class="col-4 text-rigth">
            <p> <br><br><br>
                <b>Fecha:</b> {{'now' | date('d/m/Y H:i:s', 'America/Bogota')}}<br>
                <b>Página:</b> 1<br>
            </p>
        </div>
    </div>
    <hr> 
    {% endfor %}
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Paciente:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{formula.idPaciente.tipoIdentificacion}}  {{formula.idPaciente.numeroIdentificacion}}  </p>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{formula.idPaciente.nombres}} {{formula.idPaciente.primerApellido}} {{formula.idPaciente.segundoApellido}}   </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Fecha nacimiento:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{formula.idPaciente.fechaNacimiento | date('d/m/Y H:i:s') }} </p>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Edad:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{edad}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Sexo:</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
            <p>{% if formula.idPaciente.sexo == 'MASCULINO'%}Hombre{% elseif formula.idPaciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Celular:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{formula.idPaciente.celular}} </p>
        </div>
        {% if formula.idPaciente.telefonoDomicilio != ''%}
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Teléfono:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{formula.idPaciente.telefonoDomicilio}}</p>
        </div>
        {% endif %}
    </div>                                        
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Dirección:</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
           {{formula.idPaciente.dirrecionDomicilio}} - {{formula.idPaciente.idMunicipio}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.nombre) }}
            <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
        </div>                                            
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="observacion">Formula</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.observacion) }}
            <div class="invalid-feedback">{{ form_errors(form.observacion)}}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idCie">Diagnóstico</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idCie) }}
            <div class="invalid-feedback">{{ form_errors(form.idCie)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cantidad">Cantidad</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.cantidad) }}
            <div class="invalid-feedback">{{ form_errors(form.cantidad)}}</div>
        </div>
    </div>      
    <div class="row mt-2">
        {% if app.user.firmaProfesional != ''%}
        <div class="col-12">
            <img src="{{ formula.idUsuario.firmaProfesional}}" class="w-25">  
        </div>
        {% endif %}
        <p>{{formula.idUsuario | capitalize}}</p>
    </div>                  
    <div hidden>
        {{ form_widget(form.idPaciente) }}
        {{ form_widget(form.idUsuario) }}
    </div>
    <br>
    <div class="text-center">
        <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
    </div>
    {{ form_end(form) }}