{% extends 'base.html.twig' %}
{% block title %}Formula paciente{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    {{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">
          
            <div class="card-body"> 
                <div class="modal-header hearVisual">
                    <div class="text-center w-100">
                        <h3 class="modal-title">FORMULA PACIENTE</h3>
                        <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
                    </div>              
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">                        
                        <div class="table-responsive mt-3"  >
                            <table class="table table-hover" id="table_formulas">
                                <thead>
                                    <tr>
                                        <th class="text-center w-25">Fecha registro</th>
                                        <th class="text-center w-25">Nombre</th>
                                        <th class="text-center w-25">Profesional</th>
                                        <th class="text-right w-25">Acciones</th>
                                        <th>
                                            <button style="float:right;" type="button" class="btn btn-sm btn-success waves-effect waves-light" data-toggle="collapse" data-target="#collapseFormula" aria-expanded="false" aria-controls="collapseFormula"><span class="fas fa-plus"></span></button>
                                        </th>
                                    </tr>                                        
                                </thead>
                                <tbody>
                                    {% for formula in formulas%}
                                        <tr>
                                            <td>{{formula.fechaApertura ? formula.fechaApertura|date('Y-m-d H:i:s') : ''}}</td>
                                            <td>{{ formula.nombre}}</td>
                                            <td>{{ formula.idUsuario}}</td>
                                            <td class="text-center" colspan="2">
                                                <button type="button" onclick="detalle({{formula.idFormula}})" title="Detalle formula" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>
                                                <button type="button"  onclick="editar({{formula.idFormula}});"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar sede"><span class="fas fa-edit"></span></button>
                                                <a target="_black"  href="{{ path('formula_pdf', { 'idFormula': formula.idFormula }) }}" class="imprimir"><button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light" title="Imprimir formula"><span class="mdi mdi-printer-settings"></span></button></a>
                                                <a  href="#" class="Enviar correo"><button type="button" class="btn btn-sm btn-outline-warning waves-effect waves-light" title="Enviar e-mail formula"><span class="mdi mdi-email-check"></span></button></a>
                                            </td>
                                            <td style="display:none;"></td>
                                        </tr>                                                
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>
                        <div class="crearForm_formula collapse" id="collapseFormula" >
                            <hr><br><br>
                            <div class="card">
                                <div class="card-header bg-info py-3 text-white">
                                    <div class="card-widgets">
                                        <!--a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a-->
                                        <a data-toggle="collapse" href="#cardCollpase7" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                                        <!--a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a-->
                                    </div>
                                    <h5 class="card-title mb-0 text-white">Registro formula</h5>
                                </div>
                                <div id="cardCollpase7" class="collapse show">
                                    <div class="card-body">
                                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formFormula'} }) }}
                                        {% for clinica in clinicas%}
                                        <hr>
                                        <div class="row mt-2">
                                            <div class="col-2">
                                                {%if clinica.logo != ''%}
                                                <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-75">           
                                                {%endif%}
                                            </div>
                                            <div class="col-6 text-center">
                                                <p> 
                                                    <b>{{clinica.nombre | upper}}</b><br>
                                                    IDENTIFICACIÓN: {{clinica.nit | upper}}<br>
                                                    {% if clinica.telefono != '' %}
                                                        TEL: {{clinica.telefono | upper}}<br>
                                                    {% endif %}
                                                    CELULAR: {{clinica.movil | upper}}<br>
                                                    SEDE {{app.user.idSucursal.nombre | upper}}<br>
                                                    FORMULA MEDICA
                                                </p>
                                            </div>
                                            <div class="col-4 text-rigth">
                                                <p> <br><br><br>
                                                    <b>Fecha:</b> {{'now' | date('d/m/Y H:i:s', false)}}<br>
                                                    <b>Página:</b> 1<br>
                                                </p>
                                            </div>
                                        </div>
                                        <hr> 
                                        {% endfor %}
                                        <div class="row">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label>Paciente:</label>
                                            </div>
                                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                                <p>{{paciente.tipoIdentificacion}}  {{paciente.numeroIdentificacion}}  </p>
                                            </div>
                                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                                <p>{{paciente.nombres}} {{paciente.primerApellido}} {{paciente.segundoApellido}}   </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label>Fecha nacimiento:</label>
                                            </div>
                                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                                <p>{{paciente.fechaNacimiento | date('d/m/Y H:i:s') }} </p>
                                            </div>
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label>Edad:</label>
                                            </div>
                                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                                <p>{{edad}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label>Sexo:</label>
                                            </div>
                                            <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                                                <p>{% if paciente.sexo == 'MASCULINO'%}Hombre{%elseif paciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label>Celular:</label>
                                            </div>
                                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                                <p>{{paciente.celular}} </p>
                                            </div>
                                            {% if paciente.telefonoDomicilio != ''%}
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label>Teléfono:</label>
                                            </div>
                                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                                <p>{{paciente.telefonoDomicilio}}</p>
                                            </div>
                                            {% endif %}
                                        </div>                                        
                                        <div class="row">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label>Dirección:</label>
                                            </div>
                                            <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                                                <p>{{paciente.dirrecionDomicilio}} - {{paciente.idMunicipio}}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
                                            </div>
                                            <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
                                                {{ form_widget(form.nombre) }}
                                                <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
                                            </div>                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="observacion">Formula</label>&nbsp;<label class="text-danger">*</label>
                                            </div>
                                            <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
                                                {{ form_widget(form.observacion) }}
                                                <div class="invalid-feedback">{{ form_errors(form.observacion)}}</div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="idCie">Diagnóstico</label>&nbsp;<label class="text-danger">*</label>
                                            </div>
                                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                                {{ form_widget(form.idCie) }}
                                                <div class="invalid-feedback">{{ form_errors(form.idCie)}}</div>
                                            </div>
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="cantidad">Cantidad</label>&nbsp;<label class="text-danger">*</label>
                                            </div>
                                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                                {{ form_widget(form.cantidad) }}
                                                <div class="invalid-feedback">{{ form_errors(form.cantidad)}}</div>
                                            </div>
                                        </div>      
                                        <div class="row mt-2">
                                            {% if app.user.firmaProfesional != ''%}
                                            <div class="col-12">
                                                <img src="{{ formula.idUsuario.firmaProfesional}}" class="w-25">  
                                            </div>
                                            {% endif %}
                                            <p>{{formula.idUsuario | capitalize}}</p>
                                        </div>                  
                                        <div hidden>
                                            {{ form_widget(form.idPaciente) }}
                                            {{ form_widget(form.idUsuario) }}
                                        </div>
                                        <br>
                                        <div class="text-center">
                                            <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="modal fade" id="datosFormula"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">
function detalle(id) {
  // alert(id); 
  var url = "/formula/"+id+"/show";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosFormula').modal('show');
      $('#datosFormula').html(respuesta);
    },
            // código a ejecutar si la petición falla;
    error : function(xhr, status) {
      $('body').removeClass('loading');
      $('.resp').removeAttr('hidden');
      $('.resp').html('Disculpe, existió un problema en la conexión.');
    },  
  });
}
function editar(id) {
  // alert(id); 
  var url = "/formula/"+id+"/edit";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosFormula').modal('show');
      $('#datosFormula').html(respuesta);
    },
            // código a ejecutar si la petición falla;
    error : function(xhr, status) {
      $('body').removeClass('loading');
      $('.resp').removeAttr('hidden');
      $('.resp').html('Disculpe, existió un problema en la conexión.');
    },  
  });
}
var val= $(".invalid-feedback").children().children().children().val();
if (typeof(val) != "undefined") {
    $('.crearForm_formula').addClass('show');    
}  

</script>

{% endblock %}
