{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar formula{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR FORMULA</h3></div>
    	{{ include('formula/_delete_form.html.twig') }}
        <a href="{{ path('formula_index',{'idPaciente':formula.idPaciente.idPaciente}) }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
      
		   {{ include('formula/_form.html.twig') }}
    </div>
    <input type="hidden" id="idFormula" value="{{formula.idFormula}}">
    
  </div>
</div>  
{% endblock %}
