<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
        <div class="modal-header ">
            <div class="text-center w-100"><h3 class="modal-title">DETALLE FORMULA N° {{formula.idFormula}}</h3></div>             
            <a href="{{ path('formula_index', { 'idPaciente': formula.idPaciente.idPaciente }) }}">
                <button type="button" class="close" title="Cerrar" aria-label="Close">
                  <span aria-hidden="true" class=" fa-lg">&times;</span>
                </button>
            </a>
          
        </div>
        <!--Body de Modal-->      
        <div class="modal-body">
            <div class="row">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Paciente:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{formula.idPaciente.tipoIdentificacion}}  {{formula.idPaciente.numeroIdentificacion}}  </p>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{formula.idPaciente.nombres}} {{formula.idPaciente.primerApellido}} {{formula.idPaciente.segundoApellido}}   </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Fecha nacimiento:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{formula.idPaciente.fechaNacimiento | date('d M Y H:i:s') }} </p>
                </div>
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Edad:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{edad}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Sexo:</label>
                </div>
                <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                    <p>{% if formula.idPaciente.sexo == 'MASCULINO'%}Hombre{% elseif formula.idPaciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Celular:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{formula.idPaciente.celular}} </p>
                </div>
                {% if formula.idPaciente.telefonoDomicilio != ''%}
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Teléfono:</label>
                </div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                    <p>{{formula.idPaciente.telefonoDomicilio}}</p>
                </div>
                {% endif %}
            </div>                                        
            <div class="row">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                    <label>Dirección:</label>
                </div>
                <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                    <p>{{formula.idPaciente.dirrecionDomicilio}} - {{formula.idPaciente.idMunicipio}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6"></div> 
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Fecha apertura</b>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ formula.fechaApertura  ? formula.fechaApertura|date('Y-m-d H:i:s') : ''}}
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Nombre</b>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                {{ formula.nombre}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Formula</b>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                    {{formula.observacion}}
                </div>  
            </div> 
            <div class="row mt-2">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Diagnóstico</b>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ formula.idCie}}
                </div>
                 <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Cantidad</b>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ formula.cantidad}}
                </div>
              
            </div>
            <div class="row mt-2">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                  <b>Profesional</b>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                    {% if formula.idUsuario.firmaProfesional != ''%}
                        <div class="col-12">
                            <img src="{{ formula.idUsuario.firmaProfesional}}" class="w-25">  
                        </div>
                    {% endif %}
                    <p>{{formula.idUsuario | capitalize}}</p>
                </div>        
            </div> 
        </div>
        <div class="modal-footer">
           <a href="{{path('formula_index', { 'idPaciente': formula.idPaciente.idPaciente }) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
        </div>
    </div>
</div>  
