{% extends 'base.html.twig' %}

{% block title %}Consultorios{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
  {{ parent() }}
<div class="row  mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header text-center"> 
                    <h3>CONSULTORIO</h3>
                </div>
                <hr class="mt-1">
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden>
                </div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                <div class="table-responsive-lg mt-3">
                    <table class="table" id="table_consultorio">
                        <thead>
                            <tr>
                                <th class="text-center w-25">Nombre</th>
                                <th class="text-center w-25">Sede</th>
                                <th class="text-center w-25">Estado</th>
                                <th class="text-center w-50">Acciones      
                                </th>
                                <th>
                                    <a  class="text-right" data-controls-modal="crearConsultorio" data-backdrop="static" data-toggle="modal" data-target="#crearConsultorio" title="Crear consultorio"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for consultorio in consultorios %}
                            {% if consultorio.idClinica.estadoSede == true%}                       
                            <tr>
                                <td class="w-25">{{ consultorio.nombre | capitalize}}</td>
                                <td class="w-25 text-center">{{ consultorio.idClinica.nombre }}</td>
                                <td class="text-center w-25">{{ consultorio.estado ? 'Activo' : 'Inactivo' }}</td> 
                                <td class="text-center w-50" colspan="2">
                                    
                                    {%if consultorio.estado == true%}
                                        <button type="button"  onclick="envioEditarConsultorio({{consultorio.idConsultorio}});"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar consultorio"><span class="fas fa-edit"></span></button>
                                    {%else%}
                                        <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar consultorio"><span class="fas fa-edit"></span></button>
                                    {%endif%}
                                    <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ consultorio.idConsultorio}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                                </td> 
                                <td style="display: none;"></td>    
                            </tr>
                            {%endif%}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>
        
    </div>
</div>  


{{ include('consultorio/modalNew.html.twig') }} 
{{ include('tipo_radiografia/editEstado.html.twig') }} 

<div class="modal fade" id="datosConsultorio"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">

$(document).ready(function(){
    //aejo de datatable 
    newTable('#table_consultorio');
});  


function envioCrearConsultorio(idConsultorio){
    
    var url = "/consultorio/new";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
      success: function(respuesta){
        $('body').removeClass('loading');
        $('#datosConsultorio').modal('show'); 
        $('#datosConsultorio').html(respuesta);          
      },
 
        // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
} 

function envioEditarConsultorio(idConsultorio){
    var url = "/consultorio/"+idConsultorio+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
      success: function(respuesta){
        $('body').removeClass('loading');
        $('#datosConsultorio').modal('show'); 
        $('#datosConsultorio').html(respuesta);          
      },
 
        // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
}

$( ".cambiarEstado").click( function(){
  var idConsultorio = $(this).data('id');
   var tipo = 'consultorio';
  $('.modal-body #id').val(idConsultorio);
  $('.modal-body #tipo').val(tipo);

});

</script>
{% endblock %}