{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar consultorio{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR CONSULTORIO</h3></div>
    	{{ include('consultorio/_delete_form.html.twig') }}
        <a href="{{ path('consultorio_index') }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
     	<div class="alert alert-danger alert-dismissable respConsultorioError" role="alert" hidden></div>
     	<div class="alert alert-success alert-dismissable respConsultorioMensaje" role="alert" hidden></div>
      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formConsultorioEdit'} }) }} 
		   {{ include('consultorio/_form.html.twig') }}
    </div>
    <input type="hidden" id="idConsultorio" value="{{consultorio.idConsultorio}}">
    
  </div>
</div>  
{% endblock %}
