<form method="post" action="{{ path('odontogramaPaciente_delete', {'idOdontogramaPaciente': odontogramaPaciente.idOdontogramaPaciente}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ odontogramaPaciente.idOdontogramaPaciente) }}">
    <button class="btn">Delete</button>
</form>
