{% set piezaDental = [18,17,16,15,14,13,12,11,21,22,23,24,25,26,27,28,55,54,53,52,51,61,62,63,64,65,85,84,83,82,81,71,72,73,74,75,48,47,46,45,44,43,42,41,31,32,33,34,35,36,37,38] %}	
	{% for i in  0..52 %}
			<script>
		    	$(".d"+'{{cycle(piezaDental, i)}}'+"O").removeClass().addClass("circulo flex-child text-center d"+'{{cycle(piezaDental, i)}}'+"O");
			  	$(".d"+'{{cycle(piezaDental, i)}}'+"O").css('background','#ECECEC');
			    $(".d"+'{{cycle(piezaDental, i)}}'+"V").removeClass().addClass("trapecio-top d"+'{{cycle(piezaDental, i)}}'+"V");
				$(".d"+'{{cycle(piezaDental, i)}}'+"V").css('border-bottom','10px solid #ECECEC');
				$(".d"+'{{cycle(piezaDental, i)}}'+"L").removeClass().addClass("super-child trapecio-bottom d"+'{{cycle(piezaDental, i)}}'+"L");
				$(".d"+'{{cycle(piezaDental, i)}}'+"L").css('border-top','10px solid #ECECEC');
				$(".d"+'{{cycle(piezaDental, i)}}'+"M").removeClass().addClass("trapecio-left flex-child d"+'{{cycle(piezaDental, i)}}'+"M");
				$(".d"+'{{cycle(piezaDental, i)}}'+"M").css('border-right','10px solid #ECECEC');
				$(".d"+'{{cycle(piezaDental, i)}}'+"D").removeClass().addClass("trapecio-right rightVertical d"+'{{cycle(piezaDental, i)}}'+"D");
				$(".d"+'{{cycle(piezaDental, i)}}'+"D").css('border-left','10px solid #ECECEC');
				$(".d"+'{{cycle(piezaDental, i)}}'+"CV").removeClass().addClass("trapecio-top-small d"+'{{cycle(piezaDental, i)}}'+"CV");
				$(".d"+'{{cycle(piezaDental, i)}}'+"CV").css('border-bottom','6px solid #ECECEC');
				$(".d"+'{{cycle(piezaDental, i)}}'+"CL").removeClass().addClass("super-child trapecio-bottom-small d"+'{{cycle(piezaDental, i)}}'+"CL");
				$(".d"+'{{cycle(piezaDental, i)}}'+"CL").css('border-top', '6px solid #ECECEC');
				$(".d"+'{{cycle(piezaDental, i)}}'+"PC").removeClass().addClass("fa-3x d"+'{{cycle(piezaDental, i)}}'+"PC");
				$(".d"+'{{cycle(piezaDental, i)}}'+"PC").css({'background':'','top':'','left':'','width':'','opacity':''});
			</script>
	{% endfor %}		
	{% for odontoPaci in odontoPacientes%}
		{% for i in  0..52 %}
			{% if odontoPaci.idPieza.codigoPieza == cycle(piezaDental, i) %}
				{% set diente = cycle(piezaDental, i) %}
				{% if odontoPaci.idSuperficie.nombre == 'OCLUSAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloOclusal =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorOclusal =  '' %}					
					{% else %}
						{% set simboloOclusal =  ''%}
						{% set colorOclusal =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					  /*	$(".gCV").removeClass().addClass('trapecio-top-smallGeneral gCV').css('border-bottom', '12px solid #ECECEC');
					  	$(".gV").removeClass().addClass('trapecio-topGeneral gV').css('border-bottom', '25px solid #ECECEC');
					  	$(".gM").removeClass().addClass('trapecio-leftGeneral gM').css('border-right', '25px solid #ECECEC');
					  	$(".gO").removeClass().addClass('circuloGeneral gO flex-child text-center').css('background','#ECECEC');;
					  	$(".gD").removeClass().addClass('trapecio-rightGeneral gD rightVertical').css('border-left', '25px solid #ECECEC');
					  	$(".gL").removeClass().addClass('trapecio-bottomGeneral gL super-child').css('border-top', '25px solid #ECECEC');
					  	$(".gCL").removeClass().addClass('trapecio-bottom-smallGeneral gCL super-child').css('border-top', '12px solid #ECECEC');
					  	$(".piezaCompleta").removeClass().addClass('text-center piezaCompleta');
					  	$(".piezaCompleta").empty().css({'background':'white','border':'1px solid #D5CFCF'});
					  	$(".piezaCompleta").append("<small class='text-secondary'>&nbsp;&nbsp;Pieza Completa</small>");*/
					    var simboloOclusal = '{{simboloOclusal}}';
					    var colorOclusal = '{{colorOclusal}}';
					    if (colorOclusal != '') {
					    	//$(".d"+'{{diente}}'+"O").removeClass().addClass("circulo flex-child text-center d"+'{{diente}}'+"O");
					    	$(".d"+'{{diente}}'+"O").css('background',colorOclusal);
					    }else{
					    	//$(".d"+'{{diente}}'+"O").css('background','#ECECEC');
					    	$(".d"+'{{diente}}'+"O").addClass(simboloOclusal+' mdi-22px') ;
					    } 
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'VESTIBULAR' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloVesti =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorVesti =  '' %}					
					{% else %}
						{% set simboloVesti =  ''%}
						{% set colorVesti =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloVesti = '{{simboloVesti}}';
					    var colorVesti = '{{colorVesti}}';
					    if (colorVesti != '') {
					    	//$(".d"+'{{diente}}'+"V").removeClass().addClass("trapecio-top d"+'{{diente}}'+"V");
					    	$(".d"+'{{diente}}'+"V").css('border-bottom','10px solid '+colorVesti);
					    }else{
					    	//$(".d"+'{{diente}}'+"V").css('border-bottom','10px solid #ECECEC');
					    	$(".d"+'{{diente}}'+"V").addClass(simboloVesti+' mdi-11px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'LINGUAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloLingual =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorLingual =  '' %}					
					{% else %}
						{% set simboloLingual =  ''%}
						{% set colorLingual =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloLingual = '{{simboloLingual}}';
					    var colorLingual = '{{colorLingual}}';
					    if (colorLingual != '') {
					    	//$(".d"+'{{diente}}'+"L").removeClass().addClass("super-child trapecio-bottom d"+'{{diente}}'+"L");
					    	$(".d"+'{{diente}}'+"L").css('border-top','10px solid '+colorLingual);
					    }else{
					    	//$(".d"+'{{diente}}'+"L").css('border-top','10px solid #ECECEC');
					    	$(".d"+'{{diente}}'+"L").addClass(simboloLingual+' mdi-11px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'MESIAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloMesial =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorMesial =  '' %}					
					{% else %}
						{% set simboloMesial =  ''%}
						{% set colorMesial =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloMesial = '{{simboloMesial}}';
					    var colorMesial = '{{colorMesial}}';
					    if (colorMesial != '') {
					    	//$(".d"+'{{diente}}'+"M").removeClass().addClass("trapecio-left flex-child d"+'{{diente}}'+"M");
					    	$(".d"+'{{diente}}'+"M").css('border-right','10px solid '+colorMesial);
					    }else{
					    	$(".d"+'{{diente}}'+"M").addClass(simboloMesial+' mdi-11px') ;
					    	//$(".d"+'{{diente}}'+"M").css('border-right','10px solid #ECECEC');
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'DISTAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloDistal =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorDistal =  '' %}					
					{% else %}
						{% set simboloDistal =  ''%}
						{% set colorDistal =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloDistal = '{{simboloDistal}}';
					    var colorDistal = '{{colorDistal}}';
					    if (colorDistal != '') {
					    	//$(".d"+'{{diente}}'+"D").removeClass().addClass("trapecio-right rightVertical d"+'{{diente}}'+"D");
					    	$(".d"+'{{diente}}'+"D").css('border-left','10px solid '+colorDistal);
					    }else{
					    	//$(".d"+'{{diente}}'+"D").css('border-left','10px solid #ECECEC');
					    	$(".d"+'{{diente}}'+"D").addClass(simboloDistal+' mdi-11px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'CERVICAL VESTIBULAR' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloCerVesti =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorCerVesti =  '' %}					
					{% else %}
						{% set simboloCerVesti =  ''%}
						{% set colorCerVesti =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloCerVesti = '{{simboloCerVesti}}';
					    var colorCerVesti = '{{colorCerVesti}}';
					    if (colorCerVesti != '') {
					    	//$(".d"+'{{diente}}'+"CV").removeClass().addClass("trapecio-top-small d"+'{{diente}}'+"CV");
					    	$(".d"+'{{diente}}'+"CV").css('border-bottom','6px solid '+colorCerVesti);
					    }else{
					    	//$(".d"+'{{diente}}'+"CV").css('border-bottom','6px solid #ECECEC');
					    	$(".d"+'{{diente}}'+"CV").addClass(simboloCerVesti+' mdi-8px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'CERVICAL LINGUAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloCerLingu =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorCerLingu =  '' %}					
					{% else %}
						{% set simboloCerLingu =  ''%}
						{% set colorCerLingu =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloCerLingu = '{{simboloCerLingu}}';
					    var colorCerLingu = '{{colorCerLingu}}';
					    if (colorCerLingu != '') {
					    	//$(".d"+'{{diente}}'+"CL").removeClass().addClass("super-child trapecio-bottom-small d"+'{{diente}}'+"CL");
					    	$(".d"+'{{diente}}'+"CL").css('border-top', '6px solid '+colorCerLingu);
					    }else{
					    	//$(".d"+'{{diente}}'+"CL").css('border-top', '6px solid #ECECEC');
					    	$(".d"+'{{diente}}'+"CL").addClass(simboloCerLingu+' mdi-8px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'PIEZA COMPLETA' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloComple =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorComple =  '' %}					
					{% else %}
						{% set simboloComple =  ''%}
						{% set colorComple =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloComple = '{{simboloComple}}';
					    var colorComple = '{{colorComple}}';
					    if (colorComple != '') {
					    	//$(".d"+'{{diente}}'+"PC").removeClass().addClass("fa-3x d"+'{{diente}}'+"PC");
					    	$(".d"+'{{diente}}'+"PC").css({'background':colorComple,'top':'-25px','left':'-18px','width':'49px','opacity':'0.3'});
					    }else{
					    	//$(".d"+'{{diente}}'+"PC").css({'background':'','top':'','left':'','width':'','opacity':''});
					    	$(".d"+'{{diente}}'+"PC").addClass(simboloComple) ;
					    }
					</script>		 
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}