{% for piezaDentalOdon in piezaDentalOdontograma %}
  <tr data-id="{{piezaDentalOdon.idOdontogramaPaciente}}">
    <td class="text-left">{{ piezaDentalOdon.idPieza }}</td>
    <td class="text-left">{{ piezaDentalOdon.idRipTipoOdon | capitalize }}</td>
    <td class="text-left">{{ piezaDentalOdon.idSuperficie | capitalize }}</td>
    <td class="text-center">
      <!--button type="button" onclick="editarSuperficie({{piezaDentalOdon.idOdontogramaPaciente}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar diagnóstico pieza"><span class="fas fa-edit"></span></button--> 
      <form method="post" class ="eliminarDatoPaciente_{{piezaDentalOdon.idOdontogramaPaciente}}" action="{{ path('odontogramaPaciente_delete', {'idOdontogramaPaciente': piezaDentalOdon.idOdontogramaPaciente}) }}" >
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ piezaDentalOdon.idOdontogramaPaciente) }}">
      </form>

      <button class="btn btn-outline-danger" title="Eliminar" onclick="return confirmDeleteOdontoPaciente({{piezaDentalOdon.idOdontogramaPaciente}});"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
      {% if piezaDentalOdon.idSuperficie.nombre == 'OCLUSAL' %}
        {% if piezaDentalOdon.idRipTipoOdon.simbolo != ''%}
          {% set simboloOclusal =  piezaDentalOdon.idRipTipoOdon.simbolo %}    
          {% set colorOclusal =  '' %}          
        {% else %}
          {% set simboloOclusal =  ''%}
          {% set colorOclusal =  piezaDentalOdon.idRipTipoOdon.color %}          
        {% endif %} 
        <script>
            var simboloOclusal = '{{simboloOclusal}}';
            var colorOclusal = '{{colorOclusal}}';
            if (colorOclusal != '') {
              $(".gO").css('background',colorOclusal);
            }else{
              $(".gO").addClass(simboloOclusal+' mdi-36px') ;
            } 
        </script>
      {% elseif piezaDentalOdon.idSuperficie.nombre == 'VESTIBULAR' %}
        {% if piezaDentalOdon.idRipTipoOdon.simbolo != ''%}
          {% set simboloVesti =  piezaDentalOdon.idRipTipoOdon.simbolo %}    
          {% set colorVesti =  '' %}          
        {% else %}
          {% set simboloVesti =  ''%}
          {% set colorVesti =  piezaDentalOdon.idRipTipoOdon.color %}          
        {% endif %} 
        <script>
            var simboloVesti = '{{simboloVesti}}';
            var colorVesti = '{{colorVesti}}';
            if (colorVesti != '') {
              $(".gV").css('border-bottom','25px solid '+colorVesti);
            }else{
              $(".gV").addClass(simboloVesti+' mdi-22px') ;
            }
        </script>
      {% elseif piezaDentalOdon.idSuperficie.nombre == 'LINGUAL' %}
        {% if piezaDentalOdon.idRipTipoOdon.simbolo != ''%}
          {% set simboloLingual =  piezaDentalOdon.idRipTipoOdon.simbolo %}    
          {% set colorLingual =  '' %}          
        {% else %}
          {% set simboloLingual =  ''%}
          {% set colorLingual =  piezaDentalOdon.idRipTipoOdon.color %}          
        {% endif %} 
        <script>
            var simboloLingual = '{{simboloLingual}}';
            var colorLingual = '{{colorLingual}}';
            if (colorLingual != '') {
              $(".gL").css('border-top','25px solid '+colorLingual);
            }else{
              $(".gL").addClass(simboloLingual+' mdi-22px') ;
            }
        </script>
      {% elseif piezaDentalOdon.idSuperficie.nombre == 'MESIAL' %}
        {% if piezaDentalOdon.idRipTipoOdon.simbolo != ''%}
          {% set simboloMesial =  piezaDentalOdon.idRipTipoOdon.simbolo %}   
          {% set colorMesial =  '' %}         
        {% else %}
          {% set simboloMesial =  ''%}
          {% set colorMesial =  piezaDentalOdon.idRipTipoOdon.color %}         
        {% endif %} 
        <script>
            var simboloMesial = '{{simboloMesial}}';
            var colorMesial = '{{colorMesial}}';
            if (colorMesial != '') {
              $(".gM").css('border-right','25px solid '+colorMesial);
            }else{
              $(".gM").addClass(simboloMesial+' mdi-22px') ;
            }
        </script>
      {% elseif piezaDentalOdon.idSuperficie.nombre == 'DISTAL' %}
        {% if piezaDentalOdon.idRipTipoOdon.simbolo != ''%}
          {% set simboloDistal =  piezaDentalOdon.idRipTipoOdon.simbolo %}   
          {% set colorDistal =  '' %}         
        {% else %}
          {% set simboloDistal =  ''%}
          {% set colorDistal =  piezaDentalOdon.idRipTipoOdon.color %}         
        {% endif %} 
        <script>
            var simboloDistal = '{{simboloDistal}}';
            var colorDistal = '{{colorDistal}}';
            if (colorDistal != '') {
              $(".gD").css('border-left','25px solid '+colorDistal);
            }else{
              $(".gD").addClass(simboloDistal+' mdi-22px') ;
            }
        </script>
      {% elseif piezaDentalOdon.idSuperficie.nombre == 'CERVICAL VESTIBULAR' %}
        {% if piezaDentalOdon.idRipTipoOdon.simbolo != ''%}
          {% set simboloCerVesti =  piezaDentalOdon.idRipTipoOdon.simbolo %}   
          {% set colorCerVesti =  '' %}         
        {% else %}
          {% set simboloCerVesti =  ''%}
          {% set colorCerVesti =  piezaDentalOdon.idRipTipoOdon.color %}         
        {% endif %} 
        <script>
            var simboloCerVesti = '{{simboloCerVesti}}';
            var colorCerVesti = '{{colorCerVesti}}';
            if (colorCerVesti != '') {
              $(".gCV").css('border-bottom','12px solid '+colorCerVesti);
            }else{
              $(".gCV").addClass(simboloCerVesti+' mdi-11px') ;
            }
        </script>
      {% elseif piezaDentalOdon.idSuperficie.nombre == 'CERVICAL LINGUAL' %}
        {% if piezaDentalOdon.idRipTipoOdon.simbolo != ''%}
          {% set simboloCerLingu =  piezaDentalOdon.idRipTipoOdon.simbolo %}   
          {% set colorCerLingu =  '' %}         
        {% else %}
          {% set simboloCerLingu =  ''%}
          {% set colorCerLingu =  piezaDentalOdon.idRipTipoOdon.color %}         
        {% endif %} 
        <script>
            var simboloCerLingu = '{{simboloCerLingu}}';
            var colorCerLingu = '{{colorCerLingu}}';
            if (colorCerLingu != '') {
              $(".gCL").css('border-top', '12px solid '+colorCerLingu);
            }else{
              $(".gCL").addClass(simboloCerLingu+' mdi-11px') ;
            }
        </script>
      {% elseif piezaDentalOdon.idSuperficie.nombre == 'PIEZA COMPLETA' %}
        {% if piezaDentalOdon.idRipTipoOdon.simbolo != ''%}
          {% set simboloComple =  piezaDentalOdon.idRipTipoOdon.simbolo %}   
          {% set colorComple =  '' %}         
        {% else %}
          {% set simboloComple =  ''%}
          {% set colorComple =  piezaDentalOdon.idRipTipoOdon.color %}         
        {% endif %} 
        <script>
            var simboloComple = '{{simboloComple}}';
            var colorComple = '{{colorComple}}';
            if (colorComple != '') {
              $(".piezaCompleta").css({'background':colorComple,'border':'5px solid '+colorComple,'opacity':'0.9'});
            }else{
              $(".piezaCompleta").empty();
              $(".piezaCompleta").append("<i class='fa-3x'></i><br>");
              $(".piezaCompleta").append("<small class='text-secondary'>&nbsp;&nbsp;Pieza Completa</small>");
              $(".piezaCompleta i").addClass(simboloComple) ;
            }
        </script>    
      {% endif %}       
    </td>
  </tr>
{% endfor %}
              

  
