{% extends 'base.html.twig' %}

{% block title %}Edit OdontogramaPaciente{% endblock %}

{% block body %}
    <h1>Edit OdontogramaPaciente</h1>

    {{ include('odontogramaPaciente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('odontogramaPaciente_index') }}">back to list</a>

    {{ include('odontogramaPaciente/_delete_form.html.twig') }}
{% endblock %}
