{% extends 'baseModal.html.twig' %}
{% block title %}Listado odontograma{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
    <!-- Encabezado del modal-->
        <div class="modal-header ">
            <div class="text-center w-100">
                <h3 class="modal-title">LISTADO ODONTOGRAMAS PACIENTE</h3>
                <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
            </div>
            <a href="{{ path('odontogramaPaciente_new', {'idPaciente':paciente.idPaciente}) }}">
            <button type="button" title="Cerrar" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </a>      
        </div>
        <!--Body de Modal-->
          
        <div class="modal-body">
            <div class="table-responsive-lg mt-3">
                <table class="table" id="table_odontograma">
                    <thead>
                          <tr>  
                            <th class="text-center w-25">Fecha creación</th>
                            <th class="text-center w-25">Tipo</th>
                            <th class="text-right w-25">Acciones</th>
                          </tr>
                    </thead>
                    <tbody>
                    {% for odontograma in odontogramas %}
                        <tr>
                          <td class="text-left">{{  odontograma.fechaApertura ? odontograma.fechaApertura | date('Y-m-d H:i:s') : ''}}</td>
                          <td class="text-left">{% if  odontograma.numeroOdontograma == 1 %}  Odontograma inicial {% else %}Odontograma final {% endif %}</td>
                          <td class="text-right" >
                            <a href="{{ path('odontogramaPaciente_consultaInicial', {'idPaciente':paciente.idPaciente,'idOdontograma':odontograma.idOdontograma}) }}" title="x"><button  class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                          </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>     
        </div>    
    </div>
</div>  
{% endblock %}
