{% extends 'base.html.twig' %}
{% block title %}Registrar odontograma{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
	{{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">   
	        <div class="modal-header ">
	            <div class="text-center w-100">
	                <h3 class="modal-title">ODONTOGRAMA PACIENTE</h3>
	                <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
	            </div>
	            <button type="button" class="btn btn-outline-warning" onclick="detalleOdontograma({{paciente.idPaciente}})">Consultar examen</button>     
	        </div>         
            <!--div class="row mt-2">
                <div class="text-center w-75 col-10">
                	<h3 class="modal-title" style="margin-left: 25%;">ODONTOGRAMA PACIENTE</h3>                	
			        <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
                </div> 
                <div class="text-rigth col-2">
                	<button type="button" class="btn btn-outline-warning" onclick="detalleOdontograma({{paciente.idPaciente}})">Consultar examen</button>
                </div>              
            </div-->
          	<div class="card-body">
	            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
	            {%  for flashMessage in app.flashes('mensaje') %}
	                <div class=" alert alert-success" role="alert">
	                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	                    <div> {{ flashMessage }}</div> 
	                </div>
	            {% endfor %}
	            {%  for flashMessage in app.flashes('error') %}
	                <div class="alert alert-danger alert-dismissable" role="alert">
	                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	                    <div id="resp"> {{ flashMessage }}</div> 
	                </div>
	            {% endfor %}
	        	

				<style type="text/css">
					.subMenu{
						width: 100%;
					}
					.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
					    color: #fff;
					    background-color: #f1f5f7;
					}
					.menuExamenes{
					    width: 240px;
					    background: #fff;
					    bottom: 0;
					    padding: 20px 0;
					    position: fixed;
					    -webkit-transition: all .2s ease-out;
					    transition: all .2s ease-out;
					    top: 240px;
					    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
					    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
					}

					td{
						min-width: 58px;
						min-height: 113px;
						padding-left: 5px;
					}

					.trapecio-top-small {
					    width: 30px;
					    height: 0px;
					    border-right: 5px solid transparent;
					    border-left: 5px solid transparent;
					    border-bottom: 6px solid #ECECEC;
					    padding: 1px;
					    margin-left: 13px;
					    text-align: center;
					}
					.trapecio-bottom-small {
					    width: 30px;
					    height: 0px;
					    border-right: 5px solid transparent;
					    border-left: 5px solid transparent;
					    border-top: 6px solid #ECECEC;
					    padding: 1px;
					    margin-left: 13px;
					}

					.trapecio-top {
					    width: 30px;
					    height: 0px;
					    border-right: 5px solid transparent;
					    border-left: 5px solid transparent;
					    border-bottom: 10px solid #ECECEC;
					    padding: 1px;
					    margin-left: 13px;
					    text-align: center;
					}
					.trapecio-bottom {
					    width: 30px;
					    height: 0px;
					    border-right: 5px solid transparent;
					    border-left: 5px solid transparent;
					    border-top: 10px solid #ECECEC;
					    padding: 1px;
					    margin-left: 13px;
					}

					.trapecio-right {
					    width: 0px;
					    height: 30px;
					    border-top: 5px solid transparent;
					    border-bottom: 5px solid transparent;
					    border-left: 10px solid #ECECEC;
					    padding: 1px;
					}
					.trapecio-left{
						width: 0px;
					    height: 30px;
					    border-top: 5px solid transparent;
					    border-bottom: 5px solid transparent;
					    border-right: 10px solid #ECECEC;
					    padding: 1px;
					}
						

					.circulo {
					     width: 30px;
					     height: 30px;
					     -moz-border-radius: 50%;
					     -webkit-border-radius: 50%;
					     border-radius: 50%;
					     background: #ECECEC;
					     border: 1px solid #ECECEC;
					     text-align: center;
						 padding-top: 3px;

					}
					.min-text{
						font-size: 12px;
					}

					.trapecio-top-smallGeneral {
					    width: 70px;
					    height: 0px;
					    border-right: 10px solid transparent;
					    border-left: 10px solid transparent;
					    border-bottom: 12px solid #ECECEC;
					    padding: 1px;
					    margin-left: 27px;
					    text-align: center;
					}
					.trapecio-bottom-smallGeneral {
					    width: 70px;
					    height: 0px;
					    border-right: 10px solid transparent;
					    border-left: 10px solid transparent;
					    border-top:12px solid #ECECEC;
					    padding: 1px;
					    margin-left: 27px;
					    text-align: center;
					}

					.trapecio-topGeneral {
					    width: 70px;
					    height: 0px;
					    border-right: 10px solid transparent;
					    border-left: 10px solid transparent;
					    border-bottom: 25px solid #ECECEC;
					    padding: 1px;
					    margin-left: 27px;
					    text-align: center;
					}
					.trapecio-bottomGeneral {
					    width: 70px;
					    height: 0px;
					    border-right: 10px solid transparent;
					    border-left: 10px solid transparent;
					    border-top: 25px solid #ECECEC;
					    padding: 1px;
					    margin-left: 27px;
					    text-align: center;
					}

					.trapecio-rightGeneral {
					    width: 0px;
					    height: 70px;
					    border-top: 10px solid transparent;
					    border-bottom: 10px solid transparent;
					    border-left: 25px solid #ECECEC;
					    
					}
					.trapecio-leftGeneral{
						width: 0px;
					    height: 70px;
					    border-top: 10px solid transparent;
					    border-bottom: 10px solid transparent;
					    border-right: 25px solid #ECECEC;
					    padding: 15px;
					}
						

					.circuloGeneral {
					     width: 70px;
					     height: 70px;
					     -moz-border-radius: 50%;
					     -webkit-border-radius: 50%;
					     border-radius: 50%;
					     background: #ECECEC;
					     border: 1px solid #ECECEC;
					}

					.flex-parent{
					  display: -ms-flex;
					  display: -webkit-flex;
					  display: flex;
					}
					 
					.flex-child{
					  display: -ms-flex;
					  display: -webkit-flex;
					  display: flex;
					  justify-content: center;
					  flex-direction: column;
					}

					.super-parent{
					  display: -ms-flex;
					  display: -webkit-flex;
					  display: flex;
					}
					 
					.super-child{
					  display: -ms-flex;
					  display: -webkit-flex;
					  display: flex;
					  justify-content: flex-end;
					  flex-direction: column;
					  text-align: center
					}

					#padre {
						position: relative;
					}
					#hijo {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						width: 117%;
						height: 67%;
						margin: auto;
					}
					.rightVertical{
						display: flex;
						justify-content: flex-start;
						flex-direction: row-reverse;
						align-items: center;
					}
					.piezaCompleta{
						border:1px solid #D5CFCF;
						margin-left: 10%;
					}
					.mdi-36px.fas,.mdi-36px.far,.mdi-36px.far,.mdi-36px.fab:before {
					    font-size: 36px;
					}
					.mdi-22px.fas,.mdi-22px.far,.mdi-22px.far,.mdi-22px.fab:before {
					    font-size: 22px;
					}

					.mdi-11px.fas,.mdi-11px.far,.mdi-11px.far,.mdi-11px.fab:before {
					    font-size: 11px;
					}
					.mdi-8px.fas,.mdi-8px.far,.mdi-8px.far,.mdi-8px.fab:before {
					    font-size: 8px;
					}
					.gM:before{
						margin-left: 15px;
					}
				</style>
				<!--ul class="list-unstyled topnav-menu topnav-menu-left m-0">
			        <li>
			            <button class="button-menu-mobile waves-effect waves-light">
			                <i class="fe-menu"></i>
			            </button>
			        </li>
			    </ul>
	                    
            	<div class="menuExamenes">

				    <div class="slimscroll-menu">
				        <div id="sidebar-menu">

				            <ul class="metismenu" id="side-menu">
				                <li>hola</li>
				                <li>hola</li>
				                <li>hola</li>
				                <li>hola</li>
				                <li>hola</li>
				            </ul>
				        </div>
				    </div>
				</div-->
				{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formOdontogramaPaciente'} }) }} 
				<div  class="row formOdontograma" hidden>
					<div class="col-12">
					<div class="text-center"><h3>Diagnóstico dental diente #<b class="idDiente"></b></h3></div>
	                    <div class="row mb-3 flex-parent"> 
	                    	<div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
	            				<div class="row justify-content-center ">
	            					<div class="trapecio-top-smallGeneral gCV "></div>	
	            				</div>
	            				<div class="row justify-content-center ">
	            					<div class="trapecio-topGeneral gV "></div>		            					
	            				</div>
	            				<div class="row justify-content-center">
	            					<div class="trapecio-leftGeneral gM"></div>
	            					<div class="circuloGeneral gO flex-child text-center"></div>
	            					<div class="trapecio-rightGeneral gD rightVertical"></div>
	            				</div>
	            				<div class="row justify-content-center super-parent">
	            					<div class="trapecio-bottomGeneral gL super-child"></div>
	            				</div>
	            				<div class="row justify-content-center super-parent">
	            					<div class="trapecio-bottom-smallGeneral gCL super-child"></div>
	            				</div>
	            				<div class="text-center piezaCompleta"><small class="text-secondary">&nbsp;&nbsp;Pieza Completa</small></div>
	                    		<div class="invalid-feedback idSuper text-center">{{ form_errors(form.idSuperficie)}}</div>
	                    	</div>
							<div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 flex-child">                
					            <label for="idRipTipoOdon" class="fles">Diagnóstico</label>&nbsp;<label class="text-danger fles">*</label>
					        </div>
					        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 flex-child form-group">    
					            {{ form_widget(form.idRipTipoOdon) }}
					            <div class="invalid-feedback" id="idRipTipoOdonError">{{ form_errors(form.idRipTipoOdon)}}</div>
					        </div>
					        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12 flex-child">                
					            <label for="idDiagPrincipal" class="fles">Tipo</label>&nbsp;<label class="text-danger fles">*</label>
					        </div>
					        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 flex-child form-group">    
					            {{ form_widget(form.idDiagPrincipal) }}
					            <div class="invalid-feedback" id="idRipTipoOdonError">{{ form_errors(form.idDiagPrincipal)}}</div>
					        </div>
							<div hidden>
								{{ form_widget(form.idUsuarioProfesional) }}
								{{ form_widget(form.idSuperficie) }}
								{{ form_widget(form.idPieza) }}
								{{ form_widget(form.idOdontograma) }}
								<input type="hidden" name="idPacienteOdontograma" value="{{odontogramaPaciente.idOdontograma.idPaciente.idPaciente}}">
							</div>
							<hr>
		                </div>
		                <div class="text-center">
		                	<button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
		                </div>
		                <div class="table-responsive col-12">
			                <table class="table" id="table_piezaDental" width="100%">
			                    <thead>
			                        <tr class="bg-primary">
			                            <th colspan="7" class="text-center text-light">Listados diagnóstico pieza</th>
			                        </tr>
			                        <tr>  
			                            <th class="text-left">Pieza dental</th>
			                            <th class="text-left w-25">Diagnóstico</th>
			                            <th class="text-left">Cara</th>                       
			                            <th class="text-center w-25">Acciones</th>
			                        </tr>
			                    </thead>                      
			                    <tbody id="datosPiezaDental">
			                    	
			                    </tbody>
			              	</table>
		              	</div>
                	</div>
				</div>
					{{ form_end(form) }}
				<div class="row">                
					<div class="col-2">
						{{ include('menuIzquierdoPaciente.html.twig') }}
		            </div>
	                <div class="col-10">
		            	<table>
		            		<tr>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/18_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/17_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/16_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/15_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/14_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/13_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/12_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/11_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/21_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/22_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/23_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/24_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/25_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/26_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/27_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/28_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            		</tr>
		            		<tr>
		            			<td id="padre">
			            			<i id="hijo" class="d18PC fa-3x"></i>
			            				<div class="row">
			            					<div class="trapecio-top-small d18CV"></div>	
			            				</div>
			            				<div class="row">
			            					<div class="trapecio-top d18V"></div>		            					
			            				</div>
			            				<div class="row" >
			            					<div class="trapecio-left d18M flex-child"></div>
			            					<div class="circulo d18O flex-child text-center"></div>
			            					<div class="trapecio-right d18D rightVertical"></div>
			            				</div>
			            				<div class="row super-parent">
			            					<div class="super-child trapecio-bottom d18L"></div>
			            				</div>
			            				<div class="row super-parent">
			            					<div class="super-child trapecio-bottom-small d18CL"></div>
			            				</div>
			            			
			            			<div class="row text-center col-12">
			            				<button type="button" onclick="creacionOdontograma(1,18,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d18">18</button>
			            			</div>
			            			
			            		</td>
		            			<td id="padre">
		            				<i id="hijo" class="d17PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d17CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d17V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d17M flex-child"></div>
		            					<div class="circulo d17O flex-child text-center"></div>
		            					<div class="trapecio-right d17D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d17L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class=" super-child trapecio-bottom-small d17CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(2,17,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d17">17</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d16PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d16CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d16V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d16M flex-child"></div>
		            					<div class="circulo d16O flex-child text-center"></div>
		            					<div class="trapecio-right d16D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d16L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d16CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(3,16,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d16">16</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d15PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d15CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d15V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d15M flex-child"></div>
		            					<div class="circulo d15O flex-child text-center"></div>
		            					<div class="trapecio-right d15D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d15L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d15CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(4,15,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d15">15</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d14PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d14CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d14V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d14M flex-child"></div>
		            					<div class="circulo d14O flex-child text-center"></div>
		            					<div class="trapecio-right d14D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d14L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d14CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(5,14,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d14">14</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d13PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d13CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d13V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d13M flex-child"></div>
		            					<div class="circulo d13O flex-child text-center"></div>
		            					<div class="trapecio-right d13D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d13L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d13CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(6,13,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d13">13</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d12PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d12CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d12V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d12M flex-child"></div>
		            					<div class="circulo d12O flex-child text-center"></div>
		            					<div class="trapecio-right d12D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d12L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d12CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(7,12,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d12">12</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d11PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d11CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d11V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d11M flex-child"></div>
		            					<div class="circulo d11O flex-child text-center"></div>
		            					<div class="trapecio-right d11D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d11L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d11CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(8,11,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d11">11</button>
		            				</div>
		            			</td>
		            			<td></td>
		            			<td id="padre">
		            				<i id="hijo" class="d21PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d21CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d21V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d21M flex-child"></div>
		            					<div class="circulo d21O flex-child text-center"></div>
		            					<div class="trapecio-right d21D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d21L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d21CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(9,21,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d21">21</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d22PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d22CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d22V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d22M flex-child"></div>
		            					<div class="circulo d22O flex-child text-center"></div>
		            					<div class="trapecio-right d22D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d22L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d22CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(10,22,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d22">22</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d23PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d23CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d23V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d23M flex-child"></div>
		            					<div class="circulo d23O flex-child text-center"></div>
		            					<div class="trapecio-right d23D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d23L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d23CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(11,23,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d23">23</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d24PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d24CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d24V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d24M flex-child"></div>
		            					<div class="circulo d24O flex-child text-center"></div>
		            					<div class="trapecio-right d24D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d24L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d24CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(12,24,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d24">24</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d25PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d25CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d25V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d25M flex-child"></div>
		            					<div class="circulo d25O flex-child text-center"></div>
		            					<div class="trapecio-right d25D  "></div>
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-bottom d25L"></div>
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-bottom-small d25CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(13,25,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d25">25</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d26PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d26CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d26V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d26M flex-child"></div>
		            					<div class="circulo d26O flex-child text-center"></div>
		            					<div class="trapecio-right d26D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d26L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d26CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(14,26,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d26">26</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d27PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d27CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d27V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d27M flex-child"></div>
		            					<div class="circulo d27O flex-child text-center"></div>
		            					<div class="trapecio-right d27D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d27L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d27CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(15,27,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d27">27</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d28PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d28CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d28V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d28M flex-child"></div>
		            					<div class="circulo d28O flex-child text-center"></div>
		            					<div class="trapecio-right d28D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d28L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d28CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(16,28,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d28">28</button>
		            				</div>
		            			</td>
		            		</tr>
		            		<tr>
		            			<td></td>
		            			<td></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/17_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/16_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/15_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/14_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/11_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td></td>
		            			<td></td>
		            			<td></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/21_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/24_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/25_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/26_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/27_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td></td>
		            			<td></td>		            			
		            		</tr>
		            		<tr>
		            			<td></td>
		            			<td></td>		            			
		            			<td id="padre">
		            				<i id="hijo" class="d55PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d55CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d55V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d55M flex-child"></div>
		            					<div class="circulo d55O flex-child text-center"></div>
		            					<div class="trapecio-right d55D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d55L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d55CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(17,55,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d55">55</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d54PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d54CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d54V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d54M flex-child"></div>
		            					<div class="circulo d54O flex-child text-center"></div>
		            					<div class="trapecio-right d54D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d54L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d54CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(18,54,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d54">54</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d53PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d53CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d53V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d53M flex-child"></div>
		            					<div class="circulo d53O flex-child text-center"></div>
		            					<div class="trapecio-right d53D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d53L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d53CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(19,53,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d53">53</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d52PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d52CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d52V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d52M flex-child"></div>
		            					<div class="circulo d52O flex-child text-center"></div>
		            					<div class="trapecio-right d52D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d52L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d52CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(20,52,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d52">52</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d51PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d51CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d51V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d51M flex-child"></div>
		            					<div class="circulo d51O flex-child text-center"></div>
		            					<div class="trapecio-right d51D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d51L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d51CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(21,51,{{odontogramaPaciente.idOdontograma.idOdontograma}});"class="btn-outline-secondary d51">51</button>
		            				</div>
		            			</td>
		            			<td></td>
		            			<td></td>
		            			<td></td>
		            			<td id="padre">
		            				<i id="hijo" class="d61PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d61CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d61V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d61M flex-child"></div>
		            					<div class="circulo d61O flex-child text-center"></div>
		            					<div class="trapecio-right d61D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d61L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d61CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(22,61,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d61">61</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d62PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d62CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d62V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d62M flex-child"></div>
		            					<div class="circulo d62O flex-child text-center"></div>
		            					<div class="trapecio-right d62D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d62L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d62CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(23,62,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d62">62</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d63PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d63CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d63V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d63M flex-child"></div>
		            					<div class="circulo d63O flex-child text-center"></div>
		            					<div class="trapecio-right d63D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d63L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d63CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(24,63,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d63">63</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d64PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d64CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d64V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d64M flex-child"></div>
		            					<div class="circulo d64O flex-child text-center"></div>
		            					<div class="trapecio-right d64D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d64L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d64CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(25,64,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d64">64</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d65PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d65CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d65V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d65M flex-child"></div>
		            					<div class="circulo d65O flex-child text-center"></div>
		            					<div class="trapecio-right d65D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d65L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d65CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(26,65,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d65">65</button>
		            				</div>
		            			</td>
		            			<td></td>
		            			<td></td>
		            		</tr>
		            		<tr>
		            			<td></td>
		            			<td></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/47_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/46_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/45_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/44_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/41_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td></td>
		            			<td></td>
		            			<td></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/31_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/34_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/35_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/36_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/37_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td></td>
		            			<td></td>		            			
		            		</tr>
		            		<tr>
		            			<td></td>
		            			<td></td>		            			
		            			<td id="padre">
		            				<i id="hijo" class="d85PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d85CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d85V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d85M flex-child"></div>
		            					<div class="circulo d85O flex-child text-center"></div>
		            					<div class="trapecio-right d85D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d85L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d85CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(27,85,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d85">85</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d84PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d84CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d84V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d84M flex-child"></div>
		            					<div class="circulo d84O flex-child"></div>
		            					<div class="trapecio-right d84D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d84L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d84CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(28,84,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d84">84</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d83PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d83CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d83V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d83M flex-child"></div>
		            					<div class="circulo d83O flex-child text-center"></div>
		            					<div class="trapecio-right d83D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d83L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d83CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(29,83,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d83">83</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d82PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d82CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d82V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d82M flex-child"></div>
		            					<div class="circulo d82O flex-child text-center"></div>
		            					<div class="trapecio-right d82D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d82L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d82CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(30,82,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d82">82</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d81PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d81CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d81V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d81M flex-child"></div>
		            					<div class="circulo d81O flex-child text-center"></div>
		            					<div class="trapecio-right d81D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d81L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d81CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(31,81,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d81">81</button>
		            				</div>
		            			</td>
		            			<td></td>
		            			<td></td>
		            			<td></td>
		            			<td id="padre">
		            				<i id="hijo" class="d71PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d71CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d71V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d71M flex-child"></div>
		            					<div class="circulo d71O flex-child text-center"></div>
		            					<div class="trapecio-right d71D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d71L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d71CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(32,71,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d71">71</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d72PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d72CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d72V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d72M flex-child"></div>
		            					<div class="circulo d72O flex-child text-center"></div>
		            					<div class="trapecio-right d72D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d72L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d72CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(33,72,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d72">72</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d73PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d73CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d73V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d73M flex-child"></div>
		            					<div class="circulo d73O flex-child text-center"></div>
		            					<div class="trapecio-right d73D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d73L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d73CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(34,73,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d73">73</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d74PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d74CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d74V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d74M flex-child"></div>
		            					<div class="circulo d74O flex-child text-center "></div>
		            					<div class="trapecio-right d74D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class=" super-child trapecio-bottom d74L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class=" super-child trapecio-bottom-small d74CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(35,74,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d74">74</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d75PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d75CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d75V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d75M flex-child"></div>
		            					<div class="circulo d75O flex-child text-center"></div>
		            					<div class="trapecio-right d75D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d75L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d75CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(36,75,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d75">75</button>
		            				</div>
		            			</td>
		            			<td></td>
		            			<td></td>
		            		</tr>
		            		<tr>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/48_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/47_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/46_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/45_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/44_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/43_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/42_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/41_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/31_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/32_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/33_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/34_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/35_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/36_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/37_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            			<td><img src="{{ asset('light/dist/assets/images/imgOdontograma/38_diente.png')}}" alt="user-image" class="rounded-circle"></td>
		            		</tr>
		            		<tr>
		            			<td id="padre">
		            				<i id="hijo" class="d48PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d48CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d48V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d48M flex-child"></div>
		            					<div class="circulo d48O flex-child text-center"></div>
		            					<div class="trapecio-right d48D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d48L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d48CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(37,48,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d48">48</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d47PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d47CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d47V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d47M flex-child"></div>
		            					<div class="circulo d47O flex-child text-center"></div>
		            					<div class="trapecio-right d47D rightVertical super-parent"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d47L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d47CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(38,47,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d47">47</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d46PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d46CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d46V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d46M flex-child"></div>
		            					<div class="circulo d46O flex-child text-center"></div>
		            					<div class="trapecio-right d46D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d46L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d46CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(39,46,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d46">46</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d45PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d45CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d45V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d45M flex-child"></div>
		            					<div class="circulo d45O flex-child text-center"></div>
		            					<div class="trapecio-right d45D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d45L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d45CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(40,45,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d45">45</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d44PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d44CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d44V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d44M flex-child"></div>
		            					<div class="circulo d44O flex-child text-center"></div>
		            					<div class="trapecio-right d44D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d44L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d44CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(41,44,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d44">44</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d43PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d43CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d43V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d43M flex-child"></div>
		            					<div class="circulo d43O flex-child text-center"></div>
		            					<div class="trapecio-right d43D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d43L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d43CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(42,43,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d43">43</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d42PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d42CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d42V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d42M flex-child"></div>
		            					<div class="circulo d42O flex-child text-center"></div>
		            					<div class="trapecio-right d42D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d42L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d42CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(43,42,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d42">42</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d41PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d41CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d41V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d41M flex-child"></div>
		            					<div class="circulo d41O flex-child text-center"></div>
		            					<div class="trapecio-right d41D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d41L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d41CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(44,41,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d41">41</button>
		            				</div>
		            			</td>
		            			<td></td>
		            			<td id="padre">
		            				<i id="hijo" class="d31PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d31CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d31V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d31M flex-child"></div>
		            					<div class="circulo d31O flex-child text-center"></div>
		            					<div class="trapecio-right d31D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d31L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d31CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(45,31,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d31">31</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d32PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d32CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d32V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d32M flex-child"></div>
		            					<div class="circulo d32O flex-child text-center"></div>
		            					<div class="trapecio-right d32D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d32L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d32CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(46,32,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d32">32</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d33PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d33CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d33V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d33M flex-child"></div>
		            					<div class="circulo d33O flex-child text-center"></div>
		            					<div class="trapecio-right d33D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d33L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d33CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(47,33,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d33">33</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d34PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d34CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d34V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d34M flex-child"></div>
		            					<div class="circulo d34O flex-child text-center"></div>
		            					<div class="trapecio-right d34D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d34L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d34CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(48,34,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d34">34</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d35PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d35CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d35V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d35M flex-child"></div>
		            					<div class="circulo d35O flex-child text-center"></div>
		            					<div class="trapecio-right d35D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d35L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d35CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(49,35,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d35">35</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d36PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d36CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d36V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d36M flex-child"></div>
		            					<div class="circulo d36O flex-child text-center"></div>
		            					<div class="trapecio-right d36D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d36L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d36CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(50,36,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d36">36</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d37PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d37CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d37V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d37M flex-child"></div>
		            					<div class="circulo d37O flex-child text-center"></div>
		            					<div class="trapecio-right d37D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d37L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d37CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(51,37,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d37">37</button>
		            				</div>
		            			</td>
		            			<td id="padre">
		            				<i id="hijo" class="d38PC fa-3x"></i>
		            				<div class="row">
		            					<div class="trapecio-top-small d38CV"></div>	
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-top d38V"></div>		            					
		            				</div>
		            				<div class="row">
		            					<div class="trapecio-left d38M flex-child"></div>
		            					<div class="circulo d38O flex-child text-center"></div>
		            					<div class="trapecio-right d38D rightVertical"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom d38L"></div>
		            				</div>
		            				<div class="row super-parent">
		            					<div class="super-child trapecio-bottom-small d38CL"></div>
		            				</div>
		            				<div class="row text-center col-12">
		            					<button type="button" onclick="creacionOdontograma(52,38,{{odontogramaPaciente.idOdontograma.idOdontograma}});" class="btn-outline-secondary d38">38</button>
		            				</div>
		            			</td>
		            		</tr>
		            	</table>
	            	</div>
	            </div>
	            {% if odontogramaPaciente.idOdontograma.numeroOdontograma == 1%}
	            <br><br>
	            <div class="text-center">
	            	<a class="terminacionOdontoInicial" href="{{ path('odontogramaPaciente_duplicacion', {'idOdontograma':odontogramaPaciente.idOdontograma.idOdontograma}) }}"><button class="btn btn-outline-danger"><span class="fas fa-check"></span>&nbsp;&nbsp;Terminar odontograma inicial</button></a>
	            </div>
	        	{% endif %}
          	</div>
        </div>
    </div>
</div>
<div id="odontoPacienteGeneral">
	{% set piezaDental = [18,17,16,15,14,13,12,11,21,22,23,24,25,26,27,28,55,54,53,52,51,61,62,63,64,65,85,84,83,82,81,71,72,73,74,75,48,47,46,45,44,43,42,41,31,32,33,34,35,36,37,38] %}	
	{% for odontoPaci in odontoPacientes%}
		{% for i in  0..52 %}
			{% if odontoPaci.idPieza.codigoPieza == cycle(piezaDental, i) %}
				{% set diente = cycle(piezaDental, i) %}
					{#diente#}
				{% if odontoPaci.idSuperficie.nombre == 'OCLUSAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloOclusal =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorOclusal =  '' %}					
					{% else %}
						{% set simboloOclusal =  ''%}
						{% set colorOclusal =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloOclusal = '{{simboloOclusal}}';
					    var colorOclusal = '{{colorOclusal}}';
					    if (colorOclusal != '') {
					    	$(".d"+'{{diente}}'+"O").css('background',colorOclusal);
					    }else{
					    	$(".d"+'{{diente}}'+"O").addClass(simboloOclusal+' mdi-22px') ;
					    } 
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'VESTIBULAR' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloVesti =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorVesti =  '' %}					
					{% else %}
						{% set simboloVesti =  ''%}
						{% set colorVesti =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloVesti = '{{simboloVesti}}';
					    var colorVesti = '{{colorVesti}}';
					    if (colorVesti != '') {
					    	$(".d"+'{{diente}}'+"V").css('border-bottom','10px solid '+colorVesti);
					    }else{
					    	$(".d"+'{{diente}}'+"V").addClass(simboloVesti+' mdi-11px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'LINGUAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloLingual =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorLingual =  '' %}					
					{% else %}
						{% set simboloLingual =  ''%}
						{% set colorLingual =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloLingual = '{{simboloLingual}}';
					    var colorLingual = '{{colorLingual}}';
					    if (colorLingual != '') {
					    	$(".d"+'{{diente}}'+"L").css('border-top','10px solid '+colorLingual);
					    }else{
					    	$(".d"+'{{diente}}'+"L").addClass(simboloLingual+' mdi-11px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'MESIAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloMesial =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorMesial =  '' %}					
					{% else %}
						{% set simboloMesial =  ''%}
						{% set colorMesial =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloMesial = '{{simboloMesial}}';
					    var colorMesial = '{{colorMesial}}';
					    if (colorMesial != '') {
					    	$(".d"+'{{diente}}'+"M").css('border-right','10px solid '+colorMesial);
					    }else{
					    	$(".d"+'{{diente}}'+"M").addClass(simboloMesial+' mdi-11px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'DISTAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloDistal =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorDistal =  '' %}					
					{% else %}
						{% set simboloDistal =  ''%}
						{% set colorDistal =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloDistal = '{{simboloDistal}}';
					    var colorDistal = '{{colorDistal}}';
					    if (colorDistal != '') {
					    	$(".d"+'{{diente}}'+"D").css('border-left','10px solid '+colorDistal);
					    }else{
					    	$(".d"+'{{diente}}'+"D").addClass(simboloDistal+' mdi-11px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'CERVICAL VESTIBULAR' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloCerVesti =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorCerVesti =  '' %}					
					{% else %}
						{% set simboloCerVesti =  ''%}
						{% set colorCerVesti =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloCerVesti = '{{simboloCerVesti}}';
					    var colorCerVesti = '{{colorCerVesti}}';
					    if (colorCerVesti != '') {
					    	$(".d"+'{{diente}}'+"CV").css('border-bottom','6px solid '+colorCerVesti);
					    }else{
					    	$(".d"+'{{diente}}'+"CV").addClass(simboloCerVesti+' mdi-8px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'CERVICAL LINGUAL' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloCerLingu =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorCerLingu =  '' %}					
					{% else %}
						{% set simboloCerLingu =  ''%}
						{% set colorCerLingu =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloCerLingu = '{{simboloCerLingu}}';
					    var colorCerLingu = '{{colorCerLingu}}';
					    if (colorCerLingu != '') {
					    	$(".d"+'{{diente}}'+"CL").css('border-top', '6px solid '+colorCerLingu);
					    }else{
					    	$(".d"+'{{diente}}'+"CL").addClass(simboloCerLingu+' mdi-8px') ;
					    }
					</script>
				{% elseif odontoPaci.idSuperficie.nombre == 'PIEZA COMPLETA' %}
					{% if odontoPaci.idRipTipoOdon.simbolo != ''%}
						{% set simboloComple =  odontoPaci.idRipTipoOdon.simbolo %}		
						{% set colorComple =  '' %}					
					{% else %}
						{% set simboloComple =  ''%}
						{% set colorComple =  odontoPaci.idRipTipoOdon.color %}					
					{% endif %}	
					<script>
					    var simboloComple = '{{simboloComple}}';
					    var colorComple = '{{colorComple}}';
					    if (colorComple != '') {
					    	$(".d"+'{{diente}}'+"PC").css({'background':colorComple,'top':'-25px','left':'-18px','width':'49px','opacity':'0.3'});
					    }else{
					    	$(".d"+'{{diente}}'+"PC").addClass(simboloComple) ;
					    }
					</script>		 
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>

<div class="modal fade bd-example-modal-lg" id="datosOdontogramas"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function(){
	  //añejo de datatable 
	  newTable('#table_piezaDental');
	});
</script>
{% endblock %}