{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formTratamientoConvenioEdit'} }) }} 
<div class="row">
  <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
        <label for="idConvenio" class="control-label">Convenio</label>&nbsp;<label class="text-danger">*</label>
  </div>
  <div class="form-group col-sm-4 col-xg-4 col-lg-4 col-md-4">    
    <label>{{tratamientoConvenio.idConvenio}}</label>
  </div>
  <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
        <label for="idTratamiento" class="control-label">Tratamiento</label>&nbsp;<label class="text-danger">*</label>
  </div>
  <div class="form-group col-sm-4 col-xg-4 col-lg-4 col-md-4">    
    {{ form_widget(form.idTratamiento) }}
    <div class="invalid-feedback">{{ form_errors(form.idTratamiento)}}</div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
    <label for="porcentajeTratamiento" class="control-label">% Tratamiento</label>&nbsp;<label class="text-danger">*</label>
  </div>
  <div class="form-group col-xg-4 col-lg-4 col-md-4">     
    {{ form_widget(form.porcentajeTratamiento) }}
    <div class="invalid-feedback">{{ form_errors(form.porcentajeTratamiento)}}</div>
  </div> 
  <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
    <label for="porcentajeRemision" class="control-label">% Remisión</label>&nbsp;<label class="text-danger">*</label>
  </div>
  <div class="form-group col-xg-4 col-lg-4 col-md-4">     
    {{ form_widget(form.porcentajeRemision) }}
    <div class="invalid-feedback">{{ form_errors(form.porcentajeRemision)}}</div>
  </div> 
</div>
<div class="row mt-2">
  <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
    <label for="fechaApertura" class="control-label">% Tratamiento</label>&nbsp;<label class="text-danger">*</label>
  </div>
  <div class="form-group col-xg-10 col-lg-10 col-md-10">     
    {{ form_widget(form.fechaApertura) }}
    <div class="invalid-feedback">{{ form_errors(form.fechaApertura)}}</div>
  </div> 
</div>
<div hidden>
  {{ form_widget(form.estado) }}
  {{ form_widget(form.idUsuarioIngresa) }}
  {{ form_widget(form.idConvenio) }}
  {{ form_widget(form._token) }}
  <input type="hidden" id="fechaAperturaConvenio" value="{{tratamientoConvenio.idConvenio.fechaApertura ? tratamientoConvenio.idConvenio.fechaApertura|date('d M Y')}}">
  <input type="hidden" id="fechaFinalizacionConvenio" value="{{tratamientoConvenio.idConvenio.fechaFinalizacion ? tratamientoConvenio.idConvenio.fechaFinalizacion|date('d M Y')}}">
</div>          
<hr>
<div class="text-center">          
  <a href="{{ path('convenio_index') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>
  <button type="submit" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>            
</div>
{{ form_end(form) }}