{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar convenio tratamiento{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR CONVENIO TRATAMIENTO</h3></div>
        {{ include('tratamientoConvenio/_delete_form.html.twig') }}
        <a href="{{ path('convenio_index') }}">
        <button type="button" title="Cerrar" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
        {{ include('tratamientoConvenio/_form.html.twig') }}
    </div>
    <input type="hidden" id="idConvenioTratamiento" value="{{tratamientoConvenio.idTratamientoConvenio}}">
    
  </div>
</div>  
{% endblock %}
