<form method="post" class ="eliminarDato fles" action="{{ path('presupuesto_delete', {'idPresupuesto': presupuesto.idPresupuesto}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presupuesto.idPresupuesto) }}">
    <button class="btn btn-sm btn-outline-danger" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete"></span></button>
</form>