    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idTratamiento">Tratamiento</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idTratamiento) }}
            <div class="invalid-feedback">{{ form_errors(form.idTratamiento)}}</div>
       </div>
    </div> 
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idPieza">Área bucal</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
          <select name="areBucalPresupuesto" id="areBucalPresupuesto" required="" >
            <option value="">Seleccione área bucal</option>
            <option value="pieza">Piezas dentales</option>
            <option value="maxilar">Área maxilar</option>
          </select>
          <div class="invalid-feedback"></div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idPieza" class="nombrePiezaDental">Pieza</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
          {{ form_widget(form.idPieza, {'attr': {'disabled': 'true'}}) }}
          <div class="invalid-feedback">{{ form_errors(form.idPieza)}}</div>
        </div>
    </div>    
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 superficie">                
            <label for="idSuperficie">Superficie</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12 superficie"> 
            {{ form_widget(form.idSuperficie) }}
            <div class="invalid-feedback">{{ form_errors(form.idSuperficie)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idProcedimiento">Procedimiento</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12 proceSelect"> 
            {{ form_widget(form.idProcedimiento) }}
            <div class="invalid-feedback">{{ form_errors(form.idProcedimiento)}}</div>
       </div>
    </div>

    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="iva">Iva</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.iva) }}
            <div class="invalid-feedback">{{ form_errors(form.iva)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idConvenio">Convenio</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idConvenio) }}
            <div class="invalid-feedback">{{ form_errors(form.idConvenio)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="valorAprobado">Valor aprobado</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.valorAprobado) }}
            <div class="invalid-feedback">{{ form_errors(form.valorAprobado)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="porcentajeDescuento" class="fles">Porcentaje descuento</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.porcentajeDescuento) }}
            <div class="invalid-feedback">{{ form_errors(form.porcentajeDescuento)}}</div>
       </div>
    </div>
    <hr>
    <div hidden>
      {{ form_widget(form.idPlanTratamiento) }}
    </div>
	<div class="text-center">
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
