{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar presupuesto plan{% endblock %}
{% block body %}

	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
	    <!-- Encabezado del modal-->
	    <div class="modal-header ">
	    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR PRESUPUESTO PLAN</h3></div>
	    	{{ include('presupuesto/_delete_form.html.twig') }}
	        <a href="{{ path('plan_show',{'idPlanTratamiento':presupuesto.idPlanTratamiento.idPlanTratamiento,'tipo':'edit'}) }}">
	      	<button type="button" title="Cerrar" class="close" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
		      </button>
		    </a>
	      
	    </div>
	    <!--Body de Modal-->
	      
	    <div class="modal-body">
	      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formPresupuestoEdit'} }) }} 
			   {{ include('presupuesto/_form.html.twig') }}
	    </div>
	    <input type="hidden" id="idPresupuesto" value="{{presupuesto.idPresupuesto}}">
	    
	  </div>
	</div> 
	<div class='modalCargando'></div>  
{% endblock %}
