{% extends 'base.html.twig' %}
{% block title %}Plan tratamiento paciente{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    {{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">
          
            <div class="card-body"> 
                <div class="modal-header hearVisual">
                    <div class="text-center w-100">
                        <h3 class="modal-title">PLAN TRATAMIENTO PACIENTE</h3>
                        <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
                    </div>              
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                <div class="row mt-2">
                    <div class="col-12 text-left">
                        <button  type="button" class="btn btn-sm btn-success waves-effect waves-light" data-toggle="collapse" data-target="#collapsePlanTratamiento" aria-expanded="false" aria-controls="collapsePlanTratamiento"><span class="fas fa-plus"></span>&nbsp;&nbsp;Crear tratamiento</button>
                    </div>
                </div>
                <div class="crearForm_planTratamiento collapse" id="collapsePlanTratamiento" >
                    <hr><br><br>
                    <div class="card">
                        <div class="card-header bg-info py-3 text-white">
                            <div class="card-widgets">
                                <!--a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a-->
                                <a data-toggle="collapse" href="#cardCollpase7" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                                <!--a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a-->
                            </div>
                            <h5 class="card-title mb-0 text-white">Registro presupuestos del plan</h5>
                        </div>
                        <div id="cardCollpase7" class="collapse show">
                            <div class="card-body">
                                {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formPresupuestos'} }) }} 
                                {{ include('presupuesto/_form.html.twig') }}                                                  
                            </div>
                        </div>
                    </div>
                    <br><br>
                     <div class="row">
                        <div class="col-12">                        
                            <div class="table-responsive"  >
                                <table class="table table-hover" id="table_presupuestos">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Tratamiento</th>
                                            <th class="text-center w-25">Área bucal</th>
                                            <th class="text-center w-25">Superficie</th>
                                            <th class="text-center">Cups</th>
                                            <th class="text-center">Convenio</th>
                                            <th class="text-center w-25">Costo tratamiento</th>
                                            <th class="text-center">% Descuento</th>
                                            <th class="text-center">% Descuento por convenio</th>
                                            <th class="text-center w-25">Valor tratamiento</th>
                                            <th class="text-center w-25">Iva %</th>
                                            <th class="text-center w-25">Valor total</th>
                                            <th class="text-right">Acciones</th>
                                        </tr>                                        
                                    </thead>
                                    <tbody>
                                    {% if  presupuestos | length > 0%}
                                        {% for presupuesto in presupuestos%}
                                            <tr>
                                                <td class="text-left">{{presupuesto.idTratamiento}}</td>
                                                <td class="text-left">{{ presupuesto.idPieza }}</td>
                                                <td class="text-left">{{ presupuesto.idSuperficie ? presupuesto.idSuperficie : '-' }}</td>
                                                <td class="text-left">{{ presupuesto.idProcedimiento ? presupuesto.idProcedimiento : '-' }}</td>                                            
                                                <td class="text-left">{{ presupuesto.idConvenio ? presupuesto.idConvenio : '-' }}</td>
                                                <td class="text-left">{{ presupuesto.valorAprobado ? presupuesto.valorAprobado |number_format(0,".") : '-' }}</td>                                            
                                                <td class="text-left">{{ presupuesto.porcentajeDescuento ? presupuesto.porcentajeDescuento : '-' }}</td>
                                                <td class="text-left">
                                                    {% if presupuesto.idPlanTratamiento.idPaciente.idEps != ''%}
                                                        {% if presupuesto.idConvenio != ''%}
                                                            {% for trataConvenio in trataConvenios%}
                                                                {% if presupuesto.idConvenio.idConvenio == trataConvenio.idConvenio.idConvenio %}
                                                                    {% if trataConvenio.idTratamiento.idTratamiento == presupuesto.idTratamiento.idTratamiento %}
                                                                        {% if trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                            {{trataConvenio.idConvenio.porcentajeDescuento+ trataConvenio.porcentajeTratamiento}}
                                                                        {% elseif trataConvenio.idConvenio.porcentajeDescuento == '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                            {{trataConvenio.porcentajeTratamiento}}
                                                                        {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento == '' %}
                                                                            {{trataConvenio.idConvenio.porcentajeDescuento}}
                                                                        {% else %}    
                                                                            <p class="text-center">-</p>
                                                                        {% endif %}
                                                                    {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' %}
                                                                        {{trataConvenio.idConvenio.porcentajeDescuento}}
                                                                    {% else %}    
                                                                        <p class="text-center">-</p>
                                                                    {% endif %}                                                            
                                                                {% endif %}                                                            
                                                            {% endfor %}
                                                        {% else %}
                                                            <p class="text-center">-</p>
                                                        {% endif %}
                                                    {% else %}
                                                        <p class="text-center">-</p>
                                                    {% endif %}
                                                </td>
                                                <td class="text-left">
                                                    {% set valorPorcentaje =  presupuesto.porcentajeDescuento/100 %}
                                                    {% if presupuesto.idPlanTratamiento.idPaciente.idEps != ''%}
                                                        {% if presupuesto.idConvenio != ''%}
                                                            {% for trataConvenio in trataConvenios%}
                                                                {% if presupuesto.idConvenio.idConvenio == trataConvenio.idConvenio.idConvenio %}

                                                                    {% if trataConvenio.idTratamiento.idTratamiento == presupuesto.idTratamiento.idTratamiento %}
                                                                        {% if trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                            {% set sumaPorcentajes =trataConvenio.idConvenio.porcentajeDescuento+ trataConvenio.porcentajeTratamiento%}

                                                                            {% set porcentajeDescuentoTrataConvenio = sumaPorcentajes/100%}

                                                                            {% if presupuesto.porcentajeDescuento != ''%}
                                                                                {% set disminucionPorcentaje = presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                                {% set totalPrestacion = presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {{ totalPrestacion | number_format(0,".")  }}
                                                                            {% else %}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% elseif trataConvenio.idConvenio.porcentajeDescuento == '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                            {% set porcentajeDescuentoTrataConvenio = trataConvenio.porcentajeTratamiento/100%}

                                                                            {% if presupuesto.porcentajeDescuento != ''%}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {{ totalPrestacion | number_format(0,".")  }}
                                                                            {% else %}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento == '' %}

                                                                            {% set porcentajeDescuentoTrataConvenio=trataConvenio..idConvenio.porcentajeDescuento/100%}

                                                                            {% if presupuesto.porcentajeDescuento != ''%}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% else %}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' %}
                                                                        {% set porcentajeDescuentoTrataConvenio=trataConvenio.idConvenio.porcentajeDescuento /100%}

                                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {{ totalPrestacion | number_format(0,".")  }}
                                                                        {% else %}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {{ totalPrestacion | number_format(0,".") }}
                                                                        {% endif %}
                                                                    {% else %}    
                                                                        <p class="text-center">0</p>
                                                                    {% endif %}                                                            
                                                                {% endif %}                                                            
                                                            {% endfor %}
                                                        {% else %}                                                            
                                                            {% if presupuesto.porcentajeDescuento != ''%}
                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * valorPorcentaje %}
                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                {{ totalPrestacion | number_format(0,".")  }}
                                                            {% else %}
                                                                {{ presupuesto.valorAprobado | number_format(0,".")  }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                        {% set disminucionPorcentaje= presupuesto.valorAprobado * valorPorcentaje %}
                                                        {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                            {{ totalPrestacion | number_format(0,".")  }}
                                                        {% else %}
                                                            {{ presupuesto.valorAprobado | number_format(0,".")  }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td>{{presupuesto.iva}}</td>
                                                <td>
                                                    {% set valorPorcentaje =  presupuesto.porcentajeDescuento/100 %}
                                                    {% if presupuesto.idPlanTratamiento.idPaciente.idEps != ''%}
                                                        {% if presupuesto.idConvenio != ''%}
                                                            {% for trataConvenio in trataConvenios%}
                                                                {% if presupuesto.idConvenio.idConvenio == trataConvenio.idConvenio.idConvenio %}
                                                                    {% if trataConvenio.idTratamiento.idTratamiento == presupuesto.idTratamiento.idTratamiento %}
                                                                        {% if trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                            {% set sumaPorcentajes =trataConvenio.idConvenio.porcentajeDescuento+ trataConvenio.porcentajeTratamiento%}

                                                                            {% set porcentajeDescuentoTrataConvenio = sumaPorcentajes/100%}

                                                                            {% if presupuesto.porcentajeDescuento != ''%}
                                                                                {% set disminucionPorcentaje = presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                                {% set totalPrestacion = presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {% if presupuesto.iva != ''%}
                                                                                    {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                    {{ valorConIva | number_format(0,".") }}
                                                                                {% else %}
                                                                                    {{ totalPrestacion | number_format(0,".") }}
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {% if presupuesto.iva != ''%}
                                                                                    {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                    {{ valorConIva | number_format(0,".") }}
                                                                                {% else %}
                                                                                    {{ totalPrestacion | number_format(0,".") }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% elseif trataConvenio.idConvenio.porcentajeDescuento == '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                            {% set porcentajeDescuentoTrataConvenio = trataConvenio.porcentajeTratamiento/100%}

                                                                            {% if presupuesto.porcentajeDescuento != ''%}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {% if presupuesto.iva != ''%}
                                                                                    {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                    {{ valorConIva | number_format(0,".") }}
                                                                                {% else %}
                                                                                    {{ totalPrestacion | number_format(0,".") }}
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {% if presupuesto.iva != ''%}
                                                                                    {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                    {{ valorConIva | number_format(0,".") }}
                                                                                {% else %}
                                                                                    {{ totalPrestacion | number_format(0,".") }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento == '' %}

                                                                            {% set porcentajeDescuentoTrataConvenio=trataConvenio..idConvenio.porcentajeDescuento/100%}

                                                                            {% if presupuesto.porcentajeDescuento != ''%}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {% if presupuesto.iva != ''%}
                                                                                    {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                    {{ valorConIva | number_format(0,".") }}
                                                                                {% else %}
                                                                                    {{ totalPrestacion | number_format(0,".") }}
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                                {% if presupuesto.iva != ''%}
                                                                                    {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                    {{ valorConIva | number_format(0,".") }}
                                                                                {% else %}
                                                                                    {{ totalPrestacion | number_format(0,".") }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' %}
                                                                        {% set porcentajeDescuentoTrataConvenio=trataConvenio.idConvenio.porcentajeDescuento /100%}

                                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {% if presupuesto.iva != ''%}
                                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                {{ valorConIva | number_format(0,".") }}
                                                                            {% else %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {% if presupuesto.iva != ''%}
                                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                {{ valorConIva | number_format(0,".") }}
                                                                            {% else %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% else %}    
                                                                        <p class="text-center">-</p>
                                                                    {% endif %}                                                            
                                                                {% endif %}                                                            
                                                            {% endfor %}
                                                        {% else %}                                                            
                                                            {% if presupuesto.porcentajeDescuento != ''%}
                                                                {% set disminucionPorcentaje= presupuesto.valorAprobado * valorPorcentaje %}
                                                                {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                {% if presupuesto.iva != ''%}
                                                                    {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                    {{ valorConIva | number_format(0,".") }}
                                                                {% else %}
                                                                    {{ totalPrestacion | number_format(0,".") }}
                                                                {% endif %}
                                                            {% else %}
                                                                {% if presupuesto.iva != ''%}
                                                                    {% set valorConIva = presupuesto.valorAprobado+presupuesto.totalValorIva %}
                                                                    {{ valorConIva | number_format(0,".") }}
                                                                {% else %}
                                                                    {{ presupuesto.valorAprobado | number_format(0,".") }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * valorPorcentaje %}
                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                            
                                                            {% if presupuesto.iva != ''%}
                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                {{ valorConIva | number_format(0,".") }}
                                                            {% else %}
                                                                {{ totalPrestacion | number_format(0,".") }}
                                                            {% endif %}
                                                        {% else %}
                                                            {% if presupuesto.iva != ''%}
                                                                {% set valorConIva = presupuesto.valorAprobado+presupuesto.totalValorIva %}
                                                                {{ valorConIva | number_format(0,".") }}
                                                            {% else %}
                                                                {{ presupuesto.valorAprobado | number_format(0,".") }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                    
                                                </td>
                                                <td class="text-center" colspan="2">
                                                    {{ include('presupuesto/_delete_form.html.twig') }}
                                                </td>
                                            </tr> 

                                        {% endfor %}
                                        <tr>
                                            <th colspan="9" class="text-left">Subtotal</th>
                                            <td colspan="3" class="text-center">
                                                {% set subtotal= presupuestos[0].idPlanTratamiento.valorTotal-totalIvaSimulacion %}
                                                {{subtotal|number_format(0,'.')}}
                                            </td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>                                            
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="9" class="text-left">% Iva</th>
                                            <td colspan="3" class="text-center">
                                                {{totalIvaSimulacion|number_format(0,'.')}}
                                            </td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>                                            
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="9" class="text-left">Total pago:</th>
                                            <td colspan="3" class="text-center">
                                                {{presupuestos[0].idPlanTratamiento.valorTotal|number_format(0,'.')}}
                                            </td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>                                            
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                        </tr>
                                    {% endif %}    
                                    </tbody>
                                </table>                            
                            </div>  
                            {% if presupuestos | length > 0 %}
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light" title="Imprimir plan simulado"><span class="mdi mdi-printer-settings"></span></button>

                                <button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Enviar plan simulado"><span class="far fa-envelope"></span>&nbsp;&nbsp;Enviar e-mail</button>

                                <a data-controls-modal="simulacionPlan" data-backdrop="static" data-toggle="modal" data-target="#simulacionPlan"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Simulación"><span class="far fa-file-pdf"></span>&nbsp;&nbsp;Simulación</button></a>
                            </div>       
                            {% endif %}               
                        </div> 
                    </div>
                </div>
                <div class="row mt-3
                ">
                    <div class="col-12">      
                        <div class="text-left"><u><h4>Tratamiento paciente</h4></u></div>                  
                        <div class="table-responsive mt-3"  >
                            <table class="table table-hover" id="table_plan">
                                <thead>
                                    <tr>
                                        <th class="text-center">Evolución economica N°</th>
                                        <th class="text-center w-25">Creado por</th>
                                        <th class="text-center w-25">Fecha</th>
                                        <th class="text-center">Valor Tratamiento</th>
                                        <th class="text-center">Valor Abono</th>
                                        <th class="text-center w-25">Saldo pendiente</th>
                                        <th class="text-right w-25">Acciones</th>
                                    </tr>                                        
                                </thead>
                                <tbody>
                                    {% for plan in planTratamientos%}
                                    <tr>
                                        <td class="text-left">
                                            {{plan.idPlanTratamiento}}
                                        </td>
                                        <td class="text-left">
                                            {{ plan.idUsuarioIngresa ? plan.idUsuarioIngresa : '-' }}
                                        </td>
                                        <td class="text-left">
                                            {{plan.fechaApertura ? plan.fechaApertura|date('Y-m-d H:i:s') : '-' }}
                                        </td>
                                        <td class="text-left">
                                            {{ plan.valorTotal ? (plan.valorTotal)|number_format(0, '.', ',') : '-' }}
                                        </td>                                            
                                        <td class="text-left">
                                            {{ plan.abonoTotal ? (plan.abonoTotal)|number_format(0, '.', ',') : '-' }}
                                        </td>
                                        <td class="text-center">
                                            {% if plan.abonoTotal != '' and plan.valorTotal != '' %}
                                                {{(plan.valorTotal-plan.abonoTotal)|number_format(0, '.', ',')}}
                                            {% elseif plan.abonoTotal == '' and plan.valorTotal != '' %}
                                                {{(plan.valorTotal)|number_format(0, '.', ',')}}
                                            {% endif %}
                                        </td>  
                                        <td class="text-center">
                                            <a href="{{ path('plan_show',{'idPlanTratamiento':plan.idPlanTratamiento,'tipo':'show'}) }}"><button type="button" title="Detalle plan" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>

                                            <a href="{{ path('plan_show',{'idPlanTratamiento':plan.idPlanTratamiento,'tipo':'edit'}) }}"><button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar plan"><span class="fas fa-edit"></span></button></a>
                                            
                                        </td>
                                    </tr>                                                
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>                        
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="modal fade" id="datosPlanTratamiento"></div>
{{ include('presupuesto/simulacionPlan.html.twig') }}
{% endblock %}
{% block javascripts %}

<script type="text/javascript">

/*function editar(id) {
  // alert(id); 
  var url = "/consentimiento/"+id+"/edit";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosConsentimiento').modal('show');
      $('#datosConsentimiento').html(respuesta);
    },
            // código a ejecutar si la petición falla;
    error : function(xhr, status) {
      $('body').removeClass('loading');
      $('.resp').removeAttr('hidden');
      $('.resp').html('Disculpe, existió un problema en la conexión.');
    },  
  });
}*/
var val= $(".invalid-feedback").children().children().children().val();
if (typeof(val) != "undefined") {
    $('.crearForm_planTratamiento').addClass('show');    
} 



</script>

{% endblock %}
