{% extends 'base.html.twig' %}
{% block title %}
    {% if tipo == 'show' %}
        Detalle plan tratamiento
    {% else %}
       Actualizar plan tratamiento
    {% endif %}
{% endblock %}
{% block body %}
    <style type="text/css">
        .flex-parent{
          display: -ms-flex;
          display: -webkit-flex;
          display: flex;
        }
         
        .flex-child{
          display: -ms-flex;
          display: -webkit-flex;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
    </style>
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          
            <div class="card-body"> 
                <div class="modal-header hearVisual">
                    {% if tipo == 'show' %}
                    <div class="text-center w-100"><h3 class="modal-title">DETALLE PLAN TRATAMIENTO N° {{planTratamiento.idPlanTratamiento}}</h3></div> {% else %}
                    <div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR PLAN TRATAMIENTO N° {{planTratamiento.idPlanTratamiento}}</h3></div>
                    {% endif %}
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">  
                        <div class="row mt-1">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Paciente:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{planTratamiento.idPaciente.tipoIdentificacion}}  {{planTratamiento.idPaciente.numeroIdentificacion}}  </p>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{planTratamiento.idPaciente.nombres | capitalize}} {{planTratamiento.idPaciente.primerApellido | capitalize}} {{planTratamiento.idPaciente.segundoApellido | capitalize}}   </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Fecha nacimiento:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{planTratamiento.idPaciente.fechaNacimiento | date('d/m/Y H:i:s') }} </p>
                            </div>
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Edad:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{edad}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Sexo:</label>
                            </div>
                            <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                                <p>{% if planTratamiento.idPaciente.sexo == 'MASCULINO'%}Hombre{% elseif planTratamiento.idPaciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Celular:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{planTratamiento.idPaciente.celular}} </p>
                            </div>
                            {% if planTratamiento.idPaciente.telefonoDomicilio != ''%}
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Teléfono:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{planTratamiento.idPaciente.telefonoDomicilio}}</p>
                            </div>
                            {% endif %}
                        </div> 
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Dirección:</label>
                            </div>
                            <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                               {{planTratamiento.idPaciente.dirrecionDomicilio | capitalize}} - {{planTratamiento.idPaciente.idMunicipio}}
                            </div>
                        </div>
                        <hr>
                        <div class="text-left">
                            <u><h4>Datos plan tratamiento</h4></u>
                        </div>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Fecha apertura:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{planTratamiento.fechaApertura | date('d/m/Y H:i:s') }} </p>
                            </div>
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Estado:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{planTratamiento.idEstadoGeneral | capitalize}}</p>
                            </div>
                        </div>
                        {% if tipo != 'show' %}
                        <div class="row mt-2">
                            <div class="col-12 text-left">
                                <button  type="button" class="btn btn-sm btn-success waves-effect waves-light" data-toggle="collapse" data-target="#collapsePlanTratamiento" aria-expanded="false" aria-controls="collapsePlanTratamiento"><span class="fas fa-plus"></span></button>
                            </div>
                        </div>
                        <div class="crearForm_planTratamiento collapse" id="collapsePlanTratamiento" >
                            <hr><br><br>
                            <div class="card">
                                <div class="card-header bg-info py-3 text-white">
                                    <div class="card-widgets">
                                        <!--a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a-->
                                        <a data-toggle="collapse" href="#cardCollpase7" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                                        <!--a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a-->
                                    </div>
                                    <h5 class="card-title mb-0 text-white">Registro presupuestos</h5>
                                </div>
                                <div id="cardCollpase7" class="collapse show">
                                    <div class="card-body">
                                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formPresupuestoAprobado'} }) }} 
                                        {{ include('presupuesto/_form.html.twig') }}                                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="table-responsive"  >
                            <table class="table table-hover" id="table_presupuestos">
                                <thead>
                                    <tr>
                                        <th class="text-center">Tratamiento</th>
                                        <th class="text-center">Área bucal</th>
                                        <th class="text-center">Superficie</th>
                                        <th class="text-center">Cups</th>
                                        <th class="text-center">Convenio</th>
                                        <th class="text-center">Costo tratamiento</th>
                                        <th class="text-center">% Descuento</th>
                                        <th class="text-center">% Descuento por convenio</th>
                                        <th class="text-center">Valor tratamiento</th>
                                        <th class="text-center">Iva %</th>
                                        <th class="text-center">Valor total</th>
                                        {% if tipo == 'show' %}
                                        <th class="text-center">Estado</th>
                                        {% else %}
                                        <th class="text-center w-25">Acciones</th>
                                        
                                        {% endif %}
                                    </tr>                                        
                                </thead>
                                <tbody>
                                {% if  presupuestos | length > 0%}
                                    {% for presupuesto in presupuestos%}
                                        <tr>
                                            <td class="text-left">{{presupuesto.idTratamiento}}</td>
                                            <td class="text-left">{{ presupuesto.idPieza }}</td>
                                            <td class="text-left">{{ presupuesto.idSuperficie ? presupuesto.idSuperficie : '-' }}</td>
                                            <td class="text-left">{{ presupuesto.idProcedimiento ? presupuesto.idProcedimiento : '-' }}</td>                                            
                                            <td class="text-left">{{ presupuesto.idConvenio ? presupuesto.idConvenio : '-' }}</td>
                                            <td class="text-left">{{ presupuesto.valorAprobado ? presupuesto.valorAprobado |number_format(0,".") : '-' }}</td>                                            
                                            <td class="text-left">{{ presupuesto.porcentajeDescuento ? presupuesto.porcentajeDescuento : '-' }}</td>
                                            <td class="text-left">
                                            {% if presupuesto.idPlanTratamiento.idPaciente.idEps != ''%}
                                                    {% if presupuesto.idConvenio != ''%}
                                                        {% for trataConvenio in trataConvenios%}
                                                            {% if presupuesto.idConvenio.idConvenio == trataConvenio.idConvenio.idConvenio %}
                                                                {% if trataConvenio.idTratamiento.idTratamiento == presupuesto.idTratamiento.idTratamiento %}
                                                                    {% if trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                        {{trataConvenio.idConvenio.porcentajeDescuento+ trataConvenio.porcentajeTratamiento}}
                                                                    {% elseif trataConvenio.idConvenio.porcentajeDescuento == '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                        {{trataConvenio.porcentajeTratamiento}}
                                                                    {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento == '' %}
                                                                        {{trataConvenio.idConvenio.porcentajeDescuento}}
                                                                    {% else %}    
                                                                        <p class="text-center">-</p>
                                                                    {% endif %}
                                                                {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' %}
                                                                    {{trataConvenio.idConvenio.porcentajeDescuento}}
                                                                {% else %}    
                                                                    <p class="text-center">-</p>
                                                                {% endif %}                                                            
                                                            {% endif %}                                                            
                                                        {% endfor %}
                                                    {% else %}
                                                        <p class="text-center">-</p>
                                                    {% endif %}
                                                {% else %}
                                                    <p class="text-center">-</p>
                                                {% endif %}
                                            </td>
                                            <td class="text-left">
                                                {% set valorPorcentaje =  presupuesto.porcentajeDescuento/100 %}
                                                {% if presupuesto.idPlanTratamiento.idPaciente.idEps != ''%}
                                                    {% if presupuesto.idConvenio != ''%}
                                                        {% for trataConvenio in trataConvenios%}
                                                            {% if presupuesto.idConvenio.idConvenio == trataConvenio.idConvenio.idConvenio %}

                                                                {% if trataConvenio.idTratamiento.idTratamiento == presupuesto.idTratamiento.idTratamiento %}
                                                                    {% if trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                        {% set sumaPorcentajes =trataConvenio.idConvenio.porcentajeDescuento+ trataConvenio.porcentajeTratamiento%}

                                                                        {% set porcentajeDescuentoTrataConvenio = sumaPorcentajes/100%}

                                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                                            {% set disminucionPorcentaje = presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                            {% set totalPrestacion = presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {{ totalPrestacion | number_format(0,".")  }}
                                                                        {% else %}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {{ totalPrestacion | number_format(0,".") }}
                                                                        {% endif %}
                                                                    {% elseif trataConvenio.idConvenio.porcentajeDescuento == '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                        {% set porcentajeDescuentoTrataConvenio = trataConvenio.porcentajeTratamiento/100%}

                                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {{ totalPrestacion | number_format(0,".")  }}
                                                                        {% else %}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {{ totalPrestacion | number_format(0,".") }}
                                                                        {% endif %}
                                                                    {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento == '' %}

                                                                        {% set porcentajeDescuentoTrataConvenio=trataConvenio..idConvenio.porcentajeDescuento/100%}

                                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {{ totalPrestacion | number_format(0,".") }}
                                                                        {% else %}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {{ totalPrestacion | number_format(0,".") }}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' %}
                                                                    {% set porcentajeDescuentoTrataConvenio=trataConvenio.idConvenio.porcentajeDescuento /100%}

                                                                    {% if presupuesto.porcentajeDescuento != ''%}
                                                                        {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                        {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                        {{ totalPrestacion | number_format(0,".")  }}
                                                                    {% else %}
                                                                        {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                        {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                        {{ totalPrestacion | number_format(0,".") }}
                                                                    {% endif %}
                                                                {% else %}    
                                                                    <p class="text-center">0</p>
                                                                {% endif %}                                                            
                                                            {% endif %}                                                            
                                                        {% endfor %}
                                                    {% else %}                                                            
                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * valorPorcentaje %}
                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                            {{ totalPrestacion | number_format(0,".")  }}
                                                        {% else %}
                                                            {{ presupuesto.valorAprobado | number_format(0,".")  }}
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if presupuesto.porcentajeDescuento != ''%}
                                                    {% set disminucionPorcentaje= presupuesto.valorAprobado * valorPorcentaje %}
                                                    {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                        {{ totalPrestacion | number_format(0,".")  }}
                                                    {% else %}
                                                        {{ presupuesto.valorAprobado | number_format(0,".")  }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{{presupuesto.iva}}</td>
                                            <td class="text-center">
                                                {% set valorPorcentaje =  presupuesto.porcentajeDescuento/100 %}
                                                {% if presupuesto.idPlanTratamiento.idPaciente.idEps != ''%}
                                                    {% if presupuesto.idConvenio != ''%}
                                                        {% for trataConvenio in trataConvenios%}
                                                            {% if presupuesto.idConvenio.idConvenio == trataConvenio.idConvenio.idConvenio %}
                                                                {% if trataConvenio.idTratamiento.idTratamiento == presupuesto.idTratamiento.idTratamiento %}
                                                                    {% if trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                        {% set sumaPorcentajes =trataConvenio.idConvenio.porcentajeDescuento+ trataConvenio.porcentajeTratamiento%}

                                                                        {% set porcentajeDescuentoTrataConvenio = sumaPorcentajes/100%}

                                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                                            {% set disminucionPorcentaje = presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                            {% set totalPrestacion = presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {% if presupuesto.iva != ''%}
                                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                {{ valorConIva | number_format(0,".") }}
                                                                            {% else %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {% if presupuesto.iva != ''%}
                                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                {{ valorConIva | number_format(0,".") }}
                                                                            {% else %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% elseif trataConvenio.idConvenio.porcentajeDescuento == '' and trataConvenio.porcentajeTratamiento != '' %}
                                                                        {% set porcentajeDescuentoTrataConvenio = trataConvenio.porcentajeTratamiento/100%}

                                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {% if presupuesto.iva != ''%}
                                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                {{ valorConIva | number_format(0,".") }}
                                                                            {% else %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {% if presupuesto.iva != ''%}
                                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                {{ valorConIva | number_format(0,".") }}
                                                                            {% else %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' and trataConvenio.porcentajeTratamiento == '' %}

                                                                        {% set porcentajeDescuentoTrataConvenio=trataConvenio..idConvenio.porcentajeDescuento/100%}

                                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {% if presupuesto.iva != ''%}
                                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                {{ valorConIva | number_format(0,".") }}
                                                                            {% else %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                            {% if presupuesto.iva != ''%}
                                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                                {{ valorConIva | number_format(0,".") }}
                                                                            {% else %}
                                                                                {{ totalPrestacion | number_format(0,".") }}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% elseif trataConvenio.idConvenio.porcentajeDescuento != '' %}
                                                                    {% set porcentajeDescuentoTrataConvenio=trataConvenio.idConvenio.porcentajeDescuento /100%}

                                                                    {% if presupuesto.porcentajeDescuento != ''%}
                                                                        {% set disminucionPorcentaje= presupuesto.valorAprobado * (valorPorcentaje+ porcentajeDescuentoTrataConvenio)%}
                                                                        {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                        {% if presupuesto.iva != ''%}
                                                                            {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                            {{ valorConIva | number_format(0,".") }}
                                                                        {% else %}
                                                                            {{ totalPrestacion | number_format(0,".") }}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% set disminucionPorcentaje= presupuesto.valorAprobado * porcentajeDescuentoTrataConvenio %}
                                                                        {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                                        {% if presupuesto.iva != ''%}
                                                                            {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                            {{ valorConIva | number_format(0,".") }}
                                                                        {% else %}
                                                                            {{ totalPrestacion | number_format(0,".") }}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% else %}    
                                                                    <p class="text-center">-</p>
                                                                {% endif %}                                                            
                                                            {% endif %}                                                            
                                                        {% endfor %}
                                                    {% else %}                                                            
                                                        {% if presupuesto.porcentajeDescuento != ''%}
                                                            {% set disminucionPorcentaje= presupuesto.valorAprobado * valorPorcentaje %}
                                                            {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                            {% if presupuesto.iva != ''%}
                                                                {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                                {{ valorConIva | number_format(0,".") }}
                                                            {% else %}
                                                                {{ totalPrestacion | number_format(0,".") }}
                                                            {% endif %}
                                                        {% else %}
                                                            {% if presupuesto.iva != ''%}
                                                                {% set valorConIva = presupuesto.valorAprobado+presupuesto.totalValorIva %}
                                                                {{ valorConIva | number_format(0,".") }}
                                                            {% else %}
                                                                {{ presupuesto.valorAprobado | number_format(0,".") }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if presupuesto.porcentajeDescuento != ''%}
                                                        {% set disminucionPorcentaje= presupuesto.valorAprobado * valorPorcentaje %}
                                                        {% set totalPrestacion= presupuesto.valorAprobado - disminucionPorcentaje %}
                                                        
                                                        {% if presupuesto.iva != ''%}
                                                            {% set valorConIva = totalPrestacion+presupuesto.totalValorIva %}
                                                            {{ valorConIva | number_format(0,".") }}
                                                        {% else %}
                                                            {{ totalPrestacion | number_format(0,".") }}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if presupuesto.iva != ''%}
                                                            {% set valorConIva = presupuesto.valorAprobado+presupuesto.totalValorIva %}
                                                            {{ valorConIva | number_format(0,".") }}
                                                        {% else %}
                                                            {{ presupuesto.valorAprobado | number_format(0,".") }}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                                
                                            </td>
                                            {% if tipo == 'show' %}
                                            <td class="text-center text-success w-25">{{ presupuesto.idEstadoGeneral | capitalize}}</td>
                                            {% else %}
                                            <td class="text-center w-25">
                                                {#<a class="fles" href="{{ path('presupuesto_edit',{'idPresupuesto':presupuesto.idPresupuesto}) }}">
                                                <button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar presupuesto" onclick="editar({{presupuesto.idPresupuesto}})"><span class="fas fa-edit"></span></button></a>#}
                                                {{ include('presupuesto/_delete_form.html.twig') }}
                                            </td>
                                            {% endif %}
                                        </tr> 
                                    {% endfor %}
                                    <tr>
                                        <th colspan="10" class="text-left">Subtotal</th>
                                        <td colspan="2" class="text-center">
                                            {% set subtotal= presupuestos[0].idPlanTratamiento.valorTotal-totalIvaSimulacion %}
                                            {{subtotal|number_format(0,'.')}}
                                        </td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>                                            
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                    </tr>
                                    <tr>
                                        <th colspan="10" class="text-left">% Iva</th>
                                        <td colspan="2" class="text-center">
                                            {{totalIvaSimulacion|number_format(0,'.')}}
                                        </td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>                                            
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                    </tr>
                                    <tr class="text-success">
                                        <th colspan="10" class="text-left">Total pago:</th>
                                        <td colspan="2" class="text-center">
                                            {{presupuestos[0].idPlanTratamiento.valorTotal|number_format(0,'.')}}
                                        </td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>                                            
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                    </tr>
                                {% endif %} 
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center mt-2"><a href="{{ path('presupuesto_index',{'idPaciente':planTratamiento.idPaciente.idPaciente}) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a></div>                       
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="modal fade bd-example-modal-lg" id="datosPresupuesto"></div>
<script type="text/javascript">
function editar(id) {
  // alert(id); 
    var url = "/plan/edition/"+id;
    $.ajax({
        type: 'POST',
        url:url,
        dataType: 'html',
        beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
        },
        success: function(respuesta){
            $('body').removeClass('loading');
            $('#datosPresupuesto').modal('show'); 
            $('#datosPresupuesto').html(respuesta);
        },
      // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
}
</script>
{% endblock %}

    
