{% block body %}
<div class="modal fade bd-example-modal-lg" id="simulacionPlan">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
      	<div class="text-center w-100"><h3 class="modal-title">Simulador plan tratamiento</h3></div>
      	<!--button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button-->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <!--Body de Modal-->        

      <form id="formSimulador" method="POST" novalidate= 'novalidate'>
        <div class="modal-body">
          <div class="row">
            <div class="col-2">
              Total
            </div>
            <div class="col-10 text-right">
              {% if presupuestos | length > 0%}
               $ {{presupuestos[0].idPlanTratamiento.valorTotal|number_format(0,'.')}}
               <input type="hidden" name="planTotal" id="planTotal" class="form-control" value="{{presupuestos[0].idPlanTratamiento.valorTotal}}">
                <input type="hidden" name="idPlan" id="idPlan" class="form-control" value="{{presupuestos[0].idPlanTratamiento.idPlanTratamiento}}">
              {% endif %}
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3">
              Valor cuota inicial&nbsp;<label class="text-danger">*</label>
            </div>
            <div class="col-9 form-group">
              <input type="text" name="valorCuotaInicial" id="valorCuotaInicial" class="form-control" required>
              <div class="invalid-feedback errorValorCuotaInicial"></div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3">
              Número cuotas&nbsp;<label class="text-danger">*</label>
            </div>
            <div class="col-9 form-group">
              <input type="text" name="numeroCuotas" id="numeroCuotas" class="form-control" required>
              
              <div class="invalid-feedback errorNumeroCuotas"></div>
            </div>
          </div>
          
        </div>  
        <div class="text-center modal-footer simul">
          <button title="Simular condiciones" class="btn btn-sm btn-outline-success waves-effect waves-light"><span class="fas fa-save"></span>&nbsp;&nbsp;Simular</button>
        </div>  
      </form>
      <div class="row mt-2 cuotaMensual col-12" hidden>
        <div class="col-3">
          Valor cuotas mensuales
        </div>
        <div class="col-8">
          <input type="text" name="valorCuotaMensual" id="valorCuotaMensual" class="form-control" disabled>
        </div>
        <div class="col-1"> <button type="button" class="btn btn-outline-warning refrescoSimulacion"><span class="fas fa-sync"></span></button></div>
        <div class="text-center mt-2 col-12">
          <hr>
          <button type="button" title="Guardar condiciones" class="btn btn-sm btn-outline-success waves-effect waves-light guardarsimulacion"><span class="fas fa-save"></span>&nbsp;&nbsp;Guardar</button>
        </div> 
      </div><br><br>      
    </div>
  </div> 
<div class='modalCargando'></div> 
</div>  
{% endblock %}