{% extends 'base.html.twig' %}
{% block title %}Diagnóstico odontológico{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>DIAGNÓSTICO ODONTOLÓGICO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('tipoDiagnostico_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Categoría diagnóstico</button></a>
                <a href="{{path('diagnosticoOdontologico_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Diagnóstico odontológico</button></a>
                <a href="{{path('cieDiagnosticoTipo_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Diagnóstico Cie - Odontológico</button></a>
                <a href="{{path('diagnosticoPrincipal_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Diagnóstico Principal</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_diagnosticoOdontologico">
                    <thead>
                          <tr>  
                            <th class="text-center w-25">Código</th>
                            <th class="text-center w-25">Nombre</th>
                            <th class="text-center w-25">Estado</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearDiagnosticoOdontologico" data-backdrop="static" data-toggle="modal" data-target="#crearDiagnosticoOdontologico" title="Crear diagnóstico odontológico"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for diagnosticoOdontologico in diagnosticosOdontologicos %}
                        <tr>
                          <td class="text-left">{{ diagnosticoOdontologico.codigo  | capitalize}}</td>
                          <td class="text-left">{{ diagnosticoOdontologico.nombre  | capitalize}}</td>                          
                          <td class="text-left">{{ diagnosticoOdontologico.estado ? 'Activo' : 'Inactivo' }}</td>
                          <td class="text-right" colspan="2">
                            <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left"  data-content="{{diagnosticoOdontologico.descripcion}}" title="Detalle diagnóstico odontológico"><button title="Descripción"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                            {%if diagnosticoOdontologico.estado == true%}
                            <button type="button" onclick="editar( {{ diagnosticoOdontologico.idDiagnosticoOdontologico }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar diagnóstico odontológico"><span class="fas fa-edit"></span></button>
                            {%else%}
                             <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar diagnóstico odontológico"><span class="fas fa-edit"></span></button>
                            {%endif%}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ diagnosticoOdontologico.idDiagnosticoOdontologico }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('diagnosticoOdontologico/modalNewDiagnosticoOdontologico.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosDiagnosticoOdontologico"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_diagnosticoOdontologico');   
});

function editar(id) {
  // alert(id); 
  var url = +id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosDiagnosticoOdontologico').modal('show'); 
            $('#datosDiagnosticoOdontologico').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

$( ".cambiarEstado").click( function(){
  var idDiagnosticoOdontologico= $(this).data('id');
   var tipo = 'diagnosticoOdontologico';
  $('.modal-body #id').val(idDiagnosticoOdontologico);
  $('.modal-body #tipo').val(tipo);

});
</script>
{% endblock %}