    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idTipoDiagnostico">Tipo</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idTipoDiagnostico) }}
            <div class="invalid-feedback">{{ form_errors(form.idTipoDiagnostico)}}</div>
       </div>
    </div>
    <div class="row mt-2 cieRip" hidden>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idCieRip">Cie</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idCieRip) }}
            <div class="invalid-feedback cie">{{ form_errors(form.idCieRip)}}</div>
       </div>
    </div>
    <div class="row mt-2 diagOdontologico" hidden>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idDiagnosticoOdontologico">Diagnóstico Odontológico</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idDiagnosticoOdontologico) }}
            <div class="invalid-feedback odonto">{{ form_errors(form.idDiagnosticoOdontologico)}}</div>
       </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="tipoVisualizacion">Tipo Visualización</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            <select id="tipoVisualizacion" name="tipoVisualizacion">
            	<option value="">Seleccione un tipo</option>
            	<option value="ICONO">Icono</option>
            	<option value="COLOR">Color</option>
            </select>
            <div class="invalid-feedback"></div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 iconoLabel" hidden>                
            <label for="icono">Icono</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12 iconoAttrib" hidden> 
            {{ form_widget(form.simbolo) }}
            <div class="invalid-feedback" id="simboloCieOdonto">{{ form_errors(form.simbolo)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 colorLabel" hidden>                
            <label for="color">Color</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12 colorAttrib" hidden> 
            {{ form_widget(form.color) }}
            <div class="invalid-feedback" id="colorCieOdonto">{{ form_errors(form.color)}}</div>
        </div>
    </div>
    <hr>

    <div hidden>
    	{{ form_widget(form.estado) }}
    	{{ form_widget(form.idUsuarioIngresa) }}
    </div>
	<div class="text-center">
		<a href="{{ path('cieDiagnosticoTipo_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
<script type="text/javascript">
	
</script>