{% extends 'base.html.twig' %}
{% block title %} Tipo diagnóstico{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>TIPO DIAGNÓSTICO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('tipoDiagnostico_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Categoría diagnóstico</button></a>
                <a href="{{path('diagnosticoOdontologico_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Diagnóstico odontológico</button></a>
                <a href="{{path('cieDiagnosticoTipo_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Diagnóstico Cie - Odontológico</button></a>
                <a href="{{path('diagnosticoPrincipal_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Diagnóstico Principal</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_cieDiagnosOdonto">
                    <thead>
                          <tr>  
                            <th class="text-center w-25">Nombre</th>
                            <th class="text-center w-25">Tipo</th>
                            <th class="text-center w-25">Símbolo / Color</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearDiagCieOdontologico" data-backdrop="static" data-toggle="modal" data-target="#crearDiagCieOdontologico" title="Crear tipo diagnóstico"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for cieDiagnosticoTipo in cieDiagnosticoTipos %}
                        <tr>
                          <td class="text-left">{% if cieDiagnosticoTipo.idTipoDiagnostico.idTipoDiagnostico == 1 %}{{ cieDiagnosticoTipo.idCieRip  | capitalize }}{% elseif cieDiagnosticoTipo.idTipoDiagnostico.idTipoDiagnostico == 2 %}{{ cieDiagnosticoTipo.idDiagnosticoOdontologico  | capitalize}} {%endif%}</td>
                          <td class="text-left">{{ cieDiagnosticoTipo.idTipoDiagnostico | capitalize}}</td>   
                          <td class="text-center">
                          {%if cieDiagnosticoTipo.simbolo != ''%}                       
                            <span class="{{ cieDiagnosticoTipo.simbolo}}"></span>
                          {%elseif cieDiagnosticoTipo.color != ''%}
                          <input style="background-color: {{cieDiagnosticoTipo.color}}" class="w-25" disabled="disabled">
                          {%endif%}
                          </td>
                          <td class="text-right" colspan="2">
                            <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left" data-html="true"  data-content="<label>Estado:</label> {{cieDiagnosticoTipo.estado ? 'Activo' : 'Inactivo'}} <br> <label>Usuario Ingreso:</label> {{cieDiagnosticoTipo.idUsuarioIngresa}}" title="Detalle tipo diagnóstico"><button title="Datos tipo diagnóstico"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                            {%if cieDiagnosticoTipo.estado == true%}
                              <button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light" data-toggle="modal" data-target="#crearDiagCieOdontologico" data-backdrop="static" data-idCieDiagnosticoTipo="{{cieDiagnosticoTipo.idCieDiagnosticoTipo}}" data-idTipoDiagnostico="{{cieDiagnosticoTipo.idTipoDiagnostico.idTipoDiagnostico}}" data-idCie="{%if cieDiagnosticoTipo.idCieRip != ''%}{{cieDiagnosticoTipo.idCieRip.idCieRip}}{%endif%}" data-idDiagnosticoOdontologico="{%if cieDiagnosticoTipo.idDiagnosticoOdontologico != ''%}{{cieDiagnosticoTipo.idDiagnosticoOdontologico.idDiagnosticoOdontologico}}{%endif%}" data-color="{{cieDiagnosticoTipo.color}}" data-simbolo="{{cieDiagnosticoTipo.simbolo}}"  title="Actualizar tipo diagnóstico"><span class="fas fa-edit"></span></button>
                            <!--button type="button" onclick="editar( {{ cieDiagnosticoTipo.idCieDiagnosticoTipo }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar tipo diagnóstico"><span class="fas fa-edit"></span></button-->
                            {%else%}
                             <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar tipo diagnóstico"><span class="fas fa-edit"></span></button>
                            {%endif%}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ cieDiagnosticoTipo.idCieDiagnosticoTipo }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('cieDiagnosticoTipo/modalNewTipoDiagnostico.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosCieDiagnosticoOdonto"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
  //añejo de datatable 
  newTable('#table_cieDiagnosOdonto');
});
$( ".cambiarEstado").click( function(){
  var idCieDiagnosticoTipo= $(this).data('id');
   var tipo = 'cieDiagnosticoTipo';
  $('.modal-body #id').val(idCieDiagnosticoTipo);
  $('.modal-body #tipo').val(tipo);

});
</script>
{% endblock %}