
{% block body %}
<div class="modal fade bd-example-modal-lg" id="crearDiagCieOdontologico">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
      	<div class="text-center w-100"><h3 class="modal-title">REGISTRAR RIP - ODONTOLÓGICO</h3></div>
        {{ include('cieDiagnosticoTipo/_delete_form.html.twig') }}
        <a href="{{ path('cieDiagnosticoTipo_index') }}">
        	<button type="button" title="Cerrar" class="close" aria-label="Close">
  	        <span aria-hidden="true">&times;</span>
  	      </button>
  	    </a>
        
      </div>
      <!--Body de Modal-->
        
        <div class="modal-body">
          {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formCieDiagnosticoTipo'} }) }} 
        	{{ include('cieDiagnosticoTipo/_form.html.twig') }}
          <input type="hidden" id="idCieDiagnosticoTipo" value="{{cieDiagnosticoTipo.idCieDiagnosticoTipo}}">
        </div>
        
    </div>
  </div>
<div class='modalCargando'></div>  
</div>  
{% endblock %}

