    <div class="row">
    	<div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idEntradaPedido">Consultorio</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            <p>{{salidaConsultorio.idConsultorio}}</p>
            <div class="invalid-feedback">{{ form_errors(form.idConsultorio)}}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idEntradaPedido">Nombre</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            <p>{{salidaConsultorio.idSalida.idEntradaPedido.idInsumo}}</p>
            <div class="invalid-feedback">{{ form_errors(form.idSalida)}}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cantidad" class="fles">Cantidad</label>&nbsp;<label class="text-danger fles">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.cantidad) }}
            <div class="invalid-feedback">{{ form_errors(form.cantidad)}}</div>
        </div>
    </div>
    <div hidden>
    	{{ form_widget(form.idUsuarioIngresa) }}
    	{{ form_widget(form.idConsultorio) }}
    	{{ form_widget(form.idSalida) }}
    </div>
    <hr>
	<div class="text-center">
		{% if salidaConsultorio.idSalidaConsultorio != ''%}
			<a href="{{ path('salidaConsultorio_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
		{% else %}
			<a href="{{ path('salida_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
		{% endif %}
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
