{% extends 'base.html.twig' %}
{% block title %}Salidas consultorios{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>SALIDAS CONSULTORIOS</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración insumo&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('categoriaInventario_index')}}">Categoría</a>
                        <a class="dropdown-item" href="{{path('insumo_index')}}">Insumo</a>
                        <a class="dropdown-item" href="{{path('marca_index')}}">Marca</a>
                        <a class="dropdown-item" href="{{path('nombreInsumo_index')}}">Nombre</a>
                        <a class="dropdown-item" href="{{path('presentacion_index')}}">Presetación</a>
                        <a class="dropdown-item" href="{{path('proveedor_index')}}">Proveedor</a>
                    </div>
                </div>
                <a href="{{path('pedido_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Pedidos</button></a>
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Salidas&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('salida_index')}}">Clinica</a>
                      <a class="dropdown-item" href="{{path('salidaConsultorio_index')}}">Consultorio</a>
                  </div>
                </div>       
                <a href="{{path('stock_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Stock</button></a>
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Ordenes&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('requerimiento_index')}}">Requerimiento</a>
                      <a class="dropdown-item" href="{{path('ordenCompra_index')}}">Compra</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
                 <table class="table" id="table_salida_clinica_consultorio">
                    <thead>
                      <tr>  
                        <th class="text-center w-25">Nombre</th>
                        <th class="text-center">Fecha</th>                            
                        <th class="text-center">Cantidad</th>
                        <th class="text-center w-25">Consultorio</th>
                        <th class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for salidaConsultorio in salidasConsultorio %}
                        <tr>
                          <td class="text-left">{{ salidaConsultorio.idSalida  | capitalize}}</td>
                          <td class="text-center">{{ salidaConsultorio.fechaApertura ? salidaConsultorio.fechaApertura|date('Y-m-d') : ''}}</td>
                          <td class="text-center">{{ salidaConsultorio.cantidad  | capitalize}}</td>
                          <td class="text-left">                            
                            {{ salidaConsultorio.idConsultorio  | capitalize}}
                          </td>
                          <td class="text-center">
                            <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left" data-html="true"  data-content="<label>Usuario Entrega:</label> {{salidaConsultorio.idUsuarioIngresa}}" title="Detalle salida"><button title="Datos tipo diagnóstico"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>

                            <button type="button" onclick="editar( {{ salidaConsultorio.idSalidaConsultorio}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar salida"><span class="fas fa-edit"></span></button>
                          </td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="datosSalidaC"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_salida_clinica_consultorio');   
});

function editar(id) {
  // alert(id); 
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosSalidaC').modal('show'); 
            $('#datosSalidaC').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

</script>
{% endblock %}