	<div class="row">
		<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
	    </div>
		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
        	{{ form_widget(formGeneralEps.nombre) }}
        	<div class="invalid-feedback">{{ form_errors(formGeneralEps.nombre)}}</div>
		</div> 
	    <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="nit" class="control-label">Identificación</label>&nbsp;<label class="text-danger">*</label>
	    </div>
	    <div class="form-group col-xg-4 col-lg-4 col-md-4">		
	    	{% set nit = eps.idSedeEps.nit|split('-') %}
	    	{%if nit | length ==2 and nit[1] == ''%}
    		<label>{{nit[0]}}</label>
    		{%else%}
    		<label>{{eps.idSedeEps.nit}}</label>
    		{%endif%}
    		<div class="invalid-feedback">{{ form_errors(formGeneralEps.nit)}}</div>
		</div> 
    </div>
    <div class="row mt-2">
		<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="direccion" class="control-label">Dirección</label>&nbsp;<label class="text-danger">*</label>
	    </div>
		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
	    	{{ form_widget(formGeneralEps.direccion) }}
	    	<div class="invalid-feedback">{{ form_errors(formGeneralEps.direccion)}}</div>
		</div>
		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
			<label for="telefono">Teléfono</label>
		</div>
	    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 form-group">
	      <input type="text" id="indicativo" class="form-control" name="indicativo">
	      <div class="invalid-feedback mt-1"></div>
	    </div>
	    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-7 form-group">
	      <input class="tinymce form-control" type="text" id="telefono" name="telefono" > 
	      <div class="invalid-feedback mt-1 tel">{{ form_errors(formGeneralEps.telefono)}}</div>
	    </div>	
	</div>
	<div class="row mt-2">
		<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="movil" class="control-label">Celular</label><br><label>Contacto</label>&nbsp;<label class="text-danger">*</label>
	    </div>
		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
        	{{ form_widget(formGeneralEps.movil) }}
        	<div class="invalid-feedback">{{ form_errors(formGeneralEps.movil)}}</div>
		</div> 
	    <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="email" class="control-label">E-mail</label>&nbsp;<label class="text-danger">*</label>
	    </div>
		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
        	{{ form_widget(formGeneralEps.email) }}
        	<div class="invalid-feedback">{{ form_errors(formGeneralEps.email)}}</div>
		</div> 
    </div>
    <div class="row mt-2">
		<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="idMunicipio" class="control-label">Municipio</label>&nbsp;<label class="text-danger">*</label>
	    </div>
		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
        	{{ form_widget(formGeneralEps.idMunicipio) }}
        	<div class="invalid-feedback">{{ form_errors(formGeneralEps.idMunicipio)}}</div>
		</div> 
	    <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="nombreContacto" class="control-label">Nombre </label><label>Contacto</label>&nbsp;<label class="text-danger">*</label>
	    </div>
		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
        	{{ form_widget(formGeneralEps.nombreContacto) }}
        	<div class="invalid-feedback">{{ form_errors(formGeneralEps.nombreContacto)}}</div>
		</div> 
    </div>
    <div class="row mt-2">
    	<div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">
	        <label for="descripcion" class="control-label">Descripción</label>
	    </div>
	    <div class="form-group col-xg-10 col-lg-10 col-md-10">			
	        {{ form_widget(formGeneralEps.descripcion) }}
	        <div class="invalid-feedback">{{ form_errors(formGeneralEps.descripcion)}}</div>
	    </div> 
    </div>
    <div hidden>		
    	{{ form_widget(formGeneralEps.estado) }}
    	{{ form_widget(formGeneralEps.nit) }}
    	{{ form_widget(formGeneralEps.telefono) }}
    	{{ form_widget(formGeneralEps.idUsuarioIngresa) }}
    	{{ form_widget(formGeneralEps.idSedeEps) }}
    	<input type="hidden" id="nitEPS" value="{{eps.idSedeEps.nit}}">
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('eps_index') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>
	    <button type="submit" id="butg2" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(formGeneralEps) }}