{% extends 'base.html.twig' %}
{% block title %}Eps{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{parent()}}
  
<div class="row mt-3">  
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header card-title text-center">
                    <h1>Eps</h1>
                </div>
                <hr>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden>
                </div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                
                <div class="row">
                  <div class="col-12">
                    <div class="btn-group">
                        <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración medica &nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('area_index')}}">Área medica</a>
                            <a class="dropdown-item" href="{{path('especialidad_index')}}">Especialidad</a>
                        </div>
                    </div>
                    <a href="{{path('departamento_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Departamentos</button></a>
                    <a href="{{path('eps_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Eps</button></a>
                  </div>
                </div>
       
               
                <div class="table-responsive-lg mt-3">
                    <table class="table" id="table_eps">
                        <thead>
                              <tr>
                                  <th></th>
                                  <th>Nombre</th>
                                  <th>Contacto</th>
                                  <th>Movíl</th>
                                  <th class="text-center w-30">Acciones</th>
                                  <th>
                                    <a style="float: right;" data-controls-modal="crearEps" data-backdrop="static" data-toggle="modal" data-target="#crearEps" title="Crear Eps"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                                  </th>    
                              </tr>
                        </thead>                         
                        <tbody>
                        {% for ep in epss %}
                          {% set codigo= ep.idEps%}
                          {%if ep.idSedeEps == ""%}
                            <tr class="header expand" title="Ver" style="background: #F9F9F9;">
                              <td><span class="fas sign"></span></td>
                              <td>{{ ep.nombre }}</td>
                              <td>{{ ep.nombreContacto }}</td>
                              <td>{{ ep.movil }}</td>                           
                              <td class="text-center w-30" colspan="2">
                                <button type="button" onclick="mostrar( {{ ep.idEps }} )" title="Detalle eps" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>
                                {%if ep.estado == true%}
                                  <button type="button" onclick="envioCrearSede( {{ ep.idEps }});" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear Sede" ><span class="fe-share-2"></span></button>
                                  <button type="button" onclick="editarEps({{ codigo }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar eps"><span class="fas fa-edit"></span></button>
                                  <button type="button" onclick="enviocrearConvenio({{ ep.idEps }});" class="btn btn-sm btn-outline-warning waves-effect waves-light" title="Crear convenio"><span class="far fa-file-alt"></span></button>
                                {%else%}
                                  
                                  <button type="button" disabled="false" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear Sede" ><span class="fe-share-2"></span></button>
                                  <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar eps"><span class="fas fa-edit"></span></button>
                                  <button type="button" disabled="false" class="btn btn-sm btn-outline-warning waves-effect waves-light" title="Crear convenio"><span class="far fa-file-alt"></span></button>
                                {%endif%}

                                <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ ep.idEps }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                              </td>
                              <td style="display: none;"></td>
                            </tr> 
                            {% for subtipo in epsSede %}
                              {%if subtipo.idSedeEps.idEps == codigo%}
                                <tr>
                                  <td></td>
                                  <td>{{ subtipo.nombre }}</td>
                                  <td>{{ subtipo.nombreContacto }}</td>
                                  <td>{{ subtipo.movil }}</td>
                                  <td class="text-center w-30" colspan="2">
                                    <button type="button" onclick="mostrar( {{ subtipo.idEps }} )" title="Detalle Sede" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>
                                    {%if subtipo.estado == true%}                                      
                                      <button type="button"  onclick="envioEditarSedeEps({{subtipo.idEps}});"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar sede"><span class="fas fa-edit"></span></button>
                                    {%else%}
                                      <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar sede"><span class="fas fa-edit"></span></button>
                                    {%endif%}
                                    {%if ep.estado == true%}
                                    <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado sede" data-id="{{ subtipo.idEps }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                                    {%else%}
                                    <a   title="Cambio estado sede"><button type="button" disabled="false" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                                    {%endif%}
                                  </td>     
                                  <td style="display: none;"></td>
                                </tr>
                              {%endif%}
                            {% endfor %}
                          {%endif%}                     
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('tipo_radiografia/editEstado.html.twig') }} 
{{ include('eps/modalNuevaEps.html.twig') }}
<div class="modal fade bd-example-modal-lg" id="datosEps"></div>
        

{% endblock %}
{% block javascripts %}

<script type="text/javascript">

$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_eps');
});  

function envioCrearSede(idEps){
  var url = "/eps/newSedeEps";

  $.ajax({
    type: 'POST',
    url:url,
    data:{'idEps':idEps},
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosEps').modal('show');
      $('#datosEps').html(respuesta);

    },

      // código a ejecutar si la petición falla;
      error : function(xhr, status) {
          $('body').removeClass('loading');
          $('.resp').removeAttr('hidden');
          $('.resp').html('Disculpe, existió un problema en la conexión.');
      },
  });
}



function editarEps(idEps) {
  // alert(id); 
  var url = "/eps/"+idEps+"/edit";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
          $('body').addClass('loading'); //Agregamos la clase loading al body
        },
    success: function(respuesta){
      $('body').removeClass('loading');
          $('#datosEps').modal('show'); 
          $('#datosEps').html(respuesta);
    },
    // código a ejecutar si la petición falla;
          error : function(xhr, status) {
              $('body').removeClass('loading');
              $('.resp').removeAttr('hidden');
              $('.resp').html('Disculpe, existió un problema en la conexión.');
          },
  });
}


function envioEditarSedeEps(idEps){
  var url = "/eps/"+idEps+"/editSede";
  $.ajax({
    type: 'POST',
    url:url,
    data:{'idEps':idEps},
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');
      $('#datosEps').modal('show'); 
      $('#datosEps').html(respuesta);          
    },

      // código a ejecutar si la petición falla;
      error : function(xhr, status) {
          $('body').removeClass('loading');
          $('.resp').removeAttr('hidden');
          $('.resp').html('Disculpe, existió un problema en la conexión.');
      },
  });
}

function mostrar(id) {
  // alert(id); 
  var url = "/eps/"+id+"/show";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
          beforeSend: function () {
          $('body').addClass('loading'); //Agregamos la clase loading al body
        },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosEps').modal('show');
      $('#datosEps').html(respuesta);
    },
            // código a ejecutar si la petición falla;
          error : function(xhr, status) {
              $('body').removeClass('loading');
              $('.resp').removeAttr('hidden');
              $('.resp').html('Disculpe, existió un problema en la conexión.');
          },  
  });
}

function enviocrearConvenio(idEps){
  var url = "/eps/newConvenio";
  $.ajax({
    type: 'POST',
    url:url,
    data:{'idEps':idEps},
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosEps').modal('show');
      $('#datosEps').html(respuesta);

    },

      // código a ejecutar si la petición falla;
      error : function(xhr, status) {
          $('body').removeClass('loading');
          $('.resp').removeAttr('hidden');
          $('.resp').html('Disculpe, existió un problema en la conexión.');
      },
  });
}

$( ".ideps").click( function(){
  var idcconvenio = $(this).data('id');
   var tipo = 'eps';
  $('.modal-body #id').val(idcconvenio);
  $('.modal-body #tipo').val(tipo);
});


$( ".cambiarEstado").click( function(){
  var idEps= $(this).data('id');
   var tipo = 'eps';
  $('.modal-body #id').val(idEps);
  $('.modal-body #tipo').val(tipo);

});

</script>

{% endblock %}

