{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar sede eps{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR SEDE EPS</h3></div>
        {{ include('eps/_delete_form.html.twig') }}
      	<a href="{{ path('eps_index') }}">
      		<button type="button" class="close" title="Cerrar" aria-label="Close">
	          <span aria-hidden="true" class="fa-lg">&times;</span>
	        </button>
	      </a>
      
    </div>
    <!--Body de Modal-->
      
      <div class="modal-body">  
        {{ form_start(formEdit, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formEditEpsSede'} }) }} 
          <div class="row">
            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                  <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
              </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEdit.nombre) }}
                  <div class="invalid-feedback">{{ form_errors(formEdit.nombre)}}</div>
            </div> 
              <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                  <label for="nit" class="control-label">Identificación</label>&nbsp;<label class="text-danger">*</label>
              </div>
              <div class="form-group col-xg-4 col-lg-4 col-md-4">   
                {% set nit = eps.idSedeEps.nit|split('-') %}
                {%if nit | length ==2 and nit[1] == ''%}
                <label>{{nit[0]}}</label>
                {%else%}
                <label>{{eps.idSedeEps.nit}}</label>
                {%endif%}
                <div class="invalid-feedback">{{ form_errors(formEdit.nit)}}</div>
            </div> 
            </div>
            <div class="row mt-2">
            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                  <label for="direccion" class="control-label">Dirección</label>&nbsp;<label class="text-danger">*</label>
              </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                {{ form_widget(formEdit.direccion) }}
                <div class="invalid-feedback">{{ form_errors(formEdit.direccion)}}</div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <label for="telefono">Teléfono</label>
            </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 form-group">
                <input type="text" id="indicativo" class="form-control" name="indicativo">
                <div class="invalid-feedback mt-1"></div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-7 form-group">
                <input class="tinymce form-control" type="text" id="telefono" name="telefono" > 
                <div class="invalid-feedback mt-1 tel">{{ form_errors(formEdit.telefono)}}</div>
              </div>  
          </div>
          <div class="row mt-2">
            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                  <label for="movil" class="control-label">Celular</label><br><label>Contacto</label>&nbsp;<label class="text-danger">*</label>
              </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEdit.movil) }}
                  <div class="invalid-feedback">{{ form_errors(formEdit.movil)}}</div>
            </div> 
              <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                  <label for="email" class="control-label">E-mail</label>&nbsp;<label class="text-danger">*</label>
              </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEdit.email) }}
                  <div class="invalid-feedback">{{ form_errors(formEdit.email)}}</div>
            </div> 
            </div>
            <div class="row mt-2">
            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                  <label for="idMunicipio" class="control-label">Municipio</label>&nbsp;<label class="text-danger">*</label>
              </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEdit.idMunicipio) }}
                  <div class="invalid-feedback">{{ form_errors(formEdit.idMunicipio)}}</div>
            </div> 
              <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                  <label for="nombreContacto" class="control-label">Nombre </label><label>Contacto</label>&nbsp;<label class="text-danger">*</label>
              </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEdit.nombreContacto) }}
                  <div class="invalid-feedback">{{ form_errors(formEdit.nombreContacto)}}</div>
            </div> 
            </div>
            <div class="row mt-2">
              <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">
                  <label for="descripcion" class="control-label">Descripción</label>
              </div>
              <div class="form-group col-xg-10 col-lg-10 col-md-10">      
                  {{ form_widget(formEdit.descripcion) }}
                  <div class="invalid-feedback">{{ form_errors(formEdit.descripcion)}}</div>
              </div> 
            </div>
            <div hidden>    
              {{ form_widget(formEdit.estado) }}
              {{ form_widget(formEdit.nit) }}
              {{ form_widget(formEdit.telefono) }}
              {{ form_widget(formEdit.idUsuarioIngresa) }}
              {{ form_widget(formEdit.idSedeEps) }}
              <input type="hidden" id="nitEPS" value="{{eps.idSedeEps.nit}}">
            </div>
            <hr>
          <div class="text-center">
            <a href="{{ path('eps_index') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>
              <button type="submit" id="butg2" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
            </div>
        {{ form_end(formEdit) }}
          <input type="hidden" id="idEpSede" value="{{eps.idEps}}">
      </div>          
  </div>
</div>
{% endblock %}