{% extends 'baseModal.html.twig' %}
{% block title %}Registrar convenio{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <div class="text-center w-100"><h3 class="modal-title">REGISTRAR CONVENIO A EPS <u>{{convenio.idEps}}</u></h3></div>
          
            <a href="{{ path('eps_index') }}">
              <button type="button" class="close" title="Cerrar" aria-label="Close">
                <span aria-hidden="true" class="fa-lg">&times;</span>
              </button>
          </a>
      </div>

      <div class="modal-body">
        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formConvenioCrearE'} }) }}
        <div class="row">
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
          </div>
          <div class="form-group col-sm-10 col-xg-10 col-lg-10 col-md-10">    
            {{ form_widget(form.nombre) }}
            <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
            <label for="porcentajeDescuento" class="control-label">% Tratamiento</label>
          </div>
          <div class="form-group col-xg-4 col-lg-4 col-md-4">     
            {{ form_widget(form.porcentajeDescuento) }}
            <div class="invalid-feedback">{{ form_errors(form.porcentajeDescuento)}}</div>
          </div> 
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
            <label for="porcentajeRemision" class="control-label">% Remisión</label>
          </div>
          <div class="form-group col-xg-4 col-lg-4 col-md-4">     
            {{ form_widget(form.porcentajeRemision) }}
            <div class="invalid-feedback">{{ form_errors(form.porcentajeRemision)}}</div>
          </div> 
        </div>
        <div class="row mt-2">
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">
            <label for="observacion" class="control-label">Observaciones</label>
          </div>
          <div class="form-group col-xg-10 col-lg-10 col-md-10">      
            {{ form_widget(form.observacion) }}
            <div class="invalid-feedback">{{ form_errors(form.observacion)}}</div>
          </div> 
        </div>
        <div class="row mt-2">
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
            <label for="fechaApertura" class="control-label fles">Fecha Apertura</label>&nbsp;<label class="text-danger fles">*</label>
          </div>
          <div class="form-group col-xg-4 col-lg-4 col-md-4">     
            {{ form_widget(form.fechaApertura) }}
            <div class="invalid-feedback">{{ form_errors(form.fechaApertura)}}</div>
          </div> 
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
            <label for="fechaFinalizacion" class="control-label fles">Fecha finalización</label>&nbsp;<label class="text-danger fles">*</label>
          </div>
          <div class="form-group col-xg-4 col-lg-4 col-md-4">     
            {{ form_widget(form.fechaFinalizacion) }}
            <div class="invalid-feedback">{{ form_errors(form.fechaFinalizacion)}}</div>
          </div> 
        </div>
        <div hidden>
          {{ form_widget(form.estado) }}
          {{ form_widget(form.idClinica) }}
          {{ form_widget(form.idEps) }}
          {{ form_widget(form._token) }}
        </div>          
        <hr>
        <div class="text-center">          
          <a href="{{ path('eps_index') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>
          <button type="submit" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>            
        </div>      
      </div>
      {{ form_end(form) }}
    </div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock %}