{% extends 'baseModal.html.twig' %}
{% block title %}Detalle eps{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
	<div class="modal-content">
        <div class="modal-header">
        	{%if eps.idSedeEps != ''%}
        	<div class="text-center w-100"><h3 class="modal-title">DETALLE SEDE EPS</h3></div>
        	{%else%}
        	<div class="text-center w-100"><h3 class="modal-title">DETALLE EPS</h3></div>
        	{%endif%}
    		<a href="{{ path('eps_index') }}">
    			<button type="button" class="close" title="Cerrar" aria-label="Close">
         			<span aria-hidden="true" class="fa-lg">&times;</span>
        		</button>
    		</a>
    	</div>

		<div class="modal-body"> 
       		<div class="row">
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Identificación</b></div>
       			<div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">
	       			{% set nit = eps.nit|split('-') %}
	                {%if nit | length ==2 and nit[1] == ''%}
	                	{{nit[0]}}
	                {%else%}
	                	{{eps.nit}}
                	{%endif%}
            </div>
       		</div>
       		{%if eps.idSedeEps != ''%}
       		<div class="row mt-2">
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Nombre</b></div>
       			<div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{eps.nombre}}</div>
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Sede</b></div>
       			<div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{eps.idSedeEps}}</div>
       		</div>
       		{%else%}
       		<div class="row mt-2">
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Nombre</b></div>
       			<div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{{eps.nombre}}</div>
       		</div>
       		{%endif%}
       		<div class="row mt-2">
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Dirección</b></div>
       			<div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{{eps.direccion}} - {{eps.idMunicipio}}</div>
       		</div>
       		{%if eps.telefono != ''%}
       		<div class="row mt-2">
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Teléfono</b></div>
       			<div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{{eps.telefono}}</div>
       		</div>
       		{%endif%}
       		<div class="row mt-2">
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Persona contacto</b></div>
       			<div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{eps.nombreContacto}}</div>
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Celular</b></div>
       			<div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{eps.movil}}</div>
       		</div>
       		<div class="row mt-2">
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Correo electrónico</b></div>
       			<div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{{eps.email}}</div>
       		</div>
       		{% if eps. descripcion != ''%}
       		<div class="row mt-2">
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Descripción</b></div>
       			<div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{{eps.descripcion}}</div>
       		</div>
       		{%endif%}
       		<div class="row mt-2">
       			<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Estado</b></div>
       			<div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{%if eps.estado == true%} Activo{%else%}Inactivo{%endif%} </div>
       		</div>
        </div>
        <div class="modal-footer"> 
        	<a href="{{ path('eps_index') }}"><button class="btn btn-outline-warning atras" type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cerrar' |trans}}</button></a>
        </div>
    </div>
</div>
{% endblock %}