{% extends 'baseModal.html.twig' %}
{% block title %}Registrar sede eps{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">REGISTRAR SEDE EPS</h3></div>
    	
      <a href="{{ path('eps_index') }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true" class="fa-lg">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
      <div class="modal-body">
        {{ form_start(formGeneralEps, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formGeneralSedeEps'} }) }}  
          {{ include('eps/_form.html.twig') }}
        
      </div>
      <input type="hidden" id="idTipoR" value="{{eps.idEps}}">
  </div>
</div>  
{% endblock %}
