{% block body %}
<div class="modal fade bd-example-modal-lg" id="crearEps">
	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	        <div class="modal-header">
	        	<div class="text-center w-100"><h3 class="modal-title">REGISTRAR EPS</h3></div>

	        		<a href="{{ path('eps_index') }}">
	        			<button type="button" class="close" title="Cerrar" aria-label="Close">
		         			<span aria-hidden="true" class="fa-lg">&times;</span>
		        		</button>
		    		</a>
		    </div>

		    <div class="modal-body">
		    	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'form_epscrear'} }) }}	

		    		<div class="row">
						<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
					        <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
					    </div>
					    <div class="form-group col-xg-4 col-lg-4 col-md-4">			
					        {{ form_widget(form.nombre) }}
					        <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
					    </div> 
					    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-left">
				              <label for="niEps">Identificación</label>&nbsp;<label class="text-danger">*</label>
				        </div>
					    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 form-group">
					      <input type="text" id="niEps" class="form-control" name="niEps" required data-toggle="tooltip"  title="Pendiente."  data-placement="right" data-color="black" data-html="true">	
					      <div class="invalid-feedback">{{ form_errors(form.nit)}}</div>      
					    </div>
					    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 form-group">
					      <input class="tinymce form-control" type="text" id="numId" name="numId" data-toggle="tooltip" title="Pendiente."  data-placement="right" data-color="black" data-html="true" >
					      <div class="invalid-feedback mt-1"></div>
					    </div>
				    </div>
				    <div class="row mt-2">
						<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
					        <label for="direccion" class="control-label">Dirección</label>&nbsp;<label class="text-danger">*</label>
					    </div>
						<div class="form-group col-xg-4 col-lg-4 col-md-4">			
			            	{{ form_widget(form.direccion) }}
			            	<div class="invalid-feedback">{{ form_errors(form.direccion)}}</div>
			    		</div>
			    		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
							<label for="telefono">Teléfono</label>
						</div>
					    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 form-group">
					      <input type="text" id="indicativo" class="form-control" name="indicativo">
					      <div class="invalid-feedback mt-1"></div>
					    </div>
					    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-7 form-group">
					      <input class="tinymce form-control" type="text" id="telefono" name="telefono" > 
					      <div class="invalid-feedback mt-1 tel">{{ form_errors(form.telefono)}}</div>
					    </div>	
				    </div>
				    <div class="row mt-2">
						<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
					        <label for="movil" class="control-label">Celular</label><br><label>Contacto</label>&nbsp;<label class="text-danger">*</label>
					    </div>
			    		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
			            	{{ form_widget(form.movil) }}
			            	<div class="invalid-feedback">{{ form_errors(form.movil)}}</div>
			    		</div> 
					    <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
					        <label for="email" class="control-label">E-mail</label>&nbsp;<label class="text-danger">*</label>
					    </div>
			    		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
			            	{{ form_widget(form.email) }}
			            	<div class="invalid-feedback">{{ form_errors(form.email)}}</div>
			    		</div> 
				    </div>
				    <div class="row mt-2">
						<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
					        <label for="idMunicipio" class="control-label">Municipio</label>&nbsp;<label class="text-danger">*</label>
					    </div>
			    		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
			            	{{ form_widget(form.idMunicipio) }}
			            	<div class="invalid-feedback">{{ form_errors(form.idMunicipio)}}</div>
			    		</div> 
					    <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
					        <label for="nombreContacto" class="control-label">Nombre </label><label>Contacto</label>&nbsp;<label class="text-danger">*</label>
					    </div>
			    		<div class="form-group col-xg-4 col-lg-4 col-md-4">			
			            	{{ form_widget(form.nombreContacto) }}
			            	<div class="invalid-feedback">{{ form_errors(form.nombreContacto)}}</div>
			    		</div> 
				    </div>
				    <div class="row mt-2">
				    	<div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">
					        <label for="descripcion" class="control-label">Descripción</label>
					    </div>
					    <div class="form-group col-xg-10 col-lg-10 col-md-10">			
					        {{ form_widget(form.descripcion) }}
					        <div class="invalid-feedback">{{ form_errors(form.descripcion)}}</div>
					    </div> 
				    </div>

				    <div hidden>
				    	{{ form_widget(form.idSedeEps) }}
				    	{{ form_widget(form.estado) }}
				    	{{form_widget(form.telefono)}}
				    	{{form_widget(form.nit)}}
				    	{{form_widget(form.idUsuarioIngresa)}}
				    </div>
				    
				    <hr>
					<div class="text-center">
						<a href="{{ path('eps_index') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>
					    <button type="submit" id="butg2" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
				    </div>
					{{ form_end(form) }}
				    
		   	</div>
	    </div>
	</div>
<div class='modalCargando'></div>
</div>	

{% endblock %}
{% block javascripts %}

{% endblock %}