{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar eps{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
      <div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR EPS</h3></div>
        {{ include('eps/_delete_form.html.twig') }}
        <a href="{{ path('eps_index') }}">
          <button type="button" class="close" title="Cerrar" aria-label="Close">
            <span aria-hidden="true" class=" fa-lg">&times;</span>
          </button>
      </a>
      
    </div>
    <!--Body de Modal-->
      
      <div class="modal-body">
         {{ form_start(formEditE, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formEditEps'} }) }} 
          <div class="row">
            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
            </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                {{ form_widget(formEditE.nombre) }}
                <div class="invalid-feedback">{{ form_errors(formEditE.nombre)}}</div>
            </div> 
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-left">
                    <label for="niEps">Identificación</label>&nbsp;<label class="text-danger">*</label>
              </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 form-group">
              <input type="text" id="niEps" class="form-control" name="niEps" required data-toggle="tooltip"  title="Pendiente."  data-placement="right" data-color="black" data-html="true">  
              <div class="invalid-feedback">{{ form_errors(formEditE.nit)}}</div>      
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 form-group">
              <input class="tinymce form-control" type="text" id="numId" name="numId" data-toggle="tooltip" title="Pendiente."  data-placement="right" data-color="black" data-html="true" >
              <div class="invalid-feedback mt-1"></div>
            </div>
          </div>
          <div class="row mt-2">
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                <label for="direccion" class="control-label">Dirección</label>&nbsp;<label class="text-danger">*</label>
            </div>
          <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEditE.direccion) }}
                  <div class="invalid-feedback">{{ form_errors(formEditE.direccion)}}</div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <label for="telefono">Teléfono</label>
          </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 form-group">
              <input type="text" id="indicativo" class="form-control" name="indicativo" required>
              <div class="invalid-feedback mt-1"></div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-7 form-group">
              <input class="tinymce form-control" type="text" id="telefono" name="telefono" required> 
              <div class="invalid-feedback mt-1 tel">{{ form_errors(formEditE.telefono)}}</div>
            </div>  
          </div>
          <div class="row mt-2">
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                <label for="movil" class="control-label">Celular</label><br><label>Contacto</label>&nbsp;<label class="text-danger">*</label>
            </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEditE.movil) }}
                  <div class="invalid-feedback">{{ form_errors(formEditE.movil)}}</div>
            </div> 
            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                <label for="email" class="control-label">E-mail</label>&nbsp;<label class="text-danger">*</label>
            </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEditE.email) }}
                  <div class="invalid-feedback">{{ form_errors(formEditE.email)}}</div>
            </div> 
          </div>
          <div class="row mt-2">
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                <label for="idMunicipio" class="control-label">Municipio</label>&nbsp;<label class="text-danger">*</label>
            </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEditE.idMunicipio) }}
                  <div class="invalid-feedback">{{ form_errors(formEditE.idMunicipio)}}</div>
            </div> 
            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
                <label for="nombreContacto" class="control-label">Nombre </label><label>Contacto</label>&nbsp;<label class="text-danger">*</label>
            </div>
            <div class="form-group col-xg-4 col-lg-4 col-md-4">     
                  {{ form_widget(formEditE.nombreContacto) }}
                  <div class="invalid-feedback">{{ form_errors(formEditE.nombreContacto)}}</div>
            </div> 
          </div>
          <div class="row mt-2">
            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">
                <label for="descripcion" class="control-label">Descripción</label>
            </div>
            <div class="form-group col-xg-10 col-lg-10 col-md-10">      
                {{ form_widget(formEditE.descripcion) }}
                <div class="invalid-feedback">{{ form_errors(formEditE.descripcion)}}</div>
            </div> 
          </div>

          <div hidden>
            {{ form_widget(formEditE.idSedeEps) }}
            {{ form_widget(formEditE.estado) }}
            {{form_widget(formEditE.telefono)}}
            {{form_widget(formEditE.nit)}}
            {{form_widget(formEditE.idUsuarioIngresa)}}
          </div>


          <hr>
          <div class="text-center">
            <a href="{{ path('eps_index') }}"><button class="btn btn-outline-warning atras" type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cerrar' |trans}}</button></a>
            <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button> 
          </div>
          {{ form_end(formEditE) }}
          <input type="hidden" id="idEpsPrincipal" value="{{eps.idEps}}">
          <div id="ll">
          </div>
      </div>          
  </div>
</div>
{% endblock %}