
<!doctype html>
<html>
<head>
	<title>Voice Notepad - Speech to Text with Google Speech Recognition</title>
	<meta name="description" content="Looking for a free alternative to Dragon Naturally speaking for speech recognition? Voice Notepad lets you type with your voice in any language.">

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta property="og:url" content="https://dictation.io/">
	<meta property="og:image" content="images/languages.jpg">
	<meta property="og:type" content="website">
	<meta name="twitter:image" content="images/languages.jpg">
	<meta name=" twitter:url" content="https://dictation.io/">
	<meta name="twitter:title" content="Voice Dictation - Type with your voice using Google Speech Recognition">
	
	<linkrel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ikjmfindklfaonkodbnidahohdfbdhkn"><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-3152670624293746",enable_page_level_ads:!1});</script>
	<linkrel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"><script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script><script>window.addEventListener("load",function(){window.cookieconsent.initialise({palette:{popup:{background:"#efefef",text:"#404040"},button:{background:"#8ec760",text:"#ffffff"}},content:{href:"https://www.labnol.org/privacy",message:"Google serves cookies to analyze traffic to this site and for serving personalized ads."}})});</script>
	<linkrel="canonical" href="https://dictation.io/speech"><style>@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}}#wait-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000}#wait,#wait:after,#wait:before{border-radius:50%;border:3px solid transparent}#wait{display:block;width:150px;height:150px;margin:-75px 0 0 -75px;z-index:1001;position:relative;left:50%;top:50%;border-top-color:#3498db;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite}#wait:after,#wait:before{content:"";position:absolute;top:5px;left:5px;right:5px;bottom:5px;border-top-color:#e74c3c;-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}#wait:after{top:15px;left:15px;right:15px;bottom:15px;border-top-color:#f9c922;-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite}#wait-wrapper .wait-section{position:fixed;top:0;width:51%;height:100%;background:#222;z-index:1000;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}#wait-wrapper .wait-section.section-left{left:0}#wait-wrapper .wait-section.section-right{right:0}.loaded #wait-wrapper .wait-section.section-left,.loaded #wait-wrapper .wait-section.section-right{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:all .7s .3s cubic-bezier(.645,.045,.355,1);transition:all .7s .3s cubic-bezier(.645,.045,.355,1)}.loaded #wait-wrapper .wait-section.section-right{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}.loaded #wait{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}.loaded #wait-wrapper{visibility:hidden;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transition:all .3s 1s ease-out;transition:all .3s 1s ease-out}.no-js #wait-wrapper{display:none}</style></head>
	<body data-smooth-scroll-offset="77">

		<div class="main-container">
			<section class="switchable switchable--switch bg--primary space--sm">
				<div class="container">
					<div class="row" id="dictation">
						<div class="col-lg-offset-1 col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<ins class="adsbygoogle" style="display:block;min-width:300px;max-width:360px" data-ad-format="fluid" data-ad-layout="in-article" data-ad-client="ca-pub-3152670624293746" data-ad-slot="2661515976"></ins>
							<script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>
							<div class="input-select chrome langdd mt--1">
								<select name="lang" id="lang" onchange="dictation('lang')"><option value="" selected="selected" disabled="disabled">Choose your Language</option></select>
							</div>
							<div class="commands"></div>
							<div class="text-block mt--1"><p class="log"><span>Click the microphone icon and speak</span> <img src="images/mic.svg" class="bars"></p></div><div class="text-block mt--2 teaser hidden-xs"></div>
						</div>
						<div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
							<div class="notepad">

								<div id="toolbar" class="hidden-xs">
									<span class="ql-formats"><button class="ql-bold"></button> <button class="ql-italic"></button> <button class="ql-underline"></button> </span>
									<span class="ql-formats"><select class="ql-color"></select> <select class="ql-background"></select> <select class="ql-align"></select> </span>
									<span class="ql-formats hidden-xs"><button class="ql-list" value="ordered"></button> <button class="ql-list" value="bullet"></button> <button class="ql-indent" value="-1"></button> 
									<button class="ql-indent" value="+1"></button> </span>

									<span class="ql-formats"><button class="ql-direction" value="rtl"></button> <button class="ql-clean"></button></span>
								</div>
								<div id="speech">
									
								</div>
								<div class="action-buttons">
									<div class="left chrome">
										<a href="#" class="btn-mic btn btn--primary-1"><span class="btn__text listen">Start</span><div class="loading-indicator hide"></div></a>
									</div>
									<div class="right btn-group">
										<a data-tooltip="Copy text to Clipboard" href="#" class="btn btn--sm btn--primary btn-clipboard"><span class="btn__text btn__copy">Copy</span> </a>

										<a data-tooltip="Download File as Plain Text" href="#" onclick="dictation('save');return false;" class="btn btn--sm btn-save btn--primary"><span class="btn__text">Save</span> </a>

										<a data-tooltip="Publish your note online" href="#" onclick="dictation('gist');return false;" class="btn btn--sm btn-save btn--primary"><span class="btn__text">Publish</span> </a>

										<a data-tooltip="Share on Twitter" target="_blank" href="https://twitter.com/intent/tweet?related=labnol&text=I%20❤%20dictation.io%20for%20voice%20typing&via=labnol&url=https://dictation.io" class="btn btn--sm btn-save btn--primary"><span class="btn__text">Tweet</span> </a>

										<a data-tooltip="Text to Speech" href="#" onclick="dictation('play');return false;" class="btn btn--sm btn--primary btn-tts-parent"><span class="btn__text">Play</span> </a>

										<a data-tooltip="Email This" target="_blank" href="mailto:?body=" onclick="dictation('mail')" class="btn btn--sm btn-clear btn--primary btn-mail"><span class="btn__text">Email</span> </a>

										<a data-tooltip="Save as PDF, or Print" href="#" onclick="dictation('print');return false;" class="btn btn--sm btn-clear btn--primary"><span class="btn__text">Print</span> </a>

										<a data-tooltip="Clear Dictation Notepad" href="#" onclick="dictation('clear');return false;" class="btn btn--sm btn-clear btn--primary"><span class="btn__text">Clear</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

	<linkhref="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet" type="text/css">

	<linkhref="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

	<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

	<script src="/js/1549868818096.js"></script></body></html>