    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.nombrePresentacion) }}
            <div class="invalid-feedback">{{ form_errors(form.nombrePresentacion)}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="unidad" class="fles">Cantidad/Unidad</label>&nbsp;<label class="text-danger fles">*</label>
        </div>
        <div class=" form-group col-xg-5 col-lg-5 col-md-5 col-sm-12"> 
            <input type="number" id="cantidad" name="cantidad" required="required" class="tinymce form-control form-control-success form-control-danger" data-toggle="tooltip" title="Pendiente." data-placement="right" data-html="true" data-original-title="Pendiente." aria-invalid="true">
            <div class="invalid-feedback" id="cantidad">{{ form_errors(form.unidad)}}</div>
        </div>
        <div class=" form-group col-xg-5 col-lg-5 col-md-5 col-sm-12"> 
            <select class="form-control" id="unidades" name="unidades" required="required">
                <option value="">Seleccione unidad</option>                
                <optgroup label="Unidades">
                    <option value="unid">Unidad</option>
                </optgroup>
                <optgroup label="Masa">
                    <option value="mg">Miligramo (mg)</option>
                    <option value="gr">Gramo (gr)</option>
                    <option value="kg">Kilogramo (kg)</option>
                </optgroup>
                <optgroup label="Capacidad">
                    <option value="ml">Mililitro (ml)</option>
                    <option value="l">Litro (l)</option>
                    <option value="kl">Kilolitro (kl)</option>
                </optgroup>
                <optgroup label="Longitud">
                    <option value="mm">Milímetro (mm)</option>
                    <option value="cm">Centímetro (cm)</option>
                    <option value="dm">Decímetro (dm)</option>
                    <option value="m">Metro (m)</option>
                    <option value="km">Kilómetro (km)</option>
                </optgroup>
            </select>            
            <div class="invalid-feedback" id="unidad"></div>
        </div>
    </div>
    <div hidden>
    	{{ form_widget(form.estado) }}
        {{ form_widget(form.unidad) }}
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('presentacion_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
