<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}¡Bienvenidos Ortoboy!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
        {% block stylesheets %}
        <!-- DatePicker -->
        <link rel="stylesheet" type="text/css" href="{{ asset('light/dist/assets/css/bootstrap-datepicker.standalone.css' )}}">

        <link href="{{ asset('light/dist/assets/css/gijgo.min.css' )}}" rel="stylesheet" type="text/css" />

        <link href="{{ asset('light/dist/assets/css/gijgo.css' )}}" rel="stylesheet" type="text/css" />

        

        <!-- icono favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('light/dist/assets/images/logoOrtoboy.png') }}">
        <!-- App css -->
        <link href="{{ asset('light/dist/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('light/dist/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('light/dist/assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- Plugin css -->
        <link href="{{ asset('light/dist/assets/libs/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet" type="text/css" />
        <!--Calendario menu css-->
        <link href="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.css')}}" rel="stylesheet" type="text/css" />

        <!-- Plugins css select -->
        <link href="{{ asset('light/dist/assets/libs/select2/select2.min.css')}}" rel="stylesheet" type="text/css" />
        <!--link href="{{ asset('light/dist/assets/css/component-chosen.css')}}" rel="stylesheet"-->
        <link href="{{ asset('light/dist/assets/css/dataTables.bootstrap.css')}}" rel="stylesheet">

        <!--cambia de color de validación con validator-->
        <link href="{{ asset('light/dist/assets/css/validacionVisualError.css')}}" rel="stylesheet">

        <!-- styleGeneral-->
        <link href="{{ asset('light/dist/assets/css/styleGeneral.css')}}" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ asset('light/dist/assets/css/sweetalert2.min.css')}}" />

        <!-- <link rel="stylesheet" href="{{ asset('light/dist/assets/css/sites.css')}}" /> -->

        <!--link href="{{ asset('light/dist/assets/css/bootstrap-chosen.css')}}" rel="stylesheet"-->

         <!-- DataTables Responsive CSS -->
        <!--link href="{{ asset('light/dist/assets/css/dataTables.responsive.css') }}" rel="stylesheet"-->
         
        {% endblock %}

    </head>
   
    <body> 

    	
    	 <div id="wrapper">
    	 	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        		{{ include('menuIzquierdo.html.twig') }}
        		{{ include('menuSuperior.html.twig') }}
    		{% endif %}
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
				        {% block body %}
				        {% endblock %}
				    </div>
       			</div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ include('menuInferior.html.twig') }}
                {% endif %}
                <div class='modalCargando'></div>
    		</div>

    	{# if is_granted('IS_AUTHENTICATED_FULLY') #}
        		{# include('menuDerecho.html.twig') #}
    	{# endif #}

        <!-- Vendor js -->
        <script src="{{ asset('light/dist/assets/js/vendor.min.js')}}"></script>

        <!-- App js -->
        <script src="{{ asset('light/dist/assets/js/app.min.js')}}"></script>
        
        <!-- plugin js -->
        <script src="{{ asset('light/dist/assets/libs/moment/moment.min.js') }}"></script>
        <script src="{{ asset('light/dist/assets/libs/jquery-ui/jquery-ui.min.js') }}"></script>        
        <script src="{{ asset('light/dist/assets/libs/fullcalendar/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('light/dist/assets/libs/fullcalendar/locale-all.js') }}"></script>
		<!-- Calendario ofreid por la plantilla -->
		<script src="{{ asset('light/dist/assets/js/agendaCalendar.js') }}"></script>
        <!--Dictado por voz-->    
        <script src="{{ asset('light/dist/assets/js/dictadoVoz.js')}}"></script>
       			
		<!--flatpickr iniciacion-->
		<script src="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.js')}}"></script>
        <script src="{{ asset('light/dist/assets/libs/flatpickr/es.js')}}"></script>

        <!-- Init js-->
        <script src="{{ asset('light/dist/assets/js/calendarioMenu.js')}}"></script>

        <!--Seleccion para que se pueda buscar dentro de un select-->
        <script src="{{ asset('light/dist/assets/libs/select2/select2.min.js')}}"></script>
        <!--Seleccione con chosen-->
        <!--script src="{{ asset('light/dist/assets/js/chosen.jquery.js')}}"></script-->
        <!-- Init js-->
        <!-- Footable js -->

        <!--jquery.dataTables-->
        <script src="{{asset('/light/dist/assets/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('/light/dist/assets/js/dataTables.bootstrap.min.js')}}"></script>
        <script src="{{asset('/light/dist/assets/js/tables.js')}}"></script>


        <script src="{{asset('/light/dist/assets/js/clicIcono.js')}}"></script>

        <script src="{{ asset('light/dist/assets/js/jquery.validate.js')}}"></script>

        <script src="{{ asset('light/dist/assets/js/validaciones_mileidy.js')}}"></script>
        
        <script src="{{ asset('light/dist/assets/js/messages_es.js')}}"></script>
        
        <script type="text/javascript" src="{{ asset('light/dist/assets/js/sweetalert2.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('light/dist/assets/js/confirmarEliminacion.js') }}"></script>

   
        {% block javascripts %}
            <script src="{{ asset('light/dist/assets/js/jquery.min.js')}}"></script>
            <!-- Deshabilitar volver atras -->
            <script type="text/javascript" src="{{ asset('/login.js') }}"></script>
            
            <script src="{{ asset('light/dist/assets/libs/moment/moment.min.js') }}"></script>
            <!--script src="{{ asset('light/dist/assets/libs/jquery-ui/jquery-ui.min.js') }}"></script-->        
            <script src="{{ asset('light/dist/assets/libs/fullcalendar/fullcalendar.min.js') }}"></script>
            <script src="{{ asset('light/dist/assets/libs/fullcalendar/locale-all.js') }}"></script>
            <script src="{{ asset('light/dist/assets/js/agendaCalendar.js') }}"></script>

            <!--flatpickr iniciacion-->
            <script src="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.js')}}"></script>
            <script src="{{ asset('light/dist/assets/libs/flatpickr/es.js')}}"></script>

            <!-- Init js-->
            <script src="{{ asset('light/dist/assets/js/calendarioMenu.js')}}"></script>

            <!-- DatePicker -->
            <!-- <script type="text/javascript" src="{{ asset('light/dist/assets/js/gijgo.min.js')}}"></script> -->

        {% endblock %}
    </body>
</html>
