<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}¡Bienvenidos Ortoboy!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- ICONO FAVICON -->
    <link rel="icon" type="image/x-icon" href="{{ asset('light/dist/assets/images/logoOrtoboy.png') }}">
    
    <!-- APP CSS PLANTILLA -->
    <link href="{{ asset('light/dist/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('light/dist/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('light/dist/assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- MANEJO DE CALENDARIO DE AGENDA CITAS -->
    <link href="{{ asset('light/dist/assets/libs/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet" type="text/css" />

    <!--CALENDARIO MENU CSS-->
    <link href="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.css')}}" rel="stylesheet" type="text/css" />

    <!-- SELECT 2 -->
    <link href="{{ asset('light/dist/assets/libs/select2/select2.min.css')}}" rel="stylesheet" type="text/css" />
    <!--link href="{{ asset('light/dist/assets/css/component-chosen.css')}}" rel="stylesheet"-->
    <link href="{{ asset('light/dist/assets/css/dataTables.bootstrap.css')}}" rel="stylesheet">

    <!--CAMBIA DE COLOR DE VALIDACIÓN CON VALIDATOR-->
    <link href="{{ asset('light/dist/assets/css/validacionVisualError.css')}}" rel="stylesheet">

    <!-- MANEJO ESTILOS GENERADOS INTERNOS-->
    <link href="{{ asset('light/dist/assets/css/styleGeneral.css')}}" rel="stylesheet">

    <!-- MANEJO DE SWAL ESTILOS -->
    <link rel="stylesheet" href="{{ asset('light/dist/assets/css/sweetalert2.min.css')}}" />

    {% block stylesheets %}
    {% endblock %}
    

</head>

<body>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% block body %}
            {% endblock %}
            
                <div class='modalCargando'></div>
    {% endif %}
        <!-- VENDOR JS PLANTILLA-->
        <script src="{{ asset('light/dist/assets/js/vendor.min.js')}}"></script>
        <!-- APP JS  PLANTILLA-->
        <script src="{{ asset('light/dist/assets/js/app.min.js')}}"></script>    

        <!-- MANEJO DE CALENDARIO DE AGENDA  -->
        <script src="{{ asset('light/dist/assets/libs/moment/moment.min.js') }}"></script>
        <script src="{{ asset('light/dist/assets/libs/jquery-ui/jquery-ui.min.js') }}"></script>        
        <script src="{{ asset('light/dist/assets/libs/fullcalendar/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('light/dist/assets/libs/fullcalendar/locale-all.js') }}"></script>
        <script src="{{ asset('light/dist/assets/js/agendaCalendar.js') }}"></script>
        
        <!--FLATPICKR MANEJO DE FECHAS-->       
        <!--CALENDARIO MENU LIBRERIA EJECUCIÓN-->
        <script src="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.js')}}"></script>
        <script src="{{ asset('light/dist/assets/libs/flatpickr/es.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/calendarioMenu.js')}}"></script>

        <!--script src="{{ asset('light/dist/assets/js/jquery.min.js')}}"></script-->
        <!--LIBRERIA DE POPPER Y BOOTSTRAP 4-->
        <script src="{{ asset('light/dist/assets/js/popper.min.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/bootstrap.min.js')}}"></script>

       <!--MANEJO DE SELECT2 PARA BUSQUEDAS DENTRO DE SELECT-->
        <script src="{{ asset('light/dist/assets/libs/select2/select2.min.js')}}"></script>
        <!--script src="{{ asset('light/dist/assets/js/chosen.jquery.js')}}"></script-->
        <script src="{{ asset('light/dist/assets/js/select.js')}}"></script>

        <!--SRIPT GENERAL NECESARIOS FUNCIONAMIENTO-->
        <script src="{{ asset('light/dist/assets/js/scriptCompletos.js')}}"></script>

        <!--JQUERY.DATATABLES-->
        <script src="{{asset('/light/dist/assets/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('/light/dist/assets/js/dataTables.bootstrap.min.js')}}"></script>
        <script src="{{asset('/light/dist/assets/js/tables.js')}}"></script>
        <!--GESTIÓN VALIDATOR-->
        <script src="{{ asset('light/dist/assets/js/jquery.validate.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/validaciones_mileidy.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/validaciones_desarrolloII.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/messages_es.js')}}"></script>

        <!--MANEJO SWAL Y CONFIRMACIÓN ELIMINACIÓN-->      
        <script type="text/javascript" src="{{ asset('light/dist/assets/js/sweetalert2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('light/dist/assets/js/confirmarEliminacion.js') }}"></script>

       
        {% block javascripts %}   
        {% endblock %}
</body>
</html>