<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}¡Bienvenidos Orthoboy!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- ICONO FAVICON -->
        <link rel="icon" type="image/x-icon" href="{{ asset('light/dist/assets/images/logoOrtoboy.png') }}">

        <!-- APP CSS PLANTILLA -->
        <link href="{{ asset('light/dist/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('light/dist/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('light/dist/assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- MANEJO DE CALENDARIO DE AGENDA CITAS -->
        <link href="{{ asset('light/dist/assets/libs/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet" type="text/css" />

        <!--CALENDARIO MENU CSS-->
        <link href="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.css')}}" rel="stylesheet" type="text/css" />

        <!--MANEJO DE FECHAS PAR FUNCIONAMIENTO DE DATAPICKER-->
        <!--script src="{{ asset('light/dist/assets/js/jquery.min.js')}}"></script--> 
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="{{ asset('light/dist/assets/gijgo/css/gijgo.min.css')}}" rel="stylesheet" type="text/css" />

        <!-- SELECT 2 -->
        <link href="{{ asset('light/dist/assets/libs/select2/select2.min.css')}}" rel="stylesheet" type="text/css" />

        <!--link href="{{ asset('light/dist/assets/css/component-chosen.css')}}" rel="stylesheet"-->
        <link href="{{ asset('light/dist/assets/css/dataTables.bootstrap.css')}}" rel="stylesheet">

        <!--CAMBIA DE COLOR DE VALIDACIÓN CON VALIDATOR-->
        <link href="{{ asset('light/dist/assets/css/validacionVisualError.css')}}" rel="stylesheet">

        <!-- MANEJO ESTILOS GENERADOS INTERNOS-->
        <link href="{{ asset('light/dist/assets/css/styleGeneral.css')}}" rel="stylesheet">

        <!-- MANEJO DE SWAL ESTILOS -->
        <link rel="stylesheet" href="{{ asset('light/dist/assets/css/sweetalert2.min.css')}}" />

        <link rel="stylesheet" href="{{ asset('light/dist/assets/css/sites.css')}}" />

        <!--link href="{{ asset('light/dist/assets/css/bootstrap-chosen.css')}}" rel="stylesheet"-->

         <!-- DataTables Responsive CSS -->
        <!--link href="{{ asset('light/dist/assets/css/dataTables.responsive.css') }}" rel="stylesheet"-->

        <!-- Manejo de horas con clock -->
        <link href="{{ asset('light/dist/assets/libs/clockpicker/bootstrap-clockpicker.min.css')}}" rel="stylesheet" type="text/css" />

        
         <!-- Animation css -->
        <link href="{{ asset('light/dist/assets/libs/animate/animate.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('light/dist/assets/libs/custombox/custombox.min.css') }}" rel="stylesheet">
        {% block stylesheets %}
        
        {% endblock %}

        <script type="text/javascript">       
            var time;
            function inicio() { 
               // alert('hola');
                time = setTimeout(function() { 
                    $(document).ready(function(e) {
                        
                        swal({
                              title: "Inactividad",
                              text: "Session inactiva por mas de 28 minutos, se cerrara en dos minutos",
                              imageUrl: '/light/dist/assets/images/inactivacion.gif',
                              showCancelButton: true,
                              confirmButtonColor: '#3085d6',
                              cancelButtonColor: '#1abc9c',
                              confirmButtonClass: "btn-sm btn-outline-info ",
                              confirmButtonText: 'Aceptar',
                              cancelButtonText: "Continuar Sesión",
                              allowEscapeKey: false,
                              allowOutsideClick: false
                        }).then(function (isConfirm) {
                                if (isConfirm) {
                                    var seteo = "uno";
                                    $.ajax({
                                        // especifica si será una petición POST o GET
                                        type: 'GET',
                                         // la información a enviar
                                        data: {'seteo' : seteo},
                                       
                                        // la URL para la petición
                                        url: "{{ path('app_setear') }}",

                                        // el tipo de información que se espera de respuesta
                                        dataType : 'html',
                                 
                                        // código a ejecutar si la petición es satisfactoria;
                                        success : function(respuesta) {
                                            location.reload();
                                        },
                                 
                                        // código a ejecutar si la petición falla;
                                        error : function(xhr, status) {
                                            $('#message').html("Disculpe, existió un problema en la conexión.").attr( 'class', 'alert alert-danger'); 
                                        },
                                    });
                                }
                            }, function (dismiss) {
                                  if (dismiss === 'cancel') {
                                    var seteo = "cero";
                                     $.ajax({
                                        // especifica si será una petición POST o GET
                                        type: 'GET',
                                         // la información a enviar
                                        data: {'seteo' : seteo},
                                       
                                        // la URL para la petición
                                        url: "{{ path('app_setear') }}",

                                        // el tipo de información que se espera de respuesta
                                        dataType : 'html',
                                 
                                        // código a ejecutar si la petición es satisfactoria;
                                        success : function(respuesta) {
                                           location.reload();
                                        },
                                 
                                        // código a ejecutar si la petición falla;
                                        error : function(xhr, status) {
                                            $('#message').html("Disculpe, existió un problema en la conexión.").attr( 'class', 'alert alert-danger'); 
                                        },
                                    });
                                  };
                            });
                    });
                },1680000);//fin timeout en 29 minutos 
            }//fin inicio

            function reset() {
              clearTimeout(time);//limpia el timeout para resetear el tiempo desde cero 
                time = setTimeout(function() { 
                    $(document).ready(function(e) { 
                            swal({
                              title: "Inactividad",
                              text: "Session inactiva por mas de 28 minutos, se cerrara en dos minutos",
                              imageUrl: '/light/dist/assets/images/inactivacion.gif',
                              showCancelButton: true,
                              confirmButtonColor: '#3085d6',
                              cancelButtonColor: '#1abc9c',
                              confirmButtonClass: "btn-sm btn-outline-info ",
                              confirmButtonText: 'Aceptar',
                              cancelButtonText: "Continuar Sesión",
                              allowEscapeKey: false,
                              allowOutsideClick: false
                            }).then(function (isConfirm) {
                                if (isConfirm) {
                                    var seteo = "uno";
                                    $.ajax({
                                        // especifica si será una petición POST o GET
                                        type: 'GET',
                                         // la información a enviar
                                        data: {'seteo' : seteo},
                                       
                                        // la URL para la petición
                                        url: "{{ path('app_setear') }}",

                                        // el tipo de información que se espera de respuesta
                                        dataType : 'html',
                                 
                                        // código a ejecutar si la petición es satisfactoria;
                                        success : function(respuesta) {
                                            location.reload();
                                        },
                                 
                                        // código a ejecutar si la petición falla;
                                        error : function(xhr, status) {
                                            $('#message').html("Disculpe, existió un problema en la conexión.").attr( 'class', 'alert alert-danger'); 
                                        },
                                    });
                                }
                            }, function (dismiss) {
                                  if (dismiss === 'cancel') {
                                    var seteo = "cero";
                                     $.ajax({
                                        // especifica si será una petición POST o GET
                                        type: 'GET',
                                         // la información a enviar
                                        data: {'seteo' : seteo},
                                       
                                        // la URL para la petición
                                        url: "{{ path('app_setear') }}",

                                        // el tipo de información que se espera de respuesta
                                        dataType : 'html',
                                 
                                        // código a ejecutar si la petición es satisfactoria;
                                        success : function(respuesta) {
                                           location.reload();
                                        },
                                 
                                        // código a ejecutar si la petición falla;
                                        error : function(xhr, status) {
                                            $('#message').html("Disculpe, existió un problema en la conexión.").attr( 'class', 'alert alert-danger'); 
                                        },
                                    });
                                  };
                            });
                    });
                },1680000);//fin timeout 29 minutos
            }//fin reset
        </script> 
    </head>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <body onkeypress="reset()" onclick="reset()" onMouseMove="reset()" onkeydown="reset()" onload="inicio()">
    {% else %}   
    <body  > 
    {% endif %}
    	
    	<div id="wrapper">
    	 	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        		{{ include('menuIzquierdo.html.twig') }}
        		{{ include('menuSuperior.html.twig') }}
    		{% endif %}
            
            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">
				        {% block body %}
				        {% endblock %}
				    </div>
       			</div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ include('menuInferior.html.twig') }}
                {% endif %}
                <div class='modalCargando'></div>
    		</div>
        </div>    
        <!-- VENDOR JS PLANTILLA-->
        <script src="{{ asset('light/dist/assets/js/vendor.min.js')}}"></script>
        <!-- APP JS  PLANTILLA-->
        <script src="{{ asset('light/dist/assets/js/app.min.js')}}"></script>
        
        <!-- MANEJO DE CALENDARIO DE AGENDA  -->
        <script src="{{ asset('light/dist/assets/libs/moment/moment.min.js') }}"></script>
        <script src="{{ asset('light/dist/assets/libs/jquery-ui/jquery-ui.min.js') }}"></script>        
        <script src="{{ asset('light/dist/assets/libs/fullcalendar/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('light/dist/assets/libs/fullcalendar/locale-all.js') }}"></script>
		<script src="{{ asset('light/dist/assets/js/agendaCalendar.js') }}"></script>
        <!--DICTADO POR VOZ-->    
        <script src="{{ asset('light/dist/assets/js/dictadoVoz.js')}}"></script>
       	
        <!--GESTIÓN VALIDATOR-->
        <!--Manejo de ajaxSubmit
        <script src="http://malsup.github.com/jquery.form.js"></script> -->
        <script src="{{ asset('light/dist/assets/js/jquery.validate.js')}}"></script>        
        <script src="{{ asset('light/dist/assets/js/messages_es.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/validaciones_mileidy.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/validaciones_desarrolloII.js')}}"></script>

		<!--FLATPICKR MANEJO DE FECHAS-->		
        <!-- CALENDARIO MENU LIBRERIA EJECUCIÓN-->
        <script src="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.js')}}"></script>
        <script src="{{ asset('light/dist/assets/libs/flatpickr/es.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/calendarioMenu.js')}}"></script>
        
        <!--MANEJO DE DATEPICKER-->
        <script src="{{ asset('light/dist/assets/gijgo/js/gijgo.min.js')}}" type="text/javascript"></script>
        <script src="{{ asset('light/dist/assets/gijgo/js/messages/messages.es-es.js')}}" type="text/javascript"></script>
        
        <!--Manejo de clock para horas -->
        <script src="{{ asset('light/dist/assets/libs/clockpicker/bootstrap-clockpicker.min.js')}}"></script>
        <!--LIBRERIA DE POPPER Y BOOTSTRAP 4-->
        <!--script src="{{ asset('light/dist/assets/js/jquery.min.js')}}"></script-->
        <script src="{{ asset('light/dist/assets/js/popper.min.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/bootstrap.min.js')}}"></script>

        <!--MANEJO DE SELECT2 PARA BUSQUEDAS DENTRO DE SELECT-->
        <script src="{{ asset('light/dist/assets/libs/select2/select2.min.js')}}"></script>
        <!--script src="{{ asset('light/dist/assets/js/chosen.jquery.js')}}"></script-->
        <!-- Init js-->
        <script src="{{ asset('light/dist/assets/js/select.js')}}"></script>

        <!--SRIPT GENERAL NECESARIOS FUNCIONAMIENTO-->
        <script src="{{ asset('light/dist/assets/js/scriptCompletos.js')}}"></script>

        <!--JQUERY.DATATABLES-->
        <script src="{{asset('/light/dist/assets/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('/light/dist/assets/js/dataTables.bootstrap.min.js')}}"></script>
        <script src="{{asset('/light/dist/assets/js/tables.js')}}"></script>

        <!--MANEJO DE TABLAS ICONO JERARQUIA-->
        <script src="{{asset('/light/dist/assets/js/clicIcono.js')}}"></script>

        <!--MANEJO SWAL Y CONFIRMACIÓN ELIMINACIÓN-->       
        <script type="text/javascript" src="{{ asset('light/dist/assets/js/sweetalert2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('light/dist/assets/js/confirmarEliminacion.js') }}"></script>
        
        <script src="{{ asset('light/dist/assets/libs/custombox/custombox.min.js') }}"></script>
        {% block javascripts %}
            <!--script src="{{ asset('light/dist/assets/js/jquery.min.js')}}"></script--> 
            <!-- DESHABILITAR VOLVER ATRAS -->
            <script type="text/javascript" src="{{ asset('/login.js') }}"></script>
        {% endblock %}
    </body>
</html>
