<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}¡Bienvenidos Ortoboy!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- ICONO FAVICON -->
        <link rel="icon" type="image/x-icon" href="{{ asset('light/dist/assets/images/logoOrtoboy.png') }}">
        <!-- APP CSS PLANTILLA -->
        <link href="{{ asset('light/dist/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('light/dist/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('light/dist/assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />


        <!--MANEJO DE FECHAS PAR FUNCIONAMIENTO DE DATAPICKER-->
        <script src="{{ asset('light/dist/assets/js/jquery.min.js')}}"></script> 
        <link href="{{ asset('light/dist/assets/gijgo/css/gijgo.min.css')}}" rel="stylesheet" type="text/css" />

        
        <!--CAMBIA DE COLOR DE VALIDACIÓN CON VALIDATOR-->
        <link href="{{ asset('light/dist/assets/css/validacionVisualError.css')}}" rel="stylesheet">

        <!-- MANEJO ESTILOS GENERADOS INTERNOS-->
        <link href="{{ asset('light/dist/assets/css/styleGeneral.css')}}" rel="stylesheet">
        {% block stylesheets %}
        
        {% endblock %}
    </head>

    <body onload="deshabilitaRetroceso()" class="">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
        <div class='modalCargando'></div>

        <footer class="footer footer-alt">
            2015 - 2018 &copy; UBold theme by <a href="" class="text-white-50">Coderthemes</a> 
        </footer>

        <!-- VENDOR JS PLANTILLA-->
        <script src="{{ asset('light/dist/assets/js/vendor.min.js')}}"></script>

        <!-- APP JS PLANTILLA-->
        <script src="{{ asset('light/dist/assets/js/app.min.js')}}"></script>
         <!--MANEJO DE DATEPICKER-->
        <script src="{{ asset('light/dist/assets/gijgo/js/gijgo.min.js')}}" type="text/javascript"></script>
        <script src="{{ asset('light/dist/assets/gijgo/js/messages/messages.es-es.js')}}" type="text/javascript"></script>
        <!--Manejo de clock para horas -->
        <script src="{{ asset('light/dist/assets/libs/clockpicker/bootstrap-clockpicker.min.js')}}"></script>
        
        <script src="{{ asset('light/dist/assets/libs/flatpickr/flatpickr.min.js')}}"></script>
        <!--MANEJO DE SELECT2 PARA BUSQUEDAS DENTRO DE SELECT-->
        <script src="{{ asset('light/dist/assets/libs/select2/select2.min.js')}}"></script>        
        <script src="{{ asset('light/dist/assets/js/select.js')}}"></script>

        <!--SRIPT GENERAL NECESARIOS FUNCIONAMIENTO-->
        <script src="{{ asset('light/dist/assets/js/scriptCompletos.js')}}"></script>

        <!-- DESHABILITAR VOLVER ATRAS -->
        <script type="text/javascript" src="{{ asset('/login.js') }}"></script>

        <!--GESTIÓN VALIDATOR-->
        <script src="{{ asset('light/dist/assets/js/jquery.validate.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/validaciones_mileidy.js')}}"></script>
        <script src="{{ asset('light/dist/assets/js/messages_es.js')}}"></script>
    </body>
</html>