<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2015 - 2018 &copy; UBold theme by <a href="">Coderthemes</a> 
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="javascript:void(0);">Conocenos</a>
                    <a href="javascript:void(0);">Ayuda</a>
                    <a href="javascript:void(0);">Contactenos</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->