<!--div class="card-title">
  <div class="row">
    <div class="col-12">                  
      <a href="{{ path('paciente_edit', {'idPaciente':paciente.idPaciente}) }}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="mdi mdi-numeric-1-box-outline mdi-18px"></span>&nbsp;&nbsp;Datos personales</button></a>   
      <a href="{{ path('examenGeneral_new', {'idPaciente':paciente.idPaciente}) }}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="mdi mdi-numeric-2-box-outline mdi-18px"></span>&nbsp;&nbsp;Examen General</button></a>                  
      <a href="{{path('odontogramaPaciente_new',{'idPaciente':paciente.idPaciente})}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="mdi mdi-numeric-3-box-outline mdi-18px"></span>&nbsp;&nbsp;Examenes</button></a>                 
      <a href="{{path('stock_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="mdi mdi-numeric-4-box-outline mdi-18px"></span>&nbsp;&nbsp;Tratamientos</button></a>
      <a href="{{path('imagen_index', {'idPaciente':paciente.idPaciente})}}"><button class=" menus btn btn btn-primary waves-effect waves-light"><span class="mdi mdi-numeric-5-box-outline mdi-18px"></span>&nbsp;&nbsp;Imágenes</button></a>   
      <div class="btn-group">
        <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"><span class="mdi mdi-numeric-6-box-outline mdi-18px"></span>&nbsp;&nbsp;Documentos&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
        <div class="dropdown-menu">
            <p class="ml-3 mt-2">Ordenes</p>
            <hr>
            <a class="dropdown-item" href="">Consentimientos</a>
            <a class="dropdown-item" href="">Formulas Medicas</a>
            <a class="dropdown-item" href="">Archivos</a>
            <a class="dropdown-item" href="">Anexos</a>            
            <a class="dropdown-item" href="{{path('remision_new',{'idPaciente': paciente.idPaciente})}}">Remisiones</a>
            <a class="dropdown-item" href="">Ordenes laboratorio</a>            
            <a class="dropdown-item" href="">Orden radiografíca</a>
        </div>
      </div>
    </div>
  </div>
</div-->

<div class="row col-12 ml-1">
  <a href="{{ path('paciente_edit', {'idPaciente':paciente.idPaciente}) }}"><button class="menusPaciente btn btn btn-outline-success waves-effect waves-light"><span class="mdi mdi-account-check"></span>&nbsp;&nbsp;Datos personales</button></a>

  <a href="{{ path('examenGeneral_new', {'idPaciente':paciente.idPaciente}) }}"><button class=" menusPaciente btn btn btn-outline-info waves-effect waves-light"><span class="fas fa-notes-medical"></span>&nbsp;&nbsp;Examen general</button></a>

  <a href="{{path('odontogramaPaciente_new',{'idPaciente':paciente.idPaciente})}}"><button class=" menusPaciente btn btn btn-outline-blue waves-effect waves-light"><span class="mdi mdi-tooth"></span>&nbsp;&nbsp;Examenes</button></a>
  
  <a href="{{path('presupuesto_index', {'idPaciente':paciente.idPaciente})}}"><button class=" menusPaciente btn btn btn-outline-secondary waves-effect waves-light"><span class="fab fa-medrt"></span>&nbsp;&nbsp;Tratamiento</button></a>

  <a href="#"><button class=" menusPaciente btn btn btn-outline-secondary waves-effect waves-light"><span class="fab fa-medrt"></span>&nbsp;&nbsp;Evoluciones</button></a>

  <a href="{{path('imagen_index', {'idPaciente':paciente.idPaciente})}}"><button class=" menusPaciente btn btn btn-outline-primary waves-effect waves-light"><span class=" fas fa-id-card-alt"></span>&nbsp;&nbsp;Imágenes</button></a>
  <div class="btn-group">
    <button type="button" class="menusPaciente btn btn-outline-warning dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"><span class="mdi mdi-book-multiple-plus"></span>&nbsp;&nbsp;Documentos&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Ordenes</a>
      <hr>
      <a class="dropdown-item" href="{{path('anexoPaciente_index',{'idPaciente': paciente.idPaciente})}}">Anexos</a>
      <a class="dropdown-item" href="{{path('consentimiento_index',{'idPaciente': paciente.idPaciente})}}">Consentimientos</a>
      <a class="dropdown-item" href="{{path('contrato_index',{'idPaciente': paciente.idPaciente})}}">Documentos</a>
      <a class="dropdown-item" href="{{path('formula_index',{'idPaciente': paciente.idPaciente})}}">Formulas Medicas</a>
      <a class="dropdown-item" href="{{path('radiografia_index',{'idPaciente': paciente.idPaciente})}}">Ordenes radiograficas</a>
      <a class="dropdown-item" href="{{path('remision_new',{'idPaciente': paciente.idPaciente})}}">Remisiones</a>
    </div>
  </div>

  <a href="#"><button class=" menusPaciente btn btn btn-outline-secondary waves-effect waves-light"><span class="fab fa-medrt"></span>&nbsp;&nbsp;Historico citas</button></a>
</div>  