        <!-- Large modal para el perfil -->
        
<!--         <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

          <div class="modal-dialog modal-lg">

            <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title h4" id="myLargeModalLabel">Configuración</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>

              </div>
              <strong><p>Aqui va la configuración de la pagína</p></strong>

              <div class="embed-responsive embed-responsive-16by9">

              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LUk73pUe9i4?rel=0" allowfullscreen></iframe>
              
              </div>

              <button type="button" class="btn btn-outline-primary">Primary</button>
              <p></p>

            </div>
          </div>
        </div> -->

        <!-- Poner al comienzo si funciona -->

<!-- ========== Left Sidebar Start ========== -->

<style type="text/css">
    .enlarged .left-side-menu #sidebar-menu .cal, .icono{
        display: none;
    }

    .cal, .enlarged .left-side-menu #sidebar-menu .icono{
        display: block;
    }
</style>

{% set contadorPermisos = project.datosGenerales(app.user.idPerfil.idPerfil) | keys %}
{% set arrayIdentificadorPermisos = [] %}
{% for i in contadorPermisos %}
  {% set arrayIdentificadorPermisos = arrayIdentificadorPermisos|merge([project.datosGenerales(app.user.idPerfil.idPerfil)[i].idPermiso.idPermiso]) %}
{% endfor %}
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navegación</li>
                    <li>
            <!--Falta implementacion de permisos de aqui para abajo  por agenda dada -->
                    {% if  1 in  arrayIdentificadorPermisos %}
                    <a href="{{ path('panel_principal') }}" > 
                        <i class="mdi mdi-calendar-clock"></i>
                        <span> Agenda cita </span>                      
                        <span class="menu-arrow"></span>
                    </a>
                    {% endif %}        
                    </li>
            <!--Falta implementacion de permisos de aqui para abajo -->
            {# elseif  datos.idPermiso.idPermiso == 6 or datos.idPermiso.idPermiso == 11 or datos.idPermiso.idPermiso == 14 or datos.idPermiso.idPermiso == 18 or datos.idPermiso.idPermiso == 22 or datos.idPermiso.idPermiso == 25 or datos.idPermiso.idPermiso == 28 or datos.idPermiso.idPermiso == 31 or datos.idPermiso.idPermiso == 34 or datos.idPermiso.idPermiso == 37 or datos.idPermiso.idPermiso == 45 or datos.idPermiso.idPermiso == 49 or datos.idPermiso.idPermiso == 53 or datos.idPermiso.idPermiso == 57 or datos.idPermiso.idPermiso == 62 or datos.idPermiso.idPermiso == 67 or datos.idPermiso.idPermiso == 71 or datos.idPermiso.idPermiso == 75 or datos.idPermiso.idPermiso == 79 or datos.idPermiso.idPermiso == 83 or datos.idPermiso.idPermiso == 87 #}  
                {% if 6 in arrayIdentificadorPermisos %}  
                <li>
                    <a href="{{ path('paciente_index') }}"> 
                        <i class="fas fa-user-tie"></i>
                        <span> Paciente </span>                        
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="{{ path('paciente_index') }}" class="dropdown-item notify-item">Datos personales</a>

                            <!-- <a href="{{ path('paciente_index') }}" data-toggle="modal" data-target=".bd-example-modal-lg" 
                            href="javascript:void(0);" class="dropdown-item notify-item">Datos personales</a> -->

                        </li>
                        <li>
                            <a href="#Evolución">Evolución</a>
                        </li>
                        <li>
                            <a href="#Presupuesto">Presupuesto</a>
                        </li>
                        <li>
                            <a href="#Pagos">Pagos</a>
                        </li>
                        <li>
                            <a href="#Citas">Citas</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li>
                    {% if 88 in arrayIdentificadorPermisos  %}  
                        <a href="{{path('area_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 93 in arrayIdentificadorPermisos%}
                        <a href="{{path('especialidad_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 98 in arrayIdentificadorPermisos%}
                        <a href="{{path('deparmento_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 105 in arrayIdentificadorPermisos%}
                        <a href="{{path('eps_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 110 in arrayIdentificadorPermisos%}
                        <a href="{{path('finalidadConsulta_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 114 in arrayIdentificadorPermisos%}
                        <a href="{{path('motivoConsulta_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 119 in arrayIdentificadorPermisos%}
                        <a href="{{path('convenio_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 124 in arrayIdentificadorPermisos%}
                        <a href="{{path('convenio_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 129 in arrayIdentificadorPermisos%}
                        <a href="{{path('alergia_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 134 in arrayIdentificadorPermisos%}
                        <a href="{{path('antecedente_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 139 in arrayIdentificadorPermisos%}
                        <a href="{{path('habito_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 144 in arrayIdentificadorPermisos%}
                        <a href="{{path('medicamento_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 149 in arrayIdentificadorPermisos%}
                        <a href="{{path('riesgo_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 154 in arrayIdentificadorPermisos%}
                        <a href="{{path('evolucionEndodoncia_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 159 in arrayIdentificadorPermisos%}
                        <a href="{{path('propiedad_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 164 in arrayIdentificadorPermisos%}
                        <a href="{{path('provocado_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 169 in arrayIdentificadorPermisos%}
                        <a href="{{path('superficie_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 174 in arrayIdentificadorPermisos%}
                        <a href="{{path('tipoDiagnostico_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 178 in arrayIdentificadorPermisos%}
                        <a href="{{path('diagnosticoPdontologico_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 183 in arrayIdentificadorPermisos%}
                        <a href="{{path('cieDiagnosticoTipo_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 188 in arrayIdentificadorPermisos%}
                        <a href="{{path('diagnosticoPrincipal_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 192 in arrayIdentificadorPermisos%}
                        <a href="{{path('tipoArchivo_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 196 in arrayIdentificadorPermisos%}
                        <a href="{{path('tipoConsentimiento_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 200 in arrayIdentificadorPermisos%}
                        <a href="{{path('tipoContrato_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 205 in arrayIdentificadorPermisos%}
                        <a href="{{path('tipo_radiografia_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 210 in arrayIdentificadorPermisos%}
                        <a href="{{path('estadoCita_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 214 in arrayIdentificadorPermisos%}
                        <a href="{{path('estadoGeneral_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 218 in arrayIdentificadorPermisos%}
                        <a href="{{path('estadoPago_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 222 in arrayIdentificadorPermisos%}
                        <a href="{{path('estadoMantenimiento_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 226 in arrayIdentificadorPermisos%}
                        <a href="{{path('esterilizacion_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 236 in arrayIdentificadorPermisos%}
                        <a href="{{path('tipoPaquete_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 240 in arrayIdentificadorPermisos%}
                        <a href="{{path('acuerdoPago_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 245 in arrayIdentificadorPermisos%}
                        <a href="{{path('conceptoPago_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 250 in arrayIdentificadorPermisos%}
                        <a href="{{path('formaPago_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 255 in arrayIdentificadorPermisos%}
                        <a href="{{path('soportePago_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 260 in arrayIdentificadorPermisos%}
                        <a href="{{path('categoriaInventario_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 265 in arrayIdentificadorPermisos%}
                        <a href="{{path('insumo_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 270 in arrayIdentificadorPermisos%}
                        <a href="{{path('marca_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 275 in arrayIdentificadorPermisos%}
                        <a href="{{path('nombreInsumo_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 280 in arrayIdentificadorPermisos%}
                        <a href="{{path('presentacion_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 285 in arrayIdentificadorPermisos%}
                        <a href="{{path('proveedor_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 289 in arrayIdentificadorPermisos%}
                        <a href="{{path('pedido_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 299 in arrayIdentificadorPermisos%}
                        <a href="{{path('salida_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 303 in arrayIdentificadorPermisos%}
                        <a href="{{path('salidaConsultorio_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 307 in arrayIdentificadorPermisos%}
                        <a href="{{path('requerimiento_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 311 in arrayIdentificadorPermisos%}
                        <a href="{{path('ordenCompra_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    <!--Falta implementacion de permisos de aqui para abajo -->
                    
                    {% elseif 315 in arrayIdentificadorPermisos%}
                        <a href="{{path('stock_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 320 in arrayIdentificadorPermisos%}
                        <a href="{{path('mantenimiento_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 324 in arrayIdentificadorPermisos%}
                        <a href="{{path('cieRip_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 328 in arrayIdentificadorPermisos%}
                        <a href="{{path('ambitoRealizacion_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 332 in arrayIdentificadorPermisos%}
                        <a href="{{path('causaExterna_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 336 in arrayIdentificadorPermisos%}
                        <a href="{{path('cups_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 340 in arrayIdentificadorPermisos%}
                        <a href="{{path('finalidadProcedimiento_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 344 in arrayIdentificadorPermisos%}
                        <a href="{{path('formaRealizacion_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 348 in arrayIdentificadorPermisos%}
                        <a href="{{path('personaAtiende_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 352 in arrayIdentificadorPermisos%}
                        <a href="{{path('cups_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 356 in arrayIdentificadorPermisos%}
                        <a href="{{path('categoriaTratamiento_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 361 in arrayIdentificadorPermisos%}
                        <a href="{{path('categoriaTratamiento_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {#{% elseif 366 in arrayIdentificadorPermisos%}
                        <a href="{{path('area_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 371 in arrayIdentificadorPermisos%}
                        <a href="{{path('area_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 375 in arrayIdentificadorPermisos%}
                        <a href="{{path('area_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>
                    {% elseif 379 in arrayIdentificadorPermisos%}
                        <a href="{{path('area_index')}}">                         
                            <i class="mdi mdi-account-key"></i>
                            <span> Administración </span>
                            <span class="menu-arrow"></span>
                        </a>#}
                    {% endif %}
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            {% if 88 in arrayIdentificadorPermisos  %}  
                                <a href="{{path('area_index')}}">Gestión configuración general</a>
                            {% elseif 93 in arrayIdentificadorPermisos%}
                                <a href="{{path('especialidad_index')}}">Gestión configuración general</a>
                            {% elseif 98 in arrayIdentificadorPermisos%}
                                <a href="{{path('deparmento_index')}}">Gestión configuración general</a>
                            {% elseif 105 in arrayIdentificadorPermisos%}
                                <a href="{{path('eps_index')}}">Gestión configuración general</a>
                            {% endif %}    
                            
                        </li>
                        <li>
                            {% if 110 in arrayIdentificadorPermisos%}
                                <a href="{{path('finalidadConsulta_index')}}">Gestión consulta</a>
                            {% elseif 114 in arrayIdentificadorPermisos%}
                                <a href="{{path('motivoConsulta_index')}}">Gestión consulta</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if 119 in arrayIdentificadorPermisos%}
                                <a href="{{ path('convenio_index') }}">Gestión convenio</a>  
                            {% endif %}
                            
                        </li>
                        <li>
                            {% if 129 in arrayIdentificadorPermisos%}
                                <a href="{{path('alergia_index')}}">Gestión datos clinicos</a>
                            {% elseif 134 in arrayIdentificadorPermisos%}
                                <a href="{{path('antecedente_index')}}">Gestión datos clinicos</a>
                            {% elseif 139 in arrayIdentificadorPermisos%}
                                <a href="{{path('habito_index')}}">Gestión datos clinicos</a>
                            {% elseif 144 in arrayIdentificadorPermisos%}
                                <a href="{{path('medicamento_index')}}">Gestión datos clinicos</a>
                            {% elseif 149 in arrayIdentificadorPermisos%}
                                <a href="{{path('riesgo_index')}}">Gestión datos clinicos</a>
                            {% elseif 154 in arrayIdentificadorPermisos%}
                                <a href="{{path('evolucionEndodoncia_index')}}"> Gestión datos clinicos</a>
                            {% elseif 159 in arrayIdentificadorPermisos%}
                                <a href="{{path('propiedad_index')}}">Gestión datos clinicos</a>
                            {% elseif 164 in arrayIdentificadorPermisos%}
                                <a href="{{path('provocado_index')}}">Gestión datos clinicos</a>
                            {% elseif 169 in arrayIdentificadorPermisos%}
                                <a href="{{path('superficie_index')}}">Gestión datos clinicos</a>
                            {%  endif %}
                        </li>
                        <li>
                            {% if 174 in arrayIdentificadorPermisos%}
                                <a href="{{path('tipoDiagnostico_index')}}">Gestión diagnósticos</a>  
                            {% elseif 178 in arrayIdentificadorPermisos%}
                                <a href="{{path('diagnosticoPdontologico_index')}}">Gestión diagnósticos</a>  
                            {% elseif 183 in arrayIdentificadorPermisos%}
                                <a href="{{path('cieDiagnosticoTipo_index')}}">Gestión diagnósticos</a>  
                            {% elseif 188 in arrayIdentificadorPermisos%}
                                <a href="{{path('diagnosticoPrincipal_index')}}">Gestión diagnósticos</a>  
                            {% endif %}
                        </li>
                        <li>
                            {% if 192 in arrayIdentificadorPermisos%}
                                <a href="{{path('tipoArchivo_index')}}">Gestión documentación</a>  
                            {% elseif 196 in arrayIdentificadorPermisos%}
                                <a href="{{path('tipoConsentimiento_index')}}">Gestión documentación</a>  
                            {% elseif 200 in arrayIdentificadorPermisos%}
                                <a href="{{path('tipoContrato_index')}}">Gestión documentación</a>  
                            {% elseif 205 in arrayIdentificadorPermisos%}
                                <a href="{{path('tipo_radiografia_index')}}">Gestión documentación</a>  
                            {% endif %}
                        </li>
                        <li>
                             {% if 214 in arrayIdentificadorPermisos%}
                                <a href="{{path('estadoGeneral_index')}}">Gestión estados</a>
                            {% elseif 210 in arrayIdentificadorPermisos%}
                                <a href="{{path('estadoCita_index')}}">Gestión estados</a>
                            {% elseif 218 in arrayIdentificadorPermisos%}
                                <a href="{{path('estadoPago_index')}}">Gestión estados</a>
                            {% elseif 222 in arrayIdentificadorPermisos%}
                                <a href="{{path('estadoMantenimiento_index')}}">Gestión estados</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if 226 in arrayIdentificadorPermisos%}
                                <a href="{{path('esterilizacion_index')}}">Gestión esterilización</a>
                            {% elseif 236 in arrayIdentificadorPermisos%}
                                <a href="{{path('tipoPaquete_index')}}">Gestión esterilización</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if 240 in arrayIdentificadorPermisos%}
                                <a href="{{path('acuerdoPago_index')}}">Gestión financiera</a>
                            {% elseif 245 in arrayIdentificadorPermisos%}
                                <a href="{{path('conceptoPago_index')}}">Gestión financiera</a>
                            {% elseif 250 in arrayIdentificadorPermisos%}
                                <a href="{{path('formaPago_index')}}">Gestión financiera</a>
                            {% elseif 255 in arrayIdentificadorPermisos%}
                                <a href="{{path('soportePago_index')}}">Gestión financiera</a>
                            {% endif %}
                        </li>                        
                        <li>
                            {% if 260 in arrayIdentificadorPermisos%}
                                <a href="{{path('categoriaInventario_index')}}">Gestión inventario</a>
                            {% elseif 265 in arrayIdentificadorPermisos%}
                                <a href="{{path('insumo_index')}}">Gestión inventario</a>
                            {% elseif 270 in arrayIdentificadorPermisos%}
                                <a href="{{path('marca_index')}}">Gestión inventario</a>
                            {% elseif 275 in arrayIdentificadorPermisos%}
                                <a href="{{path('nombreInsumo_index')}}">Gestión inventario</a>
                            {% elseif 280 in arrayIdentificadorPermisos%}
                                <a href="{{path('presentacion_index')}}">Gestión inventario</a>
                            {% elseif 285 in arrayIdentificadorPermisos%}
                                <a href="{{path('proveedor_index')}}">Gestión inventario</a>
                            {% elseif 289 in arrayIdentificadorPermisos%}
                                <a href="{{path('pedido_index')}}">Gestión inventario</a>
                            {% elseif 299 in arrayIdentificadorPermisos%}
                                <a href="{{path('salida_index')}}">Gestión inventario</a>
                            {% elseif 303 in arrayIdentificadorPermisos%}
                                <a href="{{path('salidaConsultorio_index')}}">Gestión inventario</a>
                            {% elseif 307 in arrayIdentificadorPermisos%}
                                <a href="{{path('requerimiento_index')}}">Gestión inventario</a>
                            {% elseif 311 in arrayIdentificadorPermisos%}
                                <a href="{{path('ordenCompra_index')}}">Gestión inventario</a>
                            {% elseif 315 in arrayIdentificadorPermisos%}
                                <a href="{{path('stock_index')}}">Gestión inventario</a>
                            {% endif %}   
                        </li>
                        <!--Falta implementacion de permisos de aqui para abajo -->
                        <li>
                            {% if 320 in arrayIdentificadorPermisos%}
                                <a href="{{path('mantenimiento_index')}}">Gestión mantenimiento</a>
                            {% endif %}
                        </li>                        
                        <li>
                            {% if 324 in arrayIdentificadorPermisos%}
                                <a href="{{path('cieRip_index')}}" title="Sistema general de seguridad social en salud en colombia">Gestión SGSSS</a>
                            {% elseif 328 in arrayIdentificadorPermisos%}
                                <a href="{{path('ambitoRealizacion_index')}}" title="Sistema general de seguridad social en salud en colombia">Gestión SGSSS</a>
                            {% elseif 332 in arrayIdentificadorPermisos%}
                                <a href="{{path('causaExterna_index')}}" title="Sistema general de seguridad social en salud en colombia">Gestión SGSSS</a>
                            {% elseif 336 in arrayIdentificadorPermisos%}
                                <a href="{{path('cups_index')}}" title="Sistema general de seguridad social en salud en colombia">Gestión SGSSS</a>
                            {% elseif 340 in arrayIdentificadorPermisos%}
                                <a href="{{path('finalidadProcedimiento_index')}}" title="Sistema general de seguridad social en salud en colombia">Gestión SGSSS</a>
                            {% elseif 344 in arrayIdentificadorPermisos%}
                                <a href="{{path('formaRealizacion_index')}}" title="Sistema general de seguridad social en salud en colombia">Gestión SGSSS</a>
                            {% elseif 348 in arrayIdentificadorPermisos%}
                                <a href="{{path('personaAtiende_index')}}" title="Sistema general de seguridad social en salud en colombia">Gestión SGSSS</a>
                            {% elseif 352 in arrayIdentificadorPermisos%}
                                <a href="{{path('cups_index')}}" title="Sistema general de seguridad social en salud en colombia">Gestión SGSSS</a>
                            {% endif %} 
                        </li>
                        <li>
                            {% if 356 in arrayIdentificadorPermisos%}
                                <a href="{{path('categoriaTratamiento_index')}}">Gestión tratamiento</a>
                            {% elseif 361 in arrayIdentificadorPermisos%}
                                <a href="{{path('categoriaTratamiento_index')}}">Gestión tratamiento</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if 379 in arrayIdentificadorPermisos%}
                                <a href="{{path('usuario_index')}}">Gestión usuario</a>
                            {% elseif 366 in arrayIdentificadorPermisos%}
                                <a href="{{path('agendaUsuario_index')}}">Gestión usuario</a>
                            {% elseif 371 in arrayIdentificadorPermisos%}
                                <a href="{{path('tipoDocumento_index')}}">Gestión usuario</a>
                            {% elseif 375 in arrayIdentificadorPermisos%}
                                <a href="{{path('tipoDocumento_index')}}">Gestión usuario</a>
                            {% endif %}
                        </li>
                        
                    </ul>
                </li>
                <li>
                    {% if 384 in arrayIdentificadorPermisos%}
                    <a href="javascript: void(0);">
                        <i class="mdi mdi mdi-book-open-page-variant"></i>
                        <span> Reporte </span>
                        <span class="menu-arrow"></span>
                    </a>
                    {% endif %} 
                    <!--Falta implementacion de permisos de aqui para abajo -->
                    <!--ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#gestionUsuario">Gestión usuario</a>
                        </li>
                        <li>
                            <a href="#gestionConsulta">Gestión consulta</a>
                        </li>
                        <li>
                            <a href="#gestionUEstados">Gestión estados</a>
                        </li>
                        <li>
                            <a href="#gestionConvenios">Gestión convenios</a>
                        </li>
                        <li>
                            <a href="#gestionTratamiento">Gestión tratamiento</a>
                        </li>
                        <li>
                            <a href="#gestionDocumentacion">Gestión documentación</a>
                        </li>
                        <li>
                            <a href="#gestionInsumos">Gestión insumos</a>
                        </li>
                    </ul-->
                </li>          
                <li>
                    {% if  385  in arrayIdentificadorPermisos %}  
                    <a href="{{ path('clinica_index') }}">                        
                        <i class="fas fa-user-cog"></i>
                        <span> Configuración </span>
                        <span class="menu-arrow"></span>
                    </a>
                    {% elseif 388 in arrayIdentificadorPermisos %}  
                    <a href="{{ path('clinicasedes_index') }}">                        
                        <i class="fas fa-user-cog"></i>
                        <span> Configuración </span>
                        <span class="menu-arrow"></span>
                    </a>
                    {% elseif 393 in arrayIdentificadorPermisos %}  
                    <a href="{{ path('consultorio_index') }}">                        
                        <i class="fas fa-user-cog"></i>
                        <span> Configuración </span>
                        <span class="menu-arrow"></span>
                    </a>
                    {% elseif 398 in arrayIdentificadorPermisos %}  
                    <a href="{{ path('perfil_index') }}">                        
                        <i class="fas fa-user-cog"></i>
                        <span> Configuración </span>
                        <span class="menu-arrow"></span>
                    </a>
                    {% endif %}    

                    <ul class="nav-second-level" aria-expanded="false">
                        {% if  385  in arrayIdentificadorPermisos %}  
                        <li>
                            <a href="{{ path('clinica_index') }}">Clinica</a>
                        </li>
                        {% elseif 388 in arrayIdentificadorPermisos %}  
                        <li>
                            <a href="{{ path('clinicasedes_index') }}">Clinica</a>
                        </li>
                        {% endif %}
                        {% if  393  in arrayIdentificadorPermisos %}  
                        <li>
                            <a href="{{path('consultorio_index')}}">Consultorio</a>
                        </li>
                        {% endif %}
                        {% if  398  in arrayIdentificadorPermisos %} 
                        <li>
                            <a href="{{ path('perfil_index') }}">Perfil</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>  
                <li><a href="javascript: void(0);">
                        <div class="icono">
                            <i class="mdi mdi-clock-outline"></i>
                            <span> Calendario </span>
                        </div>
                        <div class="cal">
                            <div  class="inline-datepicker_menu"></div>
                        </div>
                    </a>                        
                </li>                
            </ul>
        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>

<!-- Left Sidebar End -->