<div class="btn-group-vertical mb-2">
       {% set url= app.request.pathinfo | split('/')%}
       {% if url[1] == 'odontogramaPaciente'%}
              <a href="{{path('odontogramaPaciente_new',{'idPaciente':paciente.idPaciente})}}" class="subMenu"><button type="button" class="btn btn-success text-left"><span class="mdi mdi-numeric-1-box-outline mdi-18px">&nbsp;<small>Odontrograma</small></span></button></a>
              <button type="button" class="btn btn-outline-blue text-left"><span class="mdi mdi-numeric-2-box-outline mdi-18px">&nbsp;<small>Ortodoncia</small></span></button>
              <button type="button" class="btn btn-outline-primary text-left"><span class="mdi mdi-numeric-3-box-outline mdi-18px">&nbsp;<small>Periodoncia</small></span></button>
              <button type="button" class="btn btn-outline-dark text-left"><span class="mdi mdi-numeric-4-box-outline mdi-18px">&nbsp;<small>Endodoncia</small></span></button>
              <button type="button" class="btn btn-outline-info text-left"><span class="mdi mdi-numeric-5-box-outline mdi-18px">&nbsp;<small>Cirugia oral y maxilofacial</small></span></button>
              <button type="button" class="btn btn-outline-warning text-left"><span class="mdi mdi-numeric-6-box-outline mdi-18px">&nbsp;<small>Operatoria estetica</small></span></button>
              <button type="button" class="btn btn-outline-secondary text-left"><span class="mdi mdi-numeric-7-box-outline mdi-18px">&nbsp;<small>Odontopediatria</small></span></button>
              {% else %}
              <button type="button" class="btn btn-outline-success text-left"><span class="mdi mdi-numeric-1-box-outline mdi-18px">&nbsp;<small>Odontrograma</small></span></button>
              <button type="button" class="btn btn-outline-blue text-left"><span class="mdi mdi-numeric-2-box-outline mdi-18px">&nbsp;<small>Ortodoncia</small></span></button>
              <button type="button" class="btn btn-outline-primary text-left"><span class="mdi mdi-numeric-3-box-outline mdi-18px">&nbsp;<small>Periodoncia</small></span></button>
              <button type="button" class="btn btn-outline-dark text-left"><span class="mdi mdi-numeric-4-box-outline mdi-18px">&nbsp;<small>Endodoncia</small></span></button>
              <button type="button" class="btn btn-outline-info text-left"><span class="mdi mdi-numeric-5-box-outline mdi-18px">&nbsp;<small>Cirugia oral y maxilofacial</small></span></button>
              <button type="button" class="btn btn-outline-warning text-left"><span class="mdi mdi-numeric-6-box-outline mdi-18px">&nbsp;<small>Operatoria estetica</small></span></button>
              <button type="button" class="btn btn-outline-secondary text-left"><span class="mdi mdi-numeric-7-box-outline mdi-18px">&nbsp;<small>Odontopediatria</small></span></button>
  	{% endif %}
</div>