<!-- Topbar Start -->
{% set contadorPermisos = project.datosGenerales(app.user.idPerfil.idPerfil) | keys %}
{% set arrayIdentificadorPermisos = [] %}
{% for i in contadorPermisos %}
  {% set arrayIdentificadorPermisos = arrayIdentificadorPermisos|merge([project.datosGenerales(app.user.idPerfil.idPerfil)[i].idPermiso.idPermiso]) %}
{% endfor %}
<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="d-none d-sm-block">
            <form class="app-search">
                <div class="app-search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </li>
        
        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle  waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <i class="fe-bell noti-icon"></i>
                <span class="badge badge-danger rounded-circle noti-icon-badge">0</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5 class="m-0">
                        <span class="float-right">
                            <a href="" class="text-dark">
                                <small>Borrar Todo</small>
                            </a>
                        </span>Notificaciones
                    </h5>
                </div>
                <!-- All-->
                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                    Ver Todo
                    <i class="fi-arrow-right"></i>
                </a>

            </div>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                {% if app.user.imagenUsuario == '' %}
                    <!--img src="{{ asset('light/dist/assets/images/users/user-1.jpg')}}" alt="user-image" class="rounded-circle"-->
                    <button type="button" class="btn btn-outline-success waves-effect waves-light rounded-circle"><span class="fas fa-user-tie"></span></button>
                {% else %}
                    <img src="{{ asset('light/dist/assets/uploads/usuario/' ~ app.user.imagenUsuario) }}"  alt="" height="60" width="100">   
                {% endif %}    
                <span class="pro-user-name ml-1">
                    {{app.user.nombres}} {{app.user.apellidos}} <i class="mdi mdi-chevron-down"></i> 
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown " style="width: 300px; height: 500px;">
                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Bienvenid@ {{app.user.nombres}} {{app.user.apellidos}} !</h6>
                </div>
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    
                </a>
                {% if 379 in arrayIdentificadorPermisos%}
                <a onclick="detalleCuenta( {{ app.user.idUsuario}});" class="dropdown-item notify-item">
                    <i class="fe-user"></i>
                    <span>Mi Cuenta</span>
                </a>
                {% endif %}
                <a onclick="subirFoto( {{ app.user.idUsuario}});" title="Modificar imagen usuario" class="dropdown-item notify-item">
                    <i class="fas fa-id-card"></i>
                    <span>Cambiar perfil</span>
                </a>
                <!-- item-->
                    <a data-toggle="modal" data-target=".bd-example-modal-lg" 
                    href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fe-settings"></i><span>Configuración</span></a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fe-lock"></i>
                    <span>Bloqueo pantalla</span>
                </a>

                <div class="dropdown-divider"></div>

                <!-- item-->
                <a href="{{ path('usuario_logout') }}" class="dropdown-item notify-item">
                    <i class="fe-log-out"></i>
                    <span>Salir</span>
                </a>

            </div>
        </li>
    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="{{ path('panel_principal') }}" class="logo text-center">
            <span class="logo-lg">
                {% if app.user.idSucursal.idSedeClinica != '' %}
                    <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ app.user.idSucursal.idSedeClinica.logo) }}"  alt="" height="60" width="100">     
                    <span class="logo-lg-text-light">{{app.user.idSucursal.idSedeClinica.nombre | upper}}</span>      
                {% else %}
                    {% if app.user.idSucursal.logo != '' %}
                    <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ app.user.idSucursal.logo) }}"  alt="" height="60" width="100">
                    {% else %}
                    {% endif %}     
                    <span class="logo-lg-text-light">{{app.user.idSucursal.nombre | upper}}</span>   
                {% endif %}
            </span>
            <span class="logo-sm">
                {% if app.user.idSucursal.idSedeClinica != '' %}
                    <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ app.user.idSucursal.idSedeClinica.logo) }}" alt="" height="24">       
                {% else %}                    
                    {% if app.user.idSucursal.logo != '' %}
                    <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ app.user.idSucursal.logo) }}"  alt="" height="24">   
                    {% else %}
                    {% endif %}   
                {% endif %}
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile waves-effect waves-light">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>
</div>

<div class="modal fade" id="modificarImgenUsuario"></div>
<!-- end Topbar-->
<script type="text/javascript">

</script>