{% extends 'base.html.twig' %}
{% block title %}Área medica{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>ÁREA MEDICA</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración medica&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('area_index')}}">Área medica</a>
                        <a class="dropdown-item" href="{{path('especialidad_index')}}">Especialidad</a>
                    </div>
                </div>
                <a href="{{path('departamento_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Departamentos</button></a>
                <a href="{{path('eps_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Eps</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_areaMedia">
                    <thead>
                          <tr>  
                            <th class="text-center w-100">Nombre</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearAreaMedica" data-backdrop="static" data-toggle="modal" data-target="#crearAreaMedica" title="Crear área"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for area in areas %}
                        <tr>
                          <td class="text-left">{{ area.nombre  | capitalize}}</td>
                          <td class="text-center" colspan="2">
                            {% if area.estado == true%}
                            <button type="button" onclick="editar( {{ area.idArea }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar área medica"><span class="fas fa-edit"></span></button>
                            {% else %}
                             <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar área medica"><span class="fas fa-edit"></span></button>
                            {% endif %}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ area.idArea }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('area/modalNewAreaMedica.html.twig') }}

<div class="modal fade bd-example-modal-lg" id="datosAreaMedica"></div>

{{ include('tipo_radiografia/editEstado.html.twig') }} 
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_areaMedia');   
});

function editar(id) {
  // alert(id); 
  var url = "/area/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosAreaMedica').modal('show'); 
            $('#datosAreaMedica').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

$( ".cambiarEstado").click( function(){
  var idAreaMedica= $(this).data('id');
   var tipo = 'areaMedica';
  $('.modal-body #id').val(idAreaMedica);
  $('.modal-body #tipo').val(tipo);

});

</script>
{% endblock %}