<form method="post" class ="eliminarDato" action="{{ path('ordenCompra_delete', {'idOrdenCompra': ordenCompra.idOrdenCompra}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ordenCompra.idOrdenCompra) }}">
    <button class="btn btn-sm btn-outline-danger" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete"></span></button>
</form>
