<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
        <label for="idProveedor">Proveedor</label>&nbsp;<label class="text-danger">*</label>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="form-group">
            {{ form_widget(form.idProveedor) }}
            <div class="invalid-feedback">{{ form_errors(form.idProveedor)}}</div>
        </div>          
    </div>
</div>    
<div hidden>
	{{ form_widget(form.idUsuarioIngresa) }}
	{{ form_widget(form.estadoEnvioCorreo) }}
</div>
<div class="text-center">
	<a href="{{ path('ordenCompra_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a>
    <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
</div>                   
{{ form_end(form) }} 