<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <style type="text/css">
     p, th, td{
      font-size: 12pt;
     }
    @media print {
      /* reglas */
      .borde{
        border: #4cae4c 0px solid;
      }
    }
    table{
      font-size: 12pt;
    }
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
      max-width: 700px;
    }

    img {
      vertical-align: middle;
    }
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #eee;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4,.h5,.h6 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
    }
    h3,.h3 {
      font-size: 16pt;
    }
    h4,.h4 {
      font-size: 14pt;
    }
    p {
      margin: 0 0 10px;
    }
    
    .text-left {
      text-align: left;
    }
    .text-right {
      text-align: right;
    }
    .text-center {
      text-align: center;
    }
    .text-justify {
      text-align: justify;
    }
    .text-nowrap {
      white-space: nowrap;
    }
    .text-lowercase {
      text-transform: lowercase;
    }
    .text-uppercase {
      text-transform: uppercase;
    }
    .text-capitalize {
      text-transform: capitalize;
    }
    .text-muted {
      color: #777;
    }
    .text-primary {
      color: #337ab7;
    }
    a.text-primary:hover,
    a.text-primary:focus {
      color: #286090;
    }
    .text-success {
      color: #3c763d;
    }
    a.text-success:hover,
    a.text-success:focus {
      color: #2b542c;
    }
    .text-info {
      color: #31708f;
    }
    a.text-info:hover,
    a.text-info:focus {
      color: #245269;
    }
    .text-warning {
      color: #8a6d3b;
    }
    a.text-warning:hover,
    a.text-warning:focus {
      color: #66512c;
    }
    .text-danger {
      color: #a94442;
    }
    a.text-danger:hover,
    a.text-danger:focus {
      color: #843534;
    }
    .bg-primary {
      color: #fff;
      background-color: #337ab7;
    }
    a.bg-primary:hover,
    a.bg-primary:focus {
      background-color: #286090;
    }
    .bg-success {
      background-color: #dff0d8;
    }
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
    
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.66666667%;
    }
    .col-md-1 {
      width: 8.33333333%;
    }
    table {
      background-color: transparent;      
      font-size:12pt;
    }
    caption {
      padding-top: 8px;
      padding-bottom: 8px;
      color: #777;
      text-align: left;
    }
    th {
      text-align: left;
    }
    .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }
    .table > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > th,
    .table > caption + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > td,
    .table > thead:first-child > tr:first-child > td {
      border-top: 0;
    }
    .table > tbody + tbody {
      border-top: 2px solid #ddd;
    }
    .table .table {
      background-color: #fff;
    }

    .table1 {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse; 
    }
    .table1 > thead > tr > th,
    .table1 > tbody > tr > th,
    .table1 > tfoot > tr > th,
    .table1 > thead > tr > td,
    .table1 > tbody > tr > td,
    .table1 > tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
    }
    .table1 > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
    .table1 > caption + thead > tr:first-child > th,
    .table1 > colgroup + thead > tr:first-child > th,
    .table1 > thead:first-child > tr:first-child > th,
    .table1 > caption + thead > tr:first-child > td,
    .table1 > colgroup + thead > tr:first-child > td,
    .table1 > thead:first-child > tr:first-child > td {
      border-top: 0;
    }
    .table1 > tbody + tbody {
      border-top: 2px solid #ddd;
    }
    .table1 .table1 {
      background-color: #fff;
    }

    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
      padding: 5px;
    }
    .table-bordered {
      border: 1px solid #ddd;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
      border: 1px solid #ddd;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > thead > tr > td {
      border-bottom-width: 2px;
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
    .table-hover > tbody > tr:hover {
      background-color: #f5f5f5;
    }
    table col[class*="col-"] {
      position: static;
      display: table-column;
      float: none;
    }
    table td[class*="col-"],
    table th[class*="col-"] {
      position: static;
      display: table-cell;
      float: none;
    }
    .table > thead > tr > td.active,
    .table > tbody > tr > td.active,
    .table > tfoot > tr > td.active,
    .table > thead > tr > th.active,
    .table > tbody > tr > th.active,
    .table > tfoot > tr > th.active,
    .table > thead > tr.active > td,
    .table > tbody > tr.active > td,
    .table > tfoot > tr.active > td,
    .table > thead > tr.active > th,
    .table > tbody > tr.active > th,
    .table > tfoot > tr.active > th {
      background-color: #f5f5f5;
    }
    .table-hover > tbody > tr > td.active:hover,
    .table-hover > tbody > tr > th.active:hover,
    .table-hover > tbody > tr.active:hover > td,
    .table-hover > tbody > tr:hover > .active,
    .table-hover > tbody > tr.active:hover > th {
      background-color: #e8e8e8;
    }
    .table > thead > tr > td.success,
    .table > tbody > tr > td.success,
    .table > tfoot > tr > td.success,
    .table > thead > tr > th.success,
    .table > tbody > tr > th.success,
    .table > tfoot > tr > th.success,
    .table > thead > tr.success > td,
    .table > tbody > tr.success > td,
    .table > tfoot > tr.success > td,
    .table > thead > tr.success > th,
    .table > tbody > tr.success > th,
    .table > tfoot > tr.success > th {
      background-color: #dff0d8;
    }
    .table-hover > tbody > tr > td.success:hover,
    .table-hover > tbody > tr > th.success:hover,
    .table-hover > tbody > tr.success:hover > td,
    .table-hover > tbody > tr:hover > .success,
    .table-hover > tbody > tr.success:hover > th {
      background-color: #d0e9c6;
    }
    .table > thead > tr > td.info,
    .table > tbody > tr > td.info,
    .table > tfoot > tr > td.info,
    .table > thead > tr > th.info,
    .table > tbody > tr > th.info,
    .table > tfoot > tr > th.info,
    .table > thead > tr.info > td,
    .table > tbody > tr.info > td,
    .table > tfoot > tr.info > td,
    .table > thead > tr.info > th,
    .table > tbody > tr.info > th,
    .table > tfoot > tr.info > th {
      background-color: #d9edf7;
    }
    .table-hover > tbody > tr > td.info:hover,
    .table-hover > tbody > tr > th.info:hover,
    .table-hover > tbody > tr.info:hover > td,
    .table-hover > tbody > tr:hover > .info,
    .table-hover > tbody > tr.info:hover > th {
      background-color: #c4e3f3;
    }
    .table > thead > tr > td.warning,
    .table > tbody > tr > td.warning,
    .table > tfoot > tr > td.warning,
    .table > thead > tr > th.warning,
    .table > tbody > tr > th.warning,
    .table > tfoot > tr > th.warning,
    .table > thead > tr.warning > td,
    .table > tbody > tr.warning > td,
    .table > tfoot > tr.warning > td,
    .table > thead > tr.warning > th,
    .table > tbody > tr.warning > th,
    .table > tfoot > tr.warning > th {
      background-color: #fcf8e3;
    }
    .table-hover > tbody > tr > td.warning:hover,
    .table-hover > tbody > tr > th.warning:hover,
    .table-hover > tbody > tr.warning:hover > td,
    .table-hover > tbody > tr:hover > .warning,
    .table-hover > tbody > tr.warning:hover > th {
      background-color: #faf2cc;
    }
    .table > thead > tr > td.danger,
    .table > tbody > tr > td.danger,
    .table > tfoot > tr > td.danger,
    .table > thead > tr > th.danger,
    .table > tbody > tr > th.danger,
    .table > tfoot > tr > th.danger,
    .table > thead > tr.danger > td,
    .table > tbody > tr.danger > td,
    .table > tfoot > tr.danger > td,
    .table > thead > tr.danger > th,
    .table > tbody > tr.danger > th,
    .table > tfoot > tr.danger > th {
      background-color: #f2dede;
    }
    .table-hover > tbody > tr > td.danger:hover,
    .table-hover > tbody > tr > th.danger:hover,
    .table-hover > tbody > tr.danger:hover > td,
    .table-hover > tbody > tr:hover > .danger,
    .table-hover > tbody > tr.danger:hover > th {
      background-color: #ebcccc;
    }
    </style>
  </head>                           
  <body style="background-color: white;">
    <br><br>
    <div class="col-md-12 text-left">
      <p>Cordial saludo,</p>
    </div>
    <br><br><br>
    <table class="table1" style="max-width: 880px;">
      <tr>
        <th colspan="4" class="text-center">
          {% if ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica != ''%}
          	<p class="h3"><b>{{ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica | capitalize}}</b></p>
          	<p class="h4"><b>N° identificación: {{ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica.nit | capitalize}}</b></p>
	        <p class="h4"><b>Tel: {{ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica.movil | capitalize}}</b></p>
	       {% else %}
	       	<p class="h3"><b>{{ordenCompra.idUsuarioIngresa.idSucursal | capitalize}}</b></p>
	       	<p class="h4"><b>N° identificación: {{ordenCompra.idUsuarioIngresa.idSucursal.nit | capitalize}}</b></p>
	        <p class="h4"><b>Tel: {{ordenCompra.idUsuarioIngresa.idSucursal.movil | capitalize}}</b></p>
	       {% endif %}
        </th>
        <td class="text-right"><img src="http://i.imgur.com/VeyeADV.png" alt="Image" width="280" height="80"></td>
      </tr>
      <tr>
        <th>Orden #:</th>
        <td colspan="2" class="text-left">{{ordenCompra.idOrdenCompra}} de {{ "now" | date('d M Y H:i:s', false)}} </td>
        <th>Requerimiento #:</th>
        <td>{{idRequerimiento}}</td>
      </tr>
      <tr>
        <th>Proveedor:</th>
        <td colspan="2">{{ordenCompra.idProveedor}}</td>
        <th>Nit:</th>
        <td>{{ordenCompra.idProveedor.identificacion}}</td>
      </tr>
      <tr>
        <th>Nombre contacto:</th>
        <td colspan="2">{{ordenCompra.idProveedor.nombreContacto}}</td>
        <th>Número contacto:</th>
        <td>{{ordenCompra.idProveedor.movil}}</td>
      </tr>
      <tr>
        <th>Dirección:</th>
        <td colspan="4">{{ordenCompra.idProveedor.direccion}}</td>
      </tr>
      <tr>
        <th>E-mail</th>
        <td class="text-left">{{ordenCompra.idProveedor.email}}</td>
      </tr>
      
    </table>
    <table class="table table-hover mt-3 borde" style="max-width: 880px;">
      <thead>
        <tr>
          <th class="success" colspan="5"><div class="bg-success text-center text-white"><b>Elementos requeridos</b></div></th>
        </tr>
        <tr>
          <th class="text-center">Ítem</th>
          <th class="text-center">Descripción</th>
          <th class="text-center">Marca</th>
          <th class="text-center">Presentación</th>
          <th class="text-center">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {% for elementoOrden in elementoOrdenCompras%}
        <tr>
          <td class="text-center">{{loop.index}}</td>
          <td class="text-left">{{elementoOrden.idElementoRequerimiento.idNombreInsumo}}</td>
          <td class="text-left">{{elementoOrden.idElementoRequerimiento.idMarca ? elementoOrden.idElementoRequerimiento.idMarca : '-'}}</td>
          <td class="text-left">{{elementoOrden.idElementoRequerimiento.idPresentacion ? elementoOrden.idElementoRequerimiento.idPresentacion : '-'}}</td>
          <td class="text-center">{{elementoOrden.idElementoRequerimiento.cantidad }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> 
  </body>
</html><br>

