{% extends 'base.html.twig' %}

{% block title %}Modificación orden compra{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
        	{% if elementoOrdenCompras | length > 0%}
                <div class="page-header card-title text-center">
                    <h3>MODIFICACIÓN ORDEN COMPRA N° {{ ordenCompra.idOrdenCompra}} </h3>
                </div>
                <hr>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                
                <div class="table-responsive-lg mt-3">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td colspan="2"></td>
                                <th>Fecha apertura</th>
                                <td>{{ ordenCompra.fechaApertura ? ordenCompra.fechaApertura|date('Y-m-d H:i:s ') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Proveedor</th>
                                <td>{{ ordenCompra.idProveedor }}</td>
                                <th>Usuario solicita</th>
                                <td>{{ ordenCompra.idUsuarioIngresa}}</td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td class="text-danger">{{ ordenCompra.estadoEnvioCorreo ? 'Enviado' : 'Pendiente' }}</td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>                 
                <table class="table" id="table_elementoOrdenCompra">
                    <thead>
                        <tr class="bg-primary">
                            <th colspan="7" class="text-center text-light">Listados elementos</th>
                        </tr>
                        <tr>  
                            <th class="text-left w-25">Nombre</th>
                            <th class="text-left">Presentación</th>
                            <th class="text-left">Marca</th>
                            <th class="text-left">Cantidad</th>                         
                            <th class="text-center w-25">Acciones</th>
                        </tr>
                    </thead>                      
                    <tbody id="datosEntradaOrdenCompra">
                    {% for elementoOrdenCompra in elementoOrdenCompras %}
                        <tr>
                          <td class="text-left">{{ elementoOrdenCompra.idElementoRequerimiento.idNombreInsumo }}</td>

                          <td class="text-left">{{ elementoOrdenCompra.idElementoRequerimiento.idPresentacion ? elementoOrdenCompra.idElementoRequerimiento.idPresentacion | capitalize : '-'}}</td>
                          <td class="text-left">{{ elementoOrdenCompra.idElementoRequerimiento.idMarca ? elementoOrdenCompra.idElementoRequerimiento.idMarca | capitalize : '-'}}</td>
                          <td class="text-left">{{ elementoOrdenCompra.idElementoRequerimiento.cantidad  | capitalize}}</td>
                          <td class="text-center" >
                            {% if  elementoOrdenCompra.idElementoRequerimiento.idRequerimiento.idUsuarioIngresa.idUsuario != app.user.idUsuario   %}
                                {{ include('elementoOrdenCompra/_delete_form.html.twig') }}
                            {% elseif elementoOrdenCompra.idElementoRequerimiento.idRequerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario and app.user.idPerfil.nombre == 'ROLE_SUPERADMINISTRADOR'%}   
                              {{ include('elementoOrdenCompra/_delete_form.html.twig') }}
                            {% endif %}
                          </td>
                        </tr>    
                    {% endfor %}
                    </tbody>
              	</table>
              	<div class="text-center mt-3">
                    <a href="{{ path('ordenCompra_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a>
                </div>
            {% else %}  
                <div class="modal-header ">
			    	<div class="text-center w-100"><h3 class="modal-title">MODIFICACIÓN ORDEN COMPRA N° {{ ordenCompra.idOrdenCompra}} </h3></div>
			    	{{ include('ordenCompra/_delete_form.html.twig') }}
			    </div>
                <hr>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}                	
			    {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formOrdenCompraEdit'} }) }} 
	   			{{ include('ordenCompra/_form.html.twig') }}
            {% endif %}
            </div>        
        </div>
    </div>
</div>   



<div class="modal fade bd-example-modal-lg" id="datosElementoOrdenCompra"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
  //añejo de datatable 
  newTable('#table_elementoOrdenCompra');
});

function editarEntradaRequerimiento(id) {
  var url = "/elementoRequerimiento/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosElementoRequerimiento').modal('show'); 
            $('#datosElementoRequerimiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

function detalle(id) {
  // alert(id); 
  var url = "/elementoRequerimiento/"+id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosElementoRequerimiento').modal('show'); 
            $('#datosElementoRequerimiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

$( ".cambioEstadoRequerimiento").click( function(){
  var idEntradaRequerimiento= $(this).data('id');
   var tipo = 'EntradaPedido';
  $('.modal-body #idElementoRequerimiento').val(idEntradaRequerimiento);

});
</script>
{% endblock %}