{% extends 'base.html.twig' %}
{% block title %}Ordenes de compra{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>ORDENES DE COMPRA</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración insumo&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('categoriaInventario_index')}}">Categoría</a>
                        <a class="dropdown-item" href="{{path('insumo_index')}}">Insumo</a>
                        <a class="dropdown-item" href="{{path('marca_index')}}">Marca</a>
                        <a class="dropdown-item" href="{{path('nombreInsumo_index')}}">Nombre</a>
                        <a class="dropdown-item" href="{{path('presentacion_index')}}">Presetación</a>
                        <a class="dropdown-item" href="{{path('proveedor_index')}}">Proveedor</a>
                    </div>
                </div>
                <a href="{{path('pedido_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Pedidos</button></a>                
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Salidas&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('salida_index')}}">Clinica</a>
                      <a class="dropdown-item" href="{{path('salidaConsultorio_index')}}">Consultorio</a>
                  </div>
                </div>                 
                <a href="{{path('stock_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Stock</button></a>
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Ordenes&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('requerimiento_index')}}">Requerimiento</a>
                      <a class="dropdown-item" href="{{path('ordenCompra_index')}}">Compra</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_ordenCompra">
                    <thead>
                      <tr>  
                        <th class="text-center">N° orden</th>
                        <th class="text-center">Fecha ingreso</th>
                        <th class="text-center">Proveedor</th>
                        <th class="text-center">Usuario solicito</th>
                        <th class="text-center">Estado</th>
                        <th class="text-right">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for ordenCompra in ordenCompras %}
                        <tr>
                          <td class="text-center">{{ ordenCompra.idOrdenCompra}}</td>
                          <td class="text-left">{{ordenCompra.fechaApertura ? ordenCompra.fechaApertura|date('Y-m-d H:i:s') : ''}}</td>
                          <td class="text-left">{{ ordenCompra.idProveedor  | capitalize}}</td>
                          <td class="text-left">{{ ordenCompra.idUsuarioIngresa  | capitalize}}</td>
                          <td class="text-center text-danger">{{ordenCompra.estadoEnvioCorreo ? 'Enviado' : 'Pendiente'}}</td>
                          <td class="text-right">
                            <button type="button" onclick="detalle({{ordenCompra.idOrdenCompra}})" title="Detalle orden compra" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>

                            <a target="_black"  href="{{ path('ordenCompra_pdf', { 'idOrdenCompra': ordenCompra.idOrdenCompra }) }}" class="imprimir"><button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light" title="Imprimir orden compra"><span class="mdi mdi-printer-settings"></span></button></a>
                            {% if ordenCompra.estadoEnvioCorreo == false %}
                            <a  href="{{path('ordenCompra_correo',{'idOrdenCompra': ordenCompra.idOrdenCompra})}}" class="Enviar correo"><button type="button" class="btn btn-sm btn-outline-warning waves-effect waves-light" title="Enviar e-mail orden compra"><span class="mdi mdi-email-check"></span></button></a>
                            <a href="{{ path('ordenCompra_edit', { 'idOrdenCompra': ordenCompra.idOrdenCompra }) }}"><button class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar orden compra" ><span class="fas fa-edit"></span></button></a>
                            {% else %}
                              <button class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar orden compra" disabled="disabled"><span class="fas fa-edit"></span></button>
                            {% endif %}  
                          </td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="datosOrdenCompra"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_ordenCompra');   
});

function detalle(id) {
  // alert(id); 
  var url = id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosOrdenCompra').modal('show'); 
            $('#datosOrdenCompra').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

</script>
{% endblock %}
