<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE ORDEN N° {{ordenCompra.idOrdenCompra}}</h3></div>             
        <a href="{{ path('ordenCompra_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">
        <div class="row">
           <div class="col-6"></div> 
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Fecha apertura</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ ordenCompra.fechaApertura  ? ordenCompra.fechaApertura|date('Y-m-d H:i:s') : ''}}
          </div>
        </div>
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Proveedor</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                {{ordenCompra.idProveedor| capitalize }}
            </div>    
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Usuario ingreso</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ordenCompra.idUsuarioIngresa}}
            </div> 
        </div>     
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Estado</b>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 text-danger">
                {{ordenCompra.estadoEnvioCorreo ? 'Enviado' : 'Pendiente'}}
            </div>      
        </div>  
      
      {% if elementosOrdenCompras | length > 0 %} 
      <div class="table-responsive-md mt-3 col-12">
          <table class="table" id="table_elementosOrdenCompras">
              <thead>
                    <tr>  
                      <th class="text-center w-25">Nombre</th>
                      <th class="text-center">Marca</th>                            
                      <th class="text-center">Presentación</th>
                      <th class="text-center">Cantidad</th>
                    </tr>
              </thead>
              <tbody>
              {% for elementosOrdenCompra in elementosOrdenCompras %}
                  <tr>
                    <td class="text-left">{{ elementosOrdenCompra.idElementoRequerimiento.idNombreInsumo  | capitalize}}</td>
                    <td class="text-left">{{ elementosOrdenCompra.idElementoRequerimiento.idMarca ? elementosOrdenCompra.idElementoRequerimiento.idMarca | capitalize : '-'}}</td>
                    <td class="text-left">{{ elementosOrdenCompra.idElementoRequerimiento.idPresentacion ? elementosOrdenCompra.idElementoRequerimiento.idPresentacion  | capitalize : '-'}}</td>
                    <td class="text-center">{{ elementosOrdenCompra.idElementoRequerimiento.cantidad }}</td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>  
      {% endif %}
    </div>  
    <div class="modal-footer">
       <a href="{{ path('ordenCompra_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_elementosOrdenCompras');   
});
</script>
