<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <style type="text/css">
    b, p, th, td{
      font-size: 14pt;
     }
    @media print {
      /* reglas */
      .borde{
        border: #4cae4c 0px solid;
      }
    }
    
    .table1 {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse; 
    }
    .table1 > thead > tr > th,
    .table1 > tbody > tr > th,
    .table1 > tfoot > tr > th,
    .table1 > thead > tr > td,
    .table1 > tbody > tr > td,
    .table1 > tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
    }
    .table1 > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
    .table1 > caption + thead > tr:first-child > th,
    .table1 > colgroup + thead > tr:first-child > th,
    .table1 > thead:first-child > tr:first-child > th,
    .table1 > caption + thead > tr:first-child > td,
    .table1 > colgroup + thead > tr:first-child > td,
    .table1 > thead:first-child > tr:first-child > td {
      border-top: 0;
    }
    .table1 > tbody + tbody {
      border-top: 2px solid #ddd;
    }
    .table1 .table1 {
      background-color: #fff;
    }
    </style>
  </head>                           
  <body style="background-color: white;">
    <div class="col-md-12"> 
      <div class="row" style="height: 150px; display: table;">
        <div class="col-md-10 text-center" style="display: table-cell; vertical-align: middle;">
          {% if ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica != ''%}
            <p class="h3"><b>{{ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica | capitalize}}</b></p>
            <p class="h4"><b>N° identificación: {{ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica.nit | capitalize}}</b></p>
            <p class="h4"><b>Tel: {{ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica.movil | capitalize}}</b></p>
          {% else %}
            <p class="h3"><b>{{ordenCompra.idUsuarioIngresa.idSucursal | capitalize}}</b></p>
            <p class="h4"><b>N° identificación: {{ordenCompra.idUsuarioIngresa.idSucursal.nit | capitalize}}</b></p>
            <p class="h4"><b>Tel: {{ordenCompra.idUsuarioIngresa.idSucursal.movil | capitalize}}</b></p>
          {% endif %}
        </div>
        <div class="col-md-2" style="display: table-cell; vertical-align: middle;">
          <img src="{{ pathToWeb  ~ asset('light/dist/assets/images/logoOrtoboy.png') }}" alt="Image" class="rounded-sm float-right" width="180" height="140">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Orden #:</b></div>
        <div class="col-md-3 text-left"><p>{{ordenCompra.idOrdenCompra}} de {{ "now" | date('d M Y H:i:s', false)}} </p></div>
        <div class="col-md-3" ><b>Requerimiento #:</b></div>
        <div class="col-md-3" ><p>{{idRequerimiento}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Proveedor:</b></div>
        <div  class="col-md-3"><p>{{ordenCompra.idProveedor}}</p></div>
        <div class="col-md-3" ><b>Nit:</b></div>
        <div class="col-md-3" ><p>{{ordenCompra.idProveedor.identificacion}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Nombre contacto:</b></div>
        <div class="col-md-3"><p>{{ordenCompra.idProveedor.nombreContacto}}</p></div>
        <div class="col-md-3" ><b>Número contacto:</b></div>
        <div class="col-md-3" ><p>{{ordenCompra.idProveedor.movil}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Dirección:</b></div>
        <div class="col-md-9" ><p>{{ordenCompra.idProveedor.direccion}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>E-mail</b></div>
        <div  class="col-md-9 text-left"><p>{{ordenCompra.idProveedor.email}}</p></div>
      </div>
      
    {#<table class="table1 mt-3" style="max-width: 880px;">
      <tr>
        <th colspan="4" class="text-center">
          {% if ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica != ''%}
            <h3><b>{{ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica | capitalize}}</b></h3>
            <h4><b>N° identificación: {{ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica.nit | capitalize}}</b></h4>
            <h4><b>Tel: {{ordenCompra.idUsuarioIngresa.idSucursal.idSedeClinica.movil | capitalize}}</b></h4>
         {% else %}
          <h3><b>{{ordenCompra.idUsuarioIngresa.idSucursal | capitalize}}</b></h3>
          <h4><b>N° identificación: {{ordenCompra.idUsuarioIngresa.idSucursal.nit | capitalize}}</b></h4>
          <h4><b>Tel: {{ordenCompra.idUsuarioIngresa.idSucursal.movil | capitalize}}</b></h4>
         {% endif %}
        </th>
        <td class="text-right"><img src="{{ pathToWeb  ~ asset('light/dist/assets/images/logoOrtoboy.png') }}" alt="Image" class="rounded-sm float-right" width="180" height="140"></td>
      </tr>
      <tr>
        <th>Orden #:</th>
        <td colspan="2" class="text-left">{{ordenCompra.idOrdenCompra}} de {{ "now" | date('d M Y H:i:s', false)}} </td>
        <th>Requerimiento #:</th>
        <td>{{idRequerimiento}}</td>
      </tr>
      <tr>
        <th>Proveedor:</th>
        <td colspan="2">{{ordenCompra.idProveedor}}</td>
        <th>Nit:</th>
        <td>{{ordenCompra.idProveedor.identificacion}}</td>
      </tr>
      <tr>
        <th>Nombre contacto:</th>
        <td colspan="2">{{ordenCompra.idProveedor.nombreContacto}}</td>
        <th>Número contacto:</th>
        <td>{{ordenCompra.idProveedor.movil}}</td>
      </tr>
      <tr>
        <th>Dirección:</th>
        <td colspan="4">{{ordenCompra.idProveedor.direccion}}</td>
      </tr>
      <tr>
        <th>E-mail</th>
        <td class="text-left">{{ordenCompra.idProveedor.email}}</td>
      </tr>
      
    </table>#}
      <table class="table table-hover mt-3 borde" style="max-width: 880px;">
        <thead>
          <tr>
            <th class="success" colspan="5"><div class="bg-success text-center text-white"><b>Elementos requeridos</b></div></th>
          </tr>
          <tr>
            <th class="text-center">Ítem</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Marca</th>
            <th class="text-center">Presentación</th>
            <th class="text-center">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          {% for elementoOrden in elementoOrdenCompras%}
          <tr>
            <td class="text-center">{{loop.index}}</td>
            <td class="text-left">{{elementoOrden.idElementoRequerimiento.idNombreInsumo}}</td>
            <td class="text-left">{{elementoOrden.idElementoRequerimiento.idMarca ? elementoOrden.idElementoRequerimiento.idMarca : '-'}}</td>
            <td class="text-left">{{elementoOrden.idElementoRequerimiento.idPresentacion ? elementoOrden.idElementoRequerimiento.idPresentacion : '-'}}</td>
            <td class="text-center">{{elementoOrden.idElementoRequerimiento.cantidad }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row mt-3">
        <div class="col-md-6"></div>
        <div class="col-md-2 text-center"><b>Firma Responsable</b></div>
        <div class="col-md-4 text-left"><p>
          {% if ordenCompra.idUsuarioIngresa.firmaProfesional != ''%}
          <img src="{{ pathToWeb  ~ asset('light/dist/assets/uploads/usuario/' ~ ordenCompra.idUsuarioIngresa.firmaProfesional) }}" alt="Image" class="rounded-sm" width="280"  height="40" >&nbsp;&nbsp;
          {% endif %}
          </p>
        </div>
      </div>
    </div>     
  </body>
</html><br>

