{% extends 'baseExterno.html.twig' %}

{% block title %}Configuración{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
{{ parent() }}
<div class="account-pages mb-8">
    <div class="container">               
        <div class="row  mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="modal-header ">
                            <div class="text-center w-100"><h3 class="modal-title">REGISTRO ANEXO</h3></div>
                            {% if anexos    | length == 0%}
                            <a href="{{ path('usuario_logout') }}">
                                <button type="button" title="Cerrar" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </a> 
                            {% endif %}
                        </div>
                        <div class="alert alert-danger alert-dismissable resp" role="alert" hidden>
                        </div>
                        {%  for flashMessage in app.flashes('mensaje') %}
                            <div class=" alert alert-success" role="alert">
                                <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <div> {{ flashMessage }}</div> 
                            </div>
                        {% endfor %}
                        {%  for flashMessage in app.flashes('error') %}
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <div id="resp"> {{ flashMessage }}</div> 
                            </div>
                        {% endfor %}
                        {% if dato != '' %} 
                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formCrearAnexoExterno'} }) }} 
                            <div class="row mt-2">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                  <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                                  <div class="form-group">
                                    {{ form_widget(form.nombre) }}
                                    <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
                                  </div>      
                                </div>                                  
                            </div>  
                            <div class="row mt-2">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                  <label for="descripcion">Descripción</label>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                                  <div class="form-group">
                                    {{ form_widget(form.descripcion) }}
                                    <div class="invalid-feedback">{{ form_errors(form.descripcion)}}</div>
                                  </div>      
                                </div>                                  
                            </div>  
                            <div class="row mt-2">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                  <label for="archivo">Archivo</label>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                                    <div class=" input-group image-preview">
                                        <input type="text" class="form-control image-preview-filename" disabled="disabled"> 
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                <span class="glyphicon glyphicon-remove"></span>Quitar
                                            </button>
                                            <div class="btn btn-default image-preview-input-anexo">

                                                <span class="fas fa-folder-open"></span>
                                                <span class="image-preview-input-title">Archivo</span>
                                                {{ form_widget(form.archivo) }}


                                            </div>
                                        </span>
                                    </div>
                                <div class="invalid-feedback">{{ form_errors(form.archivo)}} </div>
                                </div>
                            </div>
                            <div hidden>
                                {{ form_widget(form.idPaciente) }}
                                {{ form_widget(form.idUsuarioIngresa) }}
                                {{ form_widget(form.idRemision) }}
                            </div>
                            <div class="text-center mt-3">
                                {% if anexos    | length == 0 %}
                                <a href="{{ path('usuario_logout') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
                                {% endif %}
                               
                                <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button> 
                            </div>
                        {{ form_end(form) }}
                        {% endif %}

                        <div class="table-responsive-lg mt-3">
                            <table class="table" id="table_anexoExterno">
                                <thead>
                                    <tr>
                                        <th class="text-center w-25">Nombre</th>
                                        <th class="text-center w-50">Descripción</th>
                                        <th class="text-center w-25">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for anexoPaciente in anexos %}                                    
                                    <tr data-id={{anexoPaciente.idAnexoPAciente}}>
                                        <td class="w-25 text-center">{{ anexoPaciente.nombre }}</td>
                                        <td class="w-25 text-left">{{ anexoPaciente.descripcion }}</td>
                                        <td class="text-center w-50">
                                            {% if anexoPaciente.archivo %}
                                            <a target="_black" href="{{ asset('light/dist/assets/uploads/anexoPaciente/' ~ anexoPaciente.archivo) }}" title="Detalle"><button type="button" class="btn btn-outline-info"><span class="fa fa-file"></span></button></a>
                                            {% else %}
                                                <a title="Detalle"><button type="button" class="btn btn-outline-info"><span class="fa fa-file"></span></button></a>
                                            {% endif %}
                                            {% set fechaVencimiento = fechaV | date('Y-m-d', false)%}
                                            {% set fechaActual = "now"|date('Y-m-d')%}
                                            {% if   fechaActual == fechaVencimiento  %}
                                            <button title="Eliminar" class="btn btn-outline-danger btn-deleteAnexoExterno"><span class="mdi mdi-delete"></span></button>
                                            <form hidden method="post" id="eliminarAnexoExterno" class ="eliminarDato" action="{{ path('externo_delete', {'idAnexoPaciente': anexoPaciente.idAnexoPaciente,'dato':dato}) }}"  >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ anexoPaciente.idAnexoPaciente) }}">
                                                <button type="button" class="btn btn-outline-danger" title="Eliminar" onclick="return confirmDelete();"><span class="mdi mdi-delete"></span></button>
                                            </form>
                                            {% elseif  fechaActual < fechaVencimiento %}
                                            <button title="Eliminar" class="btn btn-outline-danger btn-deleteAnexoExterno"><span class="mdi mdi-delete"></span></button>
                                            <form hidden method="post" id="eliminarAnexoExterno" class ="eliminarDato" action="{{ path('externo_delete', {'idAnexoPaciente': anexoPaciente.idAnexoPaciente,'dato':dato}) }}"  >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ anexoPaciente.idAnexoPaciente) }}">
                                                <button type="button" class="btn btn-outline-danger" title="Eliminar" onclick="return confirmDelete();"><span class="mdi mdi-delete"></span></button>
                                            </form>
                                            {% endif %}
                                            <a hidden href="{{ path('externo_finalizar', {'anexo': anexoPaciente.idAnexoPaciente}) }}" class="enlaceFinalizar">ruta</a>
                                        </td> 
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                        {% if anexos | length > 0 %}  
                        <div class="text-center mt-3">
                            <button class="finalizar btn btn-outline-danger" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Finalizar' |trans}}</button>
                            
                        </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>  
    </div>
<div class='modalCargando'></div>  
</div>    
{% endblock %}
{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function(){
        //aejo de datatable 
        newTable('#table_anexoExterno');
    });  

    $(document).ready(function(){
        $('.btn-deleteAnexoExterno').click(function(e){
            e.preventDefault();
            
            var row = $(this).parents('tr');
            
            var id = row.data('id');
            var dato='{{dato}}';
            var formulario=$('#eliminarAnexoExterno').attr('action', "/externo/"+id+"/delete?dato="+dato);
            swal({
              title: "¿Estás seguro?",
              text: "Estás por borrar un registro, este no se podrá recuperar más adelante.",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, Eliminarlo!',
              cancelButtonText: "Cancelar",
              allowEscapeKey: false,
              allowOutsideClick: false
               }).then(function (isConfirm) {
                if (isConfirm) {
                    
                   swal({
                      title: 'Eliminado!',
                      text: 'Se ha eliminado correctamente el registro.',
                      type: 'success',
                      allowEscapeKey: false,
                      allowOutsideClick: false
                   }).then(function (isConfirm) {
                        if (isConfirm) {
                            $('#eliminarAnexoExterno').submit();
                        }});          

                  }}
                , function (dismiss) {
                      if (dismiss === 'cancel') {
                        swal("Cancelado!", " Se ha cancelado exitosamente.", "error");
                      };
                    }
                );
            return false;
        });

        $('.finalizar').click(function(e){
            swal({
              title: "¿Estás seguro?",
              text: "Una finalizas este proceso no podras acceder a realizar cambios.",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, Finalizar!',
              cancelButtonText: "Cancelar",
              allowEscapeKey: false,
              allowOutsideClick: false
               }).then(function (isConfirm) {
                if (isConfirm) {     
                  window.location = $(".enlaceFinalizar").attr("href");

                  }}
                , function (dismiss) {
                      if (dismiss === 'cancel') {
                        swal("Cancelado!", " Se ha cancelado exitosamente.", "error");
                      };
                    }
                );
            return false;
        });
    });
</script>
{% endblock %}