<form method="post" class ="eliminarDato" action="{{ path('estadoPago_delete', {'idEstadoPago': estadoPago.idEstadoPago}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estadoPago.idEstadoPago) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>