{% extends 'base.html.twig' %}
{% block title %}Categoría tratamiento{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>CATEGORÍA TRATAMIENTO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_categoriaTratamiento">
                    <thead>
                      <tr>  
                        <th></th>
                        <th class="text-left w-25">Nombre categoría</th> 
                        <th class="text-left w-25">Valor tratamiento</th>
                        <th class="text-left w-25">Área</th>        
                        <th class="text-right w-25">Acciones</th>
                        <th>
                            <a style="float: right;" data-controls-modal="crearCategoriaTratamiento" data-backdrop="static" data-toggle="modal" data-target="#crearCategoriaTratamiento" title="Crear categoría tratamiento"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                        </th> 
                      </tr>
                    </thead>
                    <tbody>
                    {% for categoriaTratamiento in categoriaTratamientos %}
                      <tr class="header expand" title="Ver" style="background: #F9F9F9;">
                        <td><span class="fas sign"></span></td>
                        <td class="text-left">{{ categoriaTratamiento.nombre | capitalize}}</td>
                        <td></td>
                        <td>{{categoriaTratamiento.idArea}}</td>
                        <td class="text-right" colspan="2">
                          <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left" data-html="true"  data-content="<label>Estado:</label> {{categoriaTratamiento.estado ? 'Activo' : 'Inactivo'}} <br> <label>Usuario Ingreso:</label> {{categoriaTratamiento.idUsuarioIngresa | capitalize}}" title="Detalle"><button title="Detalle categoría tratamiento"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                          {% if  categoriaTratamiento.estado == true %}                          
                          <a href="{{ path('tratamiento_new', { 'idCategoriaTratamiento': categoriaTratamiento.idCategoriaTratamiento }) }}"><button class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Datos tratamientos" ><span class="fe-share-2"></span></button></a>
                          
                          <button type="button" onclick="editar( {{ categoriaTratamiento.idCategoriaTratamiento}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar categoría tratamiento"><span class="fas fa-edit"></span></button>   
                          {% else %}
                            <button type="button" disabled="disabled" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear tratamiento" ><span class="fe-share-2"></span></button>
                            <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar categoría tratamiento"><span class="fas fa-edit"></span></button>   
                          {% endif %}
                          <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ categoriaTratamiento.idCategoriaTratamiento }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>                             
                        </td>
                        <td style="display: none;"></td>
                      </tr>
                      {% for tratamiento in tratamientos %}
                        {% if categoriaTratamiento.idCategoriaTratamiento == tratamiento.idCategoriaTratamiento.idCategoriaTratamiento %}
                          <tr>
                            <td></td>
                            <td class="text-left">{{ tratamiento.nombre | capitalize}}</td>
                            <td class="text-left">{{ tratamiento.valor | capitalize}}</td>
                            <td></td>
                            <td class="text-right" colspan="2">
                              <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left" data-html="true"  data-content="<label>Estado:</label> {{tratamiento.estado ? 'Activo' : 'Inactivo'}} <br> <label>Usuario Ingreso:</label> {{tratamiento.idUsuarioIngresa | capitalize}}" title="Detalle"><button title="Detalle categoría tratamiento"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                              {% if  tratamiento.estado == true %}
                              <button type="button" onclick="editarTratamiento( {{ tratamiento.idTratamiento}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar tratamiento"><span class="fas fa-edit"></span></button>    
                              {% else %}
                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar tratamiento"><span class="fas fa-edit"></span></button> 
                              {% endif %}
                              {% if  categoriaTratamiento.estado == true %}    
                              <a  class="cambiarEstadoTratamiento" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ tratamiento.idTratamiento }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>        
                              {% else %}
                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button>
                              {% endif %}            
                            </td>
                            <td style="display: none;"></td>
                          </tr>
                        {% endif %}  
                      {% endfor %}  
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('categoriaTratamiento/modalNew.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosCategoriaTratamiento"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_categoriaTratamiento');   
});

function editar(id) {
  
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosCategoriaTratamiento').modal('show'); 
            $('#datosCategoriaTratamiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

function editarTratamiento(id) {
  
  var url = "/tratamiento/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosCategoriaTratamiento').modal('show'); 
            $('#datosCategoriaTratamiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

$( ".cambiarEstado").click( function(){
  var idCategoriaTratamiento= $(this).data('id');
   var tipo = 'CategoriaTratamiento';
  $('.modal-body #id').val(idCategoriaTratamiento);
  $('.modal-body #tipo').val(tipo);

});
$('.cambiarEstadoTratamiento').click( function(){
  var idTratamiento= $(this).data('id');
   var tipo = 'Tratamiento';
  $('.modal-body #id').val(idTratamiento);
  $('.modal-body #tipo').val(tipo);

});
</script>
{% endblock %}