<form method="post" action="{{ path('contrato_delete', {'idContrato': contrato.idContrato}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contrato.idContrato) }}">
    <button class="btn">Delete</button>
</form>
