    {% for clinica in clinicas%}
    <div class="row mt-2">
        <div class="col-2">
            {% if clinica.logo != ''%}
            <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-75">           
            {% endif %}
        </div>
        <div class="col-6 text-center">
            <p> 
                <b>{{clinica.nombre | upper}}</b><br>
                IDENTIFICACIÓN: {{clinica.nit | upper}}<br>
                {% if clinica.telefono != '' %}
                    TEL: {{clinica.telefono | upper}}<br>
                {% endif %}
                CELULAR: {{clinica.movil | upper}}<br>
                SEDE {{app.user.idSucursal.nombre | upper}}<br>
                CONTRATO MEDICO
            </p>
        </div>
        <div class="col-4 text-rigth">
            <p> <br><br><br>
                <b>Fecha:</b> {{'now' | date('d/m/Y H:i:s', 'America/Bogota')}}<br>
                <b>Página:</b> 1<br>
            </p>
        </div>
    </div>
    <hr> 
    {% endfor %}
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Paciente:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{contrato.idPaciente.tipoIdentificacion}}  {{contrato.idPaciente.numeroIdentificacion}}  </p>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{contrato.idPaciente.nombres}} {{contrato.idPaciente.primerApellido}} {{contrato.idPaciente.segundoApellido}}   </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Fecha nacimiento:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{contrato.idPaciente.fechaNacimiento | date('d/m/Y H:i:s') }} </p>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Edad:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{edad}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Sexo:</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
            <p>{% if contrato.idPaciente.sexo == 'MASCULINO'%}Hombre{% elseif contrato.idPaciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Celular:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{contrato.idPaciente.celular}} </p>
        </div>
        {% if contrato.idPaciente.telefonoDomicilio != ''%}
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Teléfono:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{contrato.idPaciente.telefonoDomicilio}}</p>
        </div>
        {% endif %}
    </div>                                        
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Dirección:</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
           {{contrato.idPaciente.dirrecionDomicilio}} - {{contrato.idPaciente.idMunicipio}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idTipoContrato">Tipo contenido</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idTipoContrato) }}
            <div class="invalid-feedback">{{ form_errors(form.idTipoContrato)}}</div>
        </div>                                            
    </div>
    <hr>
    <div class="row">
    	<div class="col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
    		Yo, <u>{{contrato.idPaciente}}</u> mayor de edad identificado como aparece al pie de mi firma, en pleno uso de mis facultades mentales, libre y consciente declaro que:<br>
    		Por la presente acuerdo con  <u>{% if contrato.idUsuario.idSucursal.idSedeClinica != ''%}{{contrato.idUsuario.idSucursal.idSedeClinica.nombre}}{% else %}{{contrato.idUsuario.idSucursal.nombre}}{% endif %}</u> las siguientes condiciones para el
    	</div>
    </div>
    <div class="row mt-1">
    	 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idTipoArchivo">Tipo archivo: </label>&nbsp;<label class="text-danger">*</label>
        </div>
    	<div class="form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
    		{{ form_widget(form.idTipoArchivo) }}
            <div class="invalid-feedback">{{ form_errors(form.idTipoArchivo)}}</div>
    	</div>
    </div>
    <div class="row mt-1">
    	 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idPlanTratamiento">del Plan de tratamiento</label>
        </div>
    	<div class="col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
    		{{ form_widget(form.idPlanTratamiento) }}
            <div class="invalid-feedback msgPlan">{{ form_errors(form.idPlanTratamiento)}}</div>
    	</div>
    </div><br>                          
    <div class="row">
    	<div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 contenidoTipoContrato">
    	
    	</div>
    </div>
    <br>
    <div class="row">
        <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 contenidoTipoContrato">
            He leído cuidadosamente este formulario antes de firmarlo y me encuentro en capacidad de manifestar mi libre consentimiento. Manifiesto que he comprendido con claridad la naturaleza de la información y las opciones alternativas.
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombreAcudiente">NOMBRE ACUDIENTE</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.nombreAcudiente) }}
            <div class="invalid-feedback">{{ form_errors(form.nombreAcudiente)}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cedularAcudiente">C.C N°.</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.cedularAcudiente) }}
            <div class="invalid-feedback">{{ form_errors(form.cedularAcudiente)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="parentesco">, PARENTESCO</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.parentesco) }}
            <div class="invalid-feedback">{{ form_errors(form.parentesco)}}</div>
        </div>
    </div>      
    <div class="row mt-2">
        <div><label>DATOS DEL </label> &nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="radio radio-success form-check-inline">
            <input type="radio" id="paciente" value="PACIENTE" name="firmanteContrato" checked="">
            <label for="paciente"> PACIENTE</label>
        </div>
        <div class="radio radio-success form-check-inline">
            <input type="radio" id="responsable" value="RESPONSABLE" name="firmanteContrato">
            <label for="responsable"> RESPONSABLE</label>
        </div>
    </div> 
    <div class="row responsableCContrato mt-2" hidden>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cedularResponsable">C.C N°.</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.cedularResponsable) }}
            <div class="invalid-feedback">{{ form_errors(form.cedularResponsable)}}</div>
        </div>
    </div> 
    <div class="row pacienteCContrato mt-2" hidden>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cedularResponsable">{{contrato.idPaciente.tipoIdentificacion}} N°.</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            <input type="text"  disabled name="datoPaci" class="form-control" value="{{contrato.idPaciente.numeroIdentificacion}}">
        </div>
    </div>  
    <div class="invalid-feedback mgsResponsableContrato text-center"></div>
    <div hidden>
        {{ form_widget(form.idPaciente) }}
        {{ form_widget(form.idUsuario) }}
    </div>
    <br>
    <div class="text-center">
        <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
    </div>
    {{ form_end(form) }}