{% extends 'base.html.twig' %}
{% block title %}Documentos paciente{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    {{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">
          
            <div class="card-body"> 
                <div class="modal-header hearVisual">
                    <div class="text-center w-100">
                        <h3 class="modal-title">DOCUMENTOS PACIENTE</h3>
                        <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
                    </div>              
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">                        
                        <div class="table-responsive mt-3"  >
                            <table class="table table-hover" id="table_contratos">
                                <thead>
                                    <tr>
                                        <th class="text-center">Fecha registro</th>
                                        <th class="text-center w-25">Tipo archivo</th>
                                        <th class="text-center w-25">Profesional autoriza</th>
                                        <th class="text-center">Confirmación</th>
                                        <th class="text-right">Acciones</th>
                                        <th>
                                            <button  style="float: right;" type="button" class="btn btn-sm btn-success waves-effect waves-light" data-toggle="collapse" data-target="#collapseArchivo" aria-expanded="false" aria-controls="collapseArchivo"><span class="fas fa-plus"></span></button>
                                        </th>
                                    </tr>                                        
                                </thead>
                                <tbody>
                                    {% for contrato in contratos%}
                                        <tr>
                                            <td class="text-left">{{contrato.fechaApertura ? contrato.fechaApertura|date('Y-m-d H:i:s') : ''}}</td>
                                            <td class="text-left">{{ contrato.idTipoArchivo | capitalize}}</td>
                                            <td class="text-left">{{ contrato.idUsuario }}</td>
                                            <td class="text-center">
                                                {% if contrato.firmaPaciente != '' and contrato.huellaPaciente != '' %}
                                                    <p class="text-success">Firma & Huella</p>
                                                {% elseif contrato.firmaPaciente != '' and contrato.huellaPaciente == '' %}
                                                    <p class="text-success">Firma</p>
                                                {% elseif contrato.firmaPaciente == '' and contrato.huellaPaciente != '' %}
                                                    <p class="text-success">Huella</p>
                                                {% else %}
                                                    <p class="text-danger">Pediente</p>
                                                {% endif %}
                                            </td>
                                            <td class="text-center" colspan="2">
                                                <a href="{{ path('contrato_show',{'idContrato':contrato.idContrato}) }}"><button type="button" title="Detalle contrato" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                                                <a target="_black"  href="{{ path('contrato_pdf', { 'idContrato': contrato.idContrato }) }}" class="imprimir"><button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light" title="Imprimir contrato"><span class="mdi mdi-printer-settings"></span></button></a>
                                            </td>
                                            <td style="display:none;"></td>
                                        </tr>                                                
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>
                        <div class="crearForm_archivo collapse" id="collapseArchivo" >
                            <hr><br><br>
                            <div class="card">
                                <div class="card-header bg-info py-3 text-white">
                                    <div class="card-widgets">
                                        <!--a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a-->
                                        <a data-toggle="collapse" href="#cardCollpase7" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                                        <!--a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a-->
                                    </div>
                                    <h5 class="card-title mb-0 text-white">Registro contrato</h5>
                                </div>
                                <div id="cardCollpase7" class="collapse show">
                                    <div class="card-body">
                                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formContrato'} }) }} 
                                        {{ include('contrato/_form.html.twig') }}                                                  
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="modal fade" id="datosContrato"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">
    var val= $(".invalid-feedback").children().children().children().val();
    if (typeof(val) != "undefined") {
        $('.crearForm_archivo').addClass('show');    
    } 
</script>

{% endblock %}
