    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idNombreInsumo">Nombre</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idNombreInsumo) }}
            <div class="invalid-feedback">{{ form_errors(form.idNombreInsumo)}}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cantidad" class="fles">Cantidad Mínima</label>&nbsp;<label class="text-danger fles">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.cantidad) }}
            <div class="invalid-feedback">{{ form_errors(form.cantidad)}}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idClinica">Ubicación</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idClinica) }}
            <div class="invalid-feedback">{{ form_errors(form.idClinica)}}</div>
        </div>
    </div>
    <div hidden>
    	 {{ form_widget(form.estado) }}
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('stock_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
