{% extends 'base.html.twig' %}
{% block title %}Stock inventario{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}
{#
{{dump(stocks)}} 
Salidas
{{dump(totalSalidas)}} #}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>STOCK INVENTARIO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración insumo&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('categoriaInventario_index')}}">Categoría</a>
                        <a class="dropdown-item" href="{{path('insumo_index')}}">Insumo</a>
                        <a class="dropdown-item" href="{{path('marca_index')}}">Marca</a>
                        <a class="dropdown-item" href="{{path('nombreInsumo_index')}}">Nombre</a>
                        <a class="dropdown-item" href="{{path('presentacion_index')}}">Presetación</a>
                        <a class="dropdown-item" href="{{path('proveedor_index')}}">Proveedor</a>
                    </div>
                </div>
                <a href="{{path('pedido_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Pedidos</button></a>                
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Salidas&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('salida_index')}}">Clinica</a>
                      <a class="dropdown-item" href="{{path('salidaConsultorio_index')}}">Consultorio</a>
                  </div>
                </div>                  
                <a href="{{path('stock_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Stock</button></a>
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Ordenes&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('requerimiento_index')}}">Requerimiento</a>
                      <a class="dropdown-item" href="{{path('ordenCompra_index')}}">Compra</a>
                  </div>
                </div>
              </div>
            </div>
            {#{{dump(stocksEntradas)}}
            {{dump(totalSalidas)}}#}
            {# Datos iniciales de entradas#}
            {% set contadorDatosEntradas = stocksEntradas | keys%}
            {% set arrayIdentificadorStockEntradas = [] %}
            {% for i in contadorDatosEntradas %}
                {% set arrayIdentificadorStockEntradas = arrayIdentificadorStockEntradas|merge([stocksEntradas[i]['idStock']]) %}
            {% endfor %}

            {# Datos iniciales de salidas#}
            {% set contadorDatosSalidas = totalSalidas | keys%}
            {% set arrayIdentificadorStockSalidas = [] %}
            {% for i in contadorDatosSalidas %}
                {% set arrayIdentificadorStockSalidas = arrayIdentificadorStockSalidas|merge([totalSalidas[i]['idStock']]) %}
            {% endfor %}
            <div class="table-responsive-lg mt-3">              
              <table class="table" id="table_stock">
                <thead>
                      <tr>                              
                        <th></th>
                        <th class="text-center w-25">Nombre</th>
                        <th class="text-center w-25">Cantidad mínima</th>
                        <th class="text-center w-25">Total entrada</th>
                        <th class="text-center w-25">Total salida</th>
                        <th class="text-center w-25">Total existencias</th>
                        <th class="text-right w-25">Acciones</th>
                        <th>
                            <a style="float: right;" data-controls-modal="crearStock" data-backdrop="static" data-toggle="modal" data-target="#crearStock" title="Crear stock"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                        </th> 
                      </tr>
                </thead>
                <tbody>
                  
                    {% for clinica in clinicas %}
                    {% set idClinica = clinica.idClinica %}
                    <tr class="header expand" title="Ver" style="background: #F9F9F9;">
                      <td><span class="fas sign"></span></td> 
                      <td colspan="7" class="text-left">{{ clinica.nombre  | capitalize}}</td>
                      <td style="display: none;"></td>
                      <td style="display: none;"></td>
                      <td style="display: none;"></td>
                      <td style="display: none;"></td>
                      <td style="display: none;"></td>
                      <td style="display: none;"></td>
                    </tr>         
                      {#{% set contadores =  (stocksEntradas | length) - 1  %}
                      {% set contador =  contadores %}#}
                      {% for stock in stocksCompleto %}
                       {% set idStockCompleto = stock.idStock %}
                        {% if stock.idClinica.idClinica == idClinica%}
                        {% if idStockCompleto in arrayIdentificadorStockEntradas%}
                          {% for stocksEntrada in stocksEntradas   %}
                            {% if stocksEntrada.idClinica == stock.idClinica.idClinica and stocksEntrada.idStock == idStockCompleto%}
                            {% if stocksEntrada.idStock in arrayIdentificadorStockSalidas%}
                              {% for totalSalida in totalSalidas %}
                                {% if stock.idClinica.idClinica == idClinica and totalSalida.idStock == stock.idStock %}  
                                {% set existencias= stocksEntrada.totalEntrada-totalSalida.totalSalidas %}
                                <tr>
                                  <td></td>
                                  <td class="text-left">{{ stock.idNombreInsumo  | capitalize}}</td>
                                  <td class="text-center">{{ stock.cantidad  | capitalize}}</td>
                                  <td class="text-center"> 
                                    {{stocksEntrada.totalEntrada}}
                                  </td>
                                  <td class="text-center">
                                    {{totalSalida.totalSalidas}}
                                  </td>
                                  <td class="text-center">{{existencias}}</td>
                                  <td class="text-center" colspan="2">
                                    {% if stock.estado == true %}
                                    <button type="button" onclick="editar( {{ stock.idStock}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                                    {% else %}
                                     <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                                    {% endif %}
                                    <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{stock.idStock }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                                  </td>
                                  <td style="display: none;"></td>
                                </tr> 
                                {% endif  %}
                              {% endfor %}
                            {% else  %}
                              {% set existencias= stocksEntrada.totalEntrada %}
                            <tr>
                              <td></td>
                              <td class="text-left">{{ stock.idNombreInsumo  | capitalize}}</td>
                              <td class="text-center">{{ stock.cantidad  | capitalize}}</td>
                              <td class="text-center"> 
                                {{stocksEntrada.totalEntrada}}
                              </td>
                              <td class="text-center">0</td>
                              <td class="text-center">{{existencias}}</td>
                              <td class="text-center" colspan="2">
                                {% if stock.estado == true %}
                                <button type="button" onclick="editar( {{ stock.idStock}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                                {% else %}
                                 <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                                {% endif %}
                                <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{stock.idStock }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                              </td>
                              <td style="display: none;"></td>
                            </tr> 
                            {% endif  %}
                            {% endif  %}
                          {% endfor %}
                        {% else %}
                           <tr>
                              <td></td>
                              <td class="text-left">{{ stock.idNombreInsumo  | capitalize}}</td>
                              <td class="text-center">{{ stock.cantidad  | capitalize}}</td>
                              <td class="text-center"> 0</td>
                              <td class="text-center">0</td>
                              <td class="text-center">0</td>
                              <td class="text-center" colspan="2">
                                {% if stock.estado == true %}
                                <button type="button" onclick="editar( {{ stock.idStock}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                                {% else %}
                                 <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                                {% endif %}
                                <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{stock.idStock }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                              </td>
                              <td style="display: none;"></td>
                            </tr> 
                        {% endif %}         
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>
{{ include('stock/modalNew.html.twig') }}

<div class="modal fade bd-example-modal-lg" id="datosStock"></div>

{{ include('tipo_radiografia/editEstado.html.twig') }} 
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_stock');   
});

function editar(id) {
  // alert(id); 
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosStock').modal('show'); 
            $('#datosStock').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

$( ".cambiarEstado").click( function(){
  var idStock= $(this).data('id');
   var tipo = 'Stock';
  $('.modal-body #id').val(idStock);
  $('.modal-body #tipo').val(tipo);

});

</script>
{% endblock %}

{#Pruebas iniciales para stock#}
{#<table class="table" id="table_stock">
  <thead>
        <tr>                              
          <th></th>
          <th class="text-center w-25">Nombre</th>
          <th class="text-center w-25">Cantidad mínima</th>
          <th class="text-center w-25">Total entrada</th>
          <th class="text-center w-25">Total salida</th>
          <th class="text-center w-25">Total existencias</th>
          <th class="text-right w-25">Acciones</th>
          <th>
              <a style="float: right;" data-controls-modal="crearStock" data-backdrop="static" data-toggle="modal" data-target="#crearStock" title="Crear stock"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
          </th> 
        </tr>
  </thead>
  <tbody>
      {% for clinica in clinicas %}
      {% set idClinica = clinica.idClinica %}
      <tr class="header expand" title="Ver" style="background: #F9F9F9;">
        <td><span class="fas sign"></span></td> 
        <td colspan="7" class="text-left">{{ clinica.nombre  | capitalize}}</td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
      </tr>         
      
        {% for stock in stocks %}
          {% set idStockEn = stock.idStock %}
          {% for totalSalida in totalSalidas %}
            {% set idStockSalida= totalSalida.idStock %}

            {% if stock.sede == idClinica  and stock.sedeEntrada == idClinica and totalSalida.idStock != stock.idStock %}
              
               <tr>
                <td></td>
                <td class="text-left">{{ stock.nombreInsumo  | capitalize}}</td>
                <td class="text-center">{{ stock.cantidad  | capitalize}}</td>
                <td class="text-center">{{stock.totalEntradas}}</td>
                <td class="text-center">0</td>
                <td class="text-center">0</td>
                <td class="text-center" colspan="2">
                  {% if stock.estado == true %}
                  <button type="button" onclick="editar( {{ stock.idStock}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                  {% else %}
                   <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                  {% endif %}
                  <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{stock.idStock }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                </td>
                <td style="display: none;"></td>
              </tr> 
            {% elseif stock.sede == idClinica  and stock.sedeEntrada == idClinica and totalSalida.idStock == stock.idStock %}
              {% set existencias = stock.totalEntradas-totalSalida.totalSalidas%}
              <tr>
                <td></td>
                <td class="text-left">{{ stock.nombreInsumo  | capitalize}}</td>
                <td class="text-center">{{ stock.cantidad  | capitalize}}</td>
                <td class="text-center">{{stock.totalEntradas}}</td>
                <td class="text-center">{{totalSalida.totalSalidas}}</td>
                <td class="text-center">{{existencias}}</td>
                <td class="text-center" colspan="2">
                  {% if stock.estado == true %}
                  <button type="button" onclick="editar( {{ stock.idStock}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                  {% else %}
                   <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
                  {% endif %}
                  <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{stock.idStock }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                </td>
                <td style="display: none;"></td>
              </tr> 
            {% endif %}                              
        {% endfor %}
      {% endfor %}
      {% for stockP in stocksPrincipal %}
        {% if stockP.idClinica.idClinica == idClinica  %}
        <tr>
          <td></td>
          <td class="text-left">{{ stockP.idNombreInsumo  | capitalize}}</td>
          <td class="text-center">{{ stockP.cantidad  | capitalize}}</td>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
          <td class="text-center" colspan="2">
            {% if stock.estado == true %}
            <button type="button" onclick="editar( {{ stockP.idStock}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
            {% else %}
             <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
            {% endif %}
            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{stockP.idStock }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
          </td>
          <td style="display: none;"></td>
        </tr> 
        {% endif  %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>#}
{#Pruebas Secundarias para stock#}
{#
<table class="table" id="table_stock">
  <thead>
        <tr>                              
          <th></th>
          <th class="text-center w-25">Nombre</th>
          <th class="text-center w-25">Cantidad mínima</th>
          <th class="text-center w-25">Total entrada</th>
          <th class="text-center w-25">Total salida</th>
          <th class="text-center w-25">Total existencias</th>
          <th class="text-right w-25">Acciones</th>
          <th>
              <a style="float: right;" data-controls-modal="crearStock" data-backdrop="static" data-toggle="modal" data-target="#crearStock" title="Crear stock"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
          </th> 
        </tr>
  </thead>
  <tbody>
    
      {% for clinica in clinicas %}
      {% set idClinica = clinica.idClinica %}
      <tr class="header expand" title="Ver" style="background: #F9F9F9;">
        <td><span class="fas sign"></span></td> 
        <td colspan="7" class="text-left">{{ clinica.nombre  | capitalize}}</td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
        <td style="display: none;"></td>
      </tr>         
        {% set contadores =  (stocksEntradas | length) - 1  %}
        {% set contador =  contadores %}
        {% for stock in stocksCompleto %}
         {% set idStockCompleto = stock.idStock %}
          {% if stock.idClinica.idClinica == idClinica%} 
          <tr>
            <td></td>
            <td class="text-left">{{ stock.idNombreInsumo  | capitalize}}</td>
            <td class="text-center">{{ stock.cantidad  | capitalize}}</td>
            <td class="text-center">
            {% for stocksEntrada in stocksEntradas %} 
              {% if stock.idClinica.idClinica == idClinica and stocksEntrada.idClinica == stock.idClinica.idClinica and stocksEntrada.idStock == idStockCompleto%}
              {{stocksEntrada.totalEntrada}}
              {% endif  %}

            {% endfor %}
            </td>
            <td class="text-center">
              {% for totalSalida in totalSalidas %}
                {% set idStockSalida= totalSalida.idStock %}

                {% if stock.idClinica.idClinica == idClinica and totalSalida.idStock == stock.idStock %}  
                  {{totalSalida.totalSalidas}}
                {% endif  %}
              {% endfor %}
            </td>
            <td class="text-center">-</td>
            <td class="text-center" colspan="2">
              {% if stock.estado == true %}
              <button type="button" onclick="editar( {{ stock.idStock}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
              {% else %}
               <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar stock"><span class="fas fa-edit"></span></button>
              {% endif %}
              <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{stock.idStock }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
            </td>
            <td style="display: none;"></td>
          </tr>  
        
         
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>#}
