<div class="row">
	<div class="col-xg-2 col-lg-2 col-md-2 col-sm-1">                
	    <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
	</div>
	<div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-3"> 
	    {{ form_widget(form.nombre) }}
	    <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
	</div>
</div>
<div class="row mt-2">	
	<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">                
	    <label for="valor" class="fles">Costo</label>&nbsp;<label class="text-danger fles">*</label>
	</div>
	<div class="col-xg-10 col-lg-10 col-md-10 col-sm-3"> 
	    {{ form_widget(form.valor) }}
	    <div class="invalid-feedback">{{ form_errors(form.valor)}}</div>
	</div>
</div>
<div hidden>
	{{ form_widget(form.estado) }}
	{{ form_widget(form.idUsuarioIngresa) }}
	{{ form_widget(form.idCategoriaTratamiento) }}
</div>  
 <hr>
<div class="text-center">
	<a href="{{ path('categoriaTratamiento_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
  	<button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
</div>      
{{ form_end(form) }}
