<table class="table" id="table_tratamientos">
  <tbody id="datosTratamientos">
  {% for tratamiento in tratamientos %}
      <tr>
        <td class="text-left">{{ tratamiento.nombre | capitalize }}</td>
        <td class="text-left">{{ tratamiento.valor }}</td>
        <td class="text-left">{{ tratamiento.estado ? 'Activo': 'Inactivo' }}</td>
        <td class="text-left">{{ tratamiento.idUsuarioIngresa | capitalize}}</td>
        <td class="text-center" >
          <form method="post" class ="eliminarDato" action="{{ path('tratamiento_delete', {'idTratamiento': tratamiento.idTratamiento}) }}" >
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tratamiento.idTratamiento) }}">
            <input type="hidden" name="ruta" value="nuevo">
            <button class="btn btn-sm btn-outline-danger" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete"></span></button>
          </form>
        </td>
      </tr>    
  {% endfor %}
  </tbody>
</table>