{# extends 'base.html.twig' %}

{% block title %}New Tratamiento{% endblock %}

{% block body %}
    <h1>Create new Tratamiento</h1>

    {{ include('tratamiento/_form.html.twig') }}

    <a href="{{ path('tratamiento_index') }}">back to list</a>
{% endblock #}


{% extends 'base.html.twig' %}

{% block title %}Tratamientos{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header card-title text-center">
                    <h3>ASIGNACIÓN DE TRATAMIENTO A CATEGORÍA N° {{ categoriaTratamiento.idCategoriaTratamiento}} </h3>
                </div>
                <hr>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                
                <div class="table-responsive-lg mt-3">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td colspan="2"></td>
                                <th>Área</th>
                                <td>{{ categoriaTratamiento.idArea | capitalize }}</td>
                                
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ categoriaTratamiento.nombre }}</td>
                                <th>Estado</th>
                                <td>{{ categoriaTratamiento.estado ? 'Activo' : 'Inactivo' }}</td>
                            </tr>
                            <tr>
                                <th>Usuario ingresa</th>
                                <td colspan="3">{{ categoriaTratamiento.idUsuarioIngresa}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
                <hr>  
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#tratamientos" data-toggle="tab" aria-expanded="false" class="nav-link active">
                            <h3>Registro tratamientos</h3>
                        </a>
                    </li>
                </ul>                   
                <div id="elementos" class="tab-pane">
                 {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formTratamiento'} }) }} 
                   <br>                  
                   <div class="row mt-3"  >
	                   <div class="col-xg-1 col-lg-1 col-md-1 col-sm-1">                
	                        <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
	                   </div>
	                   <div class=" form-group col-xg-3 col-lg-3 col-md-3 col-sm-3"> 
	                        {{ form_widget(form.nombre) }}
	                        <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
	                   </div>
	                   <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">                
	                        <label for="valor" class="fles">Costo</label>&nbsp;<label class="text-danger fles">*</label>
	                   </div>
	                   <div class=" form-group col-xg-3 col-lg-3 col-md-3 col-sm-3"> 
	                        {{ form_widget(form.valor) }}
	                        <div class="invalid-feedback">{{ form_errors(form.valor)}}</div>
	                   </div>
	                   <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3"> 
	                      <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
	                   </div>
	                </div>
	                 <div hidden>
	                    {{ form_widget(form.estado) }}
	                    {{ form_widget(form.idUsuarioIngresa) }}
	                    {{ form_widget(form.idCategoriaTratamiento) }}
	                </div>                   
                {{ form_end(form) }}  
                </div>
                <br>
                <table class="table" id="table_tratamientos">
                    <thead>
                        <tr class="bg-primary">
                            <th colspan="7" class="text-center text-light">Listado tratamientos</th>
                        </tr>
                        <tr>  
                            <th class="text-left w-25">Nombre</th>
                            <th class="text-left">Costo</th>
                            <th class="text-left">Estado</th>
                            <th class="text-left">Usuario ingresa</th>
                            <th class="text-left">Acciones</th>
                        </tr>
                    </thead>                      
                    <tbody id="datosTratamientos">
                    {% for tratamiento in tratamientos %}
                        <tr>
                          <td class="text-left">{{ tratamiento.nombre | capitalize }}</td>
                          <td class="text-left">{{ tratamiento.valor }}</td>
                          <td class="text-left">{{ tratamiento.estado ? 'Activo': 'Inactivo' }}</td>
                          <td class="text-left">{{ tratamiento.idUsuarioIngresa | capitalize}}</td>
                          <td class="text-center" >
                            <form method="post" class ="eliminarDato" action="{{ path('tratamiento_delete', {'idTratamiento': tratamiento.idTratamiento}) }}" >
							    <input type="hidden" name="_method" value="DELETE">
							    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tratamiento.idTratamiento) }}">
							    <input type="hidden" name="ruta" value="nuevo">
							    <button class="btn btn-sm btn-outline-danger" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete"></span></button>
							</form>

                          </td>
                        </tr>    
                    {% endfor %}
                    </tbody>
              </table>
                <div class="text-center mt-3">
                    <a href="{{ path('categoriaTratamiento_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a>
                </div>
            </div>        
        </div>
    </div>
</div>   
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
  //añejo de datatable 
  newTable('#table_tratamientos');
});
</script>
{% endblock %}