<form method="post" class ="eliminarDato" action="{{ path('paciente_delete', {'idPaciente': paciente.idPaciente}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paciente.idPaciente) }}">
    <button class="btn btn-sm btn-outline-danger" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete"></span></button>
</form>
