   <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="fechaNacimiento">Fecha nacimiento</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.fechaNacimiento) }}
            <div class="invalid-feedback">{{ form_errors(form.fechaNacimiento)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="lugarNacimiento">Lugar nacimiento</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.lugarNacimiento) }}
            <div class="invalid-feedback">{{ form_errors(form.lugarNacimiento)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="tipoIdentificacion" class="fles">Tipo identificación</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.tipoIdentificacion) }}
            <div class="invalid-feedback">{{ form_errors(form.tipoIdentificacion)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="numeroIdentificacion" class="fles">Número identificación</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.numeroIdentificacion) }}
            <div class="invalid-feedback">{{ form_errors(form.numeroIdentificacion)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="expedicionDocumento" class="fles">Expedición</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.expedicionDocumento) }}
            <div class="invalid-feedback">{{ form_errors(form.expedicionDocumento)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombres" class="fles">Nombres</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.nombres) }}
            <div class="invalid-feedback">{{ form_errors(form.nombres)}}</div>
       </div>
    </div>    
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="primerApellido" class="fles">Primer apellido</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.primerApellido) }}
            <div class="invalid-feedback">{{ form_errors(form.primerApellido)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="segundoApellido" class="fles">Segundo apellido</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.segundoApellido) }}
            <div class="invalid-feedback">{{ form_errors(form.segundoApellido)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="dirrecionDomicilio" class="fles">Dirección</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.dirrecionDomicilio) }}
            <div class="invalid-feedback">{{ form_errors(form.dirrecionDomicilio)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idMunicipio" class="fles">Municipio</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idMunicipio) }}
            <div class="invalid-feedback">{{ form_errors(form.idMunicipio)}}</div>
       </div>
    </div>
    <div class="row mt-2">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <label for="telefono">Teléfono domicilio</label>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 form-group">
          <input type="text" id="indicativo" class="form-control" name="indicativo" required data-toggle="tooltip"  title="Recuerde que el campo permite mínimo 7 y máximo 11 dígitos."  data-placement="right" data-color="black" data-html="true">
          <div class="invalid-feedback mt-1"></div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-7 form-group">
          <input class="tinymce form-control" type="text" id="telefono" name="telefono" required data-toggle="tooltip" title=" Recuerde que el campo permite máximo 1 dígitos."  data-placement="right" data-color="black" data-html="true" > 
          <div class="invalid-feedback mt-1 telPaciente">{{ form_errors(form.telefonoDomicilio)}}</div>
        </div>  
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="sexo" class="fles">Sexo</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.sexo) }}
            <div class="invalid-feedback">{{ form_errors(form.sexo)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="email" class="fles">E-mail</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.email) }}
            <div class="invalid-feedback">{{ form_errors(form.email)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="celular" class="fles">Celular contacto</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.celular) }}
            <div class="invalid-feedback">{{ form_errors(form.celular)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="ocupacion" class="fles">Ocupación</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.ocupacion) }}
            <div class="invalid-feedback">{{ form_errors(form.ocupacion)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idEps" class="fles">Eps</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idEps) }}
            <div class="invalid-feedback">{{ form_errors(form.idEps)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="regimen" class="fles">Régimen</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.regimen) }}
            <div class="invalid-feedback">{{ form_errors(form.regimen)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="estadoCivil" class="fles">Estado civil</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.estadoCivil) }}
            <div class="invalid-feedback">{{ form_errors(form.estadoCivil)}}</div>
       </div>
    </div>
    <hr>
    <div class="row mt-2">
        <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 text-left">
            <h3>Datos Persona Responsable</h3>
        </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombrePResponsable" class="fles">Nombre</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.nombrePResponsable) }}
            <div class="invalid-feedback">{{ form_errors(form.nombrePResponsable)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="telefonoPersonaResponsable" class="fles">Contacto</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.telefonoPersonaResponsable) }}
            <div class="invalid-feedback">{{ form_errors(form.telefonoPersonaResponsable)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="parentesco" class="fles">Parentesco</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.parentesco) }}
            <div class="invalid-feedback">{{ form_errors(form.parentesco)}}</div>
       </div>
    </div>
    <hr>
    <div class="row mt-2">
        <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 text-left">
            <h3>Datos Acompañante</h3>
        </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombreAcompanante" class="fles">Nombre</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.nombreAcompanante) }}
            <div class="invalid-feedback">{{ form_errors(form.nombreAcompanante)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="movilAcompanante" class="fles">Contacto</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.movilAcompanante) }}
            <div class="invalid-feedback">{{ form_errors(form.movilAcompanante)}}</div>
       </div>
    </div>
    <div hidden>
        {{ form_widget(form.telefonoDomicilio) }}
    </div>
    <div class="text-center">
        <a href="{{ path('paciente_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cancelar' |trans}}</button></a>
      <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}