{% extends 'base.html.twig' %}
{% block title %}Actualizar paciente{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    {{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">          
          <div class="card-body"> 
            <div class="modal-header hearVisual">
                <div class="text-center w-100"><h3 class="modal-title">DATOS PACIENTE</h3></div>              
            </div>
            <div class="modal-header hearModif" style="display:none;">
                <div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR PACIENTE</h3></div>
                {{ include('paciente/_delete_form.html.twig') }}
              
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formPacienteEdit'} }) }} 
              <div class="row">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="fechaNacimiento">Fecha nacimiento</label>&nbsp;<label class="text-danger">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.fechaNacimiento, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.fechaNacimiento)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="lugarNacimiento">Lugar nacimiento</label>&nbsp;<label class="text-danger">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.lugarNacimiento, { 'attr': {'disabled': 'true'} })  }}
                      <div class="invalid-feedback">{{ form_errors(form.lugarNacimiento)}}</div>
                 </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="tipoIdentificacion" class="fles">Tipo identificación</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.tipoIdentificacion, { 'attr': {'disabled': 'true'} })  }}
                      <div class="invalid-feedback">{{ form_errors(form.tipoIdentificacion)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="numeroIdentificacion" class="fles">Número identificación</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.numeroIdentificacion, { 'attr': {'disabled': 'true'} })  }}
                      <div class="invalid-feedback">{{ form_errors(form.numeroIdentificacion)}}</div>
                 </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="expedicionDocumento" class="fles">Expedición</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.expedicionDocumento, { 'attr': {'disabled': 'true'} })  }}
                      <div class="invalid-feedback">{{ form_errors(form.expedicionDocumento)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="nombres" class="fles">Nombres</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.nombres, { 'attr': {'disabled': 'true'} })  }}
                      <div class="invalid-feedback">{{ form_errors(form.nombres)}}</div>
                 </div>
              </div>    
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="primerApellido" class="fles">Primer apellido</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.primerApellido, { 'attr': {'disabled': 'true'} })  }}
                      <div class="invalid-feedback">{{ form_errors(form.primerApellido)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="segundoApellido" class="fles">Segundo apellido</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.segundoApellido, { 'attr': {'disabled': 'true'} })  }}
                      <div class="invalid-feedback">{{ form_errors(form.segundoApellido)}}</div>
                 </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="dirrecionDomicilio" class="fles">Dirección</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.dirrecionDomicilio, { 'attr': {'disabled': 'true'} })  }}
                      <div class="invalid-feedback">{{ form_errors(form.dirrecionDomicilio)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="idMunicipio" class="fles">Municipio</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.idMunicipio, { 'attr': {'disabled': 'true'} })  }}
                      <div class="invalid-feedback">{{ form_errors(form.idMunicipio)}}</div>
                 </div>
              </div>
              <div class="row mt-2">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                      <label for="telefono">Teléfono domicilio</label>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 form-group">
                    <input type="text" id="indicativo" class="form-control" name="indicativo" required data-toggle="tooltip" disabled="true" title="Recuerde que el campo permite mínimo 7 y máximo 11 dígitos."  data-placement="right" data-color="black" data-html="true">
                    <div class="invalid-feedback mt-1"></div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-7 form-group">
                    <input class="tinymce form-control" type="text" id="telefono" name="telefono" disabled="true" required data-toggle="tooltip" title=" Recuerde que el campo permite máximo 1 dígitos."  data-placement="right" data-color="black" data-html="true" > 
                    <div class="invalid-feedback mt-1 telPaciente">{{ form_errors(form.telefonoDomicilio)}}</div>
                  </div>  
                  <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="sexo" class="fles">Sexo</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.sexo, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.sexo)}}</div>
                 </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="email" class="fles">E-mail</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.email, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.email)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="celular" class="fles">Celular contacto</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.celular, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.celular)}}</div>
                 </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="ocupacion" class="fles">Ocupación</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.ocupacion, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.ocupacion)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="idEps" class="fles">Eps</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.idEps, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.idEps)}}</div>
                 </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="regimen" class="fles">Régimen</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.regimen, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.regimen)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="estadoCivil" class="fles">Estado civil</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.estadoCivil, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.estadoCivil)}}</div>
                 </div>
              </div>
              <hr>
              <div class="row mt-2">
                  <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 text-left">
                      <h3>Datos Persona Responsable</h3>
                  </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="nombrePResponsable" class="fles">Nombre</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.nombrePResponsable, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.nombrePResponsable)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="telefonoPersonaResponsable" class="fles">Contacto</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.telefonoPersonaResponsable, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.telefonoPersonaResponsable)}}</div>
                 </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="parentesco" class="fles">Parentesco</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.parentesco, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.parentesco)}}</div>
                 </div>
              </div>
              <hr>
              <div class="row mt-2">
                  <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 text-left">
                      <h3>Datos Acompañante</h3>
                  </div>
              </div>
              <div class="row mt-2">
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="nombreAcompanante" class="fles">Nombre</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.nombreAcompanante, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.nombreAcompanante)}}</div>
                 </div>
                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                      <label for="movilAcompanante" class="fles">Contacto</label>&nbsp;<label class="text-danger fles">*</label>
                 </div>
                 <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                      {{ form_widget(form.movilAcompanante, { 'attr': {'disabled': 'true'} }) }}
                      <div class="invalid-feedback">{{ form_errors(form.movilAcompanante)}}</div>
                 </div>
              </div>
              <div hidden>
                  {{ form_widget(form.telefonoDomicilio) }}
              </div>
              <div class="text-center btnEdicion">
                  <a href="{{ path('paciente_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cancelar' |trans}}</button></a>
                <button type="button" class="btn btn-outline-success" onclick="editar();"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Editar') }}</button>
              </div>
              <div class="text-center botonGuardePaciente" style="display:none;">
                <a href="{{ path('paciente_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
                <button  class="btn btn-outline-success "><span class="fas fa-check"  ></span>&nbsp; {{ button_label|default('Guardar') }}</button>
              </div>
          {{ form_end(form) }}
          </div>
        </div>
    </div>
</div>  

<div class="modal fade bd-example-modal-lg" id="datosUsuarios"></div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
function editar(id){
   //alert('hola');
   $('#formPacienteEdit').children().children().children().removeAttr('disabled');
   $('.botonGuardePaciente').css('display','block');
   $('.btnEdicion').css('display','none');
   $('.hearModif').css('display','block');
   $('.hearVisual').css('display','none');
}
</script>
{% endblock %}
