{% extends 'base.html.twig' %}
{% block title %}Paciente{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>PACIENTE</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_paciente">
                    <thead>
                          <tr>  
                            <th class="text-center w-25">N° Identificación</th>            
                            <th class="text-center w-25">Nombres</th>
                            <th class="text-center w-25">Apellidos</th>
                            <th class="text-center">Celular</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" href="{{ path('paciente_new') }}" title="Crear paciente"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for paciente in pacientes %}
                        <tr>
                          <td class="text-left">{{ paciente.numeroIdentificacion | capitalize }}</td>
                          <td class="text-left">{{ paciente.nombres | capitalize }}</td>
                          <td class="text-left">{{ paciente.primerApellido | capitalize }} {{ paciente.segundoApellido | capitalize }}</td>
                          <td class="text-left">{{ paciente.celular | capitalize }}</td>
                          <td class="text-right" colspan="2">
                            <button type="button" onclick="detalle( {{ paciente.idPaciente}});" class="btn btn-sm btn-outline-info waves-effect waves-light" title="Detalle paciente"><span class="fas fa-eye"></span></button>
                            {% if paciente.estado == true %}                              
                              <a href="{{ path('paciente_edit', {'idPaciente':paciente.idPaciente}) }}"><button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar usuario"><span class="fas fa-edit"></span></button></a>
                            {#  <a data-controls-modal="modificarAgendaUsuario" data-backdrop="static" data-toggle="modal" data-target="#modificarAgendaUsuario" title="Modificar agenda" data-id="{{ usuario.idUsuario }}" data-agenda="{{ usuario.idAgendaUsuario ? usuario.idAgendaUsuario.idAgendaUsuario : '' }}"><button type="button" class="btn btn-sm btn-outline-success waves-effect waves-light"><span class="fas fa-address-book"></span></button></a>

                              <a data-controls-modal="modificarAcuerdoPor" data-backdrop="static" data-toggle="modal" data-target="#modificarAcuerdoPor" title="Modificar acuerdo %" data-id="{{ usuario.idUsuario }}" data-acuerdoP="{{ usuario.idAcuerdoPorc ? usuario.idAcuerdoPorc.idAcuerdoPago : '' }}" ><button type="button" class="btn btn-sm btn-outline-blue waves-effect waves-light"><span class="fas fa-percent"></span></button></a>

                              <a data-controls-modal="modificarAcuerdoValor" data-backdrop="static" data-toggle="modal" data-target="#modificarAcuerdoValor" title="Modificar acuerdo valor" data-id="{{ usuario.idUsuario }}" data-acuerdoV="{{ usuario.idAcuerdoValor ? usuario.idAcuerdoValor.idAcuerdoPago : '' }}"><button type="button" class="btn btn-sm btn-outline-warning waves-effect waves-light"><span class="ti-money"></span></button></a>

                              <form target="_black" method="POST" action="{{path('usuario_tabledos')}}" id="formEnvioVista_{{usuario.idUsuario}}" hidden>
                                <input type="hidden" name="inf" value="{{usuario.idUsuario}}">
                                <input type="hidden" name="firmaActual" value="{{usuario.firmaProfesional}}">
                              </form>
                              <button class="btn btn-sm btn-outline-pink waves-effect waves-light" onclick="envioFormFirma({{usuario.idUsuario}});" title="Firma usuario"><span class="fas  fas fa-feather"></span></button>
                            
                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar usuario"><span class="fas fa-edit"></span></button>

                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-success waves-effect waves-light"><span class="fas fa-address-book"></span></button>

                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-blue waves-effect waves-light"><span class="fas fa-percent"></span></button>

                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-warning waves-effect waves-light"><span class="ti-money"></span></button>

                                <button class="btn btn-sm btn-outline-pink waves-effect waves-light" disabled="disabled" title="Firma usuario"><span class="fas fas fa-feather"></span></button>
                                #}
                            {% else %}
                              <button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light" disabled="true" title="Actualizar usuario"><span class="fas fa-edit"></span></button>
                            {% endif %}    
                            
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ paciente.idPaciente}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{# include('usuario/modalNew.html.twig') #}
{#{{ include('usuario/modalAgendaEdit.html.twig') }}
{{ include('usuario/modalAcuerdoPorcentaje.html.twig') }}
{{ include('usuario/modalAcuerdoValor.html.twig') }}#}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosPaciente"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_paciente'); 
     
});

$( ".cambiarEstado").click( function(){
  var idPaciente= $(this).data('id');
   var tipo = 'paciente';
  $('.modal-body #id').val(idPaciente);
  $('.modal-body #tipo').val(tipo);

});

function detalle(id){
    var url = id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosPaciente').modal('show'); 
            $('#datosPaciente').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
function carga(){
  location.reload(true);
}
</script>
{% endblock %}



{# {% extends 'base.html.twig' %}


{% block title %}Paciente{% endblock %}


{% block body %}


    <h1>Paciente</h1>
    <h4 class="fas fa-angle-right"><label style="opacity: 0.5;">&nbspPaciente</label></h4>
    
<div style="background-color: white; height: 98%;">


    <div class="container">
        <div class="row">
          
        <div class="col-sm-4" style="padding: 15px;">
          
            <form action="{{ path('paciente_new') }}"> 
            <button class="icon-pencil btn btn-success btn-sm" style="font-size: 20px;">
            Registrar Paciente</button></form>

        </div>

        <div class="col-sm-12">
        </div>
        <div class="col-sm-7">
            
        </div>
             <div class="col-sm-2 col-md-3 text-sm-center form-inline">
                  <div class="form-group mr-2">
                      <select style="position: relative; bottom: 12px;" id="demo-foo-filter-status" class="custom-select custom-select-sm">
                          <option value="">Show all</option>
                          <option value="active">Active</option>
                          <option value="disabled">Disabled</option>
                          <option value="suspended">Suspended</option>
                      </select>

                  
              <div class="form-group input-group input-group-sm mb-3">
                  <input id="demo-foo-search" type="text" placeholder="Buscar Paciente" class="form-control form-control-sm" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" autocomplete="on">
                  <div class="input-group-prepend">
                  <button type="button" class="input-group-text fas fa-search" id="inputGroup-sizing-sm"> </button>
                  </div>
              </div>

                  </div>
              </div>
          </div>
      </div>

      
      <div class="table-responsive" style="width: 96%; margin: 15px;" >
          <table id="demo-foo-filtering" class="table table-bordered toggle-circle mb-0" data-page-size="7">
            <thead>
            <tr>
                <!-- <th>Tipo de Identificación</th> -->
                <th>Nº Identificación</th>
                <!-- <th>Expedicion Documento</th> -->
                <th>Nombres</th>
                <th>Apellidos</th>
                <!-- <th>Segundo Apellido</th> -->
                <!-- <th>Fecha Nacimiento</th>
                <th>Lugar Nacimiento</th>
                <th>Estado Civil</th>
                <th>Sexo</th> -->
                <th>Celular</th>
                <!-- <th>Dirrecion Domicilio</th>
                <th>Telefono Domicilio</th> -->
                <th>E-mail</th>
                <!-- <th>Nombre persona Responsable</th>
                <th>Telefono persona Responsable</th>
                <th>Parentesco</th>
                <th>Ocupacion</th>
                <th>Convenio</th>
                <th>Regimen</th>
                <th>Eps</th>
                <th>Nombre Acompanante</th>
                <th>Movil Acompanante</th>
                <th>Fecha Apertura</th>
                <th>Estado</th> -->
                <!-- <th>Edad</th> -->
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
                      <tbody>
        {% for paciente in pacientes %}
        <tr>
            
            <!-- <td>{{ paciente.tipoIdentificacion }}</td> -->
            <td>{{ paciente.numeroIdentificacion }}</td>
            <!-- <td>{{ paciente.expedicionDocumento }}</td> -->
            <td>{{ paciente.nombres }}</td>
            <td>{{ paciente.primerApellido }}</td>
            <!-- <td>{{ paciente.segundoApellido }}</td>
            <td>{{ paciente.fechaNacimiento ? paciente.fechaNacimiento|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ paciente.lugarNacimiento }}</td>
            <td>{{ paciente.estadoCivil }}</td>
            <td>{{ paciente.sexo }}</td> -->
            <td>{{ paciente.celular }}</td>
            <!-- <td>{{ paciente.dirrecionDomicilio }}</td>
            <td>{{ paciente.telefonoDomicilio }}</td> -->
            <td>{{ paciente.email }}</td>                          
            <!-- <td>{{ paciente.nombrePResponsable }}</td>
            <td>{{ paciente.telefonoPersonaResponsable }}</td>
            <td>{{ paciente.parentesco }}</td>
            <td>{{ paciente.ocupacion }}</td>
            <td>{{ paciente.regimen }}</td>
            <td>{{ paciente.idEps }}</td>
            <td>{{ paciente.nombreAcompanante }}</td>
            <td>{{ paciente.movilAcompanante }}</td>
            <td>{{ paciente.fechaApertura ? paciente.fechaApertura|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ paciente.estado ? 'Yes' : 'No' }}</td> -->
            <!-- <td>{{ paciente.edad }}</td> -->
            <!-- <td>{{ paciente.idPaciente }}</td> -->
            <td>
                <a href="{{ path('paciente_show', {'idPaciente': paciente.idPaciente}) }}">show</a>

                <a href="{{ path('remision_new', {'dato': paciente.idPaciente}) }}">fichaPaciente</a>
                
                <a href="" class="far fa-user btn btn-info"></a>

                <a href="" class="far fa-folder btn btn-primary"></a>

                <a style="background-color: purple;" href="" class=" fas fa-bars btn"></a>

                <a href="" class="fas fa-dollar-sign btn btn-warning"></a>

                <a style="background-color: #ea698f;" href="" class="icon-book-open btn"></a>

                <a class="btn btn-success far fa-edit" data-toggle="modal" data-target="#exampleModalCenterEditarPaciente" onclick="editar( {{ paciente.idPaciente }} )"href="{{ path('paciente_edit', {'idPaciente': paciente.idPaciente}) }}"></a>
            
                 
            </td>
        </tr>


    {% else %}
        <tr>
            <td colspan="25">no records found</td>
        </tr>
    {% endfor %}
        </tbody>
          <tfoot>
          <tr class="active">
              <td colspan="25">
                  <div class="text-right">
                      <ul class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0"></ul>
                  </div>
              </td>
          </tr>
          </tfoot>
      </table>
      </div>

<!-- Modal 2 -->



<!-- /////////////////////////////////////////////////////////////////////////// -->


<!-- End first div -->
</div> 


<script type="text/javascript">
  function editar(id) {
  // alert(id); 
  var url = "/paciente/"+id+"/edit";
$.ajax({
  type: 'POST',
  url:url,
  dataType: 'html',
  success: function(respuesta){
    $('#exampleModalCenterEditarPaciente').html(respuesta);
  },  
});
} 
</script>


{% endblock %}
 #}