<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE PACIENTE N° {{paciente.idPaciente}}</h3></div>  
        <a target="_black" href="{{ path('paciente_pdfDatos', {'idPaciente': paciente.idPaciente}) }}"><button type="button" class="btn btn-outline-secondary" title="Imprimir"><span class="mdi mdi-printer"></span></button></a>           
        <a href="{{ path('paciente_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">
       {# {% set diferencia1 = date(paciente.fechaNacimiento).diff(date('now'))|date("%i''%s")%}
        {{diferencia1}}#}
        <div class="row">
            <div class="col-12"><b>Datos Personales</b></div>
        </div>
        <div class="row mt-2">
            <div class="col-6"></div>
            <div class="col-2">Fecha ingreso</div>
            <div class="col-4">{{ paciente.fechaApertura ? paciente.fechaApertura|date('Y-m-d H:i:s') : '' }}</div>            
        </div>       
        <div class="row mt-2">
            <div class="col-2">Fecha nacimiento</div>
            <div class="col-4">{{ paciente.fechaNacimiento ? paciente.fechaNacimiento|date('Y-m-d') : '' }} - {{ paciente.lugarNacimiento }}</div>
            <div class="col-2">Edad</div>
            <div class="col-4">
                {{edad}}
                {# redonde de edades a traves de twig faltando funcionaliodades
                {% set diferencia = date(paciente.fechaNacimiento).diff(date('now'))%}
                {% set diasRestantes = diferencia.days %}
                    
                {% if diasRestantes >= 1  and diasRestantes <= 365 %}
                  {{ diasRestantes }} día(s)
                {% elseif diasRestantes > 365 %}
                    {% set anios= diasRestantes/365 %}
                    {% set aniosBisiestos= anios|round(0, 'floor')/4 %}
                    {% set aniosNormales= anios|round(0, 'floor')-aniosBisiestos|round(0, 'floor') %}
                    {% set sumatoriaDiasNormales= aniosNormales*365 %}
                    {% set sumatoriaDiasBisiestos= aniosBisiestos|round(0, 'floor')*366 %}
                    {% set sumatoriaTotal= sumatoriaDiasNormales+sumatoriaDiasBisiestos%}
                    {% set diasNacimientoTotales= diasRestantes-sumatoriaTotal%}
                    {% if diasNacimientoTotales <= 30 %}                    
                        {{ (anios)|round(0, 'floor') }} año(s) y {{diasNacimientoTotales}} día(s)  
                    {% else %}             
                        {% set meses= diasNacimientoTotales/30%}
                        {% set mesNacimiento= paciente.fechaNacimiento|date('m')%}
                        {% if meses|round(0, 'floor') == 1%}
                        {% elseif diasRestantes > 2 %}
                        {% elseif diasRestantes > 3 %}
                        {% elseif diasRestantes > 4 %}
                        {% elseif diasRestantes > 5 %}
                        {% elseif diasRestantes > 6 %}
                        {% elseif diasRestantes > 7 %}
                        {% elseif diasRestantes > 8 %}
                        {% elseif diasRestantes > 9 %}
                        {% elseif diasRestantes > 10 %}
                        {% elseif diasRestantes > 11 %}
                        {% endif %}
                        {{ (anios)|round(0, 'floor') }} año(s) y {{meses|round(0, 'floor')}} mes(es)     
                    {% endif %}                  
                {% endif %} #}               
            </div>
        </div>
        <div class="row">
            <div class="col-2">Tipo identificación</div>
            <div class="col-4">{{ paciente.tipoIdentificacion }}</div>
            <div class="col-2">Número identificación</div>
            <div class="col-4">{{ paciente.numeroIdentificacion }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">Expedición</div>
            <div class="col-4">{{ paciente.expedicionDocumento }}</div>
            <div class="col-2">Nombres</div>
            <div class="col-4">{{ paciente.nombres }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">Primer apellido</div>
            <div class="col-4">{{ paciente.primerApellido }}</div>
            <div class="col-2">Segundo apellido</div>
            <div class="col-4">{{ paciente.segundoApellido }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">Dirección domicilio</div>
            <div class="col-4">{{ paciente.dirrecionDomicilio }}</div>
            <div class="col-2">Municipio</div>
            <div class="col-4">{{ paciente.idMunicipio }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">Teléfono domicilio</div>
            <div class="col-4">{{ paciente.telefonoDomicilio }}</div>
            <div class="col-2">Sexo</div>
            <div class="col-4">{{ paciente.sexo | capitalize}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">E-mail</div>
            <div class="col-4">{{ paciente.email ? paciente.email :'-'}}</div>
            <div class="col-2">Celular contacto</div>
            <div class="col-4">{{ paciente.celular }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">Estado civil</div>
            <div class="col-4">{{ paciente.estadoCivil | capitalize}}</div>
            <div class="col-2">Ocupación</div>
            <div class="col-4">{{ paciente.ocupacion }}</div>
        </div>    
        <div class="row mt-2">
            <div class="col-2">Eps</div>
            <div class="col-4">{{ paciente.idEps ? paciente.idEps : '-' }}</div>
            <div class="col-2">Régimen</div>
            <div class="col-4">{{ paciente.regimen ? paciente.regimen | capitalize : '-' }}</div>
        </div>  
        <div class="row mt-2">
            <div class="col-2">Estado</div>
            <div class="col-10 text-success">{{ paciente.estado ? 'Activo' : 'Inactivo' }}</div>
        </div> 
        <hr> 
        <div class="row mt-2">
            <div class="col-12"><b>Datos Persona Responsable</b></div>
        </div>        
        <div class="row mt-2">
            <div class="col-2">Nombre</div>
            <div class="col-4">{{ paciente.nombrePResponsable }}</div>
            <div class="col-2">Contato</div>
            <div class="col-4">{{ paciente.telefonoPersonaResponsable }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">Parentesco</div>
            <div class="col-10">{{ paciente.parentesco }}</div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-12"><b>Datos Acompañante</b></div>
        </div>
        <div class="row mt-2">
            <div class="col-2">Nombre</div>
            <div class="col-4">{{ paciente.nombreAcompanante }}</div>
            <div class="col-2">Contacto</div>
            <div class="col-4">{{ paciente.movilAcompanante }}</div>
        </div>
        
    </div>  
    <div class="modal-footer">
       <a href="{{ path('paciente_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  