{% extends 'base.html.twig' %}
{% block title %}Registrar Paciente{% endblock %}
{% block body %}
<div class="row  mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formPaciente'} }) }} 

    <div class="row">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="tipoIdentificacion" class="control-label">Tipo de identifación</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-12 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.tipoIdentificacion) }}        
                <div class="invalid-feedback">{{ form_errors(form.tipoIdentificacion)}}</div>
            </div>            
        </div>



        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="numeroIdentificacion" class="control-label">Numero de identifación</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-12 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.numeroIdentificacion) }}
                <div class="invalid-feedback">{{ form_errors(form.numeroIdentificacion)}}</div>
            </div>            

        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="expedicionDocumento" class="control-label">Fecha de expedición</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.expedicionDocumento) }}
                <div class="invalid-feedback">{{ form_errors(form.expedicionDocumento)}}</div>
            </div>            
        </div>

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="nombres" class="control-label">Nombres</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.nombres) }}
<!--                 <button type="submit" class="btn btn-light" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="">
                ?</button> -->
                <div class="invalid-feedback">{{ form_errors(form.nombres)}}</div>
            </div>            
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="primerApellido" class="control-label">Primer apellido</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.primerApellido) }}
                <div class="invalid-feedback">{{ form_errors(form.primerApellido)}}</div>
            </div>            
        </div>

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="segundoApellido" class="control-label">Segundo apellido</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">


            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.segundoApellido) }}
                <div class="invalid-feedback">{{ form_errors(form.segundoApellido)}}</div>
            </div>            

        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="fechaNacimiento" class="control-label">Fecha de nacimiento</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.fechaNacimiento) }}

                <!-- div donde mostraremos el resultado -->
                <div id="result"></div>

                <div class="invalid-feedback">{{ form_errors(form.fechaNacimiento)}}</div>
            </div>            
        </div>

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="lugarNacimiento" class="control-label">Lugar de nacimiento</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">


            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.lugarNacimiento) }}
                <div class="invalid-feedback">{{ form_errors(form.lugarNacimiento)}}</div>
            </div>            

        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="estadoCivil" class="control-label">Estado civil</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.estadoCivil) }}
                <div class="invalid-feedback">{{ form_errors(form.estadoCivil)}}</div>
            </div>            
        </div>

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="Sexo" class="control-label">Sexo</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">


            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.sexo) }}
                <div class="invalid-feedback">{{ form_errors(form.sexo)}}</div>
            </div>            

        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="email" class="control-label">E-mail</label>&nbsp;<label class="text-danger"></label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.email) }}
                <div class="invalid-feedback">{{ form_errors(form.email)}}</div>
            </div>            
        </div>

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="dirrecionDomicilio" class="control-label">Dirección del domicilio</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">


            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.dirrecionDomicilio) }}
                <div class="invalid-feedback">{{ form_errors(form.dirrecionDomicilio)}}</div>
            </div>            

        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="telefonoDomicilio" class="control-label">Teléfono del domicilio</label>&nbsp;<label class="text-danger"></label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.telefonoDomicilio) }}
                <div class="invalid-feedback">{{ form_errors(form.telefonoDomicilio)}}</div>
            </div>            
        </div>

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="celular" class="control-label">Celular</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">


            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.celular) }}
                <div class="invalid-feedback">{{ form_errors(form.celular)}}</div>
            </div>            

        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="ocupacion" class="control-label">Ocupación</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.ocupacion) }}
                <div class="invalid-feedback">{{ form_errors(form.ocupacion)}}</div>
            </div>            
        </div>

        
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="idEps" class="control-label">Eps</label>&nbsp;<label class="text-danger"></label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.idEps) }}
                <div class="invalid-feedback">{{ form_errors(form.idEps)}}</div>
            </div>            
        </div>

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="regimen" class="control-label">Régimen</label>&nbsp;<label class="text-danger"></label>
        </div>

        <div class="col-sm-3">


            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.regimen) }}
                <div class="invalid-feedback">{{ form_errors(form.regimen)}}</div>
            </div>            

        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="idMunicipio" class="control-label">Municipio</label>&nbsp;<label class="text-danger"></label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.idMunicipio) }}
                <div class="invalid-feedback">{{ form_errors(form.idMunicipio)}}</div>
            </div>            
        </div>


    </div>


    <div hidden>
        {{ form_widget(form.fechaApertura) }}
    </div>



<hr class="mt-4" style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto;margin-right: auto; border-style: inset; border-width: 1px;width: 100%;">

    <div class="row mt-4">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="nombrePResponsable" class="control-label">Nombre responsable</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.nombrePResponsable) }}
                <div class="invalid-feedback">{{ form_errors(form.nombrePResponsable)}}</div>
            </div>            
        </div>

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="telefonoPersonaResponsable" class="control-label">Telefono responsable</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">


            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.telefonoPersonaResponsable) }}
                <div class="invalid-feedback">{{ form_errors(form.telefonoPersonaResponsable)}}</div>
            </div>            

        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="parentesco" class="control-label">Parentesco</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.parentesco) }}
                <div class="invalid-feedback">{{ form_errors(form.parentesco)}}</div>
            </div>            
        </div>

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="nombreAcompanante" class="control-label">Nombre del acompañante</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">


            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.nombreAcompanante) }}
                <div class="invalid-feedback">{{ form_errors(form.nombreAcompanante)}}</div>
            </div>            

        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3">
                <label for="movilAcompanante" class="control-label">Móvil acompañante</label>&nbsp;<label class="text-danger">*</label>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-4 col-md-12 col-xg-12 col-lg-12">        
                {{ form_widget(form.movilAcompanante) }}
                <div class="invalid-feedback">{{ form_errors(form.movilAcompanante)}}</div>
            </div>            
        </div>
    </div>


    <div hidden>
            {{ form_widget(form.estado) }}
    </div>

    <hr>
    <div class="text-center">

        <a href="{{ path('paciente_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cancelar' |trans}}</button></a>

        <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>

    </div>

{{ form_end(form) }}
            </div>               
        </div>       
    </div>       
</div>


{% endblock %}
{% block javascripts %}

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

<!-- <script type="text/javascript" src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js"></script> -->

<script type="text/javascript" src="{{ asset('light/dist/assets/js/gijgo.min.js')}}"></script>

<script>
    $('#paciente_fechaNacimiento').datepicker({
        uiLibrary: 'bootstrap4', format: 'yyyy-mm-dd'
    });

    $('#paciente_fechaApertura').datepicker({
        uiLibrary: 'bootstrap4'
    });

</script>

<script type="text/javascript">

function isValidDate(day,month,year)
{
    var dteDate;

    month=month-1;

    dteDate=new Date(year,month,day);
 
    return ((day==dteDate.getDate()) && (month==dteDate.getMonth()) && (year==dteDate.getFullYear()));
}

function validate_fecha(fecha)
{
    var patron=new RegExp("^(19|20)+([0-9]{2})([-])([0-9]{1,2})([-])([0-9]{1,2})$");
 
    if(fecha.search(patron)==0)
    {
        var values=fecha.split("-");
        if(isValidDate(values[2],values[1],values[0]))
        {
            return true;
        }
    }
    return false;
}

$("#paciente_lugarNacimiento").on("click", function calcularEdad()
{ 
    var fecha=document.getElementById("paciente_fechaNacimiento").value;
    if(validate_fecha(fecha)==true)
    {
        // Si la fecha es correcta, calculamos la edad
        var values=fecha.split("-");
        var dia = values[2];
        var mes = values[1];
        var ano = values[0];
 
        // cogemos los valores actuales
        var fecha_hoy = new Date();
        var ahora_ano = fecha_hoy.getYear();
        var ahora_mes = fecha_hoy.getMonth()+1;
        var ahora_dia = fecha_hoy.getDate();
 
        // realizamos el calculo
        var edad = (ahora_ano + 1900) - ano;
        if ( ahora_mes < mes )
        {
            edad--;
        }
        if ((mes == ahora_mes) && (ahora_dia < dia))
        {
            edad--;
        }
        if (edad > 1900)
        {
            edad -= 1900;
        }
 
        // calculamos los meses
        var meses=0;
        if(ahora_mes>mes)
            meses=ahora_mes-mes;
        if(ahora_mes<mes)
            meses=12-(mes-ahora_mes);
        if(ahora_mes==mes && dia>ahora_dia)
            meses=11;
 
        // calculamos los dias
        var dias=0;
        if(ahora_dia>dia)
            dias=ahora_dia-dia;
        if(ahora_dia<dia)
        {
            ultimoDiaMes=new Date(ahora_ano, ahora_mes, 0);
            dias=ultimoDiaMes.getDate()-(dia-ahora_dia);
        }
 
        document.getElementById("result").innerHTML="Tienes "+edad+" años, "+meses+" meses y "+dias+" días";
    }else{
        document.getElementById("result").innerHTML="La fecha "+fecha+" es incorrecta";
    }
}
);
</script>

{% endblock %}