<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <style type="text/css">
    b, p, th, td{
      font-size: 14pt;
     }
    @media print {
      /* reglas */
      .borde{
        border: #4cae4c 0px solid;
      }
    }
    
    .table1 {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse; 
    }
    .table1 > thead > tr > th,
    .table1 > tbody > tr > th,
    .table1 > tfoot > tr > th,
    .table1 > thead > tr > td,
    .table1 > tbody > tr > td,
    .table1 > tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
    }
    .table1 > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
    .table1 > caption + thead > tr:first-child > th,
    .table1 > colgroup + thead > tr:first-child > th,
    .table1 > thead:first-child > tr:first-child > th,
    .table1 > caption + thead > tr:first-child > td,
    .table1 > colgroup + thead > tr:first-child > td,
    .table1 > thead:first-child > tr:first-child > td {
      border-top: 0;
    }
    .table1 > tbody + tbody {
      border-top: 2px solid #ddd;
    }
    .table1 .table1 {
      background-color: #fff;
    }
    </style>
  </head>                           
  <body style="background-color: white;">
    <div class="col-md-12"> 
      <div class="row" style="height: 150px; display: table;">
        {% if paciente.idUsuarioIngresa.idSucursal.idSedeClinica != '' %}
          <div class="col-md-10 text-center" style="display: table-cell; vertical-align: middle;">
            <p class="h3"><b>{{paciente.idUsuarioIngresa.idSucursal.idSedeClinica | capitalize}}</b></p>
            <p class="h4"><b>N° identificación: {{paciente.idUsuarioIngresa.idSucursal.idSedeClinica.nit | capitalize}}</b></p>
            <p class="h4"><b>Dirección: {{paciente.idUsuarioIngresa.idSucursal.idSedeClinica.direccion | capitalize}}</b></p>
            <p class="h4"><b>Tel: {{paciente.idUsuarioIngresa.idSucursal.idSedeClinica.movil | capitalize}}</b></p>
            <p class="h4"><b>Datos personales paciente</b></p>
          </div>
          <div class="col-md-2" style="display: table-cell; vertical-align: middle;">
            <img src="{{ pathToWeb  ~ asset('light/dist/assets/uploads/clinica/' ~ paciente.idUsuarioIngresa.idSucursal.idSedeClinica.logo) }}" alt="Image" class="rounded-sm float-right" width="180" height="140">
          </div>
        {% else %}
          <div class="col-md-10 text-center" style="display: table-cell; vertical-align: middle;">
            <p class="h3"><b>{{paciente.idUsuarioIngresa.idSucursal | capitalize}}</b></p>
            <p class="h4"><b>N° identificación: {{paciente.idUsuarioIngresa.idSucursal.nit | capitalize}}</b></p>
            <p class="h4"><b>Dirección: {{paciente.idUsuarioIngresa.idSucursal.direccion | capitalize}}</b></p>
            <p class="h4"><b>Tel: {{paciente.idUsuarioIngresa.idSucursal.movil | capitalize}}</b></p>
            <p class="h4"><b>Datos paciente</b></p>
          </div>
          <div class="col-md-2" style="display: table-cell; vertical-align: middle;">
            <img src="{{ pathToWeb  ~ asset('light/dist/assets/uploads/clinica/' ~ paciente.idUsuarioIngresa.idSucursal.logo) }}" alt="Image" class="rounded-sm float-right" width="180" height="140">
          </div>
        {% endif %}
      </div>
      <hr> 
      <div class="row mt-2">
        <div class="col-md-12" ><b>Datos Personales</b></div>
      </div>     
      <div class="row mt-2">
        <div class="col-md-6"></div>
        <div class="col-md-3" ><b>Fecha ingreso:</b></div>
        <div class="col-md-3 text-left"><p>{{paciente.fechaApertura | date('d M Y H:i:s', false)}}</p></div>
      </div>      
      <div class="row mt-2">
        <div class="col-md-3" ><b>{{paciente.tipoIdentificacion}}:</b></div>
        <div  class="col-md-3"><p>{{paciente.numeroIdentificacion}}</p></div>
        <div class="col-md-3" ><b>Expedición:</b></div>
        <div  class="col-md-3"><p>{{paciente.expedicionDocumento}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Nombre:</b></div>
        <div  class="col-md-9"><p>{{paciente.nombres}} {{paciente.primerApellido}} {{paciente.segundoApellido}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Dirección domicilio:</b></div>
        <div class="col-md-3"><p>{{paciente.dirrecionDomicilio}}</p></div>
        <div class="col-md-3" ><b>Municipio:</b></div>
        <div class="col-md-3" ><p>{{paciente.idMunicipio}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>E-mail</b></div>
        <div  class="col-md-9"><p>{{paciente.email ? paciente.email : '-'}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Celular contacto:</b></div>
        <div class="col-md-3" ><p>{{paciente.celular}}</p></div>
        <div class="col-md-3" ><b>Teléfono domicilio:</b></div>
        <div class="col-md-3" ><p>{{paciente.telefonoDomicilio ? paciente.telefonoDomicilio : '-'}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Fecha Nacimiento:</b></div>
        <div class="col-md-3" ><p>{{paciente.fechaNacimiento ? paciente.fechaNacimiento | date('Y-m-d', false) : '-'}} - {{paciente.lugarNacimiento}}</p></div>
        <div class="col-md-3" ><b>Edad:</b></div>
        <div class="col-md-3" ><p>{{edad}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Sexo:</b></div>
        <div class="col-md-3" ><p>{{paciente.sexo | capitalize}}</p></div>
        <div class="col-md-3" ><b>Estado civil:</b></div>
        <div class="col-md-3" ><p>{{paciente.estadoCivil | capitalize}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Ocupación:</b></div>
        <div class="col-md-3" ><p>{{paciente.ocupacion | capitalize}}</p></div>
        <div class="col-md-3" ><b>Estado:</b></div>
        <div class="col-md-3 text-success" ><p>{{paciente.estado ? 'Activo' : 'Inactivo'}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Eps:</b></div>
        <div class="col-md-3" ><p>{{paciente.idEps | capitalize}}</p></div>
        <div class="col-md-3" ><b>Régimen:</b></div>
        <div class="col-md-3" ><p>{{paciente.regimen | capitalize}}</p></div>
      </div>
      <hr> 
      <div class="row mt-2">
          <div class="col-12"><b>Datos Persona Responsable</b></div>
      </div>        
      <div class="row mt-2">
        <div class="col-3"><b>Nombre</b></div>
        <div class="col-3"><p>{{ paciente.nombrePResponsable }}</p></div>
        <div class="col-3"><b>Contato</b></div>
        <div class="col-3"><p>{{ paciente.telefonoPersonaResponsable }}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-3"><b>Parentesco</b></div>
        <div class="col-9"><p>{{ paciente.parentesco }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-12"><b>Datos Acompañante</b></div>
      </div>
      <div class="row mt-2">
        <div class="col-3"><b>Nombre</b></div>
        <div class="col-3"><p>{{ paciente.nombreAcompanante }}</p></div>
        <div class="col-3"><b>Contacto</b></div>
        <div class="col-3"><p>{{ paciente.movilAcompanante }}</p></div>
      </div>
      {#<div class="row mt-3">
        <div class="col-md-6"></div>
        <div class="col-md-2 text-center"><b>Firma paciente</b></div>
        <div class="col-md-4 text-left">
          <p>
          {% if paciente.firma != ''%}
          <img src="{{paciente.firma}}" alt="Image" class="rounded-sm" width="280"  height="40" >&nbsp;&nbsp;
          {% endif %}
          </p>
        </div>
      </div>#}
    </div>     
  </body>
</html><br>