    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="codigo">Código</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.codigo) }}
            <div class="invalid-feedback">{{ form_errors(form.codigo)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombreCieRip">Nombre</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.nombreCieRip) }}
            <div class="invalid-feedback">{{ form_errors(form.nombreCieRip)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="limiteInferior">Limite inferior</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.limiteInferior) }}
            <div class="invalid-feedback cie">{{ form_errors(form.limiteInferior)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="limiteSuperior">Limite superior</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.limiteSuperior) }}
            <div class="invalid-feedback odonto">{{ form_errors(form.limiteSuperior)}}</div>
       </div>
    </div>
    <div class="row form-group">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="sexo">Sexo</label>&nbsp;<label class="text-danger">*</label>
        </div>        

        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12"> 
            {{ form_widget(form.sexo[0]) }}
        </div>
    	<div class="col-xg-3 col-lg-3 col-md-3 col-sm-12"> 
            {{ form_widget(form.sexo[1]) }}
        </div>
        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12"> 
            {{ form_widget(form.sexo[2]) }}
        </div>
        <div class="invalid-feedback text-center">{{ form_errors(form.sexo)}}</div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="desripcion">Descripción</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.desripcion) }}
            <div class="invalid-feedback">{{ form_errors(form.desripcion)}}</div>
        </div>
    </div>
    <hr>

	<div class="text-center">
		<a href="{{ path('cieRip_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}