<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE CIE N° {{cieRip.idCieRip}}</h3></div>             
        <a href="{{ path('cieRip_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">        
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Código</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                {{cieRip.codigo| capitalize }}
            </div>    
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Sexo</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{cieRip.sexo}}
            </div> 
        </div>     
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Nombre</b>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                {{ cieRip.nombreCieRip}}
            </div>
        </div>        
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Limite superior</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                {{cieRip.limiteSuperior}}
            </div>    
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Limite inferior</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{cieRip.limiteInferior}}
            </div> 
        </div>     
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Descripción</b>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                {{cieRip.desripcion ? cieRip.desripcion : '-'}}
            </div>  
        </div>
    </div>    
    <div class="modal-footer">
       <a href="{{ path('cieRip_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  