{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar cie{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR CIE</h3></div>
    	{{ include('cieRip/_delete_form.html.twig') }}
        <a href="{{ path('cieRip_index') }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formCieRipEdit'} }) }} 
		   {{ include('cieRip/_form.html.twig') }}
    </div>
    <input type="hidden" id="idCieRip" value="{{cieRip.idCieRip}}">
    
  </div>
</div>  
{% endblock %}
