<form method="post" class ="eliminarDato" action="{{ path('tipoPaquete_delete', {'idTipoPaquete': tipoPaquete.idTipoPaquete}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipoPaquete.idTipoPaquete) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>