<form class="eliminarDato" method="post" action="{{ path('tipoContrato_delete', {'idTipoContrato': tipoContrato.idTipoContrato}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipoContrato.idTipoContrato) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>
