{% extends 'base.html.twig' %}
{% block title %}Tipo contrato{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>TIPO CONTRATO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('tipoArchivo_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo archivo</button></a>                
                <a href="{{path('tipoConsentimiento_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo consentimiento</button></a>
                <a href="{{path('tipoContrato_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo contrato</button></a>
                <a href="{{path('tipo_radiografia_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo radiografía</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_tipoContrato">
                    <thead>
                          <tr>  
                            <th class="text-center w-75">Nombre</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearTipoContrato" data-backdrop="static" data-toggle="modal" data-target="#crearTipoContrato" title="Crear tipo contrato"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for tipoContrato in tipoContratos %}
                        <tr>
                          <td class="text-left">{{ tipoContrato.nombre  | capitalize}}</td>              
                          <td class="text-right" colspan="2">                            
                            <button type="button"  onclick="verDetalle({{tipoContrato.idTipoContrato}});" class="btn btn-sm  btn-outline-info waves-effect waves-light" title="Detalle tipo contrato"><span class="fas fa-eye"></span></button>
                            {%if tipoContrato.estado == true%}
                            <button type="button" onclick="editar( {{ tipoContrato.idTipoContrato }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar tipo contrato"><span class="fas fa-edit"></span></button>
                            {%else%}
                             <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar tipo contrato"><span class="fas fa-edit"></span></button>
                            {%endif%}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ tipoContrato.idTipoContrato }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('tipoContrato/modalNewTipoContrato.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosTipoContrato"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_tipoContrato');
});

function editar(id) {
  // alert(id); 
  var url = +id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosTipoContrato').modal('show'); 
            $('#datosTipoContrato').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
$( ".cambiarEstado").click( function(){
  var idTipoContrato= $(this).data('id');
   var tipo = 'tipoContrato';
  $('.modal-body #id').val(idTipoContrato);
  $('.modal-body #tipo').val(tipo);

});

function verDetalle(idTipoContrato){
      var url = idTipoContrato;
      $.ajax({
        type: 'POST',
        url:url,
        dataType: 'html',
        beforeSend: function () {
          $('body').addClass('loading'); //Agregamos la clase loading al body
        },
        success: function(respuesta){
          $('body').removeClass('loading');
          $('#datosTipoContrato').modal('show'); 
          $('#datosTipoContrato').html(respuesta);          
        },
   
          // código a ejecutar si la petición falla;
          error : function(xhr, status) {
              $('body').removeClass('loading');
              $('.resp').removeAttr('hidden');
              $('.resp').html('Disculpe, existió un problema en la conexión.');
          },
      });
  }
</script>
{% endblock %}