{% extends 'baseModal.html.twig' %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE TIPO CONTRATO</h3></div>
        <a href="{{ path('tipoContrato_index') }}">
        <button type="button" title="Cerrar" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
    </div>      
    <div class="modal-body">
        <div class="row">
            <div class="col-3"><b>Nombre</b></div>
            <div class="col-9">{{tipoContrato.nombre | capitalize}}</div>
        </div>        
        <div class="row mt-2">
            <div class="col-3"><b>Contenido</b></div>
            <div class="col-9">{{tipoContrato.contenido | capitalize}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-3"><b>Estado</b></div>
            <div class="col-9">{{tipoContrato.estado ? 'Activo' : 'Inactivo'}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="{{ path('tipoContrato_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>
  </div>
</div>  
{% endblock %}