{% extends 'baseInicial.html.twig' %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-10 col-xl-8">
        <div class="card bg-pattern" style="background-color: white; opacity: 0.9;">

            <div class="card-body">
                
                <div class="text-center w-75 m-auto">
                    <a href="index.html">
                        <span><img src="{{ asset('light/dist/assets/images/logoOrtoboy.png') }}" alt="" width="100" height="40"></span>
                    </a>
                    <div class="page-header text-center"> 
	                    <h3>VALIDAR CÓDIGO</h3>
	                </div>

	                <hr class="mt-2">
                    {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                    {% endfor%}
                    <form action="{{ path('app_verificacionCodigo') }}"  method="post" id="form_verificacion">    

                        <div class="form-group mb-3 text-left">
                            <label for="codigo" >Código verificación</label>
                            <input class="form-control" type="text" id="codigo" name="codigo" required data-toggle="tooltip" data-placement="right" title="Ingrese el código recibido en el correo electrónico de recuperación."  autofocus>
                            <div class="invalid-feedback"></div>
                        </div>
                        <input type="hidden" name="dato" id="dato" value="{{dato}}">
                        <div class="form-group mb-0 text-center">
                            <a href="{{ path('app_login') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>

                            <button class="btn btn-outline-success" type="submit"> Verificar</button>

                        </div>

                    </form>
                </div>
                
            </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        

    </div> <!-- end col -->
</div>
<!-- end row -->
{% endblock %}
            