{% extends 'baseInicial.html.twig' %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-10 col-xl-8">
        <div class="card bg-pattern" style="background-color: white; opacity: 0.9;">

            <div class="card-body">
                
                <div class="text-center w-75 m-auto">
                    <a href="index.html">
                        <span><img src="{{ asset('light/dist/assets/images/logoOrtoboy.png') }}" alt="" width="100" height="40"></span>
                    </a>
                    <div class="page-header text-center"> 
	                    <h3>RECUPERACIÓN CONTRASEÑA</h3>
	                </div>

	                <hr class="mt-2">
                        <form action="{{ path('app_recuperarCuenta') }}"  method="post" id="form_recuperacion">    

                        <div class="form-group mb-3 text-left">
                            <label for="correoVerificacion" >Correo Electrónico</label>
                            <input class="form-control" type="text" id="correoVerificacion" name="correoVerificacion" required  style="text-transform: lowercase; width: 100%; " onChange="javascript:this.value=this.value.toLowerCase();" data-toggle="tooltip" data-placement="right" title="Digite el correo electrónico para recuperar cuenta."  autofocus>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group mb-0 text-center">
                            <a href="{{ path('app_login') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>

                            <button class="btn btn-outline-success" type="submit"> Recuperar</button>

                        </div>

                    </form>
                </div>
                
            </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        

    </div> <!-- end col -->
</div>
<!-- end row -->
{% endblock %}