{% extends 'baseInicial.html.twig' %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">

            <div class="card-body p-4">
                
                <div class="text-center w-75 m-auto">
                    <a href="index.html">
                        <span><img src="{{ asset('light/dist/assets/images/logoOrtoboy.png') }}" alt="" width="100" height="40"></span>
                    </a>
                    <p class="text-muted mb-4 mt-3">INGRESE SU USUARIO Y CONTRASEÑA PARA ACCEDER AL PANEL DE ADMINISTRACIÓN.</p>
                </div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                <form action="{{ path('login_check') }}"  method="post" id="form_login">
                    {% if error %}
                        <div class="alert alert-danger"><button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="form-group mb-3">
                        <label for="inputUsername">Usuario</label>
                        <input class="form-control" type="text" id="inputUsername" name="_username" required value="{{ last_username }}" style="text-transform: uppercase; width: 100%;" onChange="javascript:this.value=this.value.toUpperCase();" data-toggle="tooltip" data-placement="right" title="Registre su usuario."  autofocus>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="password">Contraseña</label>
                        <input class="form-control" type="password" required="" id="password" data-toggle="tooltip" data-placement="right" title="Registre su password."name="_password" >
                        <div class="invalid-feedback"></div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    

                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-outline-success btn-block" type="submit"> Ingresar</button>
                    </div>

                </form>
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p> <a href="{{ path('app_recuperarCuenta') }}" class="text-success-50 ml-1">¿Olvidaste tu contraseña?</a></p>
                    </div> <!-- end col -->
                </div>
            </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        
        <!-- end row -->

    </div> <!-- end col -->
</div>
<!-- end row -->
{% endblock %}