{% extends 'baseInicial.html.twig' %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-10 col-xl-8">
        <div class="card bg-pattern" style="background-color: white; opacity: 0.9;">

            <div class="card-body">
                
                <div class="text-center w-75 m-auto">
                    <a href="index.html">
                        <span><img src="{{ asset('light/dist/assets/images/logoOrtoboy.png') }}" alt="" width="100" height="40"></span>
                    </a>
                    <div class="page-header text-center"> 
	                    <h2>DATOS CLINICA</h2>
	                </div>

	                <hr class="mt-2">
                    {{ form_start(formClinica, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formRegistroClinica'} }) }} 
                    <div  class="form-group row">
                   		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-left">
		                      <label for="niClinica" > Identificación</label>&nbsp;<label class="text-danger">*</label>
		                </div>
					    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					      <input type="text" id="niClinica" class="form-control" name="niClinica" required data-toggle="tooltip"  title="Recuerde que el campo permite mínimo 7 y máximo 11 dígitos."  data-placement="right" data-color="black" data-html="true">
					    </div>
					    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
					      <label>-</label>	  
					    </div>
					    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
					      <input class="tinymce form-control" type="text" id="numId" name="numId" required data-toggle="tooltip" title=" Recuerde que el campo permite máximo 1 dígitos."  data-placement="right" data-color="black" data-html="true" > 
					    </div>	
					    <div class="invalid-feedback mt-1">{{ form_errors(formClinica.nit)}}</div>

					</div>
                    <div class="row">
		                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-left">                
		                      <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
		                </div>
		                <div class=" form-group col-xl-8 col-lg-8 col-md-8 col-sm-12">
		                      {{ form_widget(formClinica.nombre) }}
		                      <div class="invalid-feedback">{{ form_errors(formClinica.nombre)}}</div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-left">
		                      <label for="email">E-mail</label>&nbsp;<label class="text-danger">*</label>
		                </div>
		                <div class=" form-group col-xl-8 col-lg-8 col-md-8 col-sm-12"> 
		                      {{ form_widget(formClinica.email) }}
		                      <div class="invalid-feedback">{{ form_errors(formClinica.email)}}</div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-left">
		                      <label for="movil">Celular</label>&nbsp;<label class="text-danger">*</label>
		                </div>
		                <div class=" form-group col-xl-8 col-lg-8 col-md-8 col-sm-12"> 
		                      {{ form_widget(formClinica.movil) }}
		                      <div class="invalid-feedback">{{ form_errors(formClinica.movil)}}</div>
		                </div>
		            </div>
		            <div hidden>
		            	{{ form_widget(formClinica.nit) }}
		            	{{ form_widget(formClinica.estadoSede) }}
		            </div>
                    <hr>
					<div class="text-center">
						<a href="{{ path('app_login') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>
					    <button type="submit" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
				    </div>
				    {{ form_end(formClinica) }}
                </div>
                
            </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        

    </div> <!-- end col -->
</div>
<!-- end row -->
{% endblock %}