{% extends 'base.html.twig' %}
{% block title %}Requerimientos{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>REQUERIMIENTOS</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración insumo&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('categoriaInventario_index')}}">Categoría</a>
                        <a class="dropdown-item" href="{{path('insumo_index')}}">Insumo</a>
                        <a class="dropdown-item" href="{{path('marca_index')}}">Marca</a>
                        <a class="dropdown-item" href="{{path('nombreInsumo_index')}}">Nombre</a>
                        <a class="dropdown-item" href="{{path('presentacion_index')}}">Presetación</a>
                        <a class="dropdown-item" href="{{path('proveedor_index')}}">Proveedor</a>
                    </div>
                </div>
                <a href="{{path('pedido_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Pedidos</button></a>                
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Salidas&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('salida_index')}}">Clinica</a>
                      <a class="dropdown-item" href="{{path('salidaConsultorio_index')}}">Consultorio</a>
                  </div>
                </div>                 
                <a href="{{path('stock_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Stock</button></a>
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Ordenes&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('requerimiento_index')}}">Requerimiento</a>
                      <a class="dropdown-item" href="{{path('ordenCompra_index')}}">Compra</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_requerimiento">
                    <thead>
                          <tr>  
                            <th class="text-center">Fecha solicitud</th>
                            <th class="text-center">Sede</th>
                            <th class="text-center">Usuario solicito</th>
                            <th class="text-center">Estado</th>
                            <th class="text-right">Acciones</th>
                            <th>
                              <a style="float: right;" data-controls-modal="crearRequerimiento" data-backdrop="static" data-toggle="modal" data-target="#crearRequerimiento" title="Crear requerimiento"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for requerimiento in requerimientos %}
                        <tr>
                          <td class="text-left">{{requerimiento.fechaApertura ? requerimiento.fechaApertura|date('Y-m-d H:i:s') : ''}}</td>
                          <td class="text-left">{{ requerimiento.idSedeClinica  | capitalize}}</td>
                          <td class="text-left">{{ requerimiento.idUsuarioIngresa  | capitalize}}</td>
                          <td class="text-center text-danger">{{ requerimiento.estado  | capitalize}}</td>
                          <td class="text-right" colspan="2">
                            <button type="button" onclick="detalle({{requerimiento.idRequerimiento}})" title="Detalle requerimiento" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>
                            <a href="{{ path('elementoRequerimiento_index', { 'idRequerimiento': requerimiento.idRequerimiento }) }}"><button class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Datos requerimiento" ><span class="fe-share-2"></span></button></a>
                            {% if requerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario and requerimiento.estado == 'EN PROCESO' or requerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario and requerimiento.estado == 'ENVIADO'%}
                            <button type="button" onclick="editar( {{ requerimiento.idRequerimiento}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar requerimiento"><span class="fas fa-edit"></span></button>
                            {% endif %}
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>
{{ include('requerimiento/modalNew.html.twig') }}
<div class="modal fade bd-example-modal-lg" id="datosRequerimiento"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_requerimiento');   
});

function detalle(id) {
  // alert(id); 
  var url = id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosRequerimiento').modal('show'); 
            $('#datosRequerimiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

function editar(id) {
  // alert(id); 
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosRequerimiento').modal('show'); 
            $('#datosRequerimiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

</script>
{% endblock %}