<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title text-uppercase">DETALLE REQUERIMIENTO N° {{requerimiento.idRequerimiento}} - SEDE {{requerimiento.idSedeClinica.idSedeClinica ? requerimiento.idSedeClinica.idSedeClinica.nombre : requerimiento.idSedeClinica.nombre }}</h3></div>             
        <a href="{{ path('requerimiento_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">
        <div class="row">
           <div class="col-6"></div> 
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Fecha apertura</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ requerimiento.fechaApertura  ? requerimiento.fechaApertura|date('Y-m-d H:i:s') : ''}}
          </div>
        </div>
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Usuario Solicitante</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                {{requerimiento.idUsuarioIngresa| capitalize }}
            </div>    
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Usuario ingreso</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{requerimiento.idUsuarioIngresa}}
            </div> 
        </div>     
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Estado</b>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 text-danger">
                {{requerimiento.estado | capitalize}}
            </div>      
        </div>  
      
      {% if elementosRequerimiento | length > 0 %} 
      <div class="table-responsive-md mt-3 col-12">
          <table class="table" id="table_elementosRequerimientos">
              <thead>
                    <tr>  
                      <th class="text-center w-25">Nombre</th>
                      <th class="text-center">Marca</th>                            
                      <th class="text-center">Presentación</th>
                      <th class="text-center">Cantidad</th>
                    </tr>
              </thead>
              <tbody>
              {% for elementosReque in elementosRequerimiento %}
                  <tr>
                    <td class="text-left">{{ elementosReque.idNombreInsumo  | capitalize}}</td>
                    <td class="text-left">{{ elementosReque.idMarca ? elementosReque.idMarca | capitalize : '-'}}</td>
                    <td class="text-left">{{ elementosReque.idPresentacion ? elementosReque.idPresentacion  | capitalize : '-'}}</td>
                    <td class="text-center">{{ elementosReque.cantidad }}</td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>  
      {% endif %}
    </div>  
    <div class="modal-footer">
       <a href="{{ path('requerimiento_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_elementosRequerimientos');   
});
</script>
