{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar requerimiento{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR REQUERIMIENTO</h3></div>
    	{{ include('requerimiento/_delete_form.html.twig') }}
        <a href="{{ path('requerimiento_index') }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formRequerimientoEdit'} }) }} 
		   {{ include('requerimiento/_form.html.twig') }}
    </div>
    <input type="hidden" id="idRequerimiento" value="{{requerimiento.idRequerimiento}}">
  </div>
</div> 
{% endblock %}
