{% extends 'base.html.twig' %}

{% block title %}Alergia{% endblock %}

{% block body %}
    <h1>Alergia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ alergium.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ alergium.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ alergium.estado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IdAlergia</th>
                <td>{{ alergium.idAlergia }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('alergia_index') }}">back to list</a>

    <a href="{{ path('alergia_edit', {'idAlergia': alergium.idAlergia}) }}">edit</a>

    {{ include('alergia/_delete_form.html.twig') }}
{% endblock %}
