<form method="post" class ="eliminarDato" action="{{ path('nombreInsumo_delete', {'idNombreInsumo': nombreInsumo.idNombreInsumo}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nombreInsumo.idNombreInsumo) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>