{% extends 'base.html.twig' %}
{% block title %}Estado general{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>ESTADO GENERAL </h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('estadoCita_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Citas</button></a>                
                <a href="{{path('estadoGeneral_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;General</button></a>
                <a href="{{path('estadoPago_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Pago</button></a>
                <a href="{{path('estadoMantenimiento_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Mantenimiento</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_estadoGeneral">
                    <thead>
                          <tr>  
                            <th class="text-left w-25">Nombre</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearEstadoGeneral" data-backdrop="static" data-toggle="modal" data-target="#crearEstadoGeneral" title="Crear estado general"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for estadoG in estadoGenerales %}
                        <tr>
                          <td class="text-left">{{ estadoG.nombre  | capitalize}}</td>       
                          <td class="text-right" colspan="2"> 
                            <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left"  data-content="{% if estadoG.descripcion != ''%}{{estadoG.descripcion}}{% else %}No aplica{% endif %}" title="Detalle descripción"><button title="Descripción"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>                           
                            <button type="button" onclick="editar( {{ estadoG.idEstadoGeneral}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar estado general"><span class="fas fa-edit"></span></button>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('estadoGeneral/modalNewEstadoGeneral.html.twig') }}
<div class="modal fade bd-example-modal-lg" id="datosEstadoGeneral"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_estadoGeneral');
});

function editar(id) {
  // alert(id); 
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosEstadoGeneral').modal('show'); 
            $('#datosEstadoGeneral').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
</script>
{% endblock %}