<form method="post" class ="eliminarDato" action="{{ path('insumo_delete', {'idInsumo': insumo.idInsumo}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ insumo.idInsumo) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>