    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idNombreInsumo">Nombre</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idNombreInsumo) }}
            <div class="invalid-feedback">{{ form_errors(form.idNombreInsumo)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idCategoria">Categoría</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idCategoria) }}
            <div class="invalid-feedback">{{ form_errors(form.idCategoria)}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idMarca">Marca</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idMarca) }}
            <div class="invalid-feedback">{{ form_errors(form.idMarca)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idPresentacion">Presentación</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idPresentacion) }}
            <div class="invalid-feedback" id="cantidad">{{ form_errors(form.idPresentacion)}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="potencia">Potencia</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            <div class="fle">{{ form_widget(form.potencia) }}</div><div class="fle">&nbsp;&nbsp;(W)</div>
            <div class="invalid-feedback">{{ form_errors(form.potencia)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="corriente">Corriente</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            <div class="fle">{{ form_widget(form.corriente) }}</div><div class="fle">&nbsp;&nbsp;(A)</div>
            <div class="invalid-feedback">{{ form_errors(form.corriente)}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="voltaje">Voltaje</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            <div class="fle">{{ form_widget(form.voltaje) }}</div><div class="fle">&nbsp;&nbsp;(V)</div>
            <div class="invalid-feedback">{{ form_errors(form.voltaje)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="fuente">Fuente</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.fuente) }}
            <div class="invalid-feedback">{{ form_errors(form.fuente)}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="voltaje">Descripción</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.descripcion) }}
            <div class="invalid-feedback">{{ form_errors(form.descripcion)}}</div>
        </div>
    </div>
    <div hidden>
    	{{ form_widget(form.estado) }}
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('insumo_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
