<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE INSUMO N° {{insumo.idInsumo}}</h3></div>             
        <a href="{{ path('insumo_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">
      <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Nombre</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{ insumo.idNombreInsumo}}
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Marca</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{ insumo.idMarca}}
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Presentación</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                {{insumo.idPresentacion}}
          </div>
          
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Categoría</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                {{insumo.idCategoria}}
          </div>
      </div>                
      <div class="row mt-2">
        {% if insumo.potencia != '' and insumo.corriente != ''%}
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Potencia</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{insumo.potencia}}&nbsp;<b>(W)</b>
          </div>
          
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Corriente</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{insumo.corriente}}&nbsp;<b>(A)</b>
          </div>
        {% elseif insumo.potencia != '' and insumo.corriente == '' %}  
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Potencia</b>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                {{insumo.potencia}}&nbsp;<b>(W)</b>
            </div>
        {% elseif insumo.potencia == '' and insumo.corriente != '' %} 
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Corriente</b>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                {{insumo.corriente}}&nbsp;<b>(A)</b>
            </div>
        {% endif %} 
      </div>      

      <div class="row mt-2">
        {% if insumo.voltaje != '' and insumo.fuente != ''%}
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Voltaje</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{insumo.voltaje}}&nbsp;<b>(V)</b>
          </div>
          
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Fuente</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{insumo.fuente}}
          </div>
        {% elseif insumo.voltaje != '' and insumo.fuente == '' %}  
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Voltaje</b>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                {{insumo.voltaje}}&nbsp;<b>(V)</b>
            </div>
        {% elseif insumo.voltaje == '' and insumo.fuente != '' %} 
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Fuente</b>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                {{insumo.fuente}}
            </div>
        {% endif %} 
      </div>      
      {% if insumo.descripcion != ''%} 
      <div class="row mt-2">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Descripción</b>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
            {{insumo.descripcion}} 
          </div>
      </div> 
      {% endif %}

    </div>
    <div class="modal-footer">
       <a href="{{ path('insumo_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  
