<form method="post" class ="eliminarDato" action="{{ path('departamento_delete', {'id': departamento.idDepartamento}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departamento.idDepartamento) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>
