{% extends 'base.html.twig' %}
{% block title %}Departamento{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>DEPARTAMENTOS Y MUNICIPIOS</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración medica &nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('area_index')}}">Área medica</a>
                        <a class="dropdown-item" href="{{path('especialidad_index')}}">Especialidad</a>
                    </div>
                </div>
                <a href="{{path('departamento_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Departamentos</button></a>
                <a href="{{path('eps_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Eps</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_departamento">
                    <thead>
                          <tr>  
                            <th></th>
                            <th class="text-center w-75">Nombre</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearEps" data-backdrop="static" data-toggle="modal" data-target="#crearDepartamento" title="Crear departamento"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for departamento in departamentos %}
                      {% set codigoDepartamento= departamento.idDepartamento%}
                      <tr class="header expand" title="Ver" style="background: #F9F9F9;">
                          <td><span class="fas sign"></span></td>
                          <td class="text-center">{{ departamento.nombre  | capitalize}}</td>
                          <td class="text-center" colspan="2">
                            <button type="button" onclick="envioCrearMunicipio( {{ departamento.idDepartamento }} );" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear municipio" ><span class="fe-share-2"></span></button>

                            <button type="button" onclick="editar( {{ departamento.idDepartamento }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar departamento"><span class="fas fa-edit"></span></button>
                          </td>
                          <td style="display: none;"></td>
                      </tr>
                      {% for municipio in municipios %}
                        {%if municipio.idDepartamento.idDepartamento  ==  codigoDepartamento %} 
                        <tr>
                            <td></td>
                            <td class="text-center">{{ municipio.nombre }}</td>
                            <td class="text-center" colspan="2">
                              <button type="button" onclick="editarMunicipio({{ municipio.id }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar municipio"><span class="fas fa-edit"></span></button>
                            </td>
                            <td style="display: none;"></td>
                        </tr>
                        {%endif%}
                      {% endfor %}
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('departamento/modalNewDepartamento.html.twig') }}
<div class="modal fade" id="datosDepMun"></div>

{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_departamento');   
});

function editar(id) {
  // alert(id); 
  var url = "/departamento/"+id+"/edit";
$.ajax({
  type: 'POST',
  url:url,
  dataType: 'html',
  beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
  success: function(respuesta){
    $('body').removeClass('loading');
        $('#datosDepMun').modal('show'); 
        $('#datosDepMun').html(respuesta);
  },
  // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
});
}

function envioCrearMunicipio(id){
    
  var url = "/departamento/newMunicipio";

$.ajax({
  type: 'POST',
  url:url,
  data:{'idDepartamento':id},
  dataType: 'html',
  beforeSend: function () {
    $('body').addClass('loading'); //Agregamos la clase loading al body
  },
  success: function(respuesta){
    $('body').removeClass('loading');  
    $('#datosDepMun').modal('show');
    $('#datosDepMun').html(respuesta);

  },

    // código a ejecutar si la petición falla;
    error : function(xhr, status) {
        $('body').removeClass('loading');
        $('.resp').removeAttr('hidden');
        $('.resp').html('Disculpe, existió un problema en la conexión.');
    },
});
}

function editarMunicipio(id) {
  // alert(id); 
  var url = "/departamento/"+id+"/editMunicipio";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
          $('body').addClass('loading'); //Agregamos la clase loading al body
        },
    success: function(respuesta){
      $('body').removeClass('loading');
          $('#datosDepMun').modal('show'); 
          $('#datosDepMun').html(respuesta);
    },
    // código a ejecutar si la petición falla;
          error : function(xhr, status) {
              $('body').removeClass('loading');
              $('.resp').removeAttr('hidden');
              $('.resp').html('Disculpe, existió un problema en la conexión.');
          },
  });
}
</script>
{% endblock %}