{% extends 'baseModal.html.twig' %}
{% block title %}Nuevo Municipio{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <div class="text-center w-100"><h3 class="modal-title">REGISTRAR MUNICIPIO DEL DPTO.  {{municipio.idDepartamento.nombre}}</h3></div>
      <a href="{{ path('departamento_index') }}">
        <button type="button" class="close" title="Cerrar" aria-label="Close">
          <span aria-hidden="true" class="fa-lg">&times;</span>
        </button>
      </a>
    </div>
    <div class="modal-body">
    {{ form_start(formGeneralMunicipio, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formGeneralMunicipios'} }) }}    
      <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
          <label for="id" class="control-label">Código</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class="form-group col-sm-10 col-xg-10 col-lg-10 col-md-10">    
          {{ form_widget(formGeneralMunicipio.id) }}
          <div class="invalid-feedback">{{ form_errors(formGeneralMunicipio.id)}}</div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
          <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class="form-group col-sm-10 col-xg-10 col-lg-10 col-md-10">    
          {{ form_widget(formGeneralMunicipio.nombre) }}
          <div class="invalid-feedback">{{ form_errors(formGeneralMunicipio.nombre)}}</div>
        </div>
      </div>
      <div hidden>
        {{ form_widget(formGeneralMunicipio.idDepartamento) }}
        {{ form_widget(formGeneralMunicipio._token) }}
      </div>
      <hr>
      <div class="text-center">
        <a href="{{ path('departamento_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
        <button type="submit" id="idMu" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
      </div>
      <input type="hidden" id="idTipoR" value="{{municipio.id}}">
    </div>
    {{ form_end(formGeneralMunicipio) }}
  </div>
</div>

{% endblock %}
