{% extends 'baseModal.html.twig' %}
{% block title %}Modificar Departamento{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR DEPARTAMENTO</h3></div>
      {{ include('departamento/_delete_form.html.twig') }}
      <a href="{{ path('departamento_index') }}">
      	<button type="button" class="close" title="Cerrar" aria-label="Close">
	        <span aria-hidden="true" class=" fa-lg">&times;</span>
	      </button>
	    </a>
    </div>
    <!--Body de Modal-->
    <div class="modal-body">
    {{ form_start(edicion_form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formeditDepartamento'} }) }}
        <div class="row">
          <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
            <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
          </div>
          <div class="form-group col-sm-10 col-xg-10 col-lg-10 col-md-10">    
            {{ form_widget(edicion_form.nombre) }}
            <div class="invalid-feedback">{{ form_errors(edicion_form.nombre)}}</div>
          </div>
        </div>
        <div hidden>
          {{ form_widget(edicion_form._token) }}
        </div>
        <hr>
        <div class="text-center">
          <a href="{{ path('departamento_index') }}"><button class="btn btn-outline-warning atras" type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cerrar' |trans}}</button></a>
          <button id="crearDepartamento" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button> 
        </div>
        <input type="hidden" id="idDep" value="{{departamento.idDepartamento}}">
        <div id="ll">
        </div>
    {{ form_end(edicion_form) }}              
    </div>      
  </div>
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$('#crearDepartamento').click(function(evento) {
var id='{{departamento.idDepartamento}}';
$('#formeditDepartamento').attr('action', "/departamento/"+id+"/edit");
$("#formeditDepartamento").submit();
}) ;
</script>
{% endblock %}