{% block body %}
<div class="modal fade bd-example-modal-lg" id="crearDepartamento">
	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	        <div class="modal-header">
	        	<div class="text-center w-100"><h3 class="modal-title">REGISTRAR DEPARTAMENTO</h3></div>
        		<a href="{{ path('departamento_index') }}">
        			<button type="button" class="close" title="Cerrar" aria-label="Close">
			          <span aria-hidden="true" class="fa-lg">&times;</span>
			        </button>
	    		</a>
		    </div>
		    <div class="modal-body">
			{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formDepartamento'} }) }}
				<div class="row">
				    <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
					    <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
					</div>
				    <div class="form-group col-sm-10 col-xg-10 col-lg-10 col-md-10">		
			            {{ form_widget(form.nombre) }}
			            <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
				    </div>
	    		</div>
	    		<div hidden>
				    {{ form_widget(form._token) }}
				</div>	    		
				<hr>
				<div class="text-center">					
					<a href="{{ path('departamento_index') }}"><button class="btn btn-outline-warning " type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cancelar' |trans}}</button></a>
					<button type="submit" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>					    
				</div>				    
			{{ form_end(form) }}
		   	</div>
	    </div>
	</div>
<div class='modalCargando'></div>  
</div>
{% endblock %}