<form method="post" action="{{ path('imagen_delete', {'idImagen': imagen.idImagen}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imagen.idImagen) }}">
    <button class="btn">Delete</button>
</form>
