{% extends 'base.html.twig' %}
{% block title %}Imagenes paciente{% endblock %}

{% block body %}
{{ parent() }}
<style type="text/css">
.tmaxImg{
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.tmaxDivImg{
    max-width: 100%;
    max-height: 250px;
}
.tmaxDiv{
    
    height: 400px;
}
</style>
<div class="row mt-3">
    {{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">
          
            <div class="card-body"> 
                <div class="modal-header hearVisual">
                    <div class="text-center w-100">
                        <h3 class="modal-title">IMAGENES PACIENTE</h3>
                        <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
                    </div>              
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        {% if imagenesPacientes | length > 0 %}
                        <div class="tab-content pt-0 tmaxDiv "  >
                            {% for imagenesPaciente in imagenesPacientes | slice(0,1)%}
                            
                            <div class="tab-pane text-center mt-2 active show" id="imagen_{{imagenesPaciente.idImagen}}">
                                <!--a href="#custom-modals" class="btn btn-light btn-sm waves-effect amplio" data-animation="newspaper" data-id="{{imagenesPaciente.idImagen}}" data-plugin="custommodal" data-overlaycolor="#38414a">dfsfsdf</a-->
                                 <a data-controls-modal="custom-modal" data-toggle="modal" data-target="#custom-modal" data-id="{{imagenesPaciente.nombre}}" class="evento" href="#custom-modal" id="animationSandbox" class=""><img src="{{ asset('light/dist/assets/uploads/imagen/' ~ imagenesPaciente.nombre) }}" alt="card img cap" class="img-fluid mx-auto d-block rounded tmaxDivImg card-img"></a>
                                <p class="mt-2">{{imagenesPaciente.observacion}}</p>
                                <form method="post" class ="eliminarDatoImagen_{{imagenesPaciente.idImagen}}" action="{{ path('imagen_delete', {'idImagen': imagenesPaciente.idImagen}) }}" >
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imagenesPaciente.idImagen) }}">
                                </form>
                                <div class="text-center"><button class="btn btn-outline-danger" title="Eliminar" onclick="return confirmDeleteImagen({{imagenesPaciente.idImagen}});"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
                                 <!--button class="btn btn-outline-danger"><span class="mdi mdi-delete text-danger"></span></button--></div>
                            </div>                               
                            {% endfor %}
                            {% for imagenesPaciente in imagenesPacientes | slice(1)%}
                            <div class="tab-pane text-center mt-2" id="imagen_{{imagenesPaciente.idImagen}}">
                                <!--a href="#custom-modals" class="btn btn-light btn-sm waves-effect amplio" data-animation="newspaper" data-id="{{imagenesPaciente.idImagen}}" data-plugin="custommodal" data-overlaycolor="#38414a">dfsfsdf</a-->
                                 <a data-controls-modal="custom-modal" data-toggle="modal" data-target="#custom-modal" data-id="{{imagenesPaciente.nombre}}" class="evento" href="#custom-modal" id="animationSandbox" class=""><img src="{{ asset('light/dist/assets/uploads/imagen/' ~ imagenesPaciente.nombre) }}" alt="card img cap" class="img-fluid mx-auto d-block rounded tmaxDivImg card-img"></a>
                                <p class="mt-2">{{imagenesPaciente.observacion}}</p>
                                <form method="post" class ="eliminarDatoImagen_{{imagenesPaciente.idImagen}}" action="{{ path('imagen_delete', {'idImagen': imagenesPaciente.idImagen}) }}" >
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imagenesPaciente.idImagen) }}">
                                </form>
                                <div class="text-center"><button class="btn btn-outline-danger" title="Eliminar" onclick="return confirmDeleteImagen({{imagenesPaciente.idImagen}});"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
                                 <!--button class="btn btn-outline-danger"><span class="mdi mdi-delete text-danger"></span></button--></div>
                            </div>
                            {% endfor %}
                        </div>

                        <ul class="nav nav-pills nav-justified" style="display: flex; flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden;">
                            {% for imagenesPaciente in imagenesPacientes %}
                            <li class="nav-item">                                
                                <a href="#imagen_{{imagenesPaciente.idImagen}}" data-toggle="tab" aria-expanded="false" class="tmaxImg">
                                    <img src="{{ asset('light/dist/assets/uploads/imagen/' ~ imagenesPaciente.nombre) }}" class="tmaxImg img-thumbnail d-block rounded">
                                </a>
                            </li>
                            {% endfor %}
                           {#} <li class="nav-item">
                                {% for imagenesPaciente in imagenesPacientes%}
                                <a href="#imagen_{{imagenesPaciente.idImagen}}" data-toggle="tab" aria-expanded="false" class="nav-link product-thumb active show tmaxImg">
                                    <img src="{{ asset('light/dist/assets/uploads/imagen/' ~ imagenesPaciente.nombre) }}" class="tmaxImg mx-auto d-block rounded">
                                </a>
                                {% endfor %}
                            </li>#}                            
                        </ul>
                        {% else %}
                            <div class="text-center"> <h4>No hay imagenes del paciente</h4></div>
                        {% endif %}                       
                        <div class="modal fade" id="custom-modal">
                            <div class="modal-dialog modal-full">
                                <div class="modal-content">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-outline-light close text-right mt-1 mr-1" data-dismiss="modal" aria-label="Close">
                                            <span>&times;</span><span class="sr-only"></span>
                                        </button>
                                    </div>
                                    <!--button type="button" class="close" onclick="Custombox.modal.close();">
                                <span>&times;</span><span class="sr-only">Close</span>
                            </button-->
                                    <!--div class="modal-header ">
                                        <button type="button" title="Cerrar" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div-->
                                    <div class="modal-body">
                                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <div id="vista" class>
                                                    <img class="d-block img-fluid imgGrande" alt="Second slide">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>  
                        <div id="custom-modals" class="modal modal-dialog modal-full">
                            <button type="button" class="close" onclick="Custombox.modal.close();">
                                <span>&times;</span><span class="sr-only">Close</span>
                            </button>
                            <!--h4 class="custom-modal-title">Animation Modal title</h4-->
                            <div class="modal-body">
                                <input type="text" name="datoNumerico" id="datoNumerico">
                                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        
                                        {% for imagenesPaciente in imagenesPacientes%}
                                        <div class="carousel-item active">
                                            <img class="d-block img-fluid" src="{{ asset('light/dist/assets/uploads/imagen/' ~ imagenesPaciente.nombre) }}" alt="Second slide">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="text-right">
                            <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseImg" aria-expanded="false" aria-controls="collapseImg"><span class="mdi mdi-file-upload-outline">&nbsp;&nbsp;Cargar</button><!--button class="btn btn-outline-success cargaImg"><span class="mdi mdi-file-upload-outline">&nbsp;&nbsp;Cargar</span></button-->
                        </div>
                        <div class="crearForm_Img collapse" id="collapseImg" >
                            <hr><br><br>
                            <div class="card">
                                <div class="card-header bg-info py-3 text-white">
                                    <div class="card-widgets">
                                        <!--a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a-->
                                        <a data-toggle="collapse" href="#cardCollpase7" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                                        <!--a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a-->
                                    </div>
                                    <h5 class="card-title mb-0 text-white">Registro imagen</h5>
                                </div>
                                <div id="cardCollpase7" class="collapse show">
                                    <div class="card-body">
                                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formImagen'} }) }} 
                                        <div class="row">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="observacion">Observación</label>&nbsp;<label class="text-danger">*</label>
                                            </div>
                                            <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
                                                {{ form_widget(form.observacion) }}
                                                <div class="invalid-feedback">{{ form_errors(form.observacion)}}</div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                                <label for="nombre">Archivo</label>&nbsp;<label class="text-danger">*</label>
                                            </div>
                                            <div class="input-group image-preview col-xg-10 col-lg-10 col-md-10 col-sm-12 form-group ">
                                                <input type="text" class="form-control image-preview-filename" value="{{imagen.nombre}}" disabled="disabled"> 
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                        <span class="glyphicon glyphicon-remove"></span>Quitar
                                                    </button>
                                                    <div class="btn btn-default image-preview-input">
                                                        <span class="fas fa-folder-open"></span>
                                                        <span class="image-preview-input-title">Archivo</span>
                                                        {{ form_widget(form.nombre) }}
                                                    </div>
                                                </span>
                                                <div class="invalid-feedback">{{ form_errors(form.nombre)}} </div>
                                            </div>
                                        </div>                            
                                        <div hidden>
                                            {{ form_widget(form.idPaciente) }}
                                            {{ form_widget(form.idUsuarioIngresa) }}
                                        </div>
                                        <br>
                                        <div class="text-center">
                                            <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="modal fade bd-example-modal-lg" id="datosUsuarios"></div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

var val= $(".invalid-feedback").children().children().children().val();
if (typeof(val) != "undefined") {
    $('.crearForm_Img').addClass('show');    
}  
$('.amplio').click(function(){
    valor=$("input[name='datoNumerico']").val();
    alert(valor);
});

$(function() {
    $('.evento').on('click', function () {
        /*$.fn.custombox( this, {
            effect: 'newspaper'
        });
        return false;*/
        $('#vista').removeClass().addClass("rollIn animated").one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend",
        function(){$(this).removeClass()})
        $('.modal-content').css('background-color', '#131415');
    });
});
</script>

{% endblock %}
