{% extends 'base.html.twig' %}

{% block title %}Imagen{% endblock %}

{% block body %}
    <h1>Imagen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ imagen.nombre }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ imagen.observacion }}</td>
            </tr>
            <tr>
                <th>FechaApertura</th>
                <td>{{ imagen.fechaApertura ? imagen.fechaApertura|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IdImagen</th>
                <td>{{ imagen.idImagen }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('imagen_index') }}">back to list</a>

    <a href="{{ path('imagen_edit', {'idImagen': imagen.idImagen}) }}">edit</a>

    {{ include('imagen/_delete_form.html.twig') }}
{% endblock %}
