    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="numeroFactura" class="control-label fles">Número factura</label>&nbsp;<label class="text-danger fles">*</label>
	    </div>
	    <div class="form-group col-xg-4 col-lg-4 col-md-4">			
	        {{ form_widget(form.numeroFactura) }}
	        <div class="invalid-feedback">{{ form_errors(form.numeroFactura)}}</div>
	    </div> 
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="fechaFactura" class="control-label">Fecha factura</label>&nbsp;<label class="text-danger">*</label>
	    </div>
	    <div class="form-group col-xg-4 col-lg-4 col-md-4">			
	        {{ form_widget(form.fechaFactura) }}
	        <div class="invalid-feedback">{{ form_errors(form.fechaFactura)}}</div>
	    </div> 
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idProveedor">Proveedor</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idProveedor) }}
            <div class="invalid-feedback">{{ form_errors(form.idProveedor)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idOrdenCompra">Orden compra</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idOrdenCompra) }}
            <div class="invalid-feedback">{{ form_errors(form.idOrdenCompra)}}</div>
        </div>
    </div>
    <div class="row col-md-12 mt-2">
        <div class="input-group image-preview">
            <input type="text" class="form-control image-preview-filename" value="{{pedido.imagen}}" disabled="disabled"> 
            <span class="input-group-btn">
                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                    <span class="glyphicon glyphicon-remove"></span>Quitar
                </button>
                <div class="btn btn-default image-preview-input">

                    <span class="fas fa-folder-open"></span>
                    <span class="image-preview-input-title">Archivo</span>
                    {{ form_widget(form.imagen) }}
                </div>
            </span>
        </div>
        <div class="invalid-feedback">{{ form_errors(form.imagen)}} </div>
    </div>

    <div hidden>
    	{{ form_widget(form.estado) }}
        {{ form_widget(form.idUsuarioIngresa) }}
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('pedido_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
