<div class="modal-dialog modal-full">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE PEDIDO N° {{pedido.idPedido}}</h3></div>             
        <a href="{{ path('pedido_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">
        <div class="row">
           <div class="col-6"></div> 
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Fecha apertura</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ pedido.fechaApertura  ? pedido.fechaApertura|date('Y-m-d H:i:s') : ''}}
          </div>
      </div>
      <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Número factura</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ pedido.numeroFactura}}
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Fecha factura</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ pedido.fechaFactura ? pedido.fechaFactura|date('Y-m-d') : ''}}
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Proveedor</b>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                {{pedido.idProveedor}}
          </div>      
      </div> 
      {% if pedido.imagen != '' %} 
      <div class="row mt-2">     
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
          <b>Imagen</b>
        </div>  
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
          <a target="_black" href="{{ asset('light/dist/assets/uploads/pedido/' ~ pedido.imagen) }}" title="Ver Adj"><button type="button" class="btn btn-default"><span class="fa fa-file"></span></button></a>
        </div>
      </div>
     {% endif %}
    {% if entradasPedidos | length > 0 %} 
    <div class="table-responsive-md mt-3 col-12">
        <table class="table" id="table_pedidos">
            <thead>
                  <tr>  
                    <th class="text-center w-25">Elemento insumo</th>
                    <th class="text-center">Registro invima</th>                            
                    <th class="text-center">Lote</th>
                    <th class="text-center">Fecha vencimiento</th>
                    <th class="text-center">Unidad medida</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Modelo</th>
                    <th class="text-center">Garantia</th>
                    <th class="text-center">Mantenimiento</th>
                    <th class="text-center">Estado</th>
                  </tr>
            </thead>
            <tbody>
            {% for entrada in entradasPedidos %}
                <tr>
                  <td class="text-left">{{ entrada.idInsumo.idNombreInsumo  | capitalize}}</td>
                  <td class="text-left">{{ entrada.registroInvima ? entrada.registroInvima | capitalize : '-'}}</td>
                  <td class="text-left">{{ entrada.lote ? entrada.lote  | capitalize : '-'}}</td>
                  <td class="text-left">{{ entrada.fechaVencimiento ? entrada.fechaVencimiento|date('Y-m-d H:i:s') : '-'}}</td>
                  <td class="text-left">{{ entrada.unidadMedida  | capitalize}}</td>
                  <td class="text-left">{{ entrada.cantidad  | capitalize}}</td>
                  <td class="text-left">{{ entrada.modelo ? entrada.modelo  | capitalize : '-'}}</td>
                  <td class="text-left">{{ entrada.garantia ? entrada.garantia|date('Y-m-d H:i:s') : '-'}}</td>
                  <td class="text-left">{{ entrada.intervaloMantenimiento ? entrada.intervaloMantenimiento  | capitalize : '-'}}</td>
                  <td class="text-left">{{ entrada.estado ? 'Activo' : 'Inactivo'}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>  
    {% endif %}
    <div class="modal-footer">
       <a href="{{ path('pedido_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_pedidos');   
});
</script>
