<form method="post" class ="eliminarDato" action="{{ path('paqueteEsterilizacion_delete', {'idPaqueteEsterilizacion': paqueteEsterilizacion.idPaqueteEsterilizacion}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paqueteEsterilizacion.idPaqueteEsterilizacion) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>