    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="codigo">Código</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.codigo) }}
            <div class="invalid-feedback">{{ form_errors(form.codigo)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idTipoPaquete" class="fles">Tipo paquete</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idTipoPaquete) }}
            <div class="invalid-feedback vencimiento">{{ form_errors(form.idTipoPaquete)}}</div>
       </div>
    </div>
    <hr>
    <div hidden>
    	{{ form_widget(form.idEsterilizacion) }}
    	{{ form_widget(form.estado) }}
      <input type="hidden" name="ruta" value="{{ruta}}">
    </div>
	<div class="text-center">
		<a href="{{ path('esterilizacion_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}