{% extends 'base.html.twig' %}

{% block title %}PaqueteEsterilizacion index{% endblock %}

{% block body %}
    <h1>PaqueteEsterilizacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Estado</th>
                <th>IdPaqueteEsterilizacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paqueteEsterilizacion in paqueteEsterilizacions %}
            <tr>
                <td>{{ paqueteEsterilizacion.codigo }}</td>
                <td>{{ paqueteEsterilizacion.estado ? 'Yes' : 'No' }}</td>
                <td>{{ paqueteEsterilizacion.idPaqueteEsterilizacion }}</td>
                <td>
                    <a href="{{ path('paqueteEsterilizacion_show', {'idPaqueteEsterilizacion': paqueteEsterilizacion.idPaqueteEsterilizacion}) }}">show</a>
                    <a href="{{ path('paqueteEsterilizacion_edit', {'idPaqueteEsterilizacion': paqueteEsterilizacion.idPaqueteEsterilizacion}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
