{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar paquete esterilización{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR PAQUETE ESTERILIZACIÓN</h3></div>
    	{{ include('paqueteEsterilizacion/_delete_form.html.twig') }}
        <a href="{{ path('esterilizacion_index') }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formPaqueteEsterilizacionEdit'} }) }} 
		   {{ include('paqueteEsterilizacion/_form.html.twig') }}
    </div>
    <input type="hidden" id="idPaqueteEsterilizacion" value="{{paqueteEsterilizacion.idPaqueteEsterilizacion}}">
  </div>
</div>  
{% endblock %}
