<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
        <label for="idNombreInsumo">Nombre</label>&nbsp;<label class="text-danger">*</label>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="form-group">
            {{ form_widget(form.idNombreInsumo) }}
            <div class="invalid-feedback">{{ form_errors(form.idNombreInsumo)}}</div>
        </div>          
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
        <label for="idMarca">Marca</label>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="form-group">
            {{ form_widget(form.idMarca) }}
            <div class="invalid-feedback">{{ form_errors(form.idMarca)}}</div>
        </div>          
    </div>  
</div>
<div class="row mt-2">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
        <label for="idPresentacion">Presentación</label>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="form-group">
            {{ form_widget(form.idPresentacion) }}
            <div class="invalid-feedback">{{ form_errors(form.idPresentacion)}}</div>
        </div>          
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
        <label for="cantidad">Cantidad</label>&nbsp;<label class="text-danger">*</label>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="form-group">
            {{ form_widget(form.cantidad) }}
            <div class="invalid-feedback">{{ form_errors(form.cantidad)}}</div>
        </div>          
    </div>  
</div>
<div hidden>
    {{ form_widget(form.estado) }}
    {{ form_widget(form.idRequerimiento) }}
</div>
<div class="text-center">
	<a href="{{ path('elementoRequerimiento_index', { 'idRequerimiento': elementoRequerimiento.idRequerimiento.idRequerimiento }) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
</div>                   
{{ form_end(form) }} 