<table class="table" id="table_elementoRequerimiento">               
  <tbody id="datosEntradaRequerimiento">
  {% for elementoRequerimiento in elementoRequerimientos %}
      <tr>
        <td class="text-left">{{ elementoRequerimiento.idNombreInsumo }}</td>

        <td class="text-left">{{ elementoRequerimiento.idPresentacion ? elementoRequerimiento.idPresentacion | capitalize : '-'}}</td>
        <td class="text-left">{{ elementoRequerimiento.idMarca ? elementoRequerimiento.idMarca | capitalize : '-'}}</td>
        <td class="text-left">{{ elementoRequerimiento.cantidad  | capitalize}}</td>
        <td class="text-left">{{ elementoRequerimiento.estado | capitalize }}</td>
        <td class="text-center">
          {% if elementoRequerimiento.estado == 'PENDIENTE' and elementoRequerimiento.idRequerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario  %}
            <button type="button" onclick="editarEntradaRequerimiento({{elementoRequerimiento.idElementoRequerimiento}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar elemento requerimiento"><span class="fas fa-edit"></span></button>
          {% elseif elementoRequerimiento.idRequerimiento.idUsuarioIngresa.idUsuario != app.user.idUsuario and elementoRequerimiento.estado == 'PENDIENTE'%}                            
             <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar elemento requerimiento"><span class="fas fa-edit"></span></button>             
            <a  class="cambioEstadoRequerimiento" data-controls-modal="cambioEstadoRequerimiento" data-backdrop="static" data-toggle="modal" data-target="#cambioEstadoRequerimiento" title="Confirmar" data-id="{{elementoRequerimiento.idElementoRequerimiento}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
          {% endif %}
        </td>
      </tr>    
  {% endfor %}
  </tbody>
</table>