{% extends 'base.html.twig' %}

{% block title %}Requerimiento{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header card-title text-center">
                    <h3>ASIGNACIÓN DE ELEMENTOS A REQUERIMIENTO N° {{ requerimiento.idRequerimiento}} </h3>
                </div>
                <hr>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                
                <div class="table-responsive-lg mt-3">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Estado</th>
                                <td><b class="text-danger">{{requerimiento.estado | capitalize}}</b></td>
                                <th>Fecha solicitud</th>
                                <td>{{ requerimiento.fechaApertura ? requerimiento.fechaApertura|date('Y-m-d H:i:s ') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Sede</th>
                                <td>{{ requerimiento.idSedeClinica }}</td>
                                <th>Usuario solicita</th>
                                <td>{{ requerimiento.idUsuarioIngresa}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
                <hr> 
                {% if requerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario and requerimiento.estado == 'EN PROCESO' or requerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario and requerimiento.estado == 'ENVIADO'  %}
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#elementos" data-toggle="tab" aria-expanded="false" class="nav-link active">
                            <h3>Registro Elementos</h3>
                        </a>
                    </li>
                </ul>                   
                <div id="elementos" class="tab-pane">
                 {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formNuevaEntradaRequerimiento'} }) }} 
                   <br>
                   <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                            <label for="idNombreInsumo">Nombre</label>&nbsp;<label class="text-danger">*</label>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                {{ form_widget(form.idNombreInsumo) }}
                                <div class="invalid-feedback">{{ form_errors(form.idNombreInsumo)}}</div>
                            </div>          
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                            <label for="idMarca">Marca</label>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                {{ form_widget(form.idMarca) }}
                                <div class="invalid-feedback">{{ form_errors(form.idMarca)}}</div>
                            </div>          
                        </div>  
                    </div>
                    <div class="row mt-2">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                            <label for="idPresentacion">Presentación</label>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                {{ form_widget(form.idPresentacion) }}
                                <div class="invalid-feedback">{{ form_errors(form.idPresentacion)}}</div>
                            </div>          
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                            <label for="cantidad">Cantidad</label>&nbsp;<label class="text-danger">*</label>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                {{ form_widget(form.cantidad) }}
                                <div class="invalid-feedback">{{ form_errors(form.cantidad)}}</div>
                            </div>          
                        </div>  
                    </div>
                    <div hidden>
                        {{ form_widget(form.estado) }}
                        {{ form_widget(form.idRequerimiento) }}
                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
                    </div>                   
                {{ form_end(form) }}  
                </div>
                {% endif %}
                <table class="table" id="table_elementoRequerimiento">
                    <thead>
                        <tr class="bg-primary">
                            <th colspan="7" class="text-center text-light">Listados elementos</th>
                        </tr>
                        <tr>  
                            <th class="text-left w-25">Nombre</th>
                            <th class="text-left">Presentación</th>
                            <th class="text-left">Marca</th>
                            <th class="text-left">Cantidad</th>
                            <th class="text-left">Estado</th>                            
                            <th class="text-center w-25">Acciones</th>
                        </tr>
                    </thead>                      
                    <tbody id="datosEntradaRequerimiento">
                    {% for elementoRequerimiento in elementoRequerimientos %}
                        <tr>
                          <td class="text-left">{{ elementoRequerimiento.idNombreInsumo }}</td>

                          <td class="text-left">{{ elementoRequerimiento.idPresentacion ? elementoRequerimiento.idPresentacion | capitalize : '-'}}</td>
                          <td class="text-left">{{ elementoRequerimiento.idMarca ? elementoRequerimiento.idMarca | capitalize : '-'}}</td>
                          <td class="text-left">{{ elementoRequerimiento.cantidad  | capitalize}}</td>
                          <td class="text-left">{{ elementoRequerimiento.estado | capitalize }}</td>
                          <td class="text-center" >
                             {% if elementoRequerimiento.estado == 'PENDIENTE' and elementoRequerimiento.idRequerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario and app.user.idPerfil.nombre != 'ROLE_SUPERADMINISTRADOR' %}
                                <button type="button" onclick="editarEntradaRequerimiento({{elementoRequerimiento.idElementoRequerimiento}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar elemento requerimiento"><span class="fas fa-edit"></span></button>
                              {% elseif elementoRequerimiento.idRequerimiento.idUsuarioIngresa.idUsuario != app.user.idUsuario and elementoRequerimiento.estado == 'PENDIENTE' %}                     
                                <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar elemento requerimiento"><span class="fas fa-edit"></span></button>             
                                <a  class="cambioEstadoRequerimiento" data-controls-modal="cambioEstadoRequerimiento" data-backdrop="static" data-toggle="modal" data-target="#cambioEstadoRequerimiento" title="Confirmar" data-id="{{elementoRequerimiento.idElementoRequerimiento}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                              {% elseif elementoRequerimiento.idRequerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario and elementoRequerimiento.estado == 'PENDIENTE' and app.user.idPerfil.nombre == 'ROLE_SUPERADMINISTRADOR'%}   
                                <button type="button" onclick="editarEntradaRequerimiento({{elementoRequerimiento.idElementoRequerimiento}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar elemento requerimiento"><span class="fas fa-edit"></span></button>             
                                <a  class="cambioEstadoRequerimiento" data-controls-modal="cambioEstadoRequerimiento" data-backdrop="static" data-toggle="modal" data-target="#cambioEstadoRequerimiento" title="Confirmar" data-id="{{elementoRequerimiento.idElementoRequerimiento}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>    
                              {% else %} 
                                <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar elemento requerimiento"><span class="fas fa-edit"></span></button>             
                              {% endif %}
                            </td>
                        </tr>    
                    {% endfor %}
                    </tbody>
              </table>
              {#dump( project.datosGenerales(app.user.idPerfil.idPerfil))#}
              {% for datos in project.datosGenerales(app.user.idPerfil.idPerfil)%}
                {% if requerimiento.idUsuarioIngresa.idUsuario != app.user.idUsuario and datos.idPermiso.nombre == 'Listar ordenes compra'%}
                  <div class="text-center mt-3">
                      <a href="{{ path('ordenCompra_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Ver orden compra' |trans}}</button></a>
                  </div>
                {% elseif requerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario and datos.idPermiso.nombre == 'Listar ordenes compra' and app.user.idPerfil.nombre == 'ROLE_SUPERADMINISTRADOR'%}
                  <div class="text-center mt-3">
                      <a href="{{ path('ordenCompra_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Ver orden compra' |trans}}</button></a>
                  </div>
                {% endif %}
              {% endfor %}
              {% if requerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario  and elementoRequerimientos | length > 0  and requerimiento.estado == 'EN PROCESO' %}
                <div class="text-center mt-3">
                  <a href="{{ path('elementoRequerimiento_correo',{'idRequerimiento': requerimiento.idRequerimiento}) }}"><button class="btn btn-outline-danger" type="button"><span class="mdi mdi-email-check"></span>&nbsp;  {{ 'Enviar requerimiento' |trans}}</button></a>
                </div>
              {% elseif requerimiento.idUsuarioIngresa.idUsuario == app.user.idUsuario  and elementoRequerimientos | length > 0  and requerimiento.estado == 'ENVIADO' %}
                <div class="text-center mt-3">
                  <a href="{{ path('requerimiento_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a>
                  <a href="{{ path('elementoRequerimiento_correo',{'idRequerimiento': requerimiento.idRequerimiento}) }}"><button class="btn btn-outline-danger" type="button"><span class="mdi mdi-email-check"></span>&nbsp;  {{ 'Enviar requerimiento' |trans}}</button></a>
                </div>
              {% elseif elementoRequerimientos | length > 0  and requerimiento.estado == 'REVISADO' or elementoRequerimientos | length > 0  and requerimiento.estado == 'FINALIZADO'   %}
                <div class="text-center mt-3">
                  <a href="{{ path('requerimiento_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a>
                </div>  
              {% endif %}
            </div>        
        </div>
    </div>
</div>   


{{ include('elementoRequerimiento/modalEstadoConfirmacion.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosElementoRequerimiento"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
  //añejo de datatable 
  newTable('#table_elementoRequerimiento');
});

function editarEntradaRequerimiento(id) {
  var url = "/elementoRequerimiento/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosElementoRequerimiento').modal('show'); 
            $('#datosElementoRequerimiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

function detalle(id) {
  // alert(id); 
  var url = "/elementoRequerimiento/"+id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosElementoRequerimiento').modal('show'); 
            $('#datosElementoRequerimiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

$( ".cambioEstadoRequerimiento").click( function(){
  var idEntradaRequerimiento= $(this).data('id');
   var tipo = 'EntradaPedido';
  $('.modal-body #idElementoRequerimiento').val(idEntradaRequerimiento);

});
</script>
{% endblock %}