<div class="modal fade" id="cambioEstadoRequerimiento">          
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">CONFIRMAR REQUERIMIENTO</h3></div>
          <button type="button" class="close"  title="Cerrar"  onclick="carga();">
            <span aria-hidden="true" class="fa-lg">&times;</span>
          </button>      
      </div>
      <div class="modal-body">
          <div class="alert alert-success mensaje" role="alert" hidden></div> 
          <div class="alert alert-danger alert-dismissable mensajeError" role="alert" hidden></div>  
          
          <form action=""  method="post" id="formEstadoConfirmacionRequerimiento">
          <div class="row">
            <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12">
              <label for="nombre">Seleccione el estado</label>&nbsp;<label class="text-danger">*</label>
            </div>
          </div>
          <div class="row">
            <div class=" form-group col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
              <select id="estadoValorConfirmacion" name="estadoValorConfirmacion"  data-toggle="tooltip" data-placement="right">
                <option value="">Seleccione estado</option>
                <option value="CONFIRMADO">Confirmar</option>
                <option value="RECHAZADO">Rechazar</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>
          </div>  
          <div class="row datoProveedor" hidden>
            <div class=" form-group col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
              <select id="idProveedorOrden"  name="idProveedorOrden" data-toggle="tooltip" data-placement="right">
                <option value="">Seleccione proveedor</option>
                {% for proveedor in proveedores %}
                <option value="{{proveedor.idProveedor}}">{{proveedor.nombre}}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback idProveedorOrdenError"></div>
            </div>
          </div>  
          <input type="hidden" id="idElementoRequerimiento" name="idElementoRequerimiento">
          <hr>
          <div class="text-center mt-2">
            <button class="btn btn-outline-warning" type="button" onclick="carga();"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button>

            <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
          </div>
              

        </form>
      </div>
    </div>
  </div>
</div>
<div class='modalCargando'></div>
<script type="text/javascript">

function carga(){
  location.reload(true);
}
</script>