{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar elemento requerimiento{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR ELEMENTO REQUERIMIENTO</h3></div>
    	{{ include('elementoRequerimiento/_delete_form.html.twig') }}
        <a href="{{ path('elementoRequerimiento_index', { 'idRequerimiento': elementoRequerimiento.idRequerimiento.idRequerimiento }) }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formEntradaRequerimientoEdit'} }) }} 
		   {{ include('elementoRequerimiento/_form.html.twig') }}
    </div>
    <input type="hidden" id="idEntradaRequerimiento" value="{{elementoRequerimiento.idElementoRequerimiento}}">
  </div>
</div> 
{% endblock %}
