<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
    <title>Requerimiento N° {{requerimiento.idRequerimiento}}</title>
    <style type="text/css">
     b, p, th, td{
      font-size: 14pt;
     }
    @media print {
      /* reglas */
      .borde{
        border: #4cae4c 0px solid;
      }
    }
    table, tr, td, th, tbody, thead, tfoot {
      page-break-inside: avoid;
    }
    .bg-success {
      background-color: #dff0d8;
    }

    .table > thead > tr.success > td,
    .table > tbody > tr.success > td,
    .table > tfoot > tr.success > td,
    .table > thead > tr.success > th,
    .table > tbody > tr.success > th,
    .table > tfoot > tr.success > th {
      background-color: #dff0d8;
    }
    </style>
    {% endblock %}
  </head>
  <body style="background-color: white;">
    <div class="col-md-12"> 
      <div class="row" style="height: 150px; display: table;">
        <div class="col-md-10" style="display: table-cell; vertical-align: middle;">
          <h2 class="text-center">{{requerimiento.idSedeClinica.idSedeClinica | capitalize}}</h2>
          <h3 class="text-center">Sede {{requerimiento.idSedeClinica.nombre | capitalize}}</h3>
         
        </div>
        <div class="col-md-2" style="display: table-cell; vertical-align: middle;">
          {#<img src="http://i.imgur.com/VeyeADV.png" alt="Image" class="rounded-sm float-right" width="180" height="140">#}
          <img src="{{ pathToWeb  ~ asset('light/dist/assets/images/logoOrtoboy.png') }}" alt="Image" class="rounded-sm float-right" width="180" height="140">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3"><b>Requerimiento #:</b></div>
        <div class="col-md-5"><p>{{requerimiento.idRequerimiento}}</p></div>
        <div class="col-md-4 text-right">
          <b>{{ "now" | date('d M Y H:i:s', false)}}</b>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3"><b>Requerimiento a:</b></div>
        <div class="col-md-9"><p>Departamento Administrativo</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3"><b>Solicitado por:</b></div>
        <div class="col-md-9"><p>{{requerimiento.idUsuarioIngresa}}</p></div>
      </div>
      {# table-bordered #}
      <table class="table table-hover mt-3 borde">
        <thead>
          <tr>
            <th class="success" colspan="5"><div class="bg-success text-center text-white"><b>Elementos requeridos</b></div></th>
          </tr>
          <tr>
            <th class="text-center">Ítem</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Marca</th>
            <th class="text-center">Presentación</th>
            <th class="text-center">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          {% for elementoReq in elementoRequerimientos%}
          <tr>
            <td class="text-center">{{loop.index}}</td>
            <td class="text-left">{{elementoReq.idNombreInsumo}}</td>
            <td class="text-left">{{elementoReq.idMarca ? elementoReq.idMarca : '-'}}</td>
            <td class="text-left">{{elementoReq.idPresentacion ? elementoReq.idPresentacion : '-'}}</td>
            <td class="text-center">{{elementoReq.cantidad }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row mt-3">
        <div class="col-md-6"></div>
        <div class="col-md-2 text-center"><b>Firma Responsable</b></div>
        <div class="col-md-4 text-left"><p>
          {% if requerimiento.idUsuarioIngresa.firmaProfesional != ''%}
          <img src="{{ pathToWeb  ~ asset('light/dist/assets/uploads/usuario/' ~ requerimiento.idUsuarioIngresa.firmaProfesional) }}" alt="Image" class="rounded-sm" width="280"  height="40">
          {% endif %}
          &nbsp;&nbsp;</p></div>
      </div>
    </div>     
  </body>
</html>

