{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formEditarClinica'} }) }} 
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-right">
			{%if clinica.logo != ''%}
			<a  class="text-right" data-controls-modal="archivoAdjuntar" data-backdrop="static" data-toggle="modal" data-target="#archivoAdjuntar" title="Logo"><img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-25"></a>
			{%else%}
			<a  class="text-right" data-controls-modal="archivoAdjuntar" data-backdrop="static" data-toggle="modal" data-target="#archivoAdjuntar" title="Logo"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="mdi mdi-dishwasher"></span>&nbsp;Logo</button></a>
			{%endif%}
			<div class="modal fade" id="archivoAdjuntar">
				<div class="modal-dialog modal-lg">
				  <div class="modal-content">
				    <!-- Encabezado del modal-->
				    <div class="modal-header ">
				    	<div class="text-center w-100"><h3 class="modal-title">Configurar logo clinica </h3></div>
				      		<button type="button" class="close" title="Cerrar" aria-label="Close" data-dismiss="modal">
					          <span aria-hidden="true" class=" fa-lg">&times;</span>
					        </button>
					    </a>
				      
				    </div>
				    <!--Body de Modal-->      
				    <div class="modal-body mt-2">
				    	<div class="row col-md-12">
				            <div class="input-group image-preview">
				                <input type="text" class="form-control image-preview-filename" value="{{clinica.logo}}" disabled="disabled"> 
				                <span class="input-group-btn">
				                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
				                        <span class="glyphicon glyphicon-remove"></span>Quitar
				                    </button>
				                    <div class="btn btn-default image-preview-input">

				                        <span class="fas fa-folder-open"></span>
				                        <span class="image-preview-input-title">Archivo</span>
				                        {{ form_widget(form.logo) }}


				                    </div>
				                </span>
				            </div>
		                   	<div class="invalid-feedback">{{ form_errors(form.logo)}} </div>
				    	</div>
				    	
				    </div>
				  </div>
				</div>    	
			</div> 
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
			<label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			<div class="form-group">
				{{ form_widget(form.nombre) }}
            	<div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
			</div>			
		</div>
   		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-left">
              <label for="niClinica">Identificación</label>&nbsp;<label class="text-danger">*</label>
        </div>
        {%if sede == 'principal'%}
	    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 form-group">
	      <input type="text" id="niClinica" class="form-control" name="niClinica" required data-toggle="tooltip"  title="Recuerde que el campo permite mínimo 7 y máximo 11 dígitos."  data-placement="right" data-color="black" data-html="true">	
	      <div class="invalid-feedback">{{ form_errors(form.nit)}}</div>      
	    </div>
	    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 form-group">
	      <input class="tinymce form-control" type="text" id="numId" name="numId" required data-toggle="tooltip" title=" Recuerde que el campo permite máximo 1 dígitos."  data-placement="right" data-color="black" data-html="true" >
	      <div class="invalid-feedback mt-1"></div>
	    </div>
	    {%else%}
	    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <label>{{clinica.nit}}</label>
            <div class="invalid-feedback mt-1"></div>
            <div hidden class="col-xl-3 col-lg-3 col-md-3 col-sm-4 form-group">
		      <input type="text" id="niClinica" class="form-control" name="niClinica" required data-toggle="tooltip"  title="Recuerde que el campo permite mínimo 7 y máximo 11 dígitos."  data-placement="right" data-color="black" data-html="true">	
		      <div class="invalid-feedback">{{ form_errors(form.nit)}}</div>      
		    </div>
		    <div hidden class="col-xl-1 col-lg-1 col-md-1 col-sm-3 form-group">
		      <input class="tinymce form-control" type="text" id="numId" name="numId" required data-toggle="tooltip" title=" Recuerde que el campo permite máximo 1 dígitos."  data-placement="right" data-color="black" data-html="true" >
		      <div class="invalid-feedback mt-1"></div>
		    </div>
	    </div>
	    {%endif%}
	    
	</div>	
	<div class="row mt-2">
		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
			<label for="direccion">Dirección</label>&nbsp;<label class="text-danger">*</label>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			<div class="form-group">
				{{ form_widget(form.direccion) }}
            	<div class="invalid-feedback">{{ form_errors(form.direccion)}}</div>
			</div>			
		</div>
		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
			<label for="telefono">Teléfono</label>
		</div>
	    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 form-group">
	      <input type="text" id="indicativo" class="form-control" name="indicativo" required data-toggle="tooltip"  title="Recuerde que el campo permite mínimo 7 y máximo 11 dígitos."  data-placement="right" data-color="black" data-html="true">
	      <div class="invalid-feedback mt-1"></div>
	    </div>
	    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-7 form-group">
	      <input class="tinymce form-control" type="text" id="telefono" name="telefono" required data-toggle="tooltip" title=" Recuerde que el campo permite máximo 1 dígitos."  data-placement="right" data-color="black" data-html="true" > 
	      <div class="invalid-feedback mt-1 telclinica">{{ form_errors(form.telefono)}}</div>
	    </div>	
	    
   	</div>
   	<div class="row mt-2">
		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
			<label for="movil">Celular</label>&nbsp;<label class="text-danger">*</label>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			<div class="form-group">
				{{ form_widget(form.movil) }}
            	<div class="invalid-feedback">{{ form_errors(form.movil)}}</div>
			</div>			
		</div>
		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
			<label for="email">E-mail</label>&nbsp;<label class="text-danger">*</label>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			<div class="form-group">
				{{ form_widget(form.email) }}
            	<div class="invalid-feedback">{{ form_errors(form.email)}}</div>
			</div>			
		</div>	
   	</div>
   	<div class="row mt-2">
		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
			<label for="idMunicipio">Municipio</label>&nbsp;<label class="text-danger">*</label>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			<div class="form-group">
				{{ form_widget(form.idMunicipio) }}
            	<div class="invalid-feedback">{{ form_errors(form.idMunicipio)}}</div>
			</div>			
		</div>
		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
			<label for="direccionWeb">Dirección web</label>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			<div class="form-group">
				{{ form_widget(form.direccionWeb) }}
            	<div class="invalid-feedback">{{ form_errors(form.direccionWeb)}}</div>
			</div>			
		</div>	
   	</div>
    <div hidden>
    	{{ form_widget(form.nit) }}
    	{{ form_widget(form.telefono) }}
    	{{ form_widget(form.idSedeClinica) }}
    	{{ form_widget(form.estadoSede) }}
    	{{ form_widget(form.logo) }}
    	<input type="text" id="idClinica" value="{{clinica.idClinica}}">
    </div>
    <hr>

	<div class="text-center">
		{% if clinica.direccion != ''%}
			{% if  385  in arrayIdentificadorPermisos %}  
	            <a href="{{ path('clinica_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	        {% elseif 388 in arrayIdentificadorPermisos %}  
	            <a href="{{ path('clinicasedes_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>               
	        {% endif %}
		{% endif %}
	 	<button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
