{% extends 'base.html.twig' %}

{% block title %}Configuración{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
  {{ parent() }}
<div class="row  mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header text-center"> 
                    <h3>CONFIGURACIÓN</h3>
                </div>
                <hr class="mt-1">
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden>
                </div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('errorTPR') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {% for clinica in clinicaPrincipal %}
                 {% if clinica.logo != ''%}
                  <div class="row">
                    <div class="col-12 text-center">
                        <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-25">
                    </div>
                  </div>
                  {%endif%}
                <div class="row mt-2">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Clinica</b>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.nombre}}
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Identificación</b>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.nit}}
                    </div>
                </div>
                <div class="row mt-2">
                    {% if clinica.telefono != ''%}
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Dirección</b>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.direccion}} - {{clinica.idMunicipio}}
                    </div>
                    
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Teléfono</b>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.telefono}}
                    </div>
                    {%else%}
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Dirección</b>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">      {{clinica.direccion}}
                    </div>
                    {% endif%}
                </div>                
                <div class="row mt-2">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Celular Contacto</b>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.movil}}
                    </div>
                    
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Correo Electrónico</b>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.email}}
                    </div>
                </div>
                <div class="row mt-2">
                {% if clinica.direccionWeb != ''%}
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Dirección web</b>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.direccionWeb}}
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Estado</b>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">     
                     {{ clinica.estadoSede ? 'Activo' : 'Inactivo' }}
                    </div>
                {%else%}
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <b>Estado</b>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">      
                        {{ clinica.estadoSede ? 'Activo' : 'Inactivo' }}
                    </div>
                {% endif %}
                </div>
                <div class="text-right">
                    <button type="button"  onclick="envioEditarClinica({{clinica.idClinica}});"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar clinica"><span class="fas fa-edit"></span></button>
                </div>
                <div class="table-responsive-lg mt-3">
                    <table class="table" id="table_sedeclinica">
                        <thead>
                            <tr>
                                <th class="text-center w-25">Nombre</th>
                                <th class="text-center w-25">Celular</th>
                                <th class="text-center w-25">Estado</th>
                                <th class="text-center w-50">Acciones      
                                </th>
                                <th>
                                    <button type="button"  onclick="envioCrearSede({{clinica.idClinica}});" class="btn btn-sm btn-success waves-effect waves-light" title="Crear Sede"><span class="fas fa-plus"></span></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for sede in clinicas %}
                            {% set idClinicaPrincipal= clinica.idClinica%}   
                            {%if sede.idSedeClinica != "" and sede.idSedeClinica.idClinica == idClinicaPrincipal   %}
                            <tr>
                                <td class="w-25">{{ sede.nombre }}</td>
                                <td class="w-25 text-center">{{ sede.movil }}</td>
                                <td class="text-center w-25">{{ sede.estadoSede ? 'Activo' : 'Inactivo' }}</td> 
                                <td class="text-center w-50" colspan="2">

                                    <button type="button"  onclick="verDetalle({{sede.idClinica}});"class="btn btn-sm  btn-outline-info waves-effect waves-light" title="Detalle sede"><span class="fas fa-eye"></span></button>
                                    
                                    {%if sede.estadoSede == true%}
                                        <button type="button"  onclick="envioEditarClinica({{sede.idClinica}});"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar sede"><span class="fas fa-edit"></span></button>
                                    {%else%}
                                        <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar sede"><span class="fas fa-edit"></span></button>
                                    {%endif%}
                                    <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ sede.idClinica }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                                </td> 
                                <td style="display: none;"></td>    
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>    
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>       

{{ include('tipo_radiografia/editEstado.html.twig') }} 

<div class="modal fade" id="datosClinica"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">

$(document).ready(function(){
    //aejo de datatable 
    newTable('#table_sedeclinica');
});  


function envioCrearSede(idClinica){    
    var url = "/clinica/newSedeClinica";
    $.ajax({
      type: 'POST',
      url:url,
      data:{'idClinica':idClinica},
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },

      success: function(respuesta){
        $('body').removeClass('loading');
        if (respuesta == '"Este recurso no es permitido para su perfil!"' ) {
            $('.resp').removeAttr('hidden').html(respuesta);
        }else{
            $('#datosClinica').modal('show'); 
            $('#datosClinica').html(respuesta);     
        }     
      },
 
        // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
} 

function envioEditarClinica(idClinica){
    var url = "/clinica/"+idClinica+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
      success: function(respuesta){
        $('body').removeClass('loading');
        if (respuesta == '"Este recurso no es permitido para su perfil!"' ) {
            $('.resp').removeAttr('hidden').html(respuesta);
        }else{
            $('#datosClinica').modal('show'); 
            $('#datosClinica').html(respuesta);     
        }              
      },
 
        // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
}

function verDetalle(idClinica){
    var url = "/clinica/"+idClinica;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
      success: function(respuesta){
        $('body').removeClass('loading');
        if (respuesta == '"Este recurso no es permitido para su perfil!"' ) {
            $('.resp').removeAttr('hidden').html(respuesta);
        }else{
            $('#datosClinica').modal('show'); 
            $('#datosClinica').html(respuesta);     
        }               
      },
 
        // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
}

$( ".cambiarEstado").click( function(){
  var idSede = $(this).data('id');
   var tipo = 'sedeClinica';
  $('.modal-body #id').val(idSede);
  $('.modal-body #tipo').val(tipo);

});

</script>
{% endblock %}