{% extends 'baseModal.html.twig' %}

{% block title %}Detalle sede {% endblock %}
{% block body %}
{{parent()}}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE SEDE</h3></div>
        {% if  385  in arrayIdentificadorPermisos %}  
          <a href="{{ path('clinica_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
          </a> 
        {% elseif 388 in arrayIdentificadorPermisos %}  
          <a href="{{ path('clinicasedes_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
          </a>         
        {% endif %}   
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">
      {% if clinica.logo != ''%}
      <div class="row">
        <div class="col-12 text-center">
            <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-25">
        </div>
      </div>
      {%  endif %}
      <div class="row mt-2">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Clinica</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{clinica.nombre}}
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Identificación</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      
            {{clinica.nit}}
          </div>
      </div>
      <div class="row mt-2">
          {% if clinica.telefono != ''%}
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Dirección</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.direccion}} - {{clinica.idMunicipio}}
          </div>
          
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>telefono</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.telefono}}
          </div>
          {%else%}
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Dirección</b>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">      {{clinica.direccion}}
          </div>
          {% endif%}
      </div>                
      <div class="row mt-2">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Celular Contacto</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      
            {{clinica.movil}}
          </div>
          
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Correo Electrónico</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      
            {{clinica.email}}
          </div>
      </div>      
      <div class="row mt-2">
      {% if clinica.direccionWeb != ''%}
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Dirección web</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">      {{clinica.direccionWeb}}
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Estado</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">     
           {{ clinica.estadoSede ? 'Activo' : 'Inactivo' }}
          </div>
      {%else%}
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Estado</b>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">      
              {{ clinica.estadoSede ? 'Activo' : 'Inactivo' }}
          </div>
      {% endif %} 
      </div>   
    </div>
    <div class="modal-footer">
      {% if  385  in arrayIdentificadorPermisos %}  
          <a href="{{ path('clinica_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
      {% elseif 388 in arrayIdentificadorPermisos %}  
          <a href="{{ path('clinicasedes_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>               
      {% endif %}
    </div>  
      
  </div>
</div>  
{% endblock %}