{% extends 'baseModal.html.twig' %}

{% block title %}Configurar datos clinica {% endblock %}
{% block body %}
{{parent()}}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
      {%if sede == 'principal'%}
    	<div class="text-center w-100"><h3 class="modal-title">CONFIGURAR DATOS CLINICA</h3></div>
      {%else%}
      <div class="text-center w-100"><h3 class="modal-title">CONFIGURAR DATOS SEDE </h3></div>
      {{ include('clinica/_delete_form.html.twig') }}
      {%endif%}
        {% if clinica.direccion != '' %}      	
        {% if  385  in arrayIdentificadorPermisos %}  
          <a href="{{ path('clinica_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
          </a> 
        {% elseif 388 in arrayIdentificadorPermisos %}  
          <a href="{{ path('clinicasedes_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
          </a>         
        {% endif %}       
      {% endif %}
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">
    	{%  for flashMessage in app.flashes('mensaje') %}
            <div class=" alert alert-success" role="alert">
                <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <div> {{ flashMessage }}</div> 
            </div>
        {% endfor%}
        {%  for flashMessage in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <div id="resp"> {{ flashMessage }}</div> 
            </div>
        {% endfor%}
   		 {{ include('clinica/_form.html.twig') }}
	</div>      
      
  </div>
</div>  
{% endblock %}