{% extends 'base.html.twig' %}
{% block title %}Tipo consentimiento{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>TIPO CONSENTIMIENTO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('tipoArchivo_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo archivo</button></a>                
                <a href="{{path('tipoConsentimiento_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo consentimiento</button></a>
                <a href="{{path('tipoContrato_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo contrato</button></a>
                <a href="{{path('tipo_radiografia_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo radiografía</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_tipoConsentimiento">
                    <thead>
                          <tr>  
                            <th class="text-center w-75">Nombre</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearTipoConsentimiento" data-backdrop="static" data-toggle="modal" data-target="#crearTipoConsentimiento" title="Crear tipo consentimiento"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for tipoConsentimiento in tipoConsentimientos %}
                        <tr>
                          <td class="text-left">{{ tipoConsentimiento.nombre  | capitalize}}</td>              
                          <td class="text-right" colspan="2">   
                            <button type="button"  onclick="verDetalle({{tipoConsentimiento.idTipoConsentimiento}});" class="btn btn-sm  btn-outline-info waves-effect waves-light" title="Detalle tipo consentimiento"><span class="fas fa-eye"></span></button>                         
                            <button type="button" onclick="editar( {{ tipoConsentimiento.idTipoConsentimiento }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar tipo consentimiento"><span class="fas fa-edit"></span></button>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('tipoConsentimiento/modalNewTipoConsentimiento.html.twig') }}
<div class="modal fade bd-example-modal-lg" id="datosTipoConsentimiento"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_tipoConsentimiento');
});

function editar(id) {
  // alert(id); 
  var url = +id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosTipoConsentimiento').modal('show'); 
            $('#datosTipoConsentimiento').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}


function verDetalle(idTipoConsentimiento){
      var url = idTipoConsentimiento;
      $.ajax({
        type: 'POST',
        url:url,
        dataType: 'html',
        beforeSend: function () {
          $('body').addClass('loading'); //Agregamos la clase loading al body
        },
        success: function(respuesta){
          $('body').removeClass('loading');
          $('#datosTipoConsentimiento').modal('show'); 
          $('#datosTipoConsentimiento').html(respuesta);          
        },
   
          // código a ejecutar si la petición falla;
          error : function(xhr, status) {
              $('body').removeClass('loading');
              $('.resp').removeAttr('hidden');
              $('.resp').html('Disculpe, existió un problema en la conexión.');
          },
      });
  }
</script>
{% endblock %}