<form method="post" class ="eliminarDato" action="{{ path('antecedente_delete', {'idAntecedente': antecedente.idAntecedente}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ antecedente.idAntecedente) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>
