{% extends 'base.html.twig' %}

{% block title %}Panel Principal{% endblock %}
{% block body %}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">           
            <h4 class="page-title">Agenda</h4>
        </div>
    </div>
</div>   
<div class="row">
    <div class="col-12">

                <div class="row">
                    <div class="col-4 text-right"></div> 
                    <div class="col-3 text-left">
                        <select class="form-control" data-toggle="select2">
                            <option>Seleccione sede</option>
                            <optgroup label="Boyacá">
                                <option value="DUI">Duitama</option>
                                <option value="SOG">Sogamoso</option>
                            </optgroup>
                        </select>    
                    </div> 
                    <div class="col-2 text-right"></div> 
                    <div class="col-3 text-left">
                        <select class="form-control" data-toggle="select2">
                            <option>Seleccione profesional</option>
                            <optgroup label="Boyacá">
                                <option value="DUI">Duitama</option>
                                <option value="SOG">Sogamoso</option>
                            </optgroup>
                        </select>    
                    </div>               
                </div> 
                <br><br>
                <div class="row">
                    <div class="col-lg-4">    
                        <div class="card">              
                            <div class="card-body">                        
                                <br>
                                <h4 class="text-center">Agenda del día</h4>
                                <div class="row nav-user-dos">
                                    <img src="{{ asset('light/dist/assets/images/users/user-1.jpg')}}" alt="user-image" class="rounded-circle col-lg-4">
                                    <span class="col-lg-5">
                                        <br>
                                        Deissy Neita
                                    </span>
                                    <span class="text-right col-lg-3">
                                        <br>
                                       11:45
                                    </span> 
                                </div>
                                <div class="row nav-user-dos">
                                    <img src="{{ asset('light/dist/assets/images/users/user-2.jpg')}}" alt="user-image" class="rounded-circle col-lg-4">
                                    <span class="col-lg-5">
                                        <br>
                                        Alexandra Condia
                                    </span>
                                    <span class="text-right col-lg-3">
                                        <br>
                                       12:00
                                    </span> 
                                </div>
                                <div class="row nav-user-dos">
                                    <img src="{{ asset('light/dist/assets/images/users/user-3.jpg')}}" alt="user-image" class="rounded-circle col-lg-4">
                                    <span class="col-lg-5">
                                        <br>
                                        Fernando Perez
                                    </span>
                                    <span class="text-right col-lg-3">
                                        <br>
                                       12:15
                                    </span> 
                                </div>
                                <div class="row nav-user-dos">
                                    <img src="{{ asset('light/dist/assets/images/users/user-4.jpg')}}" alt="user-image" class="rounded-circle col-lg-4">
                                    <span class="col-lg-5">
                                        <br>
                                       Felipe Rodriguez
                                    </span>
                                    <span class="text-right col-lg-3">
                                        <br>
                                        12:30
                                    </span> 
                                </div>
                                <div class="row nav-user-dos">
                                    <img src="{{ asset('light/dist/assets/images/users/user-5.jpg')}}" alt="user-image" class="rounded-circle col-lg-4">
                                    <span class="col-lg-5">
                                        <br>
                                        Jorge Suarez
                                    </span>
                                    <span class="text-right col-lg-3">
                                        <br>
                                       12:45
                                    </span> 
                                </div>
                            </div>
                        </div>        
                    </div> <!-- end col-->
                    <div class="col-lg-8">
                        <div class="card">              
                            <div class="card-body">                            
                                <div id="calendar"></div>
                            </div> <!-- end col -->
                        </div> <!-- end card body-->
                    </div> <!-- end card -->


                </div>  <!-- end row -->
          
        <!-- Add New Event MODAL -->
        <div class="modal fade" id="event-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header pr-4 pl-4 border-bottom-0 d-block">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add New Event</h4>
                    </div>
                    <div class="modal-body pt-3 pr-4 pl-4">
                    </div>
                    <div class="text-right pb-4 pr-4">
                        <button type="button" class="btn btn-light " data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success save-event  ">Create event</button>
                        <button type="button" class="btn btn-danger delete-event  " data-dismiss="modal">Delete</button>
                    </div>
                </div> <!-- end modal-content-->
            </div> <!-- end modal dialog-->
        </div>
        <!-- end modal-->

        <!-- Modal Add Category -->
        <div class="modal fade" id="add-category" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0 d-block">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add a category</h4>
                    </div>
                    <div class="modal-body p-4">
                        <form>
                            <div class="form-group">
                                <label class="control-label">Category Name</label>
                                <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Choose Category Color</label>
                                <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                    <option value="primary">Primary</option>
                                    <option value="success">Success</option>
                                    <option value="danger">Danger</option>
                                    <option value="info">Info</option>
                                    <option value="warning">Warning</option>
                                    <option value="dark">Dark</option>
                                </select>
                            </div>

                        </form>

                        <div class="text-right">
                            <button type="button" class="btn btn-light " data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary ml-1   save-category" data-dismiss="modal">Save</button>
                        </div>

                    </div> <!-- end modal-body-->
                </div> <!-- end modal-content-->
            </div> <!-- end modal dialog-->
        </div>
        <!-- end modal-->
    </div>
    <!-- end col-12 -->
</div>           
{% endblock %}
{% block javascripts %}
<script>
    
</script>
{% endblock %}