    <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.nombre) }}
            <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombre">Confirmar Email</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.enviarCorreo) }}
            <div class="invalid-feedback">{{ form_errors(form.enviarCorreo)}}</div>
       </div>
    </div>
    <div class="row">
    	<div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 iconoLabel" >                
            <label for="icono">Icono</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12 iconoAttrib" > 
            {{ form_widget(form.icono) }}
            <div class="invalid-feedback" id="simboloCieOdonto">{{ form_errors(form.icono)}}</div>
        </div>
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('estadoCita_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
