
{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar estado cita{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR ESTADO CITA</h3></div>
    	{{ include('estadoCita/_delete_form.html.twig') }}
        <a href="{{ path('estadoCita_index') }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formEstadoCitaEdit'} }) }} 
		   {{ include('estadoCita/_form.html.twig') }}
    </div>
    <input type="hidden" id="idEstadoCita" value="{{estadoCita.idEstadoCita}}">
    <input type="hidden" id="envioCorreo" value="{{estadoCita.enviarCorreo}}">
    
    
  </div>
</div>  
{% endblock %}
