{% extends 'base.html.twig' %}

{% block title %}Perfiles{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
  {{ parent() }}
<div class="row  mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header text-center"> 
                    <h3>Perfiles</h3>
                </div>
                <hr class="mt-1">
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden>
                </div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('errorTPR') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}          
                 
                <div class="table-responsive-lg mt-3">
                    <table class="table" id="table_perfil">
                        <thead>
                            <tr>
                                <th class="text-center w-50">Nombre</th>
                                <th class="text-center w-25">Estado</th>
                                <th class="text-center w-50">Acciones      
                                </th>
                                <th>
                                    <a  href="{{ path('perfil_new') }}" title="Crear perfil"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for perfil in perfiles %}
                            {% set nombre = perfil.nombre |split('_') %}
                           {# {%if app.user.idPerfil.idPerfil == 1 %}
                           
                            <tr>
                                <td class="w-50">{{ nombre[1] |capitalize }}</td>
                                <td class="text-center w-25">{{ perfil.estado ? 'Activo' : 'Inactivo' }}</td> 
                                <td class="text-center w-50" colspan="2">

                                    <button type="button"  onclick="verDetalle({{perfil.idPerfil}});"class="btn btn-sm  btn-outline-info waves-effect waves-light" title="Detalle perfil"><span class="fas fa-eye"></span></button>
                                    
                                    {%if perfil.estado == true%}
                                         <a href="{{ path('perfil_edit', {'idPerfil': perfil.idPerfil}) }}"><button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar perfil"><span class="fas fa-edit"></span></button></a>
                                    {%else%}
                                        <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar perfil"><span class="fas fa-edit"></span></button>
                                    {%endif%}
                                    <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ perfil.idPerfil }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                                </td> 
                                <td style="display: none;"></td>    
                            </tr>
                            {%elseif app.user.idPerfil.idPerfil != 1 and perfil.idPerfil != 1%} #}
                            <tr>
                                <td class="w-50">{{ nombre[1] |capitalize }}</td>
                                <td class="text-center w-25">{{ perfil.estado ? 'Activo' : 'Inactivo' }}</td> 
                                <td class="text-center w-50" colspan="2">

                                    <button type="button"  onclick="verDetalle({{perfil.idPerfil}});"class="btn btn-sm  btn-outline-info waves-effect waves-light" title="Detalle perfil"><span class="fas fa-eye"></span></button>
                                                                        
                                    {% if perfil.estado == true and perfil.nombre != 'ROLE_SUPERADMINISTRADOR' %}
                                        <a href="{{ path('perfil_edit', {'idPerfil': perfil.idPerfil}) }}"><button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar perfil"><span class="fas fa-edit"></span></button></a>
                                    {% else %}
                                        <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar perfil"><span class="fas fa-edit"></span></button>
                                    {% endif %}
                                    {% if perfil.nombre != 'ROLE_SUPERADMINISTRADOR' %}
                                        <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ perfil.idPerfil }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                                    {% else %}
                                        <button  disabled="false" type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button>
                                    {% endif %}
                                </td> 
                                <td style="display: none;"></td>    
                            </tr>
                            {# {%endif%} #}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>
        
    </div>
</div>        

{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade" id="datosPerfil"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">

$(document).ready(function(){
    //aejo de datatable 
    newTable('#table_perfil');
});  

function verDetalle(idPerfil){
    var url = "/perfil/"+idPerfil;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
      success: function(respuesta){
        $('body').removeClass('loading');
        $('#datosPerfil').modal('show'); 
        $('#datosPerfil').html(respuesta);          
      },
 
        // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
    });
}

$( ".cambiarEstado").click( function(){
  var idPerfil = $(this).data('id');
   var tipo = 'perfil';
  $('.modal-body #id').val(idPerfil);
  $('.modal-body #tipo').val(tipo);

});

</script>
{% endblock %}