{% extends 'baseModal.html.twig' %}

{% block title %}Detalle perfil {% endblock %}
{% block body %}
{{parent()}}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">PERMISOS DEL PERFIL </h3></div>
        <a href="{{ path('perfil_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">    
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-center">
                <label><b>Nombre</b></label>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                {% set nombre = perfil.nombre |split('_') %}
                {{ nombre[1]}}
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                {{ perfil.estado ? 'Activo' : 'Inactivo' }}
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                 <div class="card-box">
                    <ul class="nav nav-pills navtab-bg nav-justified">
                        <li class="nav-item">
                            <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link">
                                Agenda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#paciente" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                Paciente
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#administracion" data-toggle="tab" aria-expanded="false" class="nav-link">
                                Administración
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#reporte" data-toggle="tab" aria-expanded="false" class="nav-link">
                                Reportes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#configuracion" data-toggle="tab" aria-expanded="false" class="nav-link">
                                Configuración
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="home">
                            <div class="table-responsive-lg mt-3">
                                <table class="table" id="table_agenda">
                                    <thead>
                                        <tr>
                                            <th class="w-75">Nombre</th>
                                            <th class="w-25">Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for perfilPermiso in perfilPermisosAgenda%}
                                        <tr>
                                            <td class="w-50">{{perfilPermiso.idPermiso.Nombre}}</td>
                                            <td></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane show active" id="paciente">
                            <div class="table-responsive-lg mt-3">
                                <table class="table" id="table_paciente">
                                    <thead>
                                        <tr>
                                            <th class="w-75">Nombre</th>
                                            <th class="w-25">Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for perfilPermiso in perfilPermisosPaciente%}
                                        <tr>
                                            <td class="w-50">{{perfilPermiso.idPermiso.Nombre}}</td>
                                            <td></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="administracion">                            
                            <div class="table-responsive-lg mt-3">
                                <table class="table" id="table_administracion">
                                    <thead>
                                        <tr>
                                            <th class="w-75">Nombre</th>
                                            <th class="w-25">Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for perfilPermiso in perfilPermisosAdministracion%}
                                        <tr>
                                            <td class="w-50">{{perfilPermiso.idPermiso.Nombre}}</td>
                                            <td></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="reporte">
                            <div class="table-responsive-lg mt-3">
                                <table class="table" id="table_reporte">
                                    <thead>
                                        <tr>
                                            <th class="w-75">Nombre</th>
                                            <th class="w-25">Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for perfilPermiso in perfilPermisosReportes%}
                                        <tr>
                                            <td class="w-50">{{perfilPermiso.idPermiso.Nombre}}</td>
                                            <td></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="configuracion">                            
                            <div class="table-responsive-lg mt-3">
                                <table class="table" id="table_configuracion">
                                    <thead>
                                        <tr>
                                            <th class="w-75">Nombre</th>
                                            <th class="w-25">Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for perfilPermiso in perfilPermisosConfiguracion%}
                                        <tr>
                                            <td class="w-50">{{perfilPermiso.idPermiso.Nombre}}</td>
                                            <td></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-box-->
            </div> 
        </div>
    </div>    
    <div class="modal-footer">
      <a href="{{ path('perfil_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  
{% endblock %}
{% block javascripts %}

<script type="text/javascript">

$(document).ready(function(){
    //aejo de datatable 
    newTable('#table_agenda');
    newTable('#table_paciente');
    newTable('#table_administracion');
    newTable('#table_reporte');
    newTable('#table_configuracion');
});  
</script>
{% endblock %}