{% extends 'base.html.twig' %}

{% block title %}Configuración{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
  {{ parent() }}
<div class="row  mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header text-center"> 
                    <h3>REGISTRAR PERFIL</h3>
                </div>
                <hr class="mt-1">
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {{ include('perfil/_form.html.twig') }}

            </div>
        </div>
        
    </div>
</div>  
{% endblock %}
{% block javascripts %}
{% endblock %}