{% extends 'base.html.twig' %}

{% block title %}Configuración{% endblock %}
{% block stylesheets %}
<link href="{{ asset('light/dist/assets/libs/nestable2/jquery.nestable.min.css') }}"rel="stylesheet" />
  {{ parent() }}
{% endblock %}
{% block body %}
  {{ parent() }}
<div class="row  mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header text-center"> 
                    <h3>CONFIGURACIÓN PERMISOS PERFIL</h3>
                </div>
                <hr class="mt-1">
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <label><b>Nombre</b></label>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        {% set nombre = perfil.nombre |split('_') %}
                        {{ nombre[1] |capitalize}}
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                        {{ perfil.estado ? 'Activo' : 'Inactivo' }}
                    </div>
                </div>
                <div class="text-right">
                    <button  type="button" class="btn btn-outline-success configuracion" title="Configuración"><span class="fas fa-cogs"></span></button>
                </div>
                <div class="mt-3 permisos" hidden>
                    <form action="{{ path('perfil_permisos',{'idPerfil': perfil.idPerfil}) }}"  method="post" id="form_permiso_perfil" name="form_permiso_perfil">
                        <div class="text-center">
                            <h3>PERMISOS</h3>
                        </div>    
                        <div class="row">
                           <div class="col-10 checkbox checkbox-success">
                                <ul class="metismenu" id="side-menu">
                                    <li class="mt-3">
                                        <input type="checkbox" name="agenda[principal]" id="agenda" value="moduloAgenda">
                                        <label for="agenda" class="custom-unchecked">Agenda</label>
                                        <ol class="mt-3 dd-list"> 
                                            <div class="card2">
                                                <div class="row">
                                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 text-center mt-3 ">
                                                        <button class="btn btn-default"><span class="fas fa-user-tie fa-3x"></span></button>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Modulo Agenda</h5><hr>
                                                            <p class="card-text">Modulo que permite registrar, actualizar y gestionar examenes clínicos de los pacientes.</p>
                                                            <div class="permisosMedioAgenda" hidden>
                                                                <div class="custom-dd-empty dd" id="nestable_list_1">
                                                                    <li class="dd-item">
                                                                        <input id="agendaG" type="checkbox" name="agenda[secundaria]" value="citas" >
                                                                        <label for="agendaG" class="custom-unchecked" data-type="labelSubAgenda">Gestión agenda</label>
                                                                        <ol class="dd-list" >
                                                                            <li class="dd-item dd-handle2" data-id="ag1">
                                                                                <input id="agendaDatos" type="checkbox" >
                                                                                <label for="agendaDatos" class="custom-unchecked">Agenda</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                
                                            </div>        
                                                                       
                                        </ol>
                                    </li> 
                                </ul>
                            </div><br><br>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mt-3">
                                <button type="button" class="btn btn-outline-success configuracionMediaAgenda"><span class="fas fa-wrench"></span>&nbsp;  Configuración</button>
                            </div>
                        </div>


                        <hr class="mt-3">
                        <div class="row mt-3">
                           <div class="col-10 checkbox checkbox-success">
                                <ul class="metismenu" id="side-menu">
                                    <li class="mt-3">
                                        <input type="checkbox" id="paciente" name="paciente[principal]" value="moduloPaciente">
                                        <label for="paciente" class="custom-unchecked">Paciente</label>
                                        <ol class="mt-3 dd-list"> 
                                            <div class="card2">
                                                <div class="row">
                                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 text-center mt-3 ">
                                                        <button class="btn btn-default"><span class="fas fa-user-tie fa-3x"></span></button>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Modulo Paciente</h5><hr>
                                                            <p class="card-text">Modulo que permite registrar, actualizar y gestionar examenes clínicos de los pacientes.</p>
                                                            <div class="permisosMedioPaciente" hidden>
                                                                <div class="custom-dd-empty dd" id="nestable_list_2">
                                                                    <li class="dd-item">
                                                                        <input id="pFichaPaciente" type="checkbox" name="paciente[fichaPaciente]" value="fichaPaciente" >
                                                                        <label for="pFichaPaciente" class="custom-unchecked">Gestión ficha</label>
                                                                        <ol class="dd-list" >
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="datoPersonal" type="checkbox"name="paciente[datosPersonal]" value="pacientes">
                                                                                <label for="datoPersonal" class="custom-unchecked">Datos personales</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                    <input id="examenG" type="checkbox" name="paciente[examenGeneral]" value="examenes generales" >
                                                                                    <label for="examenG" class="custom-unchecked">Examen general</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                    <input id="examenes" type="checkbox" name="paciente[examenes]" value="examenes"  >
                                                                                    <label for="examenes" class="custom-unchecked">Gestión de examenes</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="examenOdontograma" type="checkbox" name="paciente[odontograma]" value="odontograma" >
                                                                                        <label for="examenOdontograma" class="custom-unchecked">Examen odontograma</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="examenOrtodoncia" type="checkbox" name="paciente[ortoncia]" value="ortodoncia" >
                                                                                        <label for="examenOrtodoncia" class="custom-unchecked">Examen ortodoncia</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="examenPeriodontograma" type="checkbox" name="paciente[periodontograma]" value="periodoncia" >
                                                                                        <label for="examenPeriodontograma" class="custom-unchecked">Examen periodontograma</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="examenEndodoncia" type="checkbox" name="paciente[endodoncia]" value="endodoncia" >
                                                                                        <label for="examenEndodoncia" class="custom-unchecked">Examen endodoncia</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="examenCirugiaOral" type="checkbox" name="paciente[cirugiaOral]" value="cirugia oral y maxilofacial" >
                                                                                        <label for="examenCirugiaOral" class="custom-unchecked">Examen cirugia oral y maxilofacial</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="examenOperatoriaEstetica" type="checkbox" name="paciente[operatoriaEstetica]" value="operatoria estetica" >
                                                                                        <label for="examenOperatoriaEstetica" class="custom-unchecked">Examen operatoria estetica</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="examenOdontopediatria" type="checkbox" name="paciente[odontoPediatria]" value="odontopediatria" >
                                                                                        <label for="examenOdontopediatria" class="custom-unchecked">Examen odontopediatria</label>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>                 
                                                                            <li class="dd-item dd-handle2">
                                                                                    <input id="pacientePlanTratamiento" type="checkbox" name="paciente[pacientePlanTratamiento]" value="plan de tratamiento">
                                                                                    <label for="pacientePlanTratamiento" class="custom-unchecked">Plan tratamiento</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                    <input id="documento" type="checkbox" name="paciente[documento]" value="documentos">
                                                                                    <label for="documento" class="custom-unchecked">Documentos</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="consentimiento" type="checkbox" name="paciente[documentoConsentimiento]" value="consentimientos">
                                                                                        <label for="consentimiento" class="custom-unchecked">Consentimientos</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="formulaMedica" type="checkbox" name="paciente[documentoFormulaMedica]" value="formulas">
                                                                                        <label for="formulaMedica" class="custom-unchecked">Formulas Medicas</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="remision" type="checkbox" name="paciente[documentoRemision]" value="remisiones" >
                                                                                        <label for="remision" class="custom-unchecked">Remisiones</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="ordenLaboratorio" type="checkbox" name="paciente[documentoLaboratorio]" value="orden laboratorio">
                                                                                        <label for="ordenLaboratorio" class="custom-unchecked">Orden laboratorio</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="ordenRadiografia" type="checkbox" name="paciente[documentoRadiografia]" value="Radiografias">
                                                                                        <label for="ordenRadiografia" class="custom-unchecked">Orden radiografía</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="archivos" type="checkbox" name="paciente[documentoArchivo]" value="contratos">
                                                                                        <label for="archivos" class="custom-unchecked">Archivos</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="anexos" type="checkbox" name="paciente[documentoAnexo]" value="anexos">
                                                                                        <label for="anexos" class="custom-unchecked">Anexos</label>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="imagenes" type="checkbox" name="paciente[imagenes]" value="imagenes">
                                                                                <label for="imagenes" class="custom-unchecked">Imagenes</label>
                                                                            </li>
                                                                        </ol>    
                                                                    </li><br>
                                                                    <li class="dd-item">
                                                                        <input id="pHistorialPaciente" type="checkbox"  name="paciente[historialPacienteEvolucion]" value="evoluciones">
                                                                        <label for="pHistorialPaciente" class="custom-unchecked" data-type="labelSubPaciente">Gestión historial</label>
                                                                        <ol class="dd-list" >
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="evolucion" type="checkbox">
                                                                                <label for="evolucion" class="custom-unchecked">Evoluciones</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>     
                                                                    <li class="dd-item">
                                                                        <input id="pPagosPaciente" type="checkbox"  name="paciente[pagos]" value="pago">
                                                                        <label for="pPagosPaciente" class="custom-unchecked">Gestión pagos</label>
                                                                        <ol class="dd-list" >
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="pago" type="checkbox">
                                                                                <label for="pago" class="custom-unchecked">Pagos</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>                     
                                                                    <li class="dd-item">
                                                                        <input id="pHistorialCitas" type="checkbox"  name="paciente[historialCitas]" value="Historico citas">
                                                                        <label for="pHistorialCitas" class="custom-unchecked">Gestión historial citas</label>
                                                                        <ol class="dd-list" >
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="historicoCitas" type="checkbox">
                                                                                <label for="historicoCitas" class="custom-unchecked">Historico citas</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>        
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                
                                            </div>        
                                                                       
                                        </ol>
                                    </li> 
                                </ul>
                            </div><br><br>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mt-3">
                                <button type="button" class="btn btn-outline-success configuracionMediaPaciente"><span class="fas fa-wrench"></span>&nbsp;  Configuración</button>
                            </div>
                        </div>


                        <hr class="mt-3">
                        <div class="row mt-3">
                           <div class="col-10 checkbox checkbox-success">
                                <ul class="metismenu" id="side-menu">
                                    <li class="mt-3">
                                        <input type="checkbox" name="administracion[principal]" id="administracion" value="moduloAdministracion">
                                        <label for="administracion" class="custom-unchecked">Administración</label>
                                        <ol class="mt-3 dd-list"> 
                                            <div class="card2">
                                                <div class="row">
                                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 text-center mt-3 ">
                                                        <button class="btn btn-default"><span class="fas fa-user-tie fa-3x"></span></button>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Modulo Administración</h5><hr>
                                                            <p class="card-text">Modulo que permite registrar, actualizar y gestionar examenes clínicos de los departamento.</p>
                                                            <div class="permisosMedioAdministracion" hidden>
                                                                <div class="custom-dd-empty dd" id="nestable_list_3">
                                                                    <li class="dd-item">
                                                                        <input id="configuracionGeneral" type="checkbox"  name="administracion[configuracionGeneral]" value="configuracionGeneral" >
                                                                        <label for="configuracionGeneral" class="custom-unchecked">Gestión configuración general</label><br>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="configuracionMedica" type="checkbox" name="administracion[configuracionMedica]" value="configuracionMedica">
                                                                                <label for="configuracionMedica" class="custom-unchecked">Configuración medica</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="areaMedica" type="checkbox" name="administracion[confiMediAreaMedica]" value="areas medicas">
                                                                                        <label for="areaMedica" class="custom-unchecked">Área medica</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="especialidad" type="checkbox" name="administracion[confiMediEspecialida]" value="especilidades">
                                                                                        <label for="especialidad" class="custom-unchecked">Especialidad</label>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item  dd-handle2">
                                                                                <input id="departamento" type="checkbox" name="administracion[departamento]" value="departamentos">
                                                                                <label for="departamento" class="custom-unchecked">Departamento</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="eps" type="checkbox" name="administracion[eps]" value="EPS y sedes">
                                                                                <label for="eps" class="custom-unchecked">Eps</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item">
                                                                        <input id="gConsulta" type="checkbox" name="administracion[gestionConsulta]" value="gestionConsulta"  >
                                                                        <label for="gConsulta" class="custom-unchecked">Gestión consulta</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="finalidadConsulta" type="checkbox" name="administracion[finalidadConsulta]" value="finalidad consulta">
                                                                                <label for="finalidadConsulta" class="custom-unchecked">Finalidad consulta</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="motivoConsulta" type="checkbox" name="administracion[motivoConsulta]" value="motivos de consulta">
                                                                                <label for="motivoConsulta" class="custom-unchecked">Motivo consulta</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item">
                                                                        <input id="gConvenio" type="checkbox" name="administracion[gestionConvenio]" value="gestionConvenio">
                                                                        <label for="gConvenio" class="custom-unchecked">Gestión convenios</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="convenio" type="checkbox" name="administracion[convenio]" value="Convenio">
                                                                                <label for="convenio" class="custom-unchecked">Convenio</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="tratamientoEps" type="checkbox" name="administracion[tratamientoEps]" value="tratamientos - EPS">
                                                                                <label for="tratamientoEps" class="custom-unchecked">Tratamiento asociado a convenio</label>
                                                                            </li>
                                                                        </ol>    
                                                                    </li><br>
                                                                    <li class="dd-item">
                                                                        <input id="gDatosClinicos" type="checkbox" name="administracion[gestionDatosClinicos]" value="gestionDatosClinicos" >
                                                                        <label for="gDatosClinicos" class="custom-unchecked">Gestión datos clinicos</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="confiDatosEG" type="checkbox"   name="administracion[configuracionExamenGeneral]" value="configuracionExamenGeneral">
                                                                                <label for="confiDatosEG" class="custom-unchecked">Configuración datos examen general</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="alergia" type="checkbox" name="administracion[confiExamGeAlergia]" value="alergias">
                                                                                        <label for="alergia" class="custom-unchecked">Alergia</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="antecedente" type="checkbox" name="administracion[confiExamGeAntecedente]" value="antecedente">
                                                                                        <label for="antecedente" class="custom-unchecked">Antecedente</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="habito" type="checkbox" name="administracion[confiExamGeHabito]" value="habitos">
                                                                                        <label for="habito" class="custom-unchecked">Hábitos</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3" >
                                                                                        <input id="medicamento" type="checkbox" name="administracion[confiExamGeMedicamento]" value="medicamentos">
                                                                                        <label for="medicamento" class="custom-unchecked">Medicamento</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="riesgo" type="checkbox" name="administracion[confiExamGeRiesgo]" value="riesgos" >
                                                                                        <label for="riesgo" class="custom-unchecked">Riesgo</label>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="confiDatosED" type="checkbox"  name="administracion[confiDatosExamenEndododoncia]" value="confiDatosExamenEndododoncia">
                                                                                <label for="confiDatosED" class="custom-unchecked">Configuración datos examen endodoncia</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="evolucionEndodoncia" type="checkbox"  name="administracion[evolucionEndodoncia]" value="Evolución endodoncia">
                                                                                        <label for="evolucionEndodoncia" class="custom-unchecked">Evolución endodoncia</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="propiedad" type="checkbox"  name="administracion[propiedades]" value="propiedades" >
                                                                                        <label for="propiedad" class="custom-unchecked">Propiedades</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="provocado" type="checkbox"  name="administracion[provocado]" value="provocado" >
                                                                                        <label for="provocado" class="custom-unchecked">Provocado</label>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item  dd-handle2">
                                                                                <input id="superficie" type="checkbox"  name="administracion[superficie]" value="Superficies">
                                                                                <label for="superficie" class="custom-unchecked">Superficie</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item">
                                                                        <input id="gDiagnostico" type="checkbox"  name="administracion[gestionDiagnostico]" value="gestonDiagnostico">
                                                                        <label for="gDiagnostico" class="custom-unchecked">Gestión diagnóstico</label><br>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="categoriaDiag" type="checkbox" name="administracion[categoriaDiagnostico]" value="tipo de diagnosticos">
                                                                                <label for="categoriaDiag" class="custom-unchecked">Categoría diagnóstico</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="diagOdontologico" type="checkbox" name="administracion[diagnosticoOdontologico]" value="diagnosticos odontologicos">
                                                                                <label for="diagOdontologico" class="custom-unchecked">Diagnóstico odontologico</label>
                                                                            </li>                   
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="diagRipOdontologico" type="checkbox" name="administracion[diagnosticoRipOdontologico]" value="tipo diagnostico - RIP">
                                                                                <label for="diagRipOdontologico" class="custom-unchecked">Diagnóstico rips - odontologico</label>
                                                                            </li>                                      
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="tipoDiagPrin" type="checkbox" name="administracion[tipoDiagnosticoPrincipal]" value="diagnosticos principales">
                                                                                <label for="tipoDiagPrin" class="custom-unchecked">Tipo diagnóstico principal</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>    
                                                                    <li class="dd-item">
                                                                        <input id="gDocumentacion" type="checkbox" name="administracion[gestionDocumentacion]" value="gestionDocumentacion">
                                                                        <label for="gDocumentacion" class="custom-unchecked">Gestión documentación</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="tipoArchivo" type="checkbox" name="administracion[tipoArchivo]" value="tipo de archivo">
                                                                                <label for="tipoArchivo" class="custom-unchecked">Tipo archivo</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="tipoConsentimiento" type="checkbox" name="administracion[tipoConsentimiento]" value="tipos de consentimientos">
                                                                                <label for="tipoConsentimiento" class="custom-unchecked">Tipo consentimiento</label>
                                                                            </li>                                                       
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="tipoContrato" type="checkbox" name="administracion[tipoContrato]" value="tipo de contrato"  >
                                                                                <label for="tipoContrato" class="custom-unchecked">Tipo contrato</label>
                                                                            </li>                                                  
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="tipoRadiografia" type="checkbox" name="administracion[tipoRadiografia]" value="Tipo Radiografia">
                                                                                <label for="tipoRadiografia" class="custom-unchecked">Tipo radiografía</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>      
                                                                    <li class="dd-item">
                                                                        <input id="gEstado" type="checkbox" name="administracion[gestionEstados]" value="gestionEstados">
                                                                        <label for="gEstado" class="custom-unchecked">Gestión estados</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="cita" type="checkbox" name="administracion[estadoCita]" value="estado de cita" >
                                                                                <label for="cita" class="custom-unchecked">Citas</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="general" type="checkbox" name="administracion[estadoGeneral]" value="estado general"  >
                                                                                <label for="general" class="custom-unchecked">General</label>
                                                                            </li>                                   
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="estadoPago" type="checkbox" name="administracion[estadoPago]" value="estado de pago">
                                                                                <label for="estadoPago" class="custom-unchecked">Pagos</label>
                                                                            </li>                                                  
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="manteni" type="checkbox" name="administracion[estadoMantenimiento]" value="estado de mantenimiento" >
                                                                                <label for="manteni" class="custom-unchecked">Mantenimiento</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item">
                                                                        <input id="gEsterilizacion" type="checkbox" name="administracion[gestionEsterilizacion]" value="gestionEsterilizacion">
                                                                        <label for="gEsterilizacion">Gestión esterilización</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="esterilizacion" type="checkbox" name="administracion[esterilizacion]" value="esterilización principal" >
                                                                                <label for="esterilizacion"  class="custom-unchecked">Esterilización</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="tipoEsterilizacion" type="checkbox" name="administracion[tipoEsterilizacion]" value="Tipos esterilización" >
                                                                                <label for="tipoEsterilizacion"  class="custom-unchecked">Tipo paquete</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item">
                                                                        <input id="gFinanciera" type="checkbox" name="administracion[gestionFinanciera]" value="gestionFinanciera" >
                                                                        <label for="gFinanciera"  class="custom-unchecked">Gestión financiera</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="acuerdoPagoU" type="checkbox"  name="administracion[acuerdoPagoUsuario]" value="acuerdo de pago" >
                                                                                <label for="acuerdoPagoU"  class="custom-unchecked">Acuerdo pago usuario</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="conceptoPago" type="checkbox" name="administracion[conceptoPago]" value="concepto de pago"   >
                                                                                <label for="conceptoPago"  class="custom-unchecked">Concepto pago</label>
                                                                            </li>        
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="formaPago" type="checkbox" name="administracion[formaPago]" value="forma de pago" >
                                                                                <label for="formaPago"  class="custom-unchecked">Forma pago</label>
                                                                            </li>                                        
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="soportePago" type="checkbox" name="administracion[soportePago]" value="Soporte de pago">
                                                                                <label for="soportePago"  class="custom-unchecked">Soporte pago</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>  
                                                                    <li class="dd-item">
                                                                        <input id="gInventario" type="checkbox" name="administracion[gestionInventario]" value="gestionInventario" >
                                                                        <label for="gInventario" class="custom-unchecked">Gestión inventario</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="configuracionInventario" type="checkbox" name="administracion[configuracionInventario]" value="configuracionInventario" >
                                                                                <label for="configuracionInventario"  class="custom-unchecked">Configuración inventario</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item dd-handle2">
                                                                                        <input id="categoriaIn" type="checkbox" name="administracion[categoriaInventario]" value="categorias elementos" >
                                                                                        <label for="categoriaIn"  class="custom-unchecked">Categoría</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle2" >
                                                                                        <input id="insumo" type="checkbox" name="administracion[insumo]" value="insumos" >
                                                                                        <label for="insumo"  class="custom-unchecked">Insumo</label>
                                                                                    </li>  
                                                                                    <li class="dd-item dd-handle2">
                                                                                        <input id="marca" type="checkbox" name="administracion[marca]" value="Marcas" >
                                                                                        <label for="marca">Marca</label>
                                                                                    </li>                                         
                                                                                    <li class="dd-item dd-handle2">
                                                                                        <input id="nombre" type="checkbox" name="administracion[nombreInventario]" value="Nombres de inventario" >
                                                                                        <label for="nombre"  class="custom-unchecked">Nombre</label>
                                                                                    </li>                                 
                                                                                    <li class="dd-item dd-handle2">
                                                                                        <input id="presentacion" type="checkbox" name="administracion[presentacionInventario]" value="presentación elementos" >
                                                                                        <label for="presentacion"  class="custom-unchecked">Presentación</label>
                                                                                    </li>                   
                                                                                    <li class="dd-item dd-handle2" >
                                                                                        <input id="proveedor" type="checkbox" name="administracion[proveedor]" value="Proveedores" >
                                                                                        <label for="proveedor"  class="custom-unchecked">Proveedor</label>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="ordenes" type="checkbox" name="administracion[ordenes]" value="ordenes" >
                                                                                <label for="ordenes"  class="custom-unchecked">Ordenes</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item dd-handle2">
                                                                                        <input id="requerimientos" type="checkbox" name="administracion[requerimientos]" value="ordenes requerimientos" >
                                                                                        <label for="requerimientos"  class="custom-unchecked">Requerimientos</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle2" >
                                                                                        <input id="compras" type="checkbox" name="administracion[compras]" value="ordenes compra" >
                                                                                        <label for="compras"  class="custom-unchecked">Compras</label>
                                                                                    </li>  
                                                                                </ol>
                                                                            </li>            
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="pedido" type="checkbox" name="administracion[pedido]" value="pedidos"  >
                                                                                <label for="pedido" class="custom-unchecked">Pedido</label>
                                                                            </li>
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="salida" type="checkbox" name="administracion[salida]" value="Salidas de pedido" >
                                                                                <label for="salida"  class="custom-unchecked">Salida</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item dd-handle2">
                                                                                        <input id="salidaClinica" type="checkbox" name="administracion[salidaClinica]" value="Salidas de pedido clinica" >
                                                                                        <label for="salidaClinica"  class="custom-unchecked">Clinica</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle2" >
                                                                                        <input id="salidaConsultorio" type="checkbox" name="administracion[salidaConsultorio]" value="Salidas de pedido consultorio" >
                                                                                        <label for="salidaConsultorio"  class="custom-unchecked">Consultorio</label>
                                                                                    </li>  
                                                                                </ol>
                                                                            </li>                                 
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="stock" type="checkbox" name="administracion[stock]" value="Stock inventario"  >
                                                                                <label for="stock"  class="custom-unchecked">Stock</label>
                                                                            </li>  
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item">
                                                                        <input id="gMantenimiento" type="checkbox" name="administracion[gestionMantenimiento]" value="mantenimientos de equipos">
                                                                        <label for="gMantenimiento">Gestión mantenimiento</label>
                                                                         <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="mantenimiento" type="checkbox"  >
                                                                                <label for="mantenimiento"  class="custom-unchecked">Mantenimiento</label>
                                                                            </li>
                                                                        </ol>    
                                                                    </li><br>
                                                                    <li class="dd-item ">
                                                                        <input id="gSgsss" type="checkbox" name="administracion[gestionSGSS]" value="gestionSGSS"  >
                                                                        <label for="gSgsss"  class="custom-unchecked">Gestión sgsss</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="CIE11" type="checkbox" name="administracion[CIE11]" value="CIE 11">
                                                                                <label for="CIE11"  class="custom-unchecked">Configuración CIE</label>
                                                                            </li> 
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="configuracionCup" type="checkbox" name="administracion[configuracionCups]" value="configuracionCups" >
                                                                                <label for="configuracionCup"  class="custom-unchecked">Configuración cup</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item  dd-handle3">
                                                                                        <input id="ambitoRealizacion" type="checkbox" name="administracion[ambitoRealizacion]" value="ambito de realización" >
                                                                                        <label for="ambitoRealizacion"  class="custom-unchecked">Ambito realización</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3" >
                                                                                        <input id="causaExterna" type="checkbox" name="administracion[causaExterna]" value="causa externa">
                                                                                        <label for="causaExterna"  class="custom-unchecked">Causa externa</label>
                                                                                    </li>   
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="cup" type="checkbox" name="administracion[cups]" value="CUPS"   >
                                                                                        <label for="cup"  class="custom-unchecked">Cup</label>
                                                                                    </li>                           
                                                                                    <li class="dd-item dd-handle3" >
                                                                                        <input id="finalidadProce" type="checkbox" name="administracion[finalidadProcedimiento]" value="finalidad de procedimiento" >
                                                                                        <label for="finalidadProce"  class="custom-unchecked">Finalidad procedimiento</label>
                                                                                    </li>                              
                                                                                    <li class="dd-item dd-handle3">
                                                                                        <input id="formaRea" type="checkbox" name="administracion[formaRealizacion]" value="formas de realización" >
                                                                                        <label for="formaRea"  class="custom-unchecked">Forma realización</label>
                                                                                    </li>
                                                                                    <li class="dd-item dd-handle3" >
                                                                                        <input id="personAtiende" type="checkbox" name="administracion[personAtiende]" value="persona que atiende" >
                                                                                        <label for="personAtiende"  class="custom-unchecked">Persona atiende</label>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>                      
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="cupsDiagnostico" type="checkbox" name="administracion[cupsDiagnostico]" value="Cups-Diagnostico">
                                                                                <label for="cupsDiagnostico"  class="custom-unchecked">Cups - Diagnostico</label>
                                                                            </li>  
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item" >
                                                                        <input id="gTratamiento" type="checkbox" name="administracion[gestionTratamiento]" value="gestionTratamiento" >
                                                                        <label for="gTratamiento"  class="custom-unchecked">Gestión tratamiento</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item  dd-handle2">
                                                                                <input id="categoriaTratamiento" type="checkbox"  name="administracion[categoriaTratamiento]" value="categoria de tratamiento">
                                                                                <label for="categoriaTratamiento"  class="custom-unchecked">Categoría tratamiento</label>
                                                                            </li>
                                                                            <li class="dd-item  dd-handle2">
                                                                                <input id="tratamiento" type="checkbox"  name="administracion[tratamiento]" value="tratamientos principal">
                                                                                <label for="tratamiento"  class="custom-unchecked">Tratamiento</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>  
                                                                    <li class="dd-item">
                                                                        <input id="gUsuario" type="checkbox" name="administracion[gestionUsuario]" value="gestionUsuario" >
                                                                        <label for="gUsuario"  class="custom-unchecked">Gestión usuario</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item  dd-handle2" >
                                                                                <input id="agendaUsuario" type="checkbox" name="administracion[agendaUsuario]" value="agenda de usuario" >
                                                                                <label for="agendaUsuario"  class="custom-unchecked">Agenda usuario</label>
                                                                            </li>
                                                                            <li class="dd-item  dd-handle2">
                                                                                <input id="tipoDatos" type="checkbox" name="administracion[tipoDatos]" value="tipoDatos"  >
                                                                                <label for="tipoDatos"  class="custom-unchecked">Tipo</label>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item  dd-handle3" >
                                                                                        <input id="tDocumento" type="checkbox" name="administracion[tipoDocumento]" value="tipos de documento">
                                                                                        <label for="tDocumento"  class="custom-unchecked">Tipo documento</label>
                                                                                    </li>
                                                                                    <li class="dd-item  dd-handle3" >
                                                                                        <input id="tUsuario" type="checkbox" name="administracion[tipoUsuario]" value="tipos de usuario">
                                                                                        <label for="tUsuario"  class="custom-unchecked">Tipo usuario</label>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item  dd-handle2">
                                                                                <input id="usuario" type="checkbox" name="administracion[usuario]" value="usuarios" >
                                                                                <label for="usuario"  class="custom-unchecked">Usuario</label>
                                                                            </li>
                                                                        </ol>    
                                                                    </li>    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                
                                            </div>        
                                                                       
                                        </ol>
                                    </li> 
                                </ul>
                            </div><br><br>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mt-3">
                                <button type="button" class="btn btn-outline-success configuracionMediaAdministracion"><span class="fas fa-wrench"></span>&nbsp;  Configuración</button>
                            </div>
                        </div>




                        <hr class="mt-3">
                        <div class="row mt-3">
                           <div class="col-10 checkbox checkbox-success">
                                <ul class="metismenu" id="side-menu">
                                    <li class="mt-3">
                                        <input type="checkbox" name="reporte[principal]" id="reporte" value="reportePrincipal">
                                        <label for="reporte" class="custom-unchecked">Reportes</label>
                                        <ol class="mt-3 dd-list"> 
                                            <div class="card2">
                                                <div class="row">
                                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 text-center mt-3 ">
                                                        <button class="btn btn-default"><span class="fas fa-user-tie fa-3x"></span></button>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Modulo Reportes</h5><hr>
                                                            <p class="card-text">Modulo que permite registrar, actualizar y gestionar usuarios, departamentos .etc.</p>
                                                            <div class="permisosMedioReportes" hidden>
                                                                <div class="custom-dd-empty dd" id="nestable_list_4">
                                                                    <li class="dd-item">
                                                                        <input id="rConsulta" type="checkbox" name="reporte[reporteConsulta]" value="Consultar reportes">
                                                                        <label for="rConsulta" class="custom-unchecked">Gestión reportes</label>
                                                                        <ol class="dd-list" >
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="consultaR" type="checkbox" >
                                                                                <label for="consultaR" class="custom-unchecked" >Consultar reportes</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li>                 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                
                                            </div>        
                                                                       
                                        </ol>
                                    </li> 
                                </ul>
                            </div><br><br>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mt-3">
                                <button  type="button" class="btn btn-outline-success configuracionMediaReportes"><span class="fas fa-wrench"></span>&nbsp;  Configuración</button>
                            </div>
                        </div>



                        <hr class="mt-3">
                        <div class="row mt-3">
                           <div class="col-10 checkbox checkbox-success">
                                <ul class="metismenu" id="side-menu">
                                    <li class="mt-3">
                                        <input type="checkbox" name="configuracion[principal]" value="configuracionPrincipal" id="configuracion">
                                        <label for="configuracion" class="custom-unchecked">Configuración</label>
                                        <ol class="mt-3 dd-list"> 
                                            <div class="card2">
                                                <div class="row">
                                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 text-center mt-3 ">
                                                        <button class="btn btn-default"><span class="fas fa-user-tie fa-3x"></span></button>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Modulo Configuración Sistema</h5><hr>
                                                            <p class="card-text">Modulo que permite registrar, actualizar y gestionar usuarios, departamentos .etc.</p>
                                                            <div class="permisosMedioConfiguracion" hidden>
                                                                <div class="custom-dd-empty dd" id="nestable_list_5">
                                                                    <li class="dd-item">
                                                                        <input id="cClinica" type="checkbox" name="configuracion[clinica]" value="clinica">
                                                                        <label for="cClinica"  class="custom-unchecked">Gestión clinica</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="clinica" type="checkbox"  >
                                                                                <label for="clinica" class="custom-unchecked">Clinica</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item" >
                                                                        <input id="cSede" type="checkbox"  name="configuracion[sede]" value="sede">
                                                                        <label for="cSede"  class="custom-unchecked">Gestión sede</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="sede" type="checkbox"  >
                                                                                <label for="sede"  class="custom-unchecked">Sede</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item" >
                                                                        <input id="cDatoConsultorio" type="checkbox"  name="configuracion[consultorio]" value="consultorio" >
                                                                        <label for="cDatoConsultorio"  class="custom-unchecked">Gestión datos consultorio</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="consultorio" type="checkbox"  >
                                                                                <label for="consultorio"  class="custom-unchecked">Consultorio</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li><br>
                                                                    <li class="dd-item" >
                                                                        <input id="cPerfiles" type="checkbox"  name="configuracion[perfiles]" value="perfil">
                                                                        <label for="cPerfiles">Gestión perfiles</label>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item dd-handle2">
                                                                                <input id="perfil" type="checkbox"  >
                                                                                <label for="perfil" class="custom-unchecked">Perfil</label>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                
                                            </div>        
                                                                       
                                        </ol>
                                    </li> 
                                </ul>
                            </div><br><br>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mt-3">
                                <button  type="button" class="btn btn-outline-success configuracionMediaConfiguracion"><span class="fas fa-wrench"></span>&nbsp;  Configuración</button>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
                        </div>
                    </form>    
                </div>                      


            </div>
        </div>
        
    </div>
</div>  
{% endblock %}
{% block javascripts %}
<script src="{{ asset('light/dist/assets/libs/nestable2/jquery.nestable.min.js') }}"></script>

<script src="{{ asset('light/dist/assets/js/pages/nestable.init.js') }}"></script>
{% endblock %}