	<div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idCups">Cups</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            <label>{{cupDiagnostico.idCups}}</label>
            <div class="invalid-feedback">{{ form_errors(form.idCups)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idRips">Cie principal</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idRips) }}
            <div class="invalid-feedback">{{ form_errors(form.idRips)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idDxr1">Cie realizado I</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idDxr1) }}
            <div class="invalid-feedback idDxr1Error">{{ form_errors(form.idDxr1)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 idDxr2Campo" hidden>                
            <label for="idDxr2">Cie realizado II</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12 idDxr2Campo" hidden> 
            {{ form_widget(form.idDxr2) }}
            <div class="invalid-feedback idDxr2Error">{{ form_errors(form.idDxr2)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 idDxr3Campo" hidden>                
            <label for="idDxr3">Cie realizado III</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12 idDxr3Campo" hidden> 
            {{ form_widget(form.idDxr3) }}
            <div class="invalid-feedback idDxr3Error">{{ form_errors(form.idDxr3)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idCausaExterna">Causa externa</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idCausaExterna) }}
            <div class="invalid-feedback">{{ form_errors(form.idCausaExterna)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idAmbitoRealizacion">Ambiente realización</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idAmbitoRealizacion) }}
            <div class="invalid-feedback">{{ form_errors(form.idAmbitoRealizacion)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idFinalidadProcedimiento">Finalidad procedimiento</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idFinalidadProcedimiento) }}
            <div class="invalid-feedback">{{ form_errors(form.idFinalidadProcedimiento)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idPersonaAtiende">Persona atiende</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idPersonaAtiende) }}
            <div class="invalid-feedback">{{ form_errors(form.idPersonaAtiende)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idFormaRealizacion">Forma realización</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idFormaRealizacion) }}
            <div class="invalid-feedback">{{ form_errors(form.idFormaRealizacion)}}</div>
       </div>
    </div>
    <div hidden>
    	{{ form_widget(form.idCups) }}
    	{{ form_widget(form.idUsuarioIngresa) }}
    </div>
	<div class="text-center">
	  <a href="{{ path('cups_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  	</div>
{{ form_end(form) }}
