<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE DIAGNÓSTICO CUP N° {{cupDiagnostico.idCupDiagnostico}}</h3></div>             
        <a href="{{ path('cups_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">        
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Cup</b>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 ">
                {{cupDiagnostico.idCups | capitalize }}
            </div> 
        </div>
        <div class="row mt-2">       
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <b>Cie principal</b>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                {{cupDiagnostico.idRips}}
            </div> 
        </div>     
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Cie realizado I</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ cupDiagnostico.idDxr1 ? cupDiagnostico.idDxr1 : '-'}}
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Cie realizado II</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ cupDiagnostico.idDxr2 ? cupDiagnostico.idDxr2 : '-'}}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Cie realizado III</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ cupDiagnostico.idDxr3 ? cupDiagnostico.idDxr3 : '-'}}
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Causa externa</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ cupDiagnostico.idCausaExterna ? cupDiagnostico.idCausaExterna : '-'}}
            </div>
        </div>   
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Ambito realización</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ cupDiagnostico.idAmbitoRealizacion ? cupDiagnostico.idAmbitoRealizacion : '-'}}
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Finalidad procedimiento</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ cupDiagnostico.idFinalidadProcedimiento ? cupDiagnostico.idFinalidadProcedimiento : '-'}}
            </div>
        </div> 
        <div class="row mt-2">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Persona atiende</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ cupDiagnostico.idPersonaAtiende ? cupDiagnostico.idPersonaAtiende : '-'}}
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Forma realización</b>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{ cupDiagnostico.idFormaRealizacion ? cupDiagnostico.idFormaRealizacion : '-'}}
            </div>
        </div>    
    </div>    
    <div class="modal-footer">
       <a href="{{ path('cups_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>   