{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar diagnóstico cup{% endblock %}
{% block body %}
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
      	<div class="text-center w-100"><h3 class="modal-title">REGISTRAR DIAGNÓSTICO CUP</h3></div>
      	
        <a href="{{ path('cups_index') }}">
        	<button type="button" title="Cerrar" class="close" aria-label="Close">
  	        <span aria-hidden="true">&times;</span>
  	      </button>
  	    </a>
        
      </div>
      <!--Body de Modal-->
        
        <div class="modal-body">
          {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formCupDiagnostico'} }) }} 
        	{{ include('cupDiagnostico/_form.html.twig') }}
        </div>
        
    </div>
  </div> 
<div class='modalCargando'></div> 
{% endblock %}

