{% extends 'base.html.twig' %}
{% block title %}Diagnóstico principal{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>DIAGNÓSTICO PRINCIPAL</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('tipoDiagnostico_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Categoría diagnóstico</button></a>
                <a href="{{path('diagnosticoOdontologico_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Diagnóstico odontológico</button></a>
                <a href="{{path('cieDiagnosticoTipo_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Diagnóstico Cie - Odontológico</button></a>
                <a href="{{path('diagnosticoPrincipal_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Diagnóstico Principal</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_diagnosticoPrincipal">
                    <thead>
                          <tr>  
                            <th class="text-center w-75">Nombre</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" hidden data-controls-modal="crearDiagnosticoPrincipal" data-backdrop="static" data-toggle="modal" data-target="#crearDiagnosticoPrincipal" title="Crear diagnóstico principal"><button type="button" disabled="disabled"  class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>

                                <button type="button" disabled="disabled"  class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for diagnosticoPrincipal in diagnosticoPrincipales %}
                        <tr>
                          <td class="text-left">{{ diagnosticoPrincipal.nombre  | capitalize}}</td>              
                          <td class="text-right" colspan="2">
                            <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar diagnóstico principal"><span class="fas fa-edit"></span></button>
                            <!--button type="button" onclick="editar( {{ diagnosticoPrincipal.idDiagnosticoPrincipal }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar diagnóstico principal"><span class="fas fa-edit"></span></button-->
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('diagnosticoPrincipal/modalNewDiagnosticoPrincipal.html.twig') }}
<div class="modal fade bd-example-modal-lg" id="datosDiagnosticoPrincipal"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_diagnosticoPrincipal');   
});

function editar(id) {
  // alert(id); 
  var url = +id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosDiagnosticoPrincipal').modal('show'); 
            $('#datosDiagnosticoPrincipal').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
</script>
{% endblock %}