<form method="post" class ="eliminarDato" action="{{ path('proveedor_delete', {'idProveedor': proveedor.idProveedor}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proveedor.idProveedor) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>
