    <div class="row">
		<div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="idTipoDocumento" class="control-label fles">Tipo documento</label>&nbsp;<label class="text-danger fles">*</label>
	    </div>
	    <div class="form-group col-xg-4 col-lg-4 col-md-4">			
	        {{ form_widget(form.idTipoDocumento) }}
	        <div class="invalid-feedback">{{ form_errors(form.idTipoDocumento)}}</div>
	    </div> 
	    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-left">
              <label for="niEps">Identificación</label>&nbsp;<label class="text-danger">*</label>
        </div>
	    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 form-group">
	      <input type="text" id="niProveedor" class="form-control" name="niProveedor" required data-toggle="tooltip"  title="Pendiente."  data-placement="right" data-color="black" data-html="true">	
	      <div class="invalid-feedback">{{ form_errors(form.identificacion)}}</div>      
	    </div>
	    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 form-group">
	      <input class="tinymce form-control" type="text" id="numIdProveedor" name="numIdProveedor" data-toggle="tooltip" title="Pendiente."  data-placement="right" data-color="black" data-html="true" >
	      <div class="invalid-feedback mt-1"></div>
	    </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="nombre" class="control-label">Nombre</label>&nbsp;<label class="text-danger">*</label>
	    </div>
	    <div class="form-group col-xg-4 col-lg-4 col-md-4">			
	        {{ form_widget(form.nombre) }}
	        <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
	    </div> 
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="nombreContacto" class="control-label">Contacto</label>&nbsp;<label class="text-danger">*</label>
	    </div>
	    <div class="form-group col-xg-4 col-lg-4 col-md-4">			
	        {{ form_widget(form.nombreContacto) }}
	        <div class="invalid-feedback">{{ form_errors(form.nombreContacto)}}</div>
	    </div> 
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="movil">Móvil</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.movil) }}
            <div class="invalid-feedback">{{ form_errors(form.movil)}}</div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
			<label for="telefono">Teléfono</label>
		</div>
	    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 form-group">
	      <input type="text" id="indicativoProvee" class="form-control" name="indicativoProvee">
	      <div class="invalid-feedback mt-1"></div>
	    </div>
	    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-7 form-group">
	      <input class="tinymce form-control" type="text" id="telefonoProvee" name="telefonoProvee" > 
	      <div class="invalid-feedback mt-1 telProvee">{{ form_errors(form.telefono)}}</div>
	    </div>	
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="representanteLegal" class="control-label fles">Representate legal</label>&nbsp;<label class="text-danger fles">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.representanteLegal) }}
            <div class="invalid-feedback">{{ form_errors(form.representanteLegal)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="email" class="control-label fles">Correo electrónico</label>&nbsp;<label class="text-danger fles">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.email) }}
            <div class="invalid-feedback">{{ form_errors(form.email)}}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="direccion" class="control-label">Dirección</label>&nbsp;<label class="text-danger">*</label>
	    </div>
	    <div class="form-group col-xg-4 col-lg-4 col-md-4">			
	        {{ form_widget(form.direccion) }}
	        <div class="invalid-feedback">{{ form_errors(form.direccion)}}</div>
	    </div> 
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">
	        <label for="idMunicipio" class="control-label">Municipio</label>&nbsp;<label class="text-danger">*</label>
	    </div>
	    <div class="form-group col-xg-4 col-lg-4 col-md-4">			
	        {{ form_widget(form.idMunicipio) }}
	        <div class="invalid-feedback">{{ form_errors(form.idMunicipio)}}</div>
	    </div> 
    </div>
    <div hidden>
    	{{ form_widget(form.estado) }}
    	{{ form_widget(form.identificacion) }}
    	{{ form_widget(form.telefono) }}
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('proveedor_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
