<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE PROVEEDOR N° {{proveedor.idProveedor}}</h3></div>             
        <a href="{{ path('proveedor_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">
      <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Nombre</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ proveedor.nombre}}
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>{{proveedor.idTipoDocumento}}</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ proveedor.identificacion}}
          </div>
      </div>
      <div class="row mt-2">
        {% if proveedor.telefono != ''%}
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Dirección</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{proveedor.direccion}} - {{proveedor.idMunicipio}}
          </div>          
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Teléfono</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                {{proveedor.telefono}}
          </div>
        {% else %}  
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Dirección</b>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                {{proveedor.direccion}} - {{proveedor.idMunicipio}}
            </div> 
        {% endif %}    
      </div>  
      <div class="row mt-2">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Contacto</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ proveedor.nombreContacto}}
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Móvil</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ proveedor.movil}}
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Representante legal</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ proveedor.representanteLegal}}
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
              <b>Correo Electrónico</b>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ proveedor.email}}
          </div>
      </div>  
    </div>
    <div class="modal-footer">
       <a href="{{ path('proveedor_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  
