    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idEntradaPedido">Nombre</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idEntradaPedido) }}
            <div class="invalid-feedback">{{ form_errors(form.idEntradaPedido)}}</div>
        </div>
    </div>
    <div class="row mt-2 ">
    	<div class=" form-group col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
	    	<div class="radio radio-success form-check-inline">
	            <input type="radio" id="ckeckConsultorio" value="ckeckConsultorio" name="radioInline" checked="">
	            <label for="ckeckConsultorio">Consultorio</label>
	        </div>
	        <div class="radio radio-success form-check-inline">
	            <input type="radio" id="ckeckPaciente" value="ckeckPaciente" name="radioInline" >
	            <label for="ckeckPaciente">Paciente</label>
	        </div>
    	</div>
    </div>
    <div class="row mt-2 idConsultorio">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idConsultorio">Consultorio</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idConsultorio) }}
            <div class="invalid-feedback errorIdConsultorio">{{ form_errors(form.idConsultorio)}}</div>
        </div>
    </div>
    <div class="row mt-2 idPaciente" hidden>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idPaciente">Paciente</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idPaciente) }}
            <div class="invalid-feedback errorIdPaciente">{{ form_errors(form.idPaciente)}}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cantidad" class="fles">Cantidad</label>&nbsp;<label class="text-danger fles">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.cantidad) }}
            <div class="invalid-feedback">{{ form_errors(form.cantidad)}}</div>
        </div>
    </div>
    <div hidden>
    	{{ form_widget(form.idUsuarioIngresa) }}
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('salida_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
