{% extends 'base.html.twig' %}
{% block title %}Salidas clinica{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>SALIDAS CLINICA</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración insumo&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('categoriaInventario_index')}}">Categoría</a>
                        <a class="dropdown-item" href="{{path('insumo_index')}}">Insumo</a>
                        <a class="dropdown-item" href="{{path('marca_index')}}">Marca</a>
                        <a class="dropdown-item" href="{{path('nombreInsumo_index')}}">Nombre</a>
                        <a class="dropdown-item" href="{{path('presentacion_index')}}">Presetación</a>
                        <a class="dropdown-item" href="{{path('proveedor_index')}}">Proveedor</a>
                    </div>
                </div>
                <a href="{{path('pedido_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Pedidos</button></a>
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Salidas&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('salida_index')}}">Clinica</a>
                      <a class="dropdown-item" href="{{path('salidaConsultorio_index')}}">Consultorio</a>
                  </div>
                </div>       
                <a href="{{path('stock_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Stock</button></a>
                <div class="btn-group">
                  <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Ordenes&nbsp;&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{path('requerimiento_index')}}">Requerimiento</a>
                      <a class="dropdown-item" href="{{path('ordenCompra_index')}}">Compra</a>
                  </div>
                </div> 
              </div>
            </div>
            <div class="row mt-3 ">
                <div id="accordion" class="mb-3 col-12">
                  <div class="card mb-1">
                    <div class="card-header" id="disponibilidad">
                        <h5 class="m-0">
                            <a class="text-dark collapsed" data-toggle="collapse" href="#disponibles" aria-expanded="false">
                                <i class="mdi mdi-help-circle mr-1 text-primary"></i> 
                                Disponibilidad Actual
                            </a>
                        </h5>
                    </div>
                    <div id="disponibles" class="collapse" aria-labelledby="disponibilidad" data-parent="#accordion">
                      <div class="card-body">
                        <table class="table" id="table_salida_clinica_Disponibilidad">
                          <thead>
                            <tr>  
                              <th class="text-center w-25">N° Salida</th>
                              <th class="text-center">Disponibilidad</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for salidaClinica in salidas %} 
                          {% set salidaPrincipal= salidaClinica.idSalida %}
                          {% for conteoD in conteoDisponibles%}
                          {% set salidaConteo= conteoD.idSalida  %}
                            {% if salidaConteo ==  salidaPrincipal%}
                            {% set disponibilidad = salidaClinica.cantidad - conteoD.conteoCantidad%}
                              <tr>  
                                <td class="text-center w-25">{{ salidaConteo}}</td>
                                <td class="text-center">{{ disponibilidad}}</td>
                              </tr>
                            {% endif %}
                          {% endfor %} 
                          {% endfor %} 
                         </tbody>    
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-1">
              <div class="card-header">
                  <h5 class="m-0">
                      <a class="text-dark collapsed" data-toggle="collapse" aria-expanded="false">
                          <i class="mdi mdi mdi-archive text-primary"></i> 
                          Salidas de clinica y/o entradas a consultorios
                      </a>
                  </h5>
              </div>
              {% set contadorDatosDisponibilidad = conteoDisponibles | keys%}
              {% set arrayIdentificadorSalidasDisp = [] %}
              {% for i in contadorDatosDisponibilidad %}
                  {% set arrayIdentificadorSalidasDisp = arrayIdentificadorSalidasDisp|merge([conteoDisponibles[i]['idSalida']]) %}
              {% endfor %}
              {#
              {{dump(arrayIdentificadorSalidasDisp)}}
              {{dump(conteoDisponibles)}} 
              #}
              <div class="card-body">
                <div class="table-responsive-lg mt-3 col-12">
                  <table class="table" id="table_salida_clinica">
                        <thead>
                              <tr>  
                                <th class="text-center">N° Salida</th>
                                <th class="text-center w-25">Nombre</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Nueva ubicación</th>
                                <th class="text-center">Cantidad Disponible</th>
                                <th class="text-right">Acciones</th>
                                <th>
                                    <a style="float: right;" data-controls-modal="crearSalidaClinica" data-backdrop="static" data-toggle="modal" data-target="#crearSalidaClinica" title="Crear salida"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                                </th> 
                              </tr>
                        </thead>
                        <tbody>
                          {% for salidaClinica in salidas %}
                            {% set salidaPrincipal= salidaClinica.idSalida %}
                            {% if  salidaPrincipal in arrayIdentificadorSalidasDisp%}
                              {% for conteoD in conteoDisponibles%}
                                {% set salidaConteo= conteoD.idSalida  %}
                                {% if salidaConteo ==  salidaPrincipal%}
                                  {% set disponibilidad = salidaClinica.cantidad - conteoD.conteoCantidad%} 
                                  <tr>
                                    <td class="text-left">N° Salida {{ salidaClinica.idSalida}}</td>
                                    <td class="text-left">{{ salidaClinica.idEntradaPedido  | capitalize}}</td>
                                    <td class="text-left">{{ salidaClinica.fechaApertura ? salidaClinica.fechaApertura|date('Y-m-d') : ''}}</td>
                                    <td class="text-left">{{ salidaClinica.cantidad  | capitalize}}</td>
                                    <td class="text-left">
                                      {% if salidaClinica.idConsultorio != '' %}
                                          <b>Consultorio:</b> {{ salidaClinica.idConsultorio  | capitalize}}
                                      {%  elseif salidaClinica.idPaciente != '' %}
                                          <b>Paciente:</b> {{ salidaClinica.idPaciente  | capitalize}}
                                      {% endif %}
                                    </td>    
                                    <td class="text-center">{{disponibilidad}}</td>                     
                                    <td class="text-right" colspan="2">
                                      <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left" data-html="true"  data-content="<label>Usuario Entrega:</label> {{salidaClinica.idUsuarioIngresa}}" title="Detalle salida"><button title="Datos tipo diagnóstico"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>

                                      <button type="button" onclick="editar( {{ salidaClinica.idSalida}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar salida"><span class="fas fa-edit"></span></button>
                                      {% if salidaClinica.idConsultorio != '' %}
                                      <button type="button" onclick="crearSalidaConsultorio( {{salidaClinica.idSalida}});" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear salida consultorio" ><span class="fe-share-2"></span></button>
                                      {% else %}
                                        <button type="button" disabled="disabled" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear salida consultorio" ><span class="fe-share-2"></span></button>
                                      {% endif %}  
                                    </td>
                                    <td style="display: none;"></td>
                                  </tr>
                                {% endif %} 
                              {% endfor %}
                            {% else %}       
                              <tr>
                                <td class="text-left">N° Salida {{ salidaClinica.idSalida}}</td>
                                <td class="text-left">{{ salidaClinica.idEntradaPedido  | capitalize}}</td>
                                <td class="text-left">{{ salidaClinica.fechaApertura ? salidaClinica.fechaApertura|date('Y-m-d') : ''}}</td>
                                <td class="text-left">{{ salidaClinica.cantidad  | capitalize}}</td>
                                <td class="text-left">
                                  {% if salidaClinica.idConsultorio != '' %}
                                      <b>Consultorio:</b> {{ salidaClinica.idConsultorio  | capitalize}}
                                  {%  elseif salidaClinica.idPaciente != '' %}
                                      <b>Paciente:</b> {{ salidaClinica.idPaciente  | capitalize}}
                                  {% endif %}
                                </td>    
                                <td class="text-center">{{salidaClinica.idPaciente ? 'Paciente' : salidaClinica.cantidad}}</td>
                                <td class="text-right" colspan="2">
                                  <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left" data-html="true"  data-content="<label>Usuario Entrega:</label> {{salidaClinica.idUsuarioIngresa}}" title="Detalle salida"><button type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>

                                  <button type="button" onclick="editar( {{ salidaClinica.idSalida}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar salida"><span class="fas fa-edit"></span></button>
                                  {% if salidaClinica.idConsultorio != '' %}
                                  <button type="button" onclick="crearSalidaConsultorio( {{salidaClinica.idSalida}});" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear salida consultorio" ><span class="fe-share-2"></span></button>
                                  {% else %}
                                    <button type="button" disabled="disabled" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear salida consultorio" ><span class="fe-share-2"></span></button>
                                  {% endif %}  
                                </td>
                                <td style="display: none;"></td>
                              </tr>
                           {% endif %} 
                          {% endfor %}
                        
                        </tbody>
                  </table>
                </div> 
              </div>
            </div>       
          </div>
        </div>
    </div>
</div>


{{ include('salida/modalNew.html.twig') }}

<div class="modal fade bd-example-modal-lg" id="datosSalida"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_salida_clinica');  
    newTable('#table_salida_clinica_Disponibilidad'); 
     
});

function editar(id) {
  // alert(id); 
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosSalida').modal('show'); 
            $('#datosSalida').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

function crearSalidaConsultorio(id) {
  // alert(id); 
  var url = "/salidaConsultorio/new";
    $.ajax({
      type: 'POST',
      url:url,
      data:{'idSalida':id},
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosSalida').modal('show'); 
            $('#datosSalida').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}



</script>
{% endblock %}