     <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idTratamiento">Tratamiento</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idTratamiento) }}
            <div class="invalid-feedback">{{ form_errors(form.idTratamiento)}}</div>
        </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="tipo">Tipo</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.tipo) }}
            <div class="invalid-feedback">{{ form_errors(form.tipo)}}</div>
       </div>
    </div>
    <div class="row datosValor  mt-2" hidden>
      <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="valor">Costo</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.valor) }}
            <div class="invalid-feedback" id="valorError">{{ form_errors(form.valor)}}</div>
        </div>
    </div>
    <div class="row datosPorcentaje  mt-2" hidden>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="porcentaje">Porcentaje</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.porcentaje) }}
            <div class="invalid-feedback" id="porcentajeError">{{ form_errors(form.porcentaje)}}</div>
        </div>
    </div>
    <div hidden>
    	 {{ form_widget(form.estado) }}
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('acuerdoPago_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
