<form method="post" class ="eliminarDato_{{examenGeneral.idExamenGeneral}}" action="{{ path('examenGeneral_delete', {'idExamenGeneral': examenGeneral.idExamenGeneral}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ examenGeneral.idExamenGeneral) }}">
</form>

