<link href="{{ asset('light/dist/assets/libs/multiselect/multi-select.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('light/dist/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('light/dist/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('light/dist/assets/css/app.min.css') }}" rel="stylesheet" type="text/css" />
<div class="modal fade" id="antecedenteActuales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="text-center w-100"><h3 class="modal-title">LISTADO ANTECEDENTES</h3></div>
         
        {#<a href="{{ path('examenGeneral_new', {'idPaciente':paciente.idPaciente}) }}">#}
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
  	    {#</a>#}
        
      </div>
      <!--Body de Modal-->
        
      <div class="modal-body">
        	<div class="row aM" hidden>  
            <div class="col-3"></div>
            <div class="col-6">         
              <select multiple="multiple" class="multi-select" id="antecedenteMedicoSelect" name="antecedenteMedicoSelect[]" data-plugin="multiselect">
                {% for antecedentem in antecedenteM%}
                  <option value="{{antecedentem.nombre}}">{{antecedentem.nombre}}</option>
                {% endfor %}  
              </select>  
            </div>        
          </div>
          <div class="row aF" hidden>  
            <div class="col-3"></div>
            <div class="col-6">  
              <select multiple="multiple" class="multi-select" id="antecedenteFamiliarSelect" name="antecedenteFamiliarSelect[]" data-plugin="multiselect">
                {% for antecedentef in antecedenteF%}
                  <option value="{{antecedentef.nombre}}">{{antecedentef.nombre}}</option>
                {% endfor %}  
              </select>  
            </div>        
          </div>
          <div class="row aS" hidden>  
            <div class="col-3"></div>
            <div class="col-6">         
              <select multiple="multiple" class="multi-select" id="antecedenteSistemicoSelect" name="antecedenteSistemicoSelect[]" data-plugin="multiselect">
                {% for antecedentes in antecedenteS%}
                  <option value="{{antecedentes.nombre}}">{{antecedentes.nombre}}</option>
                {% endfor %}  
              </select>  
            </div>        
          </div>
          <div class="row poVul" hidden>  
            <div class="col-3"></div>
            <div class="col-6">         
              <select multiple="multiple" class="multi-select" id="poblacionVulnerableSelect" name="poblacionVulnerableSelect[]" data-plugin="multiselect">
                <option>Población étnicas</option>
                <option>Población necesidades educativas especiales</option>
                <option>Población afectada por la violencia (Desplazados)</option>
                <option>Población afectada por la violencia (Niñ@s, Jovencit@s)</option>
                <option>Población afectada por la violencia (Hij@s de desmovilizados menores de 18 años)</option>
                <option>Menores en riesgo social</option>
                <option>Jóvenes y adultos iletrados</option>
                <option>Habitantes de frontera</option>
                <option>Población rural dispersa</option>
              </select>  
            </div>        
          </div>
          <div class="row facRies" hidden>  
            <div class="col-3"></div>
            <div class="col-6">         
              <select multiple="multiple" class="multi-select" id="factorRiesgoSelect" name="factorRiesgoSelect[]" data-plugin="multiselect">
                <option>Insuficiencia ponderal</option>
                <option>Prácticas sexuales de riesgo</option>
                <option>Hipertensión</option>
                <option>Consumo de tabaco y alcohol</option>
                <option>Agua insalubre</option>
                <option>Deficiencias del saneamiento</option>
                <option>Falta de higiene</option>

              </select>  
            </div>        
          </div>
          <div class="row medi" hidden>  
            <div class="col-3"></div>
            <div class="col-6">         
              <select multiple="multiple" class="multi-select" id="medicamentoSelect" name="medicamentoSelect[]" data-plugin="multiselect">
                {% for medicamento in medicamentos%}
                  <option value="{{medicamento.nombre}}">{{medicamento.nombre}}</option>
                {% endfor %}
              </select>  
            </div>        
          </div>
          <div class="row alerg" hidden>  
            <div class="col-3"></div>
            <div class="col-6">         
              <select multiple="multiple" class="multi-select" id="alergiaSelect" name="alergiaSelect[]" data-plugin="multiselect">
                {% for alergia in alergias%}
                  <option value="{{alergia.nombre}}">{{alergia.nombre}}</option>
                {% endfor %}
              </select>  
            </div>        
          </div>
          <div class="row habit" hidden>  
            <div class="col-3"></div>
            <div class="col-6">         
              <select multiple="multiple" class="multi-select" id="habitoSelect" name="habitoSelect[]" data-plugin="multiselect">
                {% for habito in habitos%}
                  <option value="{{habito.nombre}}">{{habito.nombre}}</option>
                {% endfor %}
              </select>  
            </div>        
          </div>
          <input type="hidden" id="tipo">
          <br><hr>
          <div class="text-center">
            <button type="button" onclick="guardarAnteceMedico();" class="btn btn-outline-success btnGuardarAnteMedico"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
          </div>
      </div>
      
    </div>
  </div>
</div>
<script src="{{ asset('light/dist/assets/libs/multiselect/jquery.multi-select.js') }}"></script>
<script type="text/javascript">
  $('[data-plugin="multiselect"]').length > 0 && $('[data-plugin="multiselect"]').multiSelect($(this).data());  
</script>
<!-- VENDOR JS PLANTILLA-->
<script src="{{ asset('light/dist/assets/js/vendor.min.js')}}"></script>
<!-- APP JS  PLANTILLA-->
<script src="{{ asset('light/dist/assets/js/app.min.js')}}"></script>
