<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <div class="text-center w-100"><h3 class="modal-title">LISTADO EXAMEN GENERAL</h3></div>         
            <a href="{{ path('examenGeneral_new', {'idPaciente':paciente.idPaciente}) }}">
                <button type="button" class="close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </a>
        
        </div>
      <!--Body de Modal-->
        
        <div class="modal-body">
            <table class="table" id="table_examenGeneral">
                <thead>
                    <tr>
                        <th class="text-center w-25">Fecha</th>
                        <th class="text-center w-25">Realizado</th>
                        <th class="text-center w-25">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for examenGeneral in examenGeneralTotales %}
                    <tr>
                        <td class="text-center">{{ examenGeneral.fechaApertura ? examenGeneral.fechaApertura|date('Y-m-d H:i:s') : '' }}</td>
                        <td class="text-center">{{ examenGeneral.idUsuarioProfesional }}</td>
                        <td class="text-center">
                            <form method="POST" action="{{path('examenGeneral_examenVisual', {'idPaciente':paciente.idPaciente}) }}" id="formEnvioVista_{{examenGeneral.idExamenGeneral}}" hidden>
                              <input type="hidden" name="idExamen" value="{{examenGeneral.idExamenGeneral}}">
                            </form>
                                {{ include('examenGeneral/_delete_form.html.twig') }}
                            <button class="btn btn-sm btn-outline-info waves-effect waves-light" onclick="envioExamenG({{examenGeneral.idExamenGeneral}});" title="Detalle examen"><span class="fas fa-eye"></span></button>
                            
                            <a target="_black"  href="{{ path('examenGeneral_pdf', { 'idExamenGeneral': examenGeneral.idExamenGeneral }) }}" class="imprimir"><button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light" title="Imprimir examen"><span class="mdi mdi-printer-settings"></span></button></a>
                        
                            <button class="btn  btn-sm btn-outline-danger waves-effect waves-light" title="Eliminar" onclick="return examenGConfirmDelete({{examenGeneral.idExamenGeneral}});"><span aria-hidden="true" class="mdi mdi-delete"></span></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
      
    </div>
  </div>
</div>
<div class='modalCargando'></div>
<script type="text/javascript">
    $(document).ready(function(){
        //añejo de datatable 
        newTable('#table_examenGeneral');
    });
</script>