{% extends 'base.html.twig' %}
{% block title %}Registrar examen general{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
	{{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
        	

			<style type="text/css">
			.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
			    color: #fff;
			    background-color: #f1f5f7;
			}
			</style>

        	<div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="modal-header hearVisual">
			                    <div class="text-center w-100">
			                        <h3 class="modal-title">EXAMEN GENERAL PACIENTE</h3>
			                        <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
			                    </div>              
			                </div>
            				
                                <div id="progressbarwizard">

                                    <ul >{#class="nav nav-pills bg-light nav-justified form-wizard-header mb-3">#}
                                        {#<li class="nav-item">#}
                                       	<li class="nav-item" data-target-form="#formExamenGeneral">
                                            <a href="#anamnesis" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            	<button class="btn btn-outline-success">
                                                	<i class="mdi mdi-account-circle mr-1"></i>
                                                	<span class="d-none d-sm-inline">Anamnesis</span>
                                            	</button>
                                            </a>
                                        </li>
                                        <li class="nav-item" data-target-form="#formExamenGeneral">
                                            <a href="#examenFisico" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active show">
                                            	<button class="btn btn-outline-blue">
	                                                <i class="mdi mdi-face-profile mr-1"></i>
	                                                <span class="d-none d-sm-inline">Examen físico</span>
                                            	</button>
                                            </a>
                                        </li>
                                        <li class="nav-item" data-target-form="#formExamenGeneral">
                                            <a href="#planCuidado" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                            	<button class="btn btn-outline-info">
	                                                <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
	                                                <span class="d-none d-sm-inline">Plan de cuidado</span>
                                            	</button>
                                            </a>
                                        </li>  
                                        
                                        <a onclick="examenGeneralTotal({{paciente.idPaciente}});"  class="nav-link rounded-0 pt-2 pb-2">
                                        	<button class="btn btn-outline-warning">
                                            <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                            <span class="d-none d-sm-inline">Consultar examen</span>
                                            </button>
                                        </a>
                                        <a href="#registroGeneral"  class="nav-link rounded-0 pt-2 pb-2">
	                                    	<button class="btn btn-outline-danger" onclick="habilitar();">
	                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
	                                        <span class="d-none d-sm-inline">Registrar examen</span>
	                                        </button>
	                                    </a>
                                        
                                        
                                    </ul>
                                	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formExamenGeneral'} }) }} 
                                    <div class="tab-content b-0 mb-0">
                                
                                        <div id="bar" class="progress mb-3" style="height: 7px;">
                                            <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 66.6667%;"></div>
                                        </div>
                                		
                                        <div class="tab-pane active show" id="anamnesis">
                                        	{#<form id="primeraFaseExamG" method="post" action="#" class="form-horizontal">#}
	                                            <div class="row">
	                                                <div class="col-12">
	                                                    <div class="row mb-3">       
	                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="motivoConsulta">Motivo consulta</label>&nbsp;<label class="text-danger">*</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.motivoConsulta, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.motivoConsulta)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12"></div>
													        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">               
														    	<label for="antecedenteMedico">Antecedente médico</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.antecedenteMedico, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.antecedenteMedico)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12">
													        	<button data-controls-modal="antecedenteActuales" data-backdrop="static" data-toggle="modal" data-target="#antecedenteActuales" title="Antecedentes" data-tipo="antMedico" data-datos="{{examenGeneral.antecedenteMedico}}" type="button" class="btn btn-sm btn-outline-ligth botonMas" disabled="true"><span class="fas fa-plus"></span></button>

													        	{#<button type="button" class="btn btn-sm btn-outline-ligth botonMas" onclick="antecedenteActual({{paciente.idPaciente}})" disabled="true"><span class="fas fa-plus"></span></button>#}
													        </div>
													        
	                                                    </div>
	                                                    <div class="row mb-3">       
	                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="antecedenteFamiliar">Antecedente familiar</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.antecedenteFamiliar, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.antecedenteFamiliar)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12">
													        	<button data-controls-modal="antecedenteActuales" data-backdrop="static" data-toggle="modal" data-target="#antecedenteActuales" title="Antecedentes" data-tipo="antFam" data-datos="{{examenGeneral.antecedenteFamiliar}}" type="button" class="btn btn-sm btn-outline-ligth botonMas" disabled="true"><span class="fas fa-plus"></span></button>
													        </div>
													        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="medicamento">Medicamentos</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.medicamento, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.medicamento)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12">
													        	<button data-controls-modal="antecedenteActuales" data-backdrop="static" data-toggle="modal" data-target="#antecedenteActuales" title="Medicamentos" data-tipo="medimt" data-datos="{{examenGeneral.medicamento}}" type="button" class="btn btn-sm btn-outline-ligth botonMas" disabled="true"><span class="fas fa-plus"></span></button>
													        </div>
													        
	                                                    </div>
	                                                    <div class="row mb-3">       
	                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="alergia">Alergias</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.alergia, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.alergia)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12">
													        	<button data-controls-modal="antecedenteActuales" data-backdrop="static" data-toggle="modal" data-target="#antecedenteActuales" title="Alergias" data-tipo="alergs" data-datos="{{examenGeneral.alergia}}" type="button" class="btn btn-sm btn-outline-ligth botonMas" disabled="true"><span class="fas fa-plus"></span></button>
													        </div>
													        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="factorRiesgo">Factor de riesgo</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.factorRiesgo, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.factorRiesgo)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12">
													        	<button data-controls-modal="antecedenteActuales" data-backdrop="static" data-toggle="modal" data-target="#antecedenteActuales" title="Factor riesgo" data-tipo="factRg" data-datos="{{examenGeneral.factorRiesgo}}" type="button" class="btn btn-sm btn-outline-ligth botonMas" disabled="true"><span class="fas fa-plus"></span></button>
													        </div>												        
	                                                    </div>
	                                                    <div class="row mb-3">       
	                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="determinanteSocial">Determinantes sociales</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.determinanteSocial, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.determinanteSocial)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12"></div>
													        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="poblacionVulnerable">Población vulnerable</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.poblacionVulnerable, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.poblacionVulnerable)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12">
													        	<button data-controls-modal="antecedenteActuales" data-backdrop="static" data-toggle="modal" data-target="#antecedenteActuales" title="Población vulnerable" data-tipo="pobVul" data-datos="{{examenGeneral.poblacionVulnerable}}" type="button" class="btn btn-sm btn-outline-ligth botonMas" disabled="true"><span class="fas fa-plus"></span></button>
													        </div>
													        
	                                                    </div>
	                                                    <div class="row mb-3">       
	                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="antecedenteSistemico">Antecedente sistemico</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.antecedenteSistemico, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.antecedenteSistemico)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12">
													        	<button data-controls-modal="antecedenteActuales" data-backdrop="static" data-toggle="modal" data-target="#antecedenteActuales" title="Antecedentes familiares" data-tipo="antSis" data-datos="{{examenGeneral.antecedenteSistemico}}" type="button" class="btn btn-sm btn-outline-ligth botonMas" disabled="true"><span class="fas fa-plus"></span></button>
													        </div>
													        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="habito">Hábitos</label>
															</div>
													        <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12 form-group"> 
													            {{ form_widget(form.habito, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.habito)}}</div>
													        </div>
													        <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12">
													        	<button data-controls-modal="antecedenteActuales" data-backdrop="static" data-toggle="modal" data-target="#antecedenteActuales" title="Habitos" data-tipo="habit" data-datos="{{examenGeneral.habito}}" type="button" class="btn btn-sm btn-outline-ligth botonMas" disabled="true"><span class="fas fa-plus"></span></button>
													        </div>												        
	                                                    </div>
	                                                    <div class="row mb-3">       
	                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="otro">Otro</label>
															</div>
													        <div class="col-xg-9 col-lg-9 col-md-9 col-sm-12 form-group"> 
													            {{ form_widget(form.otro, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.otro)}}</div>
													        </div>												        
	                                                    </div>
	                                                    <div class="row mb-3">       
	                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
														    	<label for="embarazo">Embarazo</label>
															</div>
													        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12 form-group"> 
													            {{ form_widget(form.embarazo, { 'attr': {'disabled': 'true'} }) }}
													            <div class="invalid-feedback">{{ form_errors(form.embarazo)}}</div>
													        </div>												        
	                                                    </div>
	                                                </div> <!-- end col -->
	                                            </div> <!-- end row -->
                                        	{#</form>#}
                                        </div>

                                        <div class="tab-pane" id="examenFisico">
                                        	{#<form id="segundaFaseExamG" method="post" action="#" class="form-horizontal">#}
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="cara">Cara</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.cara, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.cara)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="ganglios">Ganglios</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.ganglios, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.ganglios)}}</div>
												        </div>									        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="maxilarMandibula">Maxilar y mandíbular</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.maxilarMandibula, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.maxilarMandibula)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="musculo">Músculos</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.musculo, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.musculo)}}</div>
												        </div>												        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="labio">Labios</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.labio, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.labio)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="carillo">Carillos</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.carillo, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.carillo)}}</div>
												        </div>											        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="encia">Encia</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.encia, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.encia)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="lengua">Lengua</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.lengua, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.lengua)}}</div>
												        </div>												        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="pisoBocal">Piso boca</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.pisoBocal, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.pisoBocal)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="paladar">Paladar</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.paladar, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.paladar)}}</div>
												        </div>											        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="orfaringe">Orfaringe</label>
														</div>
												        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12 form-group"> 
												            {{ form_widget(form.orfaringe, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.orfaringe)}}</div>
												        </div>											        
                                                    </div>
                                                    <div class="row mb-3 btn-secondary text-center">
                                                    	<h5 class="col-12 text-light">ATM</h5>
                                                    </div>
                                                    <div class=" row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="dolorMuscular">Dolor múscular</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.dolorMuscular, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.dolorMuscular)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="dolorArtilar">Dolor articular</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.dolorArtilar, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.dolorArtilar)}}</div>
												        </div>												        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="ruidoArtilar">Ruido articular</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.ruidoArtilar, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.ruidoArtilar)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="alteracionMovimiento">Alteraciones movimiento</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.alteracionMovimiento, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.alteracionMovimiento)}}</div>
												        </div>										        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="malOclusion">Mal oclusiones</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.malOclusion, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.malOclusion)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="crecimientoDesarrollo">Crecimiento y desarrollo</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.crecimientoDesarrollo, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.crecimientoDesarrollo)}}</div>
												        </div>											        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="fasetaDesgaste">Fasetas de desgaste</label>
														</div>
												        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12 form-group"> 
												            {{ form_widget(form.fasetaDesgaste, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.fasetaDesgaste)}}</div>
												        </div>								        
                                                    </div>                                                    
                                                    <div class="row mb-3 btn-secondary text-center">
                                                    	<h5 class="col-12 text-light">Tejidos Dentales</h5>
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="nDienteTP">Dientes</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.nDienteTP, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.nDienteTP)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="estadoEstructural">Estado estructural</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.estadoEstructural, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.estadoEstructural)}}</div>
												        </div>											        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="alteracionFlurosis">Alteraciones flurosis</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.alteracionFlurosis, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.alteracionFlurosis)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="rehabilitacion">Rehabilitaciones</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.rehabilitacion) }}
												            <div class="invalid-feedback">{{ form_errors(form.rehabilitacion)}}</div>
												        </div>											        
                                                    </div>                                                    
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="saliva">Saliva</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.saliva, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.saliva)}}</div>
												        </div>
												        <div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="funcionTejido">Funciones tejidos y estructura</label>
														</div>
												        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12 form-group"> 
												            {{ form_widget(form.funcionTejido, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.funcionTejido)}}</div>
												        </div>											        
                                                    </div>
                                                    <div class="row mb-3">       
                                                    	<div class=" col-xg-2 col-lg-2 col-md-2 col-sm-12">                
													    	<label for="placa">Placa</label>
														</div>
												        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12 form-group"> 
												            {{ form_widget(form.placa, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.placa)}}</div>
												        </div>								        
                                                    </div>
                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                        	{#</form>#}
                                        </div>

                                        <div class="tab-pane" id="planCuidado">
                                           {# <form id="terceraFaseExamG" method="post" action="#" class="form-horizontal">#}
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row mb-3">       
                                                    	 <div class="col-xg-6 col-lg-6 col-md-6 col-sm-12 form-group"> 
												            {{ form_widget(form.remocionPlaca, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.remocionPlaca)}}</div>
												        </div>
												        <div class="col-xg-6 col-lg-6 col-md-6 col-sm-12 form-group"> 
												            {{ form_widget(form.fluor, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.fluor)}}</div>
												        </div>											        
                                                    </div>
                                                    <div class="form-group row mb-3">       
                                                    	 <div class="col-xg-6 col-lg-6 col-md-6 col-sm-12 form-group"> 
												            {{ form_widget(form.detartraje, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.detartraje)}}</div>
												        </div>
												        <div class="col-xg-6 col-lg-6 col-md-6 col-sm-12 form-group"> 
												            {{ form_widget(form.sellante, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.sellante)}}</div>
												        </div>											        
                                                    </div>
                                                    <div class="form-group row mb-3">       
                                                    	 <div class="col-xg-6 col-lg-6 col-md-6 col-sm-12 form-group"> 
												            {{ form_widget(form.valoracionMedicina, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.valoracionMedicina)}}</div>
												        </div>
												        <div class="col-xg-6 col-lg-6 col-md-6 col-sm-12 form-group"> 
												            {{ form_widget(form.educacionGrupal, { 'attr': {'disabled': 'true'} }) }}
												            <div class="invalid-feedback">{{ form_errors(form.educacionGrupal)}}</div>
												        </div>											        
                                                    </div>
                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                            <div class="row mt-3">
                                            	<div class="col-12">
                                            	<table class="table table-hover" id="table_planCuidado">
                                            		<thead>
                                            			<tr>
                                            				<th class="text-center">Plan cuidado</th>
                                            				<th class="text-center">Año</th>
                                            				<th class="text-center">Frecuencia</th>
                                            				<th class="text-center">Estado</th>
                                            			</tr>
                                            		</thead>
                                            		<tbody>
                                            			{% set anioEdad = edad | split('años')%}
                                            			{% if sellantes | length > 0%}
	                                            			{% for datoSellante in sellantes%}
		                                            			<tr>
		                                            				<td class="text-center">{{datoSellante.tipo}}</td>
		                                            				<td class="text-left">{{datoSellante.anio}}</td>
		                                            				<td class="text-left">{{datoSellante.cantidadRegistros}}</td>
		                                            				<td class="text-left">{% if datoSellante.cantidadRegistros >= 2%} Completo {% elseif datoSellante.cantidadRegistros == 1 and (anioEdad[0] < 16 or anioEdad[0] >= 3)  %}Completo {% elseif datoSellante.cantidadRegistros >= 1 and anioEdad[0] >= 16  %} Proceso Finalizado {% else %} Faltante{%  endif %}</td>
		                                            			</tr>                                            			
	                                            			{% endfor %}
	                                            		{% else %}	
	                                            			{% if anioEdad[0] > 2 and anioEdad[0] < 16%}
	                                            				<tr>
		                                            				<td class="text-center text-danger" colspan="4">Requiere aplicación de sellante</td>
		                                            				<td style="display: none;"></td>
		                                            				<td style="display: none;"></td>
		                                            				<td style="display: none;"></td>td>
		                                            			</tr>   
	                                            			{% endif %}
	                                            		{% endif %}	
	                                            		{% if fluors | length > 0%}
	                                            			{% for datoFluors in fluors%}
		                                            			<tr>
		                                            				<td class="text-center">{{datoFluors.tipo}}</td>
		                                            				<td class="text-left">{{datoFluors.anio}}</td>
		                                            				<td class="text-left">{{datoFluors.cantidadRegistros}}</td>
		                                            				<td class="text-left">{% if datoFluors.cantidadRegistros >= 2%} Completo {% elseif datoFluors.cantidadRegistros == 1 and (anioEdad[0] < 16 or anioEdad[0] >= 3)  %}Completo {% elseif datoFluors.cantidadRegistros >= 1 and anioEdad[0] >= 16  %} Proceso Finalizado {% else %} Faltante{%  endif %}</td>
		                                            			</tr>                                            			
	                                            			{% endfor %}
	                                            		{% else %}	
	                                            			{% if anioEdad[0] > 4 and anioEdad[0] < 20%}
	                                            				<tr>
		                                            				<td class="text-center text-danger" colspan="4">Requiere aplicación de fluor</td>
		                                            				<td style="display: none;"></td>
		                                            				<td style="display: none;"></td>
		                                            				<td style="display: none;"></td>
		                                            			</tr>   
	                                            			{% endif %}
	                                            		{% endif %}	
	                                            		{% if detartrajes | length > 0%}	
	                                            			{% for datoDetartrajes in detartrajes%}
		                                            			<tr>
		                                            				<td class="text-center">{{datoDetartrajes.tipo}}</td>
		                                            				<td class="text-left">{{datoDetartrajes.anio}}</td>
		                                            				<td class="text-left">{{datoDetartrajes.cantidadRegistros}}</td>
		                                            				<td class="text-left">{% if datoDetartrajes.cantidadRegistros >= 1 %} Completo {% else %} Faltante{%  endif %}</td>
		                                            			</tr>                                            			
	                                            			{% endfor %}
	                                            		{% else %}	
	                                            			{% if anioEdad[0] > 12 %}
	                                            				<tr>
		                                            				<td class="text-center text-danger" colspan="4">Requiere aplicación detartraje</td>
		                                            				<td style="display: none;"></td>
		                                            				<td style="display: none;"></td>
		                                            				<td style="display: none;"></td>
		                                            			</tr>   
	                                            			{% endif %}
	                                            		{% endif %}	
	                                            		{% if remocionPlacas | length > 0%}
	                                            			{% for datoRemocionPlacas in remocionPlacas%}
		                                            			<tr>
		                                            				<td class="text-center">{{datoRemocionPlacas.tipo}}</td>
		                                            				<td class="text-left">{{datoRemocionPlacas.anio}}</td>
		                                            				<td class="text-left">{{datoRemocionPlacas.cantidadRegistros}}</td>
		                                            				<td class="text-left">{% if datoRemocionPlacas.cantidadRegistros >= 2 and (anioEdad[0] < 20 or anioEdad[0] >= 1)  %}Completo {% elseif datoRemocionPlacas.cantidadRegistros >= 1 and anioEdad[0] >= 20  %} Completo {% else %} Faltante{%  endif %}</td>
		                                            			</tr>                                            			
	                                            			{% endfor %}
	                                            		{% else %}	
	                                            			{% if anioEdad[0] >= 1 %}
	                                            				<tr>
		                                            				<td class="text-center text-danger" colspan="4">Requiere remosión de placa bacteriana</td>
		                                            				<td style="display: none;"></td>
		                                            				<td style="display: none;"></td>
		                                            				<td style="display: none;"></td>
		                                            			</tr>   
	                                            			{% endif %}
	                                            		{% endif %}	
                                            		</tbody>
                                            	</table>
                                            	</div>
                                            </div>
                                        	{#</form>#}
                                        </div>

                                        <ul class="list-inline mb-0 wizard">
                                            <li class="previous list-inline-item">
                                                <a href="javascript: void(0);" class="btn btn-outline-info btnAnterior">Anterior</a>
                                            </li>
                                            <li class="next list-inline-item float-right">
                                                <a href="javascript: void(0);" class="btn btn-outline-info btnSiguiente">Siguiente</a>
                                               	<button class="btn btn-outline-success guardarExamanG" hidden disabled="true">Guardar</button>
                                            </li>
                                        </ul>                                        
                                    </div> <!-- tab-content -->
                                    <div hidden>
						            	{{ form_widget(form.idPaciente) }}
						            	{{ form_widget(form.idUsuarioProfesional) }}
						            </div>
						            {{ form_end(form) }}
                                </div> <!-- end #progressbarwizard-->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
          </div>
        </div>
    </div>
</div>	
{{ include('examenGeneral/antecedenteTotal.html.twig') }}
<div class="modal fade" id="datosActualesMas"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('light/dist/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js')}}"></script>
    <script src="{{ asset('light/dist/assets/js/pages/form-wizard.init.js')}}"></script>
    <script type="text/javascript">
		$(document).ready(function(){
		    //añejo de datatable 
		    newTable('#table_planCuidado');
		});
	</script>
{% endblock %}