<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <style type="text/css">
	    table, tr, td, th, tbody, thead, tfoot {
		    page-break-inside: avoid;
		}
	    b, p, th, td{
	      font-size: 14pt;
	     }
	    @media print {
	      /* reglas */
	      .borde{
	        border: #4cae4c 0px solid;
	      }
	    }
	    
	    .table1 {
	      width: 100%;
	      max-width: 100%;
	      margin-bottom: 20px;
	      border-collapse: collapse; 
	    }
	    .table1 > thead > tr > th,
	    .table1 > tbody > tr > th,
	    .table1 > tfoot > tr > th,
	    .table1 > thead > tr > td,
	    .table1 > tbody > tr > td,
	    .table1 > tfoot > tr > td {
	      padding: 8px;
	      line-height: 1.42857143;
	      vertical-align: top;
	    }
	    .table1 > thead > tr > th {
	      vertical-align: bottom;
	      border-bottom: 2px solid #ddd;
	    }
	    .table1 > caption + thead > tr:first-child > th,
	    .table1 > colgroup + thead > tr:first-child > th,
	    .table1 > thead:first-child > tr:first-child > th,
	    .table1 > caption + thead > tr:first-child > td,
	    .table1 > colgroup + thead > tr:first-child > td,
	    .table1 > thead:first-child > tr:first-child > td {
	      border-top: 0;
	    }
	    .table1 > tbody + tbody {
	      border-top: 2px solid #ddd;
	    }
	    .table1 .table1 {
	      background-color: #fff;
	    }
    </style>
  </head>                           
  <body style="background-color: white;">
    <div class="col-md-12"> 
      <div class="row" style="height: 150px; display: table;">
        {% if examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.idSedeClinica != '' %}
          <div class="col-md-10 text-center" style="display: table-cell; vertical-align: middle;">
            <p class="h3"><b>{{examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.idSedeClinica | capitalize}}</b></p>
            <p class="h4"><b>N° identificación: {{examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.idSedeClinica.nit | capitalize}}</b></p>
            <p class="h4"><b>Dirección: {{examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.idSedeClinica.direccion | capitalize}}</b></p>
            <p class="h4"><b>Tel: {{examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.idSedeClinica.movil | capitalize}}</b></p>
            <p class="h4"><b>Examen general n° {{examenGeneral.idExamenGeneral}}</b></p>
          </div>
          <div class="col-md-2" style="display: table-cell; vertical-align: middle;">
            <img src="{{ pathToWeb  ~ asset('light/dist/assets/uploads/clinica/' ~ examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.idSedeClinica.logo) }}" alt="Image" class="rounded-sm float-right" width="180" height="140">
          </div>
        {% else %}
          <div class="col-md-10 text-center" style="display: table-cell; vertical-align: middle;">
            <p class="h3"><b>{{examenGeneral.idPaciente.idUsuarioIngresa.idSucursal | capitalize}}</b></p>
            <p class="h4"><b>N° identificación: {{examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.nit | capitalize}}</b></p>
            <p class="h4"><b>Dirección: {{examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.direccion | capitalize}}</b></p>
            <p class="h4"><b>Tel: {{examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.movil | capitalize}}</b></p>
            <p class="h4"><b>Examen general n° {{examenGeneral.idExamenGeneral}}</b></p>
          </div>
          <div class="col-md-2" style="display: table-cell; vertical-align: middle;">
            <img src="{{ pathToWeb  ~ asset('light/dist/assets/uploads/clinica/' ~ examenGeneral.idPaciente.idUsuarioIngresa.idSucursal.logo) }}" alt="Image" class="rounded-sm float-right" width="180" height="140">
          </div>
        {% endif %}
      </div>
      <hr> 
      <div class="row mt-2">
        <div class="col-md-12 btn-success text-center" ><h2 class="text-light">Paciente</h2></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12" ><b>Datos Personales</b></div>
      </div>     
      <div class="row mt-2">
        <div class="col-md-6"></div>
        <div class="col-md-3" ><b>Fecha ingreso:</b></div>
        <div class="col-md-3 text-left"><p>{{examenGeneral.idPaciente.fechaApertura | date('d M Y H:i:s', false)}}</p></div>
      </div>      
      <div class="row mt-2">
        <div class="col-md-3" ><b>{{examenGeneral.idPaciente.tipoIdentificacion}}:</b></div>
        <div  class="col-md-3"><p>{{examenGeneral.idPaciente.numeroIdentificacion}}</p></div>
        <div class="col-md-3" ><b>Expedición:</b></div>
        <div  class="col-md-3"><p>{{examenGeneral.idPaciente.expedicionDocumento}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Nombre:</b></div>
        <div  class="col-md-9"><p>{{examenGeneral.idPaciente.nombres}} {{examenGeneral.idPaciente.primerApellido}} {{examenGeneral.idPaciente.segundoApellido}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Dirección domicilio:</b></div>
        <div class="col-md-3"><p>{{examenGeneral.idPaciente.dirrecionDomicilio}}</p></div>
        <div class="col-md-3" ><b>Municipio:</b></div>
        <div class="col-md-3" ><p>{{examenGeneral.idPaciente.idMunicipio}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>E-mail</b></div>
        <div  class="col-md-9"><p>{{examenGeneral.idPaciente.email ? examenGeneral.idPaciente.email : '-'}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Celular contacto:</b></div>
        <div class="col-md-3" ><p>{{examenGeneral.idPaciente.celular}}</p></div>
        <div class="col-md-3" ><b>Teléfono domicilio:</b></div>
        <div class="col-md-3" ><p>{{examenGeneral.idPaciente.telefonoDomicilio ? examenGeneral.idPaciente.telefonoDomicilio : '-'}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Fecha Nacimiento:</b></div>
        <div class="col-md-3" ><p>{{examenGeneral.idPaciente.fechaNacimiento ? examenGeneral.idPaciente.fechaNacimiento | date('Y-m-d', false) : '-'}} - {{examenGeneral.idPaciente.lugarNacimiento}}</p></div>
        <div class="col-md-3" ><b>Edad:</b></div>
        <div class="col-md-3" ><p>{{edad}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Sexo:</b></div>
        <div class="col-md-3" ><p>{{examenGeneral.idPaciente.sexo | capitalize}}</p></div>
        <div class="col-md-3" ><b>Estado civil:</b></div>
        <div class="col-md-3" ><p>{{examenGeneral.idPaciente.estadoCivil | capitalize}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Ocupación:</b></div>
        <div class="col-md-3" ><p>{{examenGeneral.idPaciente.ocupacion | capitalize}}</p></div>
        <div class="col-md-3" ><b>Estado:</b></div>
        <div class="col-md-3 text-success" ><p>{{examenGeneral.idPaciente.estado ? 'Activo' : 'Inactivo'}}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3" ><b>Eps:</b></div>
        <div class="col-md-3" ><p>{{examenGeneral.idPaciente.idEps | capitalize}}</p></div>
        <div class="col-md-3" ><b>Régimen:</b></div>
        <div class="col-md-3" ><p>{{examenGeneral.idPaciente.regimen | capitalize}}</p></div>
      </div>
      <hr> 
      <div class="row mt-2">
          <div class="col-12"><b>Datos Persona Responsable</b></div>
      </div>        
      <div class="row mt-2">
        <div class="col-3"><b>Nombre</b></div>
        <div class="col-3"><p>{{ examenGeneral.idPaciente.nombrePResponsable }}</p></div>
        <div class="col-3"><b>Contato</b></div>
        <div class="col-3"><p>{{ examenGeneral.idPaciente.telefonoPersonaResponsable }}</p></div>
      </div>
      <div class="row mt-2">
        <div class="col-3"><b>Parentesco</b></div>
        <div class="col-9"><p>{{ examenGeneral.idPaciente.parentesco }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-12"><b>Datos Acompañante</b></div>
      </div>
      <div class="row mt-2">
        <div class="col-3"><b>Nombre</b></div>
        <div class="col-3"><p>{{ examenGeneral.idPaciente.nombreAcompanante }}</p></div>
        <div class="col-3"><b>Contacto</b></div>
        <div class="col-3"><p>{{ examenGeneral.idPaciente.movilAcompanante }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-md-12 btn-success ">
        	<h2 class="text-center text-light">Examen General</h2>
        	<p class="text-right"><b>FI: </b>{{ examenGeneral.fechaApertura ? examenGeneral.fechaApertura|date('Y-m-d H:i:s') : '' }}</p>
        </div>
      </div>
      <div class="row mb-3 btn-secondary text-center">
    		<h4 class="col-12 text-light">Datos Anamnesis</h5>
      </div>
      <div class="row mt-2">
        <div class="col-3"><b>Motivo consulta</b></div>
        <div class="col-9"><p>{{ examenGeneral.motivoConsulta }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Antecedente médico</b></div>
        <div class="col-9"><p>{{ examenGeneral.antecedenteMedico ? examenGeneral.antecedenteMedico : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Antecedente familiar</b></div>
        <div class="col-9"><p>{{examenGeneral.antecedenteFamiliar ? examenGeneral.antecedenteFamiliar : '-'}}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Medicamento</b></div>
        <div class="col-9"><p>{{ examenGeneral.medicamento ? examenGeneral.medicamento : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Alergia</b></div>
        <div class="col-9"><p>{{examenGeneral.alergia ? examenGeneral.alergia : '-'}}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Factor riesgo</b></div>
        <div class="col-9"><p>{{ examenGeneral.factorRiesgo ? examenGeneral.factorRiesgo : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Determinante social</b></div>
        <div class="col-9"><p>{{ examenGeneral.determinanteSocial ? examenGeneral.determinanteSocial : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Poblacion vulnerable</b></div>
        <div class="col-9"><p>{{ examenGeneral.poblacionVulnerable ? examenGeneral.poblacionVulnerable : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Antecedente sistemico</b></div>
        <div class="col-9"><p>{{ examenGeneral.antecedenteSistemico ? examenGeneral.antecedenteSistemico : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Otro</b></div>
        <div class="col-9"><p>{{ examenGeneral.otro ? examenGeneral.otro : '-'  }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Embarazad@</b></div>
        <div class="col-9"><p>{{ examenGeneral.embarazo ? 'Si' : 'No' }}</p></div>
      </div>
      <div class="row mb-3 btn-secondary text-center">
    		<h4 class="col-12 text-light">Examen Físico</h5>
      </div>
      <div class="row mt-2">
        <div class="col-3"><b>Cara</b></div>
        <div class="col-9"><p>{{ examenGeneral.cara  ? examenGeneral.cara : '-'  }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Ganglios</b></div>
        <div class="col-9"><p>{{ examenGeneral.ganglios ? examenGeneral.ganglios : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Maxilar mandibular</b></div>
        <div class="col-9"><p>{{examenGeneral.maxilarMandibula ? examenGeneral.maxilarMandibula : '-'}}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Musculo</b></div>
        <div class="col-9"><p>{{ examenGeneral.musculo ? examenGeneral.musculo : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Alergia</b></div>
        <div class="col-9"><p>{{examenGeneral.alergia ? examenGeneral.alergia : '-'}}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Labios</b></div>
        <div class="col-9"><p>{{ examenGeneral.labio ? examenGeneral.labio : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Carillos</b></div>
        <div class="col-9"><p>{{ examenGeneral.carillo ? examenGeneral.carillo : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Encia</b></div>
        <div class="col-9"><p>{{ examenGeneral.encia ? examenGeneral.encia : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Lengua</b></div>
        <div class="col-9"><p>{{ examenGeneral.lengua ? examenGeneral.lengua : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Piso boca</b></div>
        <div class="col-9"><p>{{ examenGeneral.pisoBocal ? examenGeneral.pisoBocal : '-'  }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Paladar</b></div>
        <div class="col-9"><p>{{ examenGeneral.paladar ? examenGeneral.paladar : '-' }}</p></div>
      </div>
      <hr>      
      <div class="row mt-2">
        <div class="col-3"><b>Orfaringe</b></div>
        <div class="col-9"><p>{{ examenGeneral.orfaringe ? examenGeneral.orfaringe : '-' }}</p></div>
      </div>
      <div class="row mb-3 btn-light text-center">
    		<h4 class="col-12 text-secondary">ATM</h5>
      </div>
      <div class="row mt-2">
        <div class="col-3"><b>Dolor muscular</b></div>
        <div class="col-9"><p>{{ examenGeneral.dolorMuscular  ? examenGeneral.dolorMuscular : '-'  }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Dolor articular</b></div>
        <div class="col-9"><p>{{ examenGeneral.dolorArtilar ? examenGeneral.dolorArtilar : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Ruido articular</b></div>
        <div class="col-9"><p>{{examenGeneral.ruidoArtilar ? examenGeneral.ruidoArtilar : '-'}}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Alteración movimiento</b></div>
        <div class="col-9"><p>{{ examenGeneral.alteracionMovimiento ? examenGeneral.alteracionMovimiento : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Mal oclusión</b></div>
        <div class="col-9"><p>{{examenGeneral.malOclusion ? examenGeneral.malOclusion : '-'}}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Crecimiento y desarrollo</b></div>
        <div class="col-9"><p>{{ examenGeneral.crecimientoDesarrollo ? examenGeneral.crecimientoDesarrollo : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Faseta de desgaste</b></div>
        <div class="col-9"><p>{{ examenGeneral.fasetaDesgaste ? examenGeneral.fasetaDesgaste : '-' }}</p></div>
      </div>      
      <div class="row mb-3 btn-light text-center">
    		<h4 class="col-12 text-secondary">Tejidos dentales</h5>
      </div>
      <div class="row mt-2">
        <div class="col-3"><b>Dientes</b></div>
        <div class="col-9"><p>{{ examenGeneral.nDienteTP ? examenGeneral.nDienteTP : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Estado estructural</b></div>
        <div class="col-9"><p>{{ examenGeneral.estadoEstructural ? examenGeneral.estadoEstructural : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Alteración flurosis</b></div>
        <div class="col-9"><p>{{ examenGeneral.alteracionFlurosis ? examenGeneral.alteracionFlurosis : '-'  }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Rehabilitación</b></div>
        <div class="col-9"><p>{{ examenGeneral.rehabilitacion ? examenGeneral.rehabilitacion : '-' }}</p></div>
      </div>
      <hr>      
      <div class="row mt-2">
        <div class="col-3"><b>Saliva</b></div>
        <div class="col-9"><p>{{ examenGeneral.saliva ? examenGeneral.saliva : '-' }}</p></div>
      </div>
      <hr>
      <div class="row mt-2">
        <div class="col-3"><b>Funciones tejidos y estructura</b></div>
        <div class="col-9"><p>{{ examenGeneral.funcionTejido ? examenGeneral.funcionTejido : '-' }}</p></div>
      </div>
      <hr>      
      <div class="row mt-2">
        <div class="col-3"><b>Placa</b></div>
        <div class="col-9"><p>{{ examenGeneral.placa ? examenGeneral.placa : '-' }}</p></div>
      </div>      
      <div class="row mb-3 btn-secondary text-center">
    		<h4 class="col-12 text-light">Plan cuidado</h5>
      </div>      
      <div class="row mt-2">
        <div class="col-3"><b>Remoción placa</b></div>
        <div class="col-3"><p>{{ examenGeneral.remocionPlaca ? 'Si' : 'No' }}</p></div>
        <div class="col-3"><b>Aplicación fluor</b></div>
        <div class="col-3"><p>{{ examenGeneral.fluor ? 'Si' : 'No' }}</p></div>
      </div>
      <hr>     
      <div class="row mt-2">
        <div class="col-3"><b>Detartraje suplagingival</b></div>
        <div class="col-3"><p>{{ examenGeneral.detartraje ? 'Si' : 'No' }}</p></div>
        <div class="col-3"><b>Aplicación sellante</b></div>
        <div class="col-3"><p>{{ examenGeneral.sellante ? 'Si' : 'No' }}</p></div>
      </div>
      <hr>     
      <div class="row mt-2">
        <div class="col-3"><b>Valoración por medicina o enfermeria</b></div>
        <div class="col-3"><p>{{ examenGeneral.valoracionMedicina ? 'Si' : 'No' }}</p></div>
        <div class="col-3"><b>Educación grupal</b></div>
        <div class="col-9"><p>{{ examenGeneral.educacionGrupal ? 'Si' : 'No' }}</p></div>
      </div>
    </div>     
  </body>
</html><br>