{% extends 'base.html.twig' %}

{% block title %}Convenio{% endblock %}
{% block stylesheets %}
{{parent()}}
<!--link href="{{ asset('light/dist/assets/libs/footable/footable.core.min.css')}}" rel="stylesheet" type="text/css" /-->
{% endblock %}
{% block body %}
<div class="row mt-3">  
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header card-title text-center">
                    <h1>CONVENIO</h1>
                </div>
                <hr>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden>
                </div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
          
                <div class="table-responsive" style="width: 96%; margin: 15px;" >
                  <table class="table" id="table_convenio">
                    <thead>
                      <tr>
                          <th></th>
                          <th class="text-center">Nombre</th>
                          <th class="text-center">Eps</th>
                          <th class="text-center">Fecha Convenio</th>
                          <th class="text-center">Estado</th>
                          <th class="text-center w-30">Acciones</th>
                          <th>
                            <a style="float: right;" data-controls-modal="crearConvenio" data-backdrop="static" data-toggle="modal" data-target="#crearConvenio" title="Crear convenio"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                          </th> 
                      </tr>
                    </thead>
                    <tbody>
                    {% for convenio in convenios %}
                    {% set idConvenio=convenio.idConvenio %}
                      <tr class="header expand" title="Ver" style="background: #F9F9F9;">
                        <td><span class="fas sign"></span></td>
                        <td class="text-left">{{ convenio.nombre }}</td>
                        <td class="text-left">{{ convenio.idEps }}</td>
                        <td class="text-left">{{ convenio.fechaApertura ? convenio.fechaApertura|date('d-m-Y','America/Bogota') : '' }}</td>
                        <td class="text-center">{{ convenio.estado ? '<p class="text-success">Activo</p>' : '<p class="text-danger">Inactivo</p>' }}</td>
                        <td class="text-center" colspan="2">
                          <button type="button" onclick="mostrar({{convenio.idConvenio}})" title="Detalle convenio" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button>
                          {% if convenio.estado == true %}
                            <button type="button" onclick="envioCrearConvenioTratamiento( {{convenio.idConvenio}});" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear convenio tratamiento" ><span class="fe-share-2"></span></button>
                            <button type="button" onclick="editarConvenio({{convenio.idConvenio}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar convenio"><span class="fas fa-edit"></span></button>
                          {% else %}                            
                            <button type="button" disabled="false" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear convenio tratamiento" ><span class="fe-share-2"></span></button>
                            <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar convenio"><span class="fas fa-edit"></span></button>
                          {% endif %}

                          <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ convenio.idConvenio }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                        </td>
                        <td style="display: none;"></td>
                      </tr>   
                      {% for convenioTratamiento in conveniosTratamientos %}  
                        {% if convenioTratamiento.idConvenio.idConvenio == idConvenio %}    
                        <tr>
                          <td></td>
                          <td class="text-left">{{ convenioTratamiento.idTratamiento }}</td>
                          <td class="text-left">T - {{convenioTratamiento.porcentajeTratamiento}}%</td>
                          <td class="text-left">R - {{convenioTratamiento.porcentajeRemision}}%</td>
                          <td class="text-left">{{ convenioTratamiento.estado ? 'Activo' : 'Inactivo' }}</td>
                          <td class="text-center" colspan="2">
                            {% if convenioTratamiento.estado == true %}
                              <button type="button" onclick="editarTratamientoConvenio({{convenioTratamiento.idTratamientoConvenio}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar convenio tratamiento"><span class="fas fa-edit"></span></button>
                            {% else %}                            
                              <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar convenio tratamiento"><span class="fas fa-edit"></span></button>
                            {% endif %}
                            {% if convenio.estado == true %}
                              <a  class="cambiarEstadoTratamientoConvenio" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{convenioTratamiento.idTratamientoConvenio}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                            {% endif %}  
                          </td>
                          <td style="display: none;"></td>
                        </tr>  
                        {% endif %}                
                      {% endfor %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>                
            </div>
        </div>
    </div>
</div>
{{ include('convenio/modalNewconvenio.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade" id="datosConvenio"></div>
{% endblock %}      
{% block javascripts %}
{{parent()}}
<script type="text/javascript">

$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_convenio');
});  
$( ".cambiarEstado").click( function(){
  var idConvenio= $(this).data('id');
   var tipo = 'convenio';
  $('.modal-body #id').val(idConvenio);
  $('.modal-body #tipo').val(tipo);

});

$( ".cambiarEstadoTratamientoConvenio").click( function(){
  var idTratamientoConvenio= $(this).data('id');
   var tipo = 'tratamientoConvenio';
  $('.modal-body #id').val(idTratamientoConvenio);
  $('.modal-body #tipo').val(tipo);

});

function mostrar(id) {
  // alert(id); 
  var url = "/convenio/"+id+"/show";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
          beforeSend: function () {
          $('body').addClass('loading'); //Agregamos la clase loading al body
        },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosConvenio').modal('show');
      $('#datosConvenio').html(respuesta);
    },
            // código a ejecutar si la petición falla;
          error : function(xhr, status) {
              $('body').removeClass('loading');
              $('.resp').removeAttr('hidden');
              $('.resp').html('Disculpe, existió un problema en la conexión.');
          },  
  });
}

function envioCrearConvenioTratamiento(idConvenio){
  var url = "/convenio/newTratamientoConvenio";

  $.ajax({
    type: 'POST',
    url:url,
    data:{'idConvenio':idConvenio},
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosConvenio').modal('show');
      $('#datosConvenio').html(respuesta);

    },

      // código a ejecutar si la petición falla;
      error : function(xhr, status) {
          $('body').removeClass('loading');
          $('.resp').removeAttr('hidden');
          $('.resp').html('Disculpe, existió un problema en la conexión.');
      },
  });
}

function editarConvenio(id) {
  // alert(id); 
  var url = "/convenio/"+id+"/edit";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
          $('body').addClass('loading'); //Agregamos la clase loading al body
        },
    success: function(respuesta){
      $('body').removeClass('loading');
          $('#datosConvenio').modal('show'); 
          $('#datosConvenio').html(respuesta);
    },
    // código a ejecutar si la petición falla;
          error : function(xhr, status) {
              $('body').removeClass('loading');
              $('.resp').removeAttr('hidden');
              $('.resp').html('Disculpe, existió un problema en la conexión.');
          },
  });
}

function editarTratamientoConvenio(id) {
  // alert(id); 
  var url = "/tratamientoConvenio/"+id+"/edit";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
          $('body').addClass('loading'); //Agregamos la clase loading al body
        },
    success: function(respuesta){
      $('body').removeClass('loading');
          $('#datosConvenio').modal('show'); 
          $('#datosConvenio').html(respuesta);
    },
    // código a ejecutar si la petición falla;
          error : function(xhr, status) {
              $('body').removeClass('loading');
              $('.resp').removeAttr('hidden');
              $('.resp').html('Disculpe, existió un problema en la conexión.');
          },
  });
}
</script>
{% endblock %}
