{% extends 'baseModal.html.twig' %}
{% block title %}Detalle convenio{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">               
            <div class="text-center w-100"><h3 class="modal-title">DETALLE CONVENIO</h3></div>
            <a href="{{ path('convenio_index') }}">
                <button type="button" class="close" title="Cerrar" aria-label="Close">
                    <span aria-hidden="true" class="fa-lg">&times;</span>
                </button>
            </a>
        </div>
        <div class="modal-body">                 
            <div class="row">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Clínica</b></div>
                <div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{{convenio.idClinica}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Fechas:    Ingreso</b></div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{convenio.fechaApertura ? convenio.fechaApertura|date('d-m-Y','America/Bogota')}}</div>
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Finalización</b></div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{convenio.fechaFinalizacion ? convenio.fechaFinalizacion|date('d-m-Y','America/Bogota')}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Nombre</b></div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{convenio.nombre}}</div>
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Eps</b></div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{convenio.idEps}}</div>
            </div>
            {% if convenio.porcentajeDescuento != '' and convenio.porcentajeRemision != '' %}
            <div class="row mt-2">                    
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>% Tratamiento</b></div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{convenio.porcentajeDescuento}}</div>                    
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>% Remisión</b></div>
                <div class="col-xg-4 col-lg-4 col-md-4 col-sm-4">{{convenio.porcentajeRemision}}</div>
            </div>
            {% elseif convenio.porcentajeDescuento != ''  and convenio.porcentajeRemision == ''%}
            <div class="row mt-2">                    
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>% Tratamiento</b></div>
                <div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{{convenio.porcentajeDescuento}}</div>  
            </div>
            {% elseif convenio.porcentajeDescuento == '' and convenio.porcentajeRemision != ''%} 
            <div class="row mt-2">                    
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>% Remisión</b></div>
                <div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{{convenio.porcentajeRemision}}</div>  
            </div>   
            {% endif %}
            {% if convenio.observacion != '' %}
            <div class="row mt-2">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Observación</b></div>
                <div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{{convenio.observacion}}</div>
            </div>
            {% endif %}
            <div class="row mt-2">
                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2"><b>Estado</b></div>
                <div class="col-xg-10 col-lg-10 col-md-10 col-sm-10">{% if convenio.estado == true %} <p class="text-success">Activo</p>{% else %}<p class="text-danger">Inactivo</p>{% endif %} </div>
            </div>
        </div>
        <div class="modal-footer"> 
                <a href="{{ path('convenio_index') }}"><button class="btn btn-outline-warning atras" type="button"><span class="fas fa-times"></span>&nbsp; {{ 'Cerrar' |trans}}</button></a>
        </div>
    </div>
</div>
{% endblock %}