{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar convenio{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR CONVENIO</h3></div>
        {{ include('convenio/_delete_form.html.twig') }}
        <a href="{{ path('convenio_index') }}">
        <button type="button" title="Cerrar" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formConvenioEdit'} }) }} 
           {{ include('convenio/_form.html.twig') }}
    </div>
    <input type="hidden" id="idConvenio" value="{{convenio.idConvenio}}">
    
  </div>
</div>  
{% endblock %}
