{% extends 'base.html.twig' %}
{% block title %}Cups{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>CUPS</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            <div class="row">
              <div class="col-12">
                <a href="{{path('cieRip_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-warehouse"></span>&nbsp;&nbsp;Configuración cie</button></a>
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Configuración cups&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('ambitoRealizacion_index')}}">Ámbito realización</a>
                        <a class="dropdown-item" href="{{path('causaExterna_index')}}">Causa externa</a>
                        <a class="dropdown-item" href="{{path('cups_index')}}">Cups</a>
                        <a class="dropdown-item" href="{{path('finalidadProcedimiento_index')}}">Finalidad procedimiento</a>
                        <a class="dropdown-item" href="{{path('formaRealizacion_index')}}">Forma realización</a>
                        <a class="dropdown-item" href="{{path('personaAtiende_index')}}">Persona atiende</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_cups">
                    <thead>
                      <tr>  
                        <th></th>
                        <th class="text-left w-25">Código</th> 
                        <th class="text-left w-75">Nombre</th>       
                        <th class="text-right">Acciones</th>
                        <th>
                            <a style="float: right;" data-controls-modal="crearCups" data-backdrop="static" data-toggle="modal" data-target="#crearCups" title="Crear cup"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                        </th> 
                      </tr>
                    </thead>
                    <tbody>
                    {% for cup in cupss %}
                      <tr class="header expand" title="Ver" style="background: #F9F9F9;">
                        <td><span class="fas sign"></span></td>
                        <td class="text-left">{{ cup.idCups | capitalize}}</td>
                        <td class="text-left">{{ cup.nombre | capitalize}}</td>
                        <td class="text-right" colspan="2">
                          <button type="button" onclick="crearDiagnosticoCup( {{cup.idCups}});" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear diagnóstico cup" ><span class="fe-share-2"></span></button>
                          <button type="button" onclick="editar( {{ cup.idCups}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar cup"><span class="fas fa-edit"></span></button>                            
                        </td>
                        <td style="display: none;"></td>
                      </tr>
                      {% for cupsDiagnostico in cupsDiagnosticos %}
                        {% if cup.idCups == cupsDiagnostico.idCups.idCups %}
                          <tr>
                            <td></td>
                            <td class="text-left">{{ cupsDiagnostico.idCups | capitalize}}</td>
                            <td class="text-left">{{ cupsDiagnostico.idRips | capitalize}}</td>
                            <td class="text-right" colspan="2">
                              <button type="button" onclick="detalle( {{cupsDiagnostico.idCupDiagnostico}});" class="btn btn-sm btn-outline-info waves-effect waves-light" title="Detalle diagnóstico cup"><span class="fas fa-eye"></span></button></a>
                              <button type="button" onclick="editarDiagnosticoCup( {{ cupsDiagnostico.idCupDiagnostico}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar diagnóstico cup"><span class="fas fa-edit"></span></button>                            
                            </td>
                            <td style="display: none;"></td>
                          </tr>
                        {% endif %}  
                      {% endfor %}  
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('cups/modalNew.html.twig') }}

<div class="modal fade bd-example-modal-lg" id="datosCups"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_cups');   
});

function editar(id) {
  
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosCups').modal('show'); 
            $('#datosCups').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}


function crearDiagnosticoCup(idCups){
  var url = "/cupDiagnostico/new";

  $.ajax({
    type: 'POST',
    url:url,
    data:{'idCups':idCups},
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosCups').modal('show');
      $('#datosCups').html(respuesta);

    },

      // código a ejecutar si la petición falla;
      error : function(xhr, status) {
          $('body').removeClass('loading');
          $('.resp').removeAttr('hidden');
          $('.resp').html('Disculpe, existió un problema en la conexión.');
      },
  });
}

function editarDiagnosticoCup(id) {
  
  var url = "/cupDiagnostico/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosCups').modal('show'); 
            $('#datosCups').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
function detalle(id) {
  
  var url = "/cupDiagnostico/"+id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosCups').modal('show'); 
            $('#datosCups').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
</script>
{% endblock %}