<form method="post" action="{{ path('radiografia_delete', {'idRadiografia': radiografium.idRadiografia}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ radiografium.idRadiografia) }}">
    <button class="btn">Delete</button>
</form>
