    {% for clinica in clinicas%}
    <div class="row mt-2">
        <div class="col-2">
            {% if clinica.logo != ''%}
            <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-75">           
            {% endif %}
        </div>
        <div class="col-6 text-center">
            <p> 
                <b>{{clinica.nombre | upper}}</b><br>
                IDENTIFICACIÓN: {{clinica.nit | upper}}<br>
                {% if clinica.telefono != '' %}
                    TEL: {{clinica.telefono | upper}}<br>
                {% endif %}
                CELULAR: {{clinica.movil | upper}}<br>
                SEDE {{app.user.idSucursal.nombre | upper}}<br>
                RADIOGRAFÍA
            </p>
        </div>
        <div class="col-4 text-rigth">
            <p> <br><br><br>
                <b>Fecha:</b> {{'now' | date('d/m/Y H:i:s', 'America/Bogota')}}<br>
                <b>Página:</b> 1<br>
            </p>
        </div>
    </div>
    <hr> 
    {% endfor %}
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombre">Nombre</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.nombre) }}
            <div class="invalid-feedback">{{ form_errors(form.nombre)}}</div>
        </div>    
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="fechaApertura">Fecha aprobación</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.fechaApertura) }}
            <div class="invalid-feedback">{{ form_errors(form.fechaApertura)}}</div>
        </div>                                            
    </div>
    <div class="row mt-1">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idUsuario">Profesional</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idUsuario) }}
            <div class="invalid-feedback">{{ form_errors(form.idUsuario)}}</div>
        </div>    
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idTipoRadiografia">Tipo examen</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idTipoRadiografia) }}
            <div class="invalid-feedback">{{ form_errors(form.idTipoRadiografia)}}</div>
        </div>             

    </div>
    <hr>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Paciente:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{radiografia.idPaciente.tipoIdentificacion}}  {{radiografia.idPaciente.numeroIdentificacion}}  </p>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{radiografia.idPaciente.nombres}} {{radiografia.idPaciente.primerApellido}} {{radiografia.idPaciente.segundoApellido}}   </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Fecha nacimiento:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{radiografia.idPaciente.fechaNacimiento | date('d/m/Y H:i:s') }} </p>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Edad:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{edad}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Sexo:</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
            <p>{% if radiografia.idPaciente.sexo == 'MASCULINO'%}Hombre{% elseif radiografia.idPaciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Celular:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{radiografia.idPaciente.celular}} </p>
        </div>
        {% if radiografia.idPaciente.telefonoDomicilio != ''%}
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Teléfono:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{radiografia.idPaciente.telefonoDomicilio}}</p>
        </div>
        {% endif %}
    </div>                                        
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Dirección:</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
           {{radiografia.idPaciente.dirrecionDomicilio | capitalize}} - {{radiografia.idPaciente.idMunicipio}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="hallazgo">Hallazgo</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.hallazgo) }}
            <div class="invalid-feedback">{{ form_errors(form.hallazgo)}}</div>
        </div>                                            
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="imagen">Imagen</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class="input-group image-preview col-xg-10 col-lg-10 col-md-10 col-sm-12 form-group ">
            <input type="text" class="form-control image-preview-filename" value="{{radiografia.imagen}}" disabled="disabled"> 
            <span class="input-group-btn">
                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                    <span class="glyphicon glyphicon-remove"></span>Quitar
                </button>
                <div class="btn btn-default image-preview-input">
                    <span class="fas fa-folder-open"></span>
                    <span class="image-preview-input-title">Archivo</span>
                    {{ form_widget(form.imagen) }}
                </div>
            </span>
            <div class="invalid-feedback">{{ form_errors(form.imagen)}} </div>
        </div>
    </div>       
    
    <hr>
    <div hidden>
        {{ form_widget(form.idPaciente) }}
        {{ form_widget(form.idUsuarioIngresa) }}
    </div>
    <br>
    <div class="text-center">
        <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
    </div>
    {{ form_end(form) }}