{% extends 'base.html.twig' %}
{% block title %}Detalle radiografÍa paciente{% endblock %}

{% block body %}
    <style type="text/css">
        .flex-parent{
          display: -ms-flex;
          display: -webkit-flex;
          display: flex;
        }
         
        .flex-child{
          display: -ms-flex;
          display: -webkit-flex;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
    </style>
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          
            <div class="card-body"> 
                <div class="modal-header hearVisual">
                    <div class="text-center w-100">
                        <h3 class="modal-title">DETALLE RADIOGRAFÍA PACIENTE</h3>
                    </div>              
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">                        
                        {% for clinica in clinicas%}
                        <div class="row mt-2">
                            <div class="col-2">
                                {% if clinica.logo != ''%}
                                <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-75">           
                                {% endif %}
                            </div>
                            <div class="col-6 text-center">
                                <p> 
                                    <b>{{clinica.nombre | upper}}</b><br>
                                    IDENTIFICACIÓN: {{clinica.nit | upper}}<br>
                                    {% if clinica.telefono != '' %}
                                        TEL: {{clinica.telefono | upper}}<br>
                                    {% endif %}
                                    CELULAR: {{clinica.movil | upper}}<br>
                                    SEDE {{app.user.idSucursal.nombre | upper}}<br>
                                    RADIOGRAFÍA
                                </p>
                            </div>
                            <div class="col-4 text-rigth">
                                <p> <br><br><br>
                                    <b>Fecha:</b> {{ "now" | date('d/m/Y H:i:s', 'America/Bogota')}}<br>
                                    <b>Página:</b> 1<br>
                                </p>
                            </div>
                        </div>
                        <hr> 
                        {% endfor %}                        
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                {{ radiografia.nombre}}
                            </div>    
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="fechaApertura">Fecha aprobación</label>
                            </div>
                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                {{ radiografia.fechaApertura | date('d/m/Y H:i:s', 'America/Bogota') }}
                            </div>                                            
                        </div>
                        <div class="row mt-1">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="idUsuario">Profesional</label>
                            </div>
                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                {{ radiografia.idUsuario ? radiografia.idUsuario : ' - '}}
                            </div>    
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="idTipoRadiografia">Tipo examen</label>
                            </div>
                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                {{ radiografia.idTipoRadiografia }}
                            </div>             

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Paciente:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{radiografia.idPaciente.tipoIdentificacion}}  {{radiografia.idPaciente.numeroIdentificacion}}  </p>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{radiografia.idPaciente.nombres | capitalize}} {{radiografia.idPaciente.primerApellido | capitalize}} {{radiografia.idPaciente.segundoApellido | capitalize}}   </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Fecha nacimiento:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{radiografia.idPaciente.fechaNacimiento | date('d/m/Y H:i:s') }} </p>
                            </div>
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Edad:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{edad}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Sexo:</label>
                            </div>
                            <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                                <p>{% if radiografia.idPaciente.sexo == 'MASCULINO'%}Hombre{% elseif radiografia.idPaciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Celular:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{radiografia.idPaciente.celular}} </p>
                            </div>
                            {% if radiografia.idPaciente.telefonoDomicilio != ''%}
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Teléfono:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{radiografia.idPaciente.telefonoDomicilio}}</p>
                            </div>
                            {% endif %}
                        </div>                                        
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Dirección:</label>
                            </div>
                            <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                               {{radiografia.idPaciente.dirrecionDomicilio | capitalize}} - {{radiografia.idPaciente.idMunicipio}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="hallazgo">Hallazgo</label>
                            </div>
                            <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
                                {{ radiografia.hallazgo }}
                            </div>                                            
                        </div>
                        {% if radiografia.imagen != ''  %}
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="imagen">Imagen</label>
                            </div>
                            <div class="col-10 text-left">
                                <a target="_black"  href="{{ asset('light/dist/assets/uploads/radiografias/' ~ radiografia.imagen) }}"><img src="{{ asset('light/dist/assets/uploads/radiografias/' ~ radiografia.imagen) }}" class="rounded w-25" height="250px"></a>
                            </div>
                        </div>
                        {% endif %} 
                        <div class="mt-1">
                            <h4><u>Profesional ingreso</u></h4>
                        </div>
                        <div class="row">
                            {% if radiografia.idUsuarioIngresa.firmaProfesional != ''%}
                            <div class="col-12">
                                <img src="{{ radiografia.idUsuarioIngresa.firmaProfesional }}" class="w-25" >  
                            </div>
                            {% endif %}
                            <p class="ml-3">{{radiografia.idUsuarioIngresa | capitalize}}</p>
                        </div>
                        <br> 
                        <div class="text-center"><a href="{{ path('radiografia_index',{'idPaciente':radiografia.idPaciente.idPaciente}) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a></div>                       
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}

    
