<form method="post" class ="eliminarDato" action="{{ path('elementoOrdenCompra_delete', {'idElementoOrdenCompra': elementoOrdenCompra.idElementoOrdenCompra}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ elementoOrdenCompra.idElementoOrdenCompra) }}">
    <button class="btn btn-sm btn-outline-danger" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete"></span></button>
</form>
