{% extends 'base.html.twig' %}
{% block title %}Riesgo{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>RIESGO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Datos examen general&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('alergia_index')}}">Alergia</a>
                        <a class="dropdown-item" href="{{path('antecedente_index')}}">Antecedente</a>
                        <a class="dropdown-item" href="{{path('habito_index')}}">Hábito</a>
                        <a class="dropdown-item" href="{{path('medicamento_index')}}">Medicamento</a>
                        <a class="dropdown-item" href="{{path('riesgo_index')}}">Riesgo</a>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Datos examen endodon&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('evolucionEndodoncia_index')}}">Evolución endodoncia</a>
                        <a class="dropdown-item" href="{{path('propiedad_index')}}">Propiedades</a>
                        <a class="dropdown-item" href="{{path('provocado_index')}}">Provocado</a>
                    </div>
                </div>
                <a href="{{path('superficie_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Superficie</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_riesgo">
                    <thead>
                          <tr>  
                            <th class="text-center w-75">Nombre</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearRiesgo" data-backdrop="static" data-toggle="modal" data-target="#crearRiesgo" title="Crear riesgo"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for riesgo in riesgos %}
                        <tr>
                          <td class="text-left">{{ riesgo.nombre  | capitalize}}</td>
                          <td class="text-right" colspan="2">
                            <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left"  data-content="{{riesgo.descripcion}}" title="Detalle riesgo"><button title="Descripción"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                            {%if riesgo.estado == true%}
                            <button type="button" onclick="editar( {{ riesgo.idRiesgo }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar riesgo"><span class="fas fa-edit"></span></button>
                            {%else%}
                             <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar riesgo"><span class="fas fa-edit"></span></button>
                            {%endif%}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ riesgo.idRiesgo }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('riesgo/modalNewRiesgo.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosRiesgo"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_riesgo');
});

function editar(id) {
  // alert(id); 
  var url = "/riesgo/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosRiesgo').modal('show'); 
            $('#datosRiesgo').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

$( ".cambiarEstado").click( function(){
  var idRiesgo= $(this).data('id');
   var tipo = 'riesgo';
  $('.modal-body #id').val(idRiesgo);
  $('.modal-body #tipo').val(tipo);

});

</script>
{% endblock %}