{% block body %}
<div class="modal fade bd-example-modal-lg" id="crearRiesgo">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
      	<div class="text-center w-100"><h3 class="modal-title">REGISTRAR RIESGO</h3></div>
      	
        <a href="{{ path('riesgo_index') }}">
        	<button type="button" title="Cerrar" class="close" aria-label="Close">
  	        <span aria-hidden="true">&times;</span>
  	      </button>
  	    </a>
        
      </div>
      <!--Body de Modal-->
        
        <div class="modal-body">
          {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formRiesgo'} }) }} 
        	{{ include('riesgo/_form.html.twig') }}
        </div>
        
    </div>
  </div>
<div class='modalCargando'></div>  
</div>  
{% endblock %}