<form method="post" action="{{ path('consentimiento_delete', {'idConsentimiento': consentimiento.idConsentimiento}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consentimiento.idConsentimiento) }}">
    <button class="btn">Delete</button>
</form>
