    {% for clinica in clinicas%}
    <div class="row mt-2">
        <div class="col-2">
            {% if clinica.logo != ''%}
            <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-75">           
            {% endif %}
        </div>
        <div class="col-6 text-center">
            <p> 
                <b>{{clinica.nombre | upper}}</b><br>
                IDENTIFICACIÓN: {{clinica.nit | upper}}<br>
                {% if clinica.telefono != '' %}
                    TEL: {{clinica.telefono | upper}}<br>
                {% endif %}
                CELULAR: {{clinica.movil | upper}}<br>
                SEDE {{app.user.idSucursal.nombre | upper}}<br>
                CONSENTIMIENTO MEDICO
            </p>
        </div>
        <div class="col-4 text-rigth">
            <p> <br><br><br>
                <b>Fecha:</b> {{'now' | date('d/m/Y H:i:s', 'America/Bogota')}}<br>
                <b>Página:</b> 1<br>
            </p>
        </div>
    </div>
    <hr> 
    {% endfor %}
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Paciente:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{consentimiento.idPaciente.tipoIdentificacion}}  {{consentimiento.idPaciente.numeroIdentificacion}}  </p>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{consentimiento.idPaciente.nombres}} {{consentimiento.idPaciente.primerApellido}} {{consentimiento.idPaciente.segundoApellido}}   </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Fecha nacimiento:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{consentimiento.idPaciente.fechaNacimiento | date('d/m/Y H:i:s') }} </p>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Edad:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{edad}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Sexo:</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
            <p>{% if consentimiento.idPaciente.sexo == 'MASCULINO'%}Hombre{% elseif consentimiento.idPaciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Celular:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{consentimiento.idPaciente.celular}} </p>
        </div>
        {% if consentimiento.idPaciente.telefonoDomicilio != ''%}
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Teléfono:</label>
        </div>
        <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
            <p>{{consentimiento.idPaciente.telefonoDomicilio}}</p>
        </div>
        {% endif %}
    </div>                                        
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label>Dirección:</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
           {{consentimiento.idPaciente.dirrecionDomicilio}} - {{consentimiento.idPaciente.idMunicipio}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idTipoConsentimiento">Tipo consentimiento</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.idTipoConsentimiento) }}
            <div class="invalid-feedback">{{ form_errors(form.idTipoConsentimiento)}}</div>
        </div>                                            
    </div>
    <hr>
    <div class="row">
    	<div class="col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
    		Yo, <u>{{consentimiento.idPaciente}}</u> mayor de edad identificado como aparece al pie de mi firma, en pleno uso de mis facultades mentales, libre y consciente declaro que:<br>
    		Por la presente autorizo al Doctor@  <u>{{consentimiento.idUsuario}}</u> para que bajo su responsabilidad practique el siguiente procedimiento:
    	</div>
    </div><br>                          
    <div class="row">
    	<div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 contenidoTipoConsentimiento">
    	
    	</div>
    </div>
    <br>
    <div class="row">
        <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 contenidoTipoConsentimiento">
            He leído cuidadosamente este formulario antes de firmarlo y me encuentro en capacidad de manifestar mi libre consentimiento. Manifiesto que he comprendido con claridad la naturaleza de la información y las opciones alternativas.
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="nombreAcudiente">NOMBRE ACUDIENTE</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.nombreAcudiente) }}
            <div class="invalid-feedback">{{ form_errors(form.nombreAcudiente)}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cedularAcudiente">C.C N°.</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.cedularAcudiente) }}
            <div class="invalid-feedback">{{ form_errors(form.cedularAcudiente)}}</div>
        </div>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="parentesco">, PARENTESCO</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.parentesco) }}
            <div class="invalid-feedback">{{ form_errors(form.parentesco)}}</div>
        </div>
    </div>      
    <div class="row mt-2">
        <div><label>DATOS DEL </label> &nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="radio radio-success form-check-inline">
            <input type="radio" id="paciente" value="PACIENTE" name="firmanteConsentimiento" checked="">
            <label for="paciente"> PACIENTE</label>
        </div>
        <div class="radio radio-success form-check-inline">
            <input type="radio" id="responsable" value="RESPONSABLE" name="firmanteConsentimiento">
            <label for="responsable"> RESPONSABLE</label>
        </div>
    </div> 
    <div class="row responsableCC mt-2" hidden>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cedularResponsable">C.C N°.</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.cedularResponsable) }}
            <div class="invalid-feedback">{{ form_errors(form.cedularResponsable)}}</div>
        </div>
    </div> 
    <div class="row pacienteCC mt-2" hidden>
        <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cedularResponsable">{{consentimiento.idPaciente.tipoIdentificacion}} N°.</label>&nbsp;<label class="text-danger">*</label>
        </div>
        <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            <input type="text"  disabled name="datoPaci" class="form-control" value="{{consentimiento.idPaciente.numeroIdentificacion}}">
        </div>
    </div>  
    <div class="invalid-feedback mgsResponsable" hidden></div>
    <div hidden>
        {{ form_widget(form.idPaciente) }}
        {{ form_widget(form.idUsuario) }}
        {{ form_widget(form.firmaPaciente) }}
        {{ form_widget(form.huellaPaciente) }}
    </div>
    <br>
    <div class="text-center">
        <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
    </div>
    {{ form_end(form) }}