﻿{% extends 'base.html.twig' %}
{% block title %}Consentimiento huella{% endblock %}

{% block body %}
{{ parent() }}
<link href="{{ asset('light/dist/assets/css/ejecucionHuella.css') }}" rel="stylesheet" type="text/css">
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>CONSENTIMIENTO HUELLA</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            <div class="row">
              <div class="col-2">Dispositivo</div>
              <div class="col-9"><select class="form-control" id="readersDropDown" onchange="selectChangeEvent()"></select></div>
              <div class="col-1"> <button type="button" class="btn btn-outline-success" id="refreshList" title="Refrescar" onclick="Javascript:readersDropDownPopulate(false)"><span class="fe-refresh-ccw"></span></button>
              </div>
            </div>
            <div id="msg" class="row text-danger text-center mt-2"></div>     
            <div id="content-capture" class="row mt-2" >    
              <div class="col-12" id="Scores">
                <h5>Calidad escaneo: <input type="text" id="qualityInputBox" size="20" style="background-color:#DCDCDC;text-align:center;"></h5> 
              </div>
                     
              <div class="mt-2" id="imagediv">
                {% if huellaActual != ''%}
                <img id="huellaActual" class="text-center" src="{{huellaActual}}" /> 
                {% endif %}
              </div>
              <div id="imageGallery"></div>
            </div> 
            <form method="POST" id="formularioHuellaPacienteConsentimiento">
              <div class="form-group">
                <input type="hidden" name="huella" id="huella" value="{{huellaActual}}">
                <input type="hidden" name="idConsentimiento" id="idConsentimiento" value="{{dato}}" hidden >
                <div class="invalid-feedback text-center errorHuellaPacienteCons"></div>      
              </div>
              <div class="row mt-2" id="contentButtons">
                    <table width="70%" align="center">
                        <tr>
                            <td>
                              <a href="{{ path('consentimiento_show',{'idConsentimiento':dato}) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" id="clearButton" onclick="Javascript:onClear()"><span class="mdi mdi-broom">&nbsp;Limpiar</button>
                            </td>
                            <td data-toggle="tooltip" title="Funcionaŕa con formato .png">
                                <button  class="btn btn-outline-success" id="save"><span class="fas fa-check">&nbsp;Guardar</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" id="start" onclick="Javascript:onStart()"><span class="mdi mdi-step-forward">&nbsp;Iniciar</button>
                            </td>
                            <td>
                               <button type="button" class="btn btn-outline-warning" id="stop" onclick="Javascript:onStop()"><span class="mdi mdi-stop">&nbsp;Detener</button>
                            </td>
                    </table>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('light/dist/assets/js/es6-shim.js')}}"></script>
  <script src="{{ asset('light/dist/assets/js/websdk.client.bundle.min.js')}}"></script>
  <script src="{{ asset('light/dist/assets/js/fingerprint.sdk.min.js')}}"></script>
  <script src="{{ asset('light/dist/assets/js/ejecucionHuella.js')}}"></script>
{% endblock %}