{% extends 'baseFirma.html.twig' %}
{% block title %}Firma consentimiento{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="page-header card-title text-center">
            <h3>FIRMA CONSENTIMIENTO</h3>
        </div>
        <hr>
        <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
        {%  for flashMessage in app.flashes('mensaje') %}
            <div class=" alert alert-success" role="alert">
                <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <div> {{ flashMessage }}</div> 
            </div>
        {% endfor %}
        {%  for flashMessage in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <div id="resp"> {{ flashMessage }}</div> 
            </div>
        {% endfor %}
    		<input type="checkbox" id="chkSharedAccess" hidden/>
        <form method="POST" id="formularioFirmaPacienteConsentimiento">
          <button type="button" onClick="javascript:initDemo()" class="btn btn-outline-info botonEvioFirma"><span class="fab fab-pencil"></span>Ingrese Firma</button><br>
          
          <div id="signatureDiv" class="text-center form-group">                    
            <img id="signatureImage" class="text-center" src="{{firmaActual}}" />  
            <textarea name="firmaPaciente" id="firmaPaciente" required hidden>{{firmaActual}}</textarea>              
            <div class="invalid-feedback text-center errorFirmaPacienteCons"></div>           
          </div>                      
          <object id="wgssSTU" type="application/x-wgssSTU"></object>           
          <input type="hidden" name="idConsentimiento" id="idConsentimiento" value="{{dato}}" hidden >  

          {#<!--input type="text" name="idUsuario" id="idUsuario" value="{{idUsuario}}" hidden-->#}
          <div class="text-center">
            <a onclick="envio();"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>    
            <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
{% block javascripts %}
<script type="text/javascript">
  function initDemo() {
    var signatureForm = new SignatureForm(document.getElementById("signatureImage"));
    signatureForm.connect(chkSharedAccess.checked);
  }
   function envio(){
    window.close();
   }
</script>
{% endblock %}