{% extends 'base.html.twig' %}
{% block title %}Consentimiento paciente{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    {{ include('menuSuperiorPaciente.html.twig') }}
    <div class="col-12">
        <div class="card">
          
            <div class="card-body"> 
                <div class="modal-header hearVisual">
                    <div class="text-center w-100">
                        <h3 class="modal-title">CONSENTIMIENTOS PACIENTE</h3>
                        <h5 class="modal-title">{{paciente.tipoIdentificacion}}:  {{paciente.numeroIdentificacion}} - {{paciente.nombres | capitalize}} {{paciente.primerApellido | capitalize}} {{paciente.segundoApellido | capitalize}}</h5>
                    </div>              
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">                        
                        <div class="table-responsive mt-3"  >
                            <table class="table table-hover" id="table_consentimientos">
                                <thead>
                                    <tr>
                                        <th class="text-center">Fecha registro</th>
                                        <th class="text-center w-25">Consentimiento</th>
                                        <th class="text-center w-25">Profesional autorizado</th>
                                        <th class="text-center">Confirmación</th>
                                        <th class="text-right">Acciones</th>
                                        <th>
                                            <button  style="float: right;" type="button" class="btn btn-sm btn-success waves-effect waves-light" data-toggle="collapse" data-target="#collapseConsentimiento" aria-expanded="false" aria-controls="collapseConsentimiento"><span class="fas fa-plus"></span></button>
                                        </th>
                                    </tr>                                        
                                </thead>
                                <tbody>
                                    {% for consentimiento in consentimientos%}
                                        <tr>
                                            <td class="text-left">{{consentimiento.fechaApertura ? consentimiento.fechaApertura|date('Y-m-d H:i:s') : ''}}</td>
                                            <td class="text-left">{{ consentimiento.idTipoConsentimiento }}</td>
                                            <td class="text-left">{{ consentimiento.idUsuario }}</td>
                                            <td class="text-center">
                                                {% if consentimiento.firmaPaciente != '' and consentimiento.huellaPaciente != '' %}
                                                    <p class="text-success">Firma & Huella</p>
                                                {% elseif consentimiento.firmaPaciente != '' and consentimiento.huellaPaciente == '' %}
                                                    <p class="text-success">Firma</p>
                                                {% elseif consentimiento.firmaPaciente == '' and consentimiento.huellaPaciente != '' %}
                                                    <p class="text-success">Huella</p>
                                                {% else %}
                                                    <p class="text-danger">Pediente</p>
                                                {% endif %}
                                            </td>
                                            <td class="text-center" colspan="2">
                                                <a href="{{ path('consentimiento_show',{'idConsentimiento':consentimiento.idConsentimiento}) }}"><button type="button" title="Detalle consentimiento" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                                                <!--button type="button"  onclick="editar({{consentimiento.idConsentimiento}});"class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar consentimiento"><span class="fas fa-edit"></span></button-->
                                                <a target="_black"  href="{{ path('consentimiento_pdf', { 'idConsentimiento': consentimiento.idConsentimiento }) }}" class="imprimir"><button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light" title="Imprimir consentimiento"><span class="mdi mdi-printer-settings"></span></button></a>
                                            </td>
                                            <td style="display:none;"></td>
                                        </tr>                                                
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>
                        <div class="crearForm_consentimiento collapse" id="collapseConsentimiento" >
                            <hr><br><br>
                            <div class="card">
                                <div class="card-header bg-info py-3 text-white">
                                    <div class="card-widgets">
                                        <!--a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a-->
                                        <a data-toggle="collapse" href="#cardCollpase7" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                                        <!--a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a-->
                                    </div>
                                    <h5 class="card-title mb-0 text-white">Registro consentimiento</h5>
                                </div>
                                <div id="cardCollpase7" class="collapse show">
                                    <div class="card-body">
                                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form' ,'id':'formConsentimiento'} }) }} 
                                        {{ include('consentimiento/_form.html.twig') }}                                                  
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="modal fade" id="datosConsentimiento"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">

/*function editar(id) {
  // alert(id); 
  var url = "/consentimiento/"+id+"/edit";
  $.ajax({
    type: 'POST',
    url:url,
    dataType: 'html',
    beforeSend: function () {
      $('body').addClass('loading'); //Agregamos la clase loading al body
    },
    success: function(respuesta){
      $('body').removeClass('loading');  
      $('#datosConsentimiento').modal('show');
      $('#datosConsentimiento').html(respuesta);
    },
            // código a ejecutar si la petición falla;
    error : function(xhr, status) {
      $('body').removeClass('loading');
      $('.resp').removeAttr('hidden');
      $('.resp').html('Disculpe, existió un problema en la conexión.');
    },  
  });
}*/
var val= $(".invalid-feedback").children().children().children().val();
if (typeof(val) != "undefined") {
    $('.crearForm_consentimiento').addClass('show');    
} 


</script>

{% endblock %}
