{% extends 'base.html.twig' %}
{% block title %}Detalle consentimiento paciente{% endblock %}

{% block body %}
    <style type="text/css">
        .flex-parent{
          display: -ms-flex;
          display: -webkit-flex;
          display: flex;
        }
         
        .flex-child{
          display: -ms-flex;
          display: -webkit-flex;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
    </style>
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          
            <div class="card-body"> 
                <div class="modal-header hearVisual">
                    <div class="text-center w-100"><h3 class="modal-title">DETALLE CONSENTIMIENTO PACIENTE</h3></div>              
                </div>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-12">                        
                        {% for clinica in clinicas%}
                        <div class="row mt-2">
                            <div class="col-2">
                                {% if clinica.logo != ''%}
                                <img src="{{ asset('light/dist/assets/uploads/clinica/' ~ clinica.logo) }}" class="w-75">           
                                {% endif %}
                            </div>
                            <div class="col-6 text-center">
                                <p> 
                                    <b>{{clinica.nombre | upper}}</b><br>
                                    IDENTIFICACIÓN: {{clinica.nit | upper}}<br>
                                    {% if clinica.telefono != '' %}
                                        TEL: {{clinica.telefono | upper}}<br>
                                    {% endif %}
                                    CELULAR: {{clinica.movil | upper}}<br>
                                    SEDE {{app.user.idSucursal.nombre | upper}}<br>
                                    CONSENTIMIENTO MEDICO
                                </p>
                            </div>
                            <div class="col-4 text-rigth">
                                <p> <br><br><br>
                                    <b>Fecha:</b> {{consentimiento.fechaApertura | date('d/m/Y H:i:s', 'America/Bogota')}}<br>
                                    <b>Página:</b> 1<br>
                                </p>
                            </div>
                        </div>
                        <hr> 
                        {% endfor %}
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Paciente:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{consentimiento.idPaciente.tipoIdentificacion}}  {{consentimiento.idPaciente.numeroIdentificacion}}  </p>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{consentimiento.idPaciente.nombres | capitalize}} {{consentimiento.idPaciente.primerApellido | capitalize}} {{consentimiento.idPaciente.segundoApellido | capitalize}}   </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Fecha nacimiento:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{consentimiento.idPaciente.fechaNacimiento | date('d/m/Y H:i:s') }} </p>
                            </div>
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Edad:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{edad}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Sexo:</label>
                            </div>
                            <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                                <p>{% if consentimiento.idPaciente.sexo == 'MASCULINO'%}Hombre{% elseif consentimiento.idPaciente.sexo == 'FEMENINO'%}Mujer{% endif %} </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Celular:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{consentimiento.idPaciente.celular}} </p>
                            </div>
                            {% if consentimiento.idPaciente.telefonoDomicilio != ''%}
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Teléfono:</label>
                            </div>
                            <div class="col-xg-4 col-lg-4 col-md-4 col-sm-12" > 
                                <p>{{consentimiento.idPaciente.telefonoDomicilio}}</p>
                            </div>
                            {% endif %}
                        </div>                                        
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label>Dirección:</label>
                            </div>
                            <div class="col-xg-10 col-lg-10 col-md-10 col-sm-12" > 
                               {{consentimiento.idPaciente.dirrecionDomicilio | capitalize}} - {{consentimiento.idPaciente.idMunicipio}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
                                Yo, <u>{{consentimiento.idPaciente}}</u> mayor de edad identificado como aparece al pie de mi firma, en pleno uso de mis facultades mentales, libre y consciente declaro que:<br>
                                Por la presente autorizo al Doctor@  <u>{{consentimiento.idUsuario}}</u> para que bajo su responsabilidad practique el siguiente procedimiento:
                            </div>
                        </div><br>                          
                        <div class="row">
                            <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 contenidoTipoConsentimiento">
                                {{consentimiento.idTipoConsentimiento.contenido | capitalize}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12 contenidoTipoConsentimiento">
                                He leído cuidadosamente este formulario antes de firmarlo y me encuentro en capacidad de manifestar mi libre consentimiento. Manifiesto que he comprendido con claridad la naturaleza de la información y las opciones alternativas.
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="nombreAcudiente">Nombre Acudiente</label>
                            </div>
                            <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
                                {{ consentimiento.nombreAcudiente }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="cedularAcudiente">C.c n°.</label>
                            </div>
                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                {{ consentimiento.cedularAcudiente }}
                            </div>
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="parentesco">, Parentesco</label>
                            </div>
                            <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                {{ consentimiento.parentesco }}
                            </div>
                        </div>     
                        <div class="mt-1">
                            <h4><u>Firma consentimiento</u></h4>
                        </div> 
                        {% if consentimiento.cedularResponsable != '' %}
                        <div class="row mt-2">
                            <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12">                
                                <label for="nombreAcudiente">Identificación del responsable</label>
                            </div>
                            <div class=" form-group col-xg-9 col-lg-9 col-md-9 col-sm-12"> 
                               <b>C.C:</b>&nbsp;  {{ consentimiento.cedularResponsable }}                                
                            </div>
                        </div> 
                        {% else %}
                        <div class="row mt-2">
                            <div class="col-xg-3 col-lg-3 col-md-3 col-sm-12">                
                                <label for="nombreAcudiente">Identificación del paciente</label>
                            </div>
                            <div class=" form-group col-xg-9 col-lg-9 col-md-9 col-sm-12"> 
                              <b>{{ consentimiento.IdPaciente.tipoIdentificacion }}:</b>&nbsp;  {{ consentimiento.IdPaciente.numeroIdentificacion }}
                            </div>
                        </div> 
                        {% endif %}  
                        {% if consentimiento.firmaPaciente != '' and consentimiento.huellaPaciente != '' %}
                        <div class=" row col-12">
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="firmaPaciente">Firma</label>
                            </div>
                            <div class=" col-xg-4 col-lg-4 col-md-4 col-sm-4">
                             <img src="{{consentimiento.firmaPaciente}}"  alt="" height="160" width="100%"> 
                            </div>
                            <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                <label for="huellaPaciente">Huella</label>
                            </div>
                            <div class=" col-xg-4 col-lg-4 col-md-4 col-sm-4">
                             <img src="{{consentimiento.huellaPaciente}}"  alt="" height="160" width="100%"> 
                            </div>                                 
                        </div>
                        {% elseif consentimiento.firmaPaciente != '' and consentimiento.huellaPaciente == '' %}
                            <div class=" row col-12">
                                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12 flex-parent">                
                                    <label for="firmaPaciente" class="flex-child">Firma</label>
                                </div>
                                <div class=" col-xg-10 col-lg-10 col-md-10 col-sm-10">
                                 <img src="{{consentimiento.firmaPaciente}}"  alt="" height="160" width="400"> 
                                </div>                             
                            </div>
                        {% elseif consentimiento.firmaPaciente == '' and consentimiento.huellaPaciente != '' %}
                            <div class=" row col-12">
                                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                    <label>Huella</label>
                                </div>
                                <div class=" col-xg-10 col-lg-10 col-md-10 col-sm-10">
                                 <img src="{{consentimiento.huellaPaciente}}"  alt="" height="160" width="400"> 
                                </div>                             
                            </div>
                        {% else %}
                            <div class="row col-12 alert alert-danger" role="alert"> No se ha firmado la autorización del consentimiento </div>
                        {% endif %} 
                        {% if consentimiento.firmaPaciente == '' and consentimiento.huellaPaciente == '' %}
                            <div class="mt-1">
                                <h4><u>Confirmación consentimiento</u></h4>
                            </div>
                            <div class="row" >  
                                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                    <label for="firmaPaciente">Firma</label>
                                </div>
                                <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12">             
                                    <button type="button" class="btn btn-outline-pink waves-effect waves-light" onclick="envioFormFirmaConsentimiento();" title="Firma paciente"><span class="fas fa-feather"></span></button>
                                </div>
                                 <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                    <label for="huellaPaciente">Huella</label>
                                </div>
                                <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                    <button type="button" class="btn btn-outline-blue waves-effect waves-light" onclick="envioFormHuellaConsentimiento();" title="Huella paciente"><span class="mdi mdi-fingerprint"></span></button>           
                                </div>
                            </div>         
                        {% elseif consentimiento.firmaPaciente != '' and consentimiento.huellaPaciente == '' %}
                            <div class="mt-1">
                                <h4><u>Confirmación consentimiento</u></h4>
                            </div>
                            <div class="row" >  
                                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                    <label for="huellaPaciente">Huella</label>
                                </div>
                                <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
                                    <button type="button" class="btn btn-outline-blue waves-effect waves-light" onclick="envioFormHuellaConsentimiento();" title="Huella paciente"><span class="mdi mdi-fingerprint"></span></button>           
                                </div>
                            </div>         
                        {% elseif consentimiento.firmaPaciente == '' and consentimiento.huellaPaciente != '' %}
                            <div class="mt-1">
                                <h4><u>Confirmación consentimiento</u></h4>
                            </div>
                            <div class="row" >  
                                <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
                                    <label for="firmaPaciente">Firma</label>
                                </div>
                                <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12">             
                                    <button type="button" class="btn btn-outline-pink waves-effect waves-light" onclick="envioFormFirmaConsentimiento();" title="Firma paciente"><span class="fas fa-feather"></span></button>
                                </div>
                            </div>         
                        {% endif %} 
                        <div class="mt-1">
                            <h4><u>Medico autorizado</u></h4>
                        </div>
                        <div class="row">
                            {% if consentimiento.idUsuario.firmaProfesional != ''%}
                            <div class="col-12">
                                <img src="{{ consentimiento.idUsuario.firmaProfesional }}" class="w-25">  
                            </div>
                            {% endif %}
                            <p class="ml-3">{{consentimiento.idUsuario | capitalize}}</p>
                        </div>
                        <br> 
                        <div class="text-center"><a href="{{ path('consentimiento_index',{'idPaciente':consentimiento.idPaciente.idPaciente}) }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a></div>                       
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>  

<form target="_black" method="POST" action="{{path('consentimiento_firma')}}" id="formEnvioCons" hidden>
  {#<!--input type="hidden" name="inf" value="{{usuario.idUsuario}}"-->#}
  <input type="hidden" name="firmaActual" value="{{consentimiento.firmaPaciente}}">
  <input type="hidden" name="dato" value="{{consentimiento.idConsentimiento}}">
</form>

<form target="_black" method="POST" action="{{path('consentimiento_huella')}}" id="formEnvioHuellaCons" hidden>
  {#<!--input type="hidden" name="inf" value="{{usuario.idUsuario}}"-->#}
  <input type="hidden" name="firmaActual" value="{{consentimiento.huellaPaciente}}">
  <input type="hidden" name="idConsentimiento" value="{{consentimiento.idConsentimiento}}">
</form>

{% endblock %}

    
