<style type="text/css">
    .tableAgenda{
        width: 100%;
        margin-bottom: 1.5rem;
        background-color: transparent;
        border-collapse: collapse; 
        min-height: 200px;
        max-height: 200px;
    }
    .tableAgenda td, .tableAgenda th {        
        padding: 0.5px;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
</style>
<div class="row">
   <div class=" form-group col-xg-3 col-lg-3 col-md-3 col-sm-12"> 
   		{{ form_label(form.dia,'Horario') }}&nbsp;<label class="text-danger">*</label>
        {{ form_widget(form.dia) }}
        <div class="invalid-feedback">{{ form_errors(form.dia)}}</div>
   </div>
   <div class=" form-group col-xg-3 col-lg-3 col-md-3 col-sm-12"> 
        {{ form_label(form.horaInicio,'Hora inicio') }}&nbsp;&nbsp;<label class="text-danger">*</label>
		<div class="input-group clockpicker">
			<div class="input-group-append">
		        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
		    </div>
		    {{ form_widget(form.horaInicio) }}
		</div>
        <div class="invalid-feedback">{{ form_errors(form.horaInicio)}}</div>
   </div>
   <div class=" form-group col-xg-3 col-lg-3 col-md-3 col-sm-12">     			
        {{ form_label(form.horaFin,'Hora final') }}&nbsp;<label class="text-danger">*</label>
		<div class="input-group clockpicker">
			<div class="input-group-append">
		        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
		    </div>
		    {{ form_widget(form.horaFin) }}			    
		</div>
        <div class="invalid-feedback">{{ form_errors(form.horaFin)}}</div>
   </div>
   <div class=" form-group col-xg-2 col-lg-2 col-md-2 col-sm-12">  
   		<label>Descanso</label>
   		{{ form_widget(form.horaAlmuerzo) }}
        <div class="invalid-feedback">{{ form_errors(form.horaAlmuerzo)}}</div>
   </div>
   <div class="col-xg-1 col-lg-1 col-md-1 col-sm-12 mt-3">    
		<button class="btn btn-outline-success mt-1 "><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
   </div>
</div>
<hr>
<div hidden>
	{{ form_widget(form.estado) }}
	{{ form_widget(form.idUsuarioIngresa) }}
</div>
    {{ form_end(form) }}
    <table class="tableAgenda table-bordered">
    	<thead>
    		<tr>
    			<th class="text-center">Hora</th>
    			<th class="text-center">Lunes</th>
    			<th class="text-center">Martes</th>
    			<th class="text-center">Miercoles</th>
    			<th class="text-center">Jueves</th>
    			<th class="text-center">Viernes</th>
    			<th class="text-center">Sabado</th>
    			<th class="text-center">Domingo</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr class="ff">
    			<td class="ho1 text-center">1:00</td>
    			<td class="lu ho1"></td>
    			<td class="mar ho1"></td>
    			<td class="mier ho1"></td>
    			<td class="jue ho1"></td>
    			<td class="vier ho1"></td>
    			<td class="sab ho1"></td>
    			<td class="Dom ho1"></td>
    		</tr>
    		<tr>
    			<td class="ho130 text-center">1:30</td>
    			<td class="lu ho130"></td>
    			<td class="mar ho130"></td>
    			<td class="mier ho130"></td>
    			<td class="jue ho130"></td>
    			<td class="vier ho130"></td>
    			<td class="sab ho130"></td>
    			<td class="Dom ho130"></td>
    		</tr>
    		<tr>
    			<td class="ho2 text-center">2:00</td>
    			<td class="lu ho2"></td>
    			<td class="mar ho2"></td>
    			<td class="mier ho2"></td>
    			<td class="jue ho2"></td>
    			<td class="vier ho2"></td>
    			<td class="sab ho2"></td>
    			<td class="Dom ho2"></td>
    		</tr>
    		<tr>
    			<td class="ho230 text-center">2:30</td>
    			<td class="lu ho230"></td>
    			<td class="mar ho230"></td>
    			<td class="mier ho230"></td>
    			<td class="jue ho230"></td>
    			<td class="vier ho230"></td>
    			<td class="sab ho230"></td>
    			<td class="Dom ho230"></td>
    		</tr>
    		<tr>
    			<td class="ho3 text-center">3:00</td>
    			<td class="lu ho3"></td>
    			<td class="mar ho3"></td>
    			<td class="mier ho3"></td>
    			<td class="jue ho3"></td>
    			<td class="vier ho3"></td>
    			<td class="sab ho3"></td>
    			<td class="Dom ho3"></td>
    		</tr>
    		<tr>
    			<td class="ho330 text-center">3:30</td>
    			<td class="lu ho330"></td>
    			<td class="mar ho330"></td>
    			<td class="mier ho330"></td>
    			<td class="jue ho330"></td>
    			<td class="vier ho330"></td>
    			<td class="sab ho330"></td>
    			<td class="Dom ho330"></td>
    		</tr>
    		<tr>
    			<td class="ho4 text-center">4:00</td>
    			<td class="lu ho4"></td>
    			<td class="mar ho4"></td>
    			<td class="mier ho4"></td>
    			<td class="jue ho4"></td>
    			<td class="vier ho4"></td>
    			<td class="sab ho4"></td>
    			<td class="Dom ho4"></td>
    		</tr>
    		<tr>
    			<td class="ho430 text-center">4:30</td>
    			<td class="lu ho430"></td>
    			<td class="mar ho430"></td>
    			<td class="mier ho430"></td>
    			<td class="jue ho430"></td>
    			<td class="vier ho430"></td>
    			<td class="sab ho430"></td>
    			<td class="Dom ho430"></td>
    		</tr>
    		<tr>
    			<td class="ho5 text-center">5:00</td>
    			<td class="lu ho5"></td>
    			<td class="mar ho5"></td>
    			<td class="mier ho5"></td>
    			<td class="jue ho5"></td>
    			<td class="vier ho5"></td>
    			<td class="sab ho5"></td>
    			<td class="Dom ho5"></td>
    		</tr>
    		<tr>
    			<td class="ho530 text-center">5:30</td>
    			<td class="lu ho530"></td>
    			<td class="mar ho530"></td>
    			<td class="mier ho530"></td>
    			<td class="jue ho530"></td>
    			<td class="vier ho530"></td>
    			<td class="sab ho530"></td>
    			<td class="Dom ho530"></td>
    		</tr>
    		<tr>
    			<td class="ho6 text-center">6:00</td>
    			<td class="lu ho6"></td>
    			<td class="mar ho6"></td>
    			<td class="mier ho6"></td>
    			<td class="jue ho6"></td>
    			<td class="vier ho6"></td>
    			<td class="sab ho6"></td>
    			<td class="Dom ho6"></td>
    		</tr>
    		<tr>
    			<td class="ho630 text-center">6:30</td>
    			<td class="lu ho630"></td>
    			<td class="mar ho630"></td>
    			<td class="mier ho630"></td>
    			<td class="jue ho630"></td>
    			<td class="vier ho630"></td>
    			<td class="sab ho630"></td>
    			<td class="Dom ho630"></td>
    		</tr>
    		<tr>
    			<td class="ho7 text-center">7:00</td>
    			<td class="lu ho7"></td>
    			<td class="mar ho7"></td>
    			<td class="mier ho7"></td>
    			<td class="jue ho7"></td>
    			<td class="vier ho7"></td>
    			<td class="sab ho7"></td>
    			<td class="Dom ho7"></td>
    		</tr>
    		<tr>
    			<td class="ho730 text-center">7:30</td>
    			<td class="lu ho730"></td>
    			<td class="mar ho730"></td>
    			<td class="mier ho730"></td>
    			<td class="jue ho730"></td>
    			<td class="vier ho730"></td>
    			<td class="sab ho730"></td>
    			<td class="Dom ho730"></td>
    		</tr>
    		<tr>
    			<td class="ho8 text-center">8:00</td>
    			<td class="lu ho8"></td>
    			<td class="mar ho8"></td>
    			<td class="mier ho8"></td>
    			<td class="jue ho8"></td>
    			<td class="vier ho8"></td>
    			<td class="sab ho8"></td>
    			<td class="Dom ho8"></td>
    		</tr>
    		<tr>
    			<td class="ho830 text-center">8:30</td>
    			<td class="lu ho830"></td>
    			<td class="mar ho830"></td>
    			<td class="mier ho830"></td>
    			<td class="jue ho830"></td>
    			<td class="vier ho830"></td>
    			<td class="sab ho830"></td>
    			<td class="Dom ho830"></td>
    		</tr>
    		<tr>
    			<td class="ho9 text-center">9:00</td>
    			<td class="lu ho9"></td>
    			<td class="mar ho9"></td>
    			<td class="mier ho9"></td>
    			<td class="jue ho9"></td>
    			<td class="vier ho9"></td>
    			<td class="sab ho9"></td>
    			<td class="Dom ho9"></td>
    		</tr>
    		<tr>
    			<td class="ho930 text-center">9:30</td>
    			<td class="lu ho930"></td>
    			<td class="mar ho930"></td>
    			<td class="mier ho930"></td>
    			<td class="jue ho930"></td>
    			<td class="vier ho930"></td>
    			<td class="sab ho930"></td>
    			<td class="Dom ho930"></td>
    		</tr>
    		<tr>
    			<td class="ho10 text-center">10:00</td>
    			<td class="lu ho10"></td>
    			<td class="mar ho10"></td>
    			<td class="mier ho10"></td>
    			<td class="jue ho10"></td>
    			<td class="vier ho10"></td>
    			<td class="sab ho10"></td>
    			<td class="Dom ho10"></td>
    		</tr>
    		<tr>
    			<td class="ho1030 text-center">10:30</td>
    			<td class="lu ho1030"></td>
    			<td class="mar ho1030"></td>
    			<td class="mier ho1030"></td>
    			<td class="jue ho1030"></td>
    			<td class="vier ho1030"></td>
    			<td class="sab ho1030"></td>
    			<td class="Dom ho1030"></td>
    		</tr>
    		<tr>
    			<td class="ho11 text-center">11:00</td>
    			<td class="lu ho11"></td>
    			<td class="mar ho11"></td>
    			<td class="mier ho11"></td>
    			<td class="jue ho11"></td>
    			<td class="vier ho11"></td>
    			<td class="sab ho11"></td>
    			<td class="Dom ho11"></td>
    		</tr>
    		<tr>
    			<td class="ho1130 text-center">11:30</td>
    			<td class="lu ho1130"></td>
    			<td class="mar ho1130"></td>
    			<td class="mier ho1130"></td>
    			<td class="jue  ho1130"></td>
    			<td class="vier ho1130"></td>
    			<td class="sab  ho1130"></td>
    			<td class="Dom ho1130"></td>
    		</tr>
    		<tr>
    			<td class="ho12 text-center">12:00</td>
    			<td class="lu ho12"></td>
    			<td class="mar ho12"></td>
    			<td class="mier ho12"></td>
    			<td class="jue ho12"></td>
    			<td class="vier ho12"></td>
    			<td class="sab ho12"></td>
    			<td class="Dom ho12"></td>
    		</tr>
    		<tr>
    			<td class="ho1230 text-center">12:30</td>
    			<td class="lu ho1230"></td>
    			<td class="mar ho1230"></td>
    			<td class="mier ho1230"></td>
    			<td class="jue ho1230"></td>
    			<td class="vier ho1230"></td>
    			<td class="sab ho1230"></td>
    			<td class="Dom ho1230"></td>
    		</tr>
    		<tr>
    			<td class="ho13 text-center">13:00</td>
    			<td class="lu ho13"></td>
    			<td class="mar ho13"></td>
    			<td class="mier ho13"></td>
    			<td class="jue ho13"></td>
    			<td class="vier ho13"></td>
    			<td class="sab ho13"></td>
    			<td class="Dom ho13"></td>
    		</tr>
    		<tr>
    			<td class="ho1330 text-center">13:30</td>
    			<td class="lu ho1330"></td>
    			<td class="mar ho1330"></td>
    			<td class="mier ho1330"></td>
    			<td class="jue ho1330"></td>
    			<td class="vier ho1330"></td>
    			<td class="sab ho1330"></td>
    			<td class="Dom ho1330"></td>
    		</tr>
    		<tr>
    			<td class="ho14 text-center">14:00</td>
    			<td class="lu ho14"></td>
    			<td class="mar ho14"></td>
    			<td class="mier ho14"></td>
    			<td class="jue ho14"></td>
    			<td class="vier ho14"></td>
    			<td class="sab ho14"></td>
    			<td class="Dom ho14"></td>
    		</tr>
    		<tr>
    			<td class="ho1430 text-center">14:30</td>
    			<td class="lu ho1430"></td>
    			<td class="mar ho1430"></td>
    			<td class="mier ho1430"></td>
    			<td class="jue ho1430"></td>
    			<td class="vier ho1430"></td>
    			<td class="sab ho1430"></td>
    			<td class="Dom ho1430"></td>
    		</tr>
    		<tr>
    			<td class="ho15 text-center">15:00</td>
    			<td class="lu ho15"></td>
    			<td class="mar ho15"></td>
    			<td class="mier ho15"></td>
    			<td class="jue ho15"></td>
    			<td class="vier ho15"></td>
    			<td class="sab ho15"></td>
    			<td class="Dom ho15"></td>
    		</tr>
    		<tr>
    			<td class="ho1530 text-center">15:30</td>
    			<td class="lu ho1530"></td>
    			<td class="mar ho1530"></td>
    			<td class="mier ho1530"></td>
    			<td class="jue ho1530"></td>
    			<td class="vier ho1530"></td>
    			<td class="sab ho1530"></td>
    			<td class="Dom ho1530"></td>
    		</tr>
    		<tr>
    			<td class="ho16 text-center">16:00</td>
    			<td class="lu ho16"></td>
    			<td class="mar ho16"></td>
    			<td class="mier ho16"></td>
    			<td class="jue ho16"></td>
    			<td class="vier ho16"></td>
    			<td class="sab ho16"></td>
    			<td class="Dom ho16"></td>
    		</tr>
    		<tr>
    			<td class="ho1630 text-center">16:30</td>
    			<td class="lu ho1630"></td>
    			<td class="mar ho1630"></td>
    			<td class="mier ho1630"></td>
    			<td class="jue ho1630"></td>
    			<td class="vier ho1630"></td>
    			<td class="sab ho1630"></td>
    			<td class="Dom ho1630"></td>
    		</tr>
    		<tr>
    			<td class="ho17 text-center">17:00</td>
    			<td class="lu ho17"></td>
    			<td class="mar ho17"></td>
    			<td class="mier ho17"></td>
    			<td class="jue ho17"></td>
    			<td class="vier ho17"></td>
    			<td class="sab ho17"></td>
    			<td class="Dom ho17"></td>
    		</tr>
    		<tr>
    			<td class="ho1730 text-center">17:30</td>
    			<td class="lu ho1730"></td>
    			<td class="mar ho1730"></td>
    			<td class="mier ho1730"></td>
    			<td class="jue ho1730"></td>
    			<td class="vier ho1730"></td>
    			<td class="sab ho1730"></td>
    			<td class="Dom ho1730"></td>
    		</tr>
    		<tr>
    			<td class="ho18 text-center">18:00</td>
    			<td class="lu ho18"></td>
    			<td class="mar ho18"></td>
    			<td class="mier ho18"></td>
    			<td class="jue ho18"></td>
    			<td class="vier ho18"></td>
    			<td class="sab ho18"></td>
    			<td class="Dom ho18"></td>
    		</tr>
    		<tr>
    			<td class="ho1830 text-center">18:30</td>
    			<td class="lu ho1830"></td>
    			<td class="mar ho1830"></td>
    			<td class="mier ho1830"></td>
    			<td class="jue ho1830"></td>
    			<td class="vier ho1830"></td>
    			<td class="sab ho1830"></td>
    			<td class="Dom ho1830"></td>
    		</tr>
    		<tr>
    			<td class="ho ho19 text-center">19:00</td>
    			<td class="lu ho19"></td>
    			<td class="mar ho19"></td>
    			<td class="mier ho19"></td>
    			<td class="jue ho19"></td>
    			<td class="vier ho19"></td>
    			<td class="sab ho19"></td>
    			<td class="Dom ho19"></td>
    		</tr>
    		<tr>
    			<td class="ho1930 text-center">19:30</td>
    			<td class="lu ho1930"></td>
    			<td class="mar ho1930"></td>
    			<td class="mier ho1930"></td>
    			<td class="jue ho1930"></td>
    			<td class="vier ho1930"></td>
    			<td class="sab ho1930"></td>
    			<td class="Dom ho1930"></td>
    		</tr>
    		<tr>
    			<td class="ho20 text-center">20:00</td>
    			<td class="lu ho20"></td>
    			<td class="mar ho20"></td>
    			<td class="mier ho20"></td>
    			<td class="jue ho20"></td>
    			<td class="vier ho20"></td>
    			<td class="sab ho20"></td>
    			<td class="Dom ho20"></td>
    		</tr>
    		<tr>
    			<td class="ho2030 text-center">20:30</td>
    			<td class="lu ho2030"></td>
    			<td class="mar ho2030"></td>
    			<td class="mier ho2030"></td>
    			<td class="jue ho2030"></td>
    			<td class="vier ho2030"></td>
    			<td class="sab ho2030"></td>
    			<td class="Dom ho2030"></td>
    		</tr>
    		<tr>
    			<td class="ho21 text-center">21:00</td>
    			<td class="lu ho21"></td>
    			<td class="mar ho21"></td>
    			<td class="mier ho21"></td>
    			<td class="jue ho21"></td>
    			<td class="vier ho21"></td>
    			<td class="sab ho21"></td>
    			<td class="Dom ho21"></td>
    		</tr>
    		<tr>
    			<td class="ho2130 text-center">21:30</td>
    			<td class="lu ho2130"></td>
    			<td class="mar ho2130"></td>
    			<td class="mier ho2130"></td>
    			<td class="jue ho2130"></td>
    			<td class="vier ho2130"></td>
    			<td class="sab ho2130"></td>
    			<td class="Dom ho2130"></td> 
    		</tr>
    		<tr>
    			<td class="ho22 text-center">22:00</td>
    			<td class="lu ho2230"></td>
    			<td class="mar ho2230"></td>
    			<td class="mier ho2230"></td>
    			<td class="jue ho2230"></td>
    			<td class="vier ho2230"></td>
    			<td class="sab ho2230"></td>
    			<td class="Dom ho2230"></td> 
    		</tr>
    		<tr>
    			<td class="ho2230 text-center">22:30</td>
    			<td class="lu ho2230"></td>
    			<td class="mar ho2230"></td>
    			<td class="mier ho2230"></td>
    			<td class="jue ho2230"></td>
    			<td class="vier ho2230"></td>
    			<td class="sab ho2230"></td>
    			<td class="Dom ho2230"></td> 
    		</tr>
    		<tr>
    			<td class="ho23 text-center">23:00</td>
    			<td class="lu ho23"></td>
    			<td class="mar ho23"></td>
    			<td class="mier ho23"></td>
    			<td class="jue ho23"></td>
    			<td class="vier ho23"></td>
    			<td class="sab ho23"></td>
    			<td class="Dom ho23"></td> 
    		</tr>
    		<tr>
    			<td class="ho2330 text-center">23:30</td>
    			<td class="lu ho2330"></td>
    			<td class="mar ho2330"></td>
    			<td class="mier ho2330"></td>
    			<td class="jue ho2330"></td>
    			<td class="vier ho2330"></td>
    			<td class="sab ho2330"></td>
    			<td class="Dom ho2330"></td> 
    		</tr>
    		<tr>
    			<td class="ho24 text-center">24:00</td>
    			<td class="lu ho24"></td>
    			<td class="mar ho24"></td>
    			<td class="mier ho24"></td>
    			<td class="jue ho24"></td>
    			<td class="vier ho24"></td>
    			<td class="sab ho24"></td>
    			<td class="Dom ho24"></td> 
    		</tr>
    		<tr>
    			<td class="ho2430 text-center">24:30</td>
    			<td class="lu ho2430"></td>
    			<td class="mar ho2430"></td>
    			<td class="mier ho2430"></td>
    			<td class="jue ho2430"></td>
    			<td class="vier ho2430"></td>
    			<td class="sab ho2430"></td>
    			<td class="Dom ho2430"></td> 
    		</tr>
    		
    	</tbody>
    </table>
	<div class="text-center">
		<a href="{{ path('agendaUsuario_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
  </div>
<script src="{{ asset('light/dist/assets/js/horarioAgendaUsuario.js')}}"></script>
