{% extends 'base.html.twig' %}
{% block title %}Agenda usuario{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>AGENDA USUARIO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('agendaUsuario_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Agenda usuario</button></a>

                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Tipos&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('tipoDocumento_index')}}">Documento</a>
                        <a class="dropdown-item" href="{{path('tipoUsuario_index')}}">Usuario</a>
                    </div>
                </div>
                <a href="{{path('usuario_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Usuario</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_agendaUsuario">
                    <thead>
                          <tr>  
                            <th class="text-center w-25">Fecha apertura</th>
                            <th class="text-center w-25">Hora inicio - Hora fin</th>
                            <th class="text-center w-25">Días</th>
                            <th class="text-center">Estado</th>                            
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearAgendaUsuario" data-backdrop="static" data-toggle="modal" data-target="#crearAgendaUsuario" title="Crear agenda usuario"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for agendaUsuario in agendaUsuarios %}
                        <tr>
                          <td class="text-left">{{ agendaUsuario.fechaApertura ? agendaUsuario.fechaApertura | date('Y-m-d') : ''}}</td>
                          <td class="text-left">{{ agendaUsuario.horaInicio ? agendaUsuario.horaInicio | date('H:m:s') : ''}} - {{ agendaUsuario.horaFin ? agendaUsuario.horaFin | date('H:m:s') : ''}}</td>
                          <td class="text-left">{# agendaUsuario.dia ? agendaUsuario.dia : ''#}
                            {% if agendaUsuario.dia == '1' %}
                                Lunes 
                            {% elseif agendaUsuario.dia == '2' %}
                                Martes
                            {% elseif agendaUsuario.dia == '3' %}
                                Miercoles
                            {% elseif agendaUsuario.dia == '4' %}
                                Jueves
                            {% elseif agendaUsuario.dia == '5' %}
                                Viernes
                            {% elseif agendaUsuario.dia == '6' %}
                                Sabado
                            {% elseif agendaUsuario.dia == '7' %}
                                Domingo
                            {% elseif agendaUsuario.dia == '12' %}
                                Lunes - Martes
                            {% elseif agendaUsuario.dia == '13' %}
                                Lunes - Miercoles
                            {% elseif agendaUsuario.dia == '14' %}
                                Lunes - Jueves
                            {% elseif agendaUsuario.dia == '15' %}
                                Lunes - Viernes
                            {% elseif agendaUsuario.dia == '16' %}
                                Lunes - Sabado
                            {% elseif agendaUsuario.dia == '17' %}
                                Lunes - Domingo
                            {% elseif agendaUsuario.dia == '23' %}
                               Martes - Miercoles
                            {% elseif agendaUsuario.dia == '24' %}
                                Martes - Jueves
                            {% elseif agendaUsuario.dia == '25' %}
                                Martes - Viernes
                            {% elseif agendaUsuario.dia == '26' %}
                                Martes - Sabado
                            {% elseif agendaUsuario.dia == '27' %}
                                Martes - Domingo
                            {% elseif agendaUsuario.dia == '34' %}
                                Miercoles - Jueves
                            {% elseif agendaUsuario.dia == '35' %}
                                Miercoles - Viernes
                            {% elseif agendaUsuario.dia == '36' %}
                                Miercoles - Sabado
                            {% elseif agendaUsuario.dia == '37' %}
                                Miercoles - Domingo
                            {% elseif agendaUsuario.dia == '45' %}
                                Jueves - Viernes
                            {% elseif agendaUsuario.dia == '46' %}
                                Jueves - Sabado
                            {% elseif agendaUsuario.dia == '47' %}
                                Jueves - Domingo
                            {% elseif agendaUsuario.dia == '56' %}
                                Viernes -Sabado
                            {% elseif agendaUsuario.dia == '57' %}
                                Viernes -Domingo
                            {% elseif agendaUsuario.dia == '67' %}
                                Sabado - Domingo
                            {% elseif agendaUsuario.dia == '123' %}
                              Lunes a Miercoles                              
                            {% elseif agendaUsuario.dia == '1234' %}
                              Lunes a Jueves 
                            {% elseif agendaUsuario.dia == '12345' %}
                              Lunes a Viernes
                            {% elseif agendaUsuario.dia == '123456' %}
                              Lunes a Sabado
                            {% elseif agendaUsuario.dia == '1234567' %}
                              Lunes a Domingo
                            {% elseif agendaUsuario.dia == '234' %}
                              Martes a Jueves
                            {% elseif agendaUsuario.dia == '2345' %}
                              Martes a Viernes
                            {% elseif agendaUsuario.dia == '23456' %}                              
                              Martes a Sabado
                            {% elseif agendaUsuario.dia == '234567' %} 
                              Martes a Domingo
                            {% elseif agendaUsuario.dia == '345' %}
                              Miercoles a Viernes
                            {% elseif agendaUsuario.dia == '3456' %}
                              Miercoles a Sabado
                            {% elseif agendaUsuario.dia == '34567' %}
                              Miercoles a Domingo
                            {% elseif agendaUsuario.dia == '456' %}
                              Jueves a Sabado
                            {% elseif agendaUsuario.dia == '4567' %}
                              Jueves a Domingo
                            {% elseif agendaUsuario.dia == '567' %}
                              Viernes a Domingo 
                            {% else %}
                                {{agendaUsuario.dia | capitalize}}
                            {% endif %}
                          </td>
                          <td class="text-left">{{ agendaUsuario.estado ? 'Activo': 'Inactivo'}}</td>


                          <td class="text-right" colspan="2">
                            <a  data-toggle="popover" data-animation="false" data-easein="slideLeftIn"  data-placement="left" data-html="true"  data-content="<label>Agenda n°: </label> {{agendaUsuario.idAgendaUsuario}}<br><label>Usuario ingresa: </label> {{agendaUsuario.idUsuarioIngresa}}<br><label>Descanso: </label> {{ agendaUsuario.horaAlmuerzo ? agendaUsuario.horaAlmuerzo | date(" Hora: %H - Min: %i") : 'No aplica' }}" title="Detalle agenda usuario"><button title="Datos"  type="button" class="btn btn-sm btn-outline-info waves-effect waves-light"><span class="fas fa-eye"></span></button></a>
                            {% if agendaUsuario.estado == true %}
                            <button type="button" onclick="editar( {{ agendaUsuario.idAgendaUsuario }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar agenda usuario"><span class="fas fa-edit"></span></button>
                            {% else %}
                             <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar agenda usuario"><span class="fas fa-edit"></span></button>
                            {% endif %}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ agendaUsuario.idAgendaUsuario }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('agendaUsuario/modalNew.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosAgendaUsuario"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_agendaUsuario');   
});

function editar(id) {
  // alert(id); 
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosAgendaUsuario').modal('show'); 
            $('#datosAgendaUsuario').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

$( ".cambiarEstado").click( function(){
  var idAgendaUsuario= $(this).data('id');
   var tipo = 'agendaUsuario';
  $('.modal-body #id').val(idAgendaUsuario);
  $('.modal-body #tipo').val(tipo);

});

</script>
{% endblock %}
