{% extends 'baseModal.html.twig' %}
{% block title %}Actualizar agenda usuario{% endblock %}
{% block body %}
<div class="modal-dialog modal-full">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR AGENDA USUARIO</h3></div>
    	{{ include('agendaUsuario/_delete_form.html.twig') }}
        <a href="{{ path('agendaUsuario_index') }}">
      	<button type="button" title="Cerrar" class="close" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </a>
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
    	<div class="alert alert-danger alert-dismissable respuesta" role="alert" hidden></div>
      	{{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formAgendaUsuarioEdit'} }) }} 
		   {{ include('agendaUsuario/_form.html.twig') }}
    </div>
    <input type="hidden" id="idAgendaUsuario" value="{{agendaUsuario.idAgendaUsuario}}">
    
  </div>
</div>  
{% endblock %}
