{% extends 'base.html.twig' %}

{% block title %}AgendaUsuario{% endblock %}

{% block body %}
    <h1>AgendaUsuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>FechaApertura</th>
                <td>{{ agendaUsuario.fechaApertura ? agendaUsuario.fechaApertura|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HoraInicio</th>
                <td>{{ agendaUsuario.horaInicio ? agendaUsuario.horaInicio|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HoraFin</th>
                <td>{{ agendaUsuario.horaFin ? agendaUsuario.horaFin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dia</th>
                <td>{{ agendaUsuario.dia }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ agendaUsuario.estado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IdAgendaUsuario</th>
                <td>{{ agendaUsuario.idAgendaUsuario }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agendaUsuario_index') }}">back to list</a>

    <a href="{{ path('agendaUsuario_edit', {'idAgendaUsuario': agendaUsuario.idAgendaUsuario}) }}">edit</a>

    {{ include('agendaUsuario/_delete_form.html.twig') }}
{% endblock %}
