<!doctype html>
<html>
  <head>
    <link href="{{ asset('light/dist/assets/css/demoButtons.css' )}}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('light/dist/assets/js/BigInt.js')}}"></script>
    <!--script src="{{ asset('light/dist/assets/js/sjcl.js')}}"></script-->
    <script src="{{ asset('light/dist/assets/js/demobuttons_encryption.js')}}"></script>
    <script src="{{ asset('light/dist/assets/js/demobuttons.js')}}"></script>
    <script type="text/javascript">
      function initDemo() {
        var signatureForm = new SignatureForm(document.getElementById("signatureImage"));
        signatureForm.connect(chkSharedAccess.checked);
      }
    </script>
  </head>
  <body>
    <div>
      <div id="signatureDiv">
        Signature image:<br/>
        <img id="signatureImage"/>
      </div>
      <div>
        Actions:<br/>         
        <input type="button" id="signButton" value="Start demo" onClick="javascript:initDemo()"/>
		<br/>
		<br/>
		 Use Shared Access: <input type="checkbox" id="chkSharedAccess" />
      </div>
    </div>
  <object id="wgssSTU" type="application/x-wgssSTU"></object>
    <div class="thirdPartyLicenses">
      <div>
        Diffie-Hellman key exchange uses the Big Integer Library by Leemon Baird. Public domain.
      </div>
      <div>
        AES decryption provided by the SJCL library, Copyright 2009-2010 Emily Stark, Mike Hamburg, Dan Boneh. All rights reserved.
        <div style="display:none;white-space:pre;font-family:monospace">Copyright 2009-2010 Emily Stark, Mike Hamburg, Dan Boneh.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

   1. Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above
      copyright notice, this list of conditions and the following
      disclaimer in the documentation and/or other materials provided
      with the distribution.

THIS SOFTWARE IS PROVIDED BY THE AUTHORS &ldquo;AS IS&rdquo; AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL &lt;COPYRIGHT HOLDER&gt; OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

The views and conclusions contained in the software and documentation
are those of the authors and should not be interpreted as representing
official policies, either expressed or implied, of the authors.</div>
      </div>
    </div>
	<textarea cols="125" rows="15" id="txtDisplay"></textarea>
  </body>
</html>