<form method="post" class ="eliminarDato" action="{{ path('usuario_delete', {'idUsuario': usuario.idUsuario}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.idUsuario) }}">
    <input type="hidden" name="ruta" value="edicion">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>