    <div class="row">
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.nombres,'Nombres') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.nombres) }}			    
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.nombres)}}</div>
	   </div>
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.apellidos,'Apellidos') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.apellidos) }}			    
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.apellidos)}}</div>
	   </div>
    </div>
    <div class="row">
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.fechaNacimiento,'Fecha nacimiento') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.fechaNacimiento) }}			    
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.fechaNacimiento)}}</div>
	   </div>
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.numeroIdentificacion,'Tipo y identificación') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
			    <div class="col-1.0">
			    	{{ form_widget(form.tipoentificacion) }}			    	
			    </div>					
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.numeroIdentificacion) }}			    
			</div>
			<div class="invalid-feedback fles text-left">{{ form_errors(form.tipoentificacion)}}</div>
			<div class="invalid-feedback fles text-right">{{ form_errors(form.numeroIdentificacion)}}</div>
	       
	   </div>
    </div>
    <div class="row mt-2">
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.email,'E-mail') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.email) }}			    
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.email)}}</div>
	    </div>
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.username,'Usuario') }}
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    <input type="text" id="resulUser" class="tinymce form-control" disabled="true" value="{{usuario.username}}">
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.username)}}</div>
	   </div>
    </div>
    <div class="row mt-2">
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.idPerfil,'Perfil') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append col-1">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    <div class="col-11">
			    {{ form_widget(form.idPerfil) }}
			    </div>			    
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.idPerfil)}}</div>
	    </div>
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.genero,'Genero') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append col-1">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    <div class="col-11">
			    {{ form_widget(form.genero) }}
			    </div>
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.genero)}}</div>
	   </div>
    </div>
    <div class="row mt-2">
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.movil,'Número celular') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.movil) }}			    
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.movil)}}</div>
	    </div>
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.direccion,'Dirección') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.direccion) }}
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.direccion)}}</div>
	    </div>
    </div>    
    <div class="row mt-2">
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.nombreContacto,'Nombre contacto') }}
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.nombreContacto) }}
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.nombreContacto)}}</div>
	    </div>
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.numeroContacto,'Número contacto') }}
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.numeroContacto) }}
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.numeroContacto)}}</div>
	   </div>
    </div>
    <div class="row mt-2">
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.idAgendaUsuario,'Agenda') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append col-1">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    <div class="col-11">
			    {{ form_widget(form.idAgendaUsuario) }}
			    </div>			    
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.idAgendaUsuario)}}</div>
	    </div>
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.colorAgenda,'Color agenda') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    {{ form_widget(form.colorAgenda) }}
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.colorAgenda)}}</div>
	   </div>
    </div>
    <div class="row mt-2">
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.idEspecialidad,'Especialidad') }}
			<div class="input-group">
				<div class="input-group-append col-1">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    <div class="col-11">
			    {{ form_widget(form.idEspecialidad) }}
				</div>
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.idEspecialidad)}}</div>
	    </div>
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.idSucursal,'Sucursal') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append col-1">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    <div class="col-11">
			    {{ form_widget(form.idSucursal) }}
			    </div>
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.idSucursal)}}</div>
	   </div>
    </div>
    <div class="row mt-2">
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.idAcuerdoValor,'Acuero pago ($)') }}
			<div class="input-group">
				<div class="input-group-append col-1">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    <div class="col-11">
			    {{ form_widget(form.idAcuerdoValor) }}
				</div>
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.idAcuerdoValor)}}</div>
	    </div>
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.idAcuerdoPorc,'Acuero pago (%)') }}
			<div class="input-group">
				<div class="input-group-append col-1">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    <div class="col-11">
			    {{ form_widget(form.idAcuerdoPorc) }}
			    </div>
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.idAcuerdoPorc)}}</div>
	   </div>
    </div>
    <div class="row mt-2">        
        <div class=" form-group col-xg-6 col-lg-6 col-md-6 col-sm-12">     			
	        {{ form_label(form.tipoUsuario,'Tipo usuario') }}&nbsp;<label class="text-danger">*</label>
			<div class="input-group">
				<div class="input-group-append col-1">
			        <span class="input-group-text"><i class="mdi mdi-clock-outline"></i></span>
			    </div>
			    <div class="col-11">
			    {{ form_widget(form.tipoUsuario) }}
			    </div>
			</div>
	        <div class="invalid-feedback">{{ form_errors(form.tipoUsuario)}}</div>
	   </div>
    </div>
    <div hidden>
    	{{ form_widget(form.username) }}
    	{{ form_widget(form.firmaProfesional) }}
    	{{ form_widget(form.imagenUsuario) }}
    	{{ form_widget(form.estado) }}
    </div>
    <hr>
	<div class="text-center">
		<a href="{{ path('usuario_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
	  {% if usuario.idUsuario != '' %}
		<button type="button" onclick="cambiarContraseña( {{ usuario.idUsuario}});" class="btn btn-light"><span class=" fas fa-cogs"></span>&nbsp;Cambiar contraseña</button></a></button>
	  {% endif %}
  	</div>
{{ form_end(form) }}


