
{% block title %}Cambiar credenciales{% endblock %}
{% block body %}
<div class="modal-dialog modal-lg" role="document"  >
  <div class="modal-content" >
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">CAMBIAR CREDENCIALES</h3></div>
        <a href="javascript:location.reload();">
            <button type="button" title="Cerrar" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->
      
    <div class="modal-body">
        <form method="POST" action="{{ path('usuario_cambiarContra', { 'idUsuario': dato }) }}" id="formCambiarCredencial">
            <div class="row">
                <div class="col-2">Cambiar contraseña&nbsp;<label class="text-danger">*</label></div>
                <div class="col-10 form-group">
                    <input type="text" name="password" id="password" class="form-control">
                    <div class="invalid-feedback"></div>    
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">Confirmar contraseña&nbsp;<label class="text-danger">*</label></div>
                <div class="col-10 form-group">
                    <input type="text" name="passwordConfir" id="passwordConfir" class="form-control">
                    <div class="invalid-feedback"></div>    
                </div>
            </div>
            <input type="hidden" name="idUsuario" value="{{dato}}">
            <div class="text-center">
                <a onclick="javascript:location.reload();"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
                <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
                <a href="{{ path('usuario_generar', { 'idUsuario': dato }) }}" onclick="javascript:$('body').addClass('loading');"><button type="button"  title="{{ 'Generar contraseña' | trans }}" class="btn btn-light"><span class=" fas fa-cogs"></span>&nbsp;Generar contraseña</button></a>
            </div>
        </form>
    </div>
    
    
  </div>
</div>  
<div class='modalCargando'></div>

<script src="{{ asset('light/dist/assets/js/jquery.validate.js')}}"></script>        
<script src="{{ asset('light/dist/assets/js/messages_es.js')}}"></script>
<script src="{{ asset('light/dist/assets/js/validaciones_mileidy.js')}}"></script>
<script src="{{ asset('light/dist/assets/js/validaciones_desarrolloII.js')}}"></script>
{% endblock %}
