{% extends 'base.html.twig' %}
{% block title %}Actualizar usuario{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body"> 
          	<div class="modal-header ">
		    	<div class="text-center w-100"><h3 class="modal-title">ACTUALIZAR USUARIO</h3></div>
		    	{{ include('usuario/_delete_form.html.twig') }}
		      
		    </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor %}
            {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formUsuarioEdit'} }) }} 
        	{{ include('usuario/_form.html.twig') }}
          </div>
        </div>
    </div>
</div>	

<div class="modal fade bd-example-modal-lg" id="datosUsuarios"></div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

function cambiarContraseña(id){
    var url= '/usuario/'+id+'/cambiarPass';
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosUsuarios').modal('show'); 
            $('#datosUsuarios').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
</script>
{% endblock %}
