{% extends 'base.html.twig' %}
{% block title %}Usuario{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>USUARIO</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('agendaUsuario_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Agenda usuario</button></a>

                <div class="btn-group">
                    <button type="button" class="menus btn btn-outline-primary dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Tipos&nbsp;&nbsp;<span class="fas fa-caret-down"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('tipoDocumento_index')}}">Documento</a>
                        <a class="dropdown-item" href="{{path('tipoUsuario_index')}}">Usuario</a>
                    </div>
                </div>
                <a href="{{path('usuario_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Usuario</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_usuario">
                    <thead>
                          <tr>  
                            <th class="text-center w-25">Nombres</th>            
                            <th class="text-center w-25">Apellidos</th>
                            <th class="text-center w-25">Perfil</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" href="{{ path('usuario_new') }}" title="Crear usuario"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for usuario in usuarios %}
                        {% set nombre = usuario.idPerfil.nombre |split('_') %}
                        <tr>
                          <td class="text-left">{{ usuario.nombres | capitalize }}</td>
                          <td class="text-left">{{ usuario.apellidos | capitalize }}</td>
                          <td class="text-left">{{ nombre[1] | capitalize }}</td>
                          <td class="text-right" colspan="2">
                            <button type="button" onclick="detalle( {{ usuario.idUsuario}});" class="btn btn-sm btn-outline-info waves-effect waves-light" title="Detalle usuario"><span class="fas fa-eye"></span></button>
                            {% if usuario.estado == true %}
                              {% if usuario.idPerfil.idPerfil == 1 and app.user.idPerfil.idPerfil  == 1 %}
                                <a href="{{ path('usuario_edit', {'idUsuario':usuario.idUsuario}) }}"><button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar usuario"><span class="fas fa-edit"></span></button></a>
                              {% elseif usuario.idPerfil.idPerfil  != 1 %}
                                <a href="{{ path('usuario_edit', {'idUsuario':usuario.idUsuario}) }}"><button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar usuario"><span class="fas fa-edit"></span></button></a>
                              {% else %}
                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar usuario"><span class="fas fa-edit"></span></button>
                              {% endif %}
                            <a data-controls-modal="modificarAgendaUsuario" data-backdrop="static" data-toggle="modal" data-target="#modificarAgendaUsuario" title="Modificar agenda" data-id="{{ usuario.idUsuario }}" data-agenda="{{ usuario.idAgendaUsuario ? usuario.idAgendaUsuario.idAgendaUsuario : '' }}"><button type="button" class="btn btn-sm btn-outline-success waves-effect waves-light"><span class="fas fa-address-book"></span></button></a>

                            <a data-controls-modal="modificarAcuerdoPor" data-backdrop="static" data-toggle="modal" data-target="#modificarAcuerdoPor" title="Modificar acuerdo %" data-id="{{ usuario.idUsuario }}" data-acuerdoP="{{ usuario.idAcuerdoPorc ? usuario.idAcuerdoPorc.idAcuerdoPago : '' }}" ><button type="button" class="btn btn-sm btn-outline-blue waves-effect waves-light"><span class="fas fa-percent"></span></button></a>

                            <a data-controls-modal="modificarAcuerdoValor" data-backdrop="static" data-toggle="modal" data-target="#modificarAcuerdoValor" title="Modificar acuerdo valor" data-id="{{ usuario.idUsuario }}" data-acuerdoV="{{ usuario.idAcuerdoValor ? usuario.idAcuerdoValor.idAcuerdoPago : '' }}"><button type="button" class="btn btn-sm btn-outline-warning waves-effect waves-light"><span class="ti-money"></span></button></a>

                            <form target="_black" method="POST" action="{{path('usuario_tabledos')}}" id="formEnvioVista_{{usuario.idUsuario}}" hidden>
                              <input type="hidden" name="inf" value="{{usuario.idUsuario}}">
                              <input type="hidden" name="firmaActual" value="{{usuario.firmaProfesional}}">
                            </form>
                            <button class="btn btn-sm btn-outline-pink waves-effect waves-light" onclick="envioFormFirma({{usuario.idUsuario}});" title="Firma usuario"><span class="fas fa-feather"></span></button>
                            {% else %}
                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar usuario"><span class="fas fa-edit"></span></button>

                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-success waves-effect waves-light"><span class="fas fa-address-book"></span></button>

                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-blue waves-effect waves-light"><span class="fas fa-percent"></span></button>

                                <button type="button" disabled="disabled" class="btn btn-sm btn-outline-warning waves-effect waves-light"><span class="ti-money"></span></button>

                                <button class="btn btn-sm btn-outline-pink waves-effect waves-light" disabled="disabled" title="Firma usuario"><span class="fas fa-feather"></span></button>
                            {% endif %}    
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ usuario.idUsuario }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{# include('usuario/modalNew.html.twig') #}
{{ include('usuario/modalAgendaEdit.html.twig') }}
{{ include('usuario/modalAcuerdoPorcentaje.html.twig') }}
{{ include('usuario/modalAcuerdoValor.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosUsuario"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_usuario'); 
     
});

function envioFormFirma(id){
  //alert($('#formEnvioVista_'+id).serialize()+'_   '+id);
  $('#formEnvioVista_'+id).submit();
  
} 
$( ".cambiarEstado").click( function(){
  var idUsuario= $(this).data('id');
   var tipo = 'usuario';
  $('.modal-body #id').val(idUsuario);
  $('.modal-body #tipo').val(tipo);

});

function detalle(id){
    var url = id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosUsuario').modal('show'); 
            $('#datosUsuario').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
function carga(){
  location.reload(true);
}
</script>
{% endblock %}
