<div class="modal fade" id="modificarAcuerdoPor">          
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">CAMBIAR ACUERDO PORCENTAJE(%)</h3></div>
          <button type="button" class="close"  title="Cerrar"  onclick="carga();">
            <span aria-hidden="true" class="fa-lg">&times;</span>
          </button>      
      </div>
      <div class="modal-body">  
        <form id="cambioAcuerdoPorcentaje" method="POST" action="{{ path('usuario_editaracuerdoporcentaje') }}">
          <div class="row">
            <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12">
              <label for="idAcuerdoPorcentaje">Seleccione un acuerdo</label>
            </div>
          </div>
          <div class="row">
            <div class=" form-group col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
                  <select id="idAcuerdoPorcentaje" name="idAcuerdoPorcentaje" data-toggle="tooltip" data-placement="right" title="Seleccione una acuerdo.">
                    <option value="">Seleccione un acuerdo</option>
                    {% for acuerdoP in acuerdoPorcentajes %}
                      <option value="{{acuerdoP.idAcuerdoPago}}">
                        {% if acuerdoP.idTratamiento != '' %}
                          {{acuerdoP.tipo}} ({{acuerdoP.porcentaje}}%) - Tratamiento {{acuerdoP.idTratamiento}}
                        {% else %}
                          {{acuerdoP.tipo}} ({{acuerdoP.porcentaje}}%)
                        {% endif %}

                      </option>
                    {% endfor %}
                  </select>
            </div>
          </div>  
          <input type="hidden" id="idUsuario" name="idUsuario">
          <hr>
          <div class="text-center mt-2">
            <button class="btn btn-outline-warning" type="button" onclick="carga();"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button>

            <button class="btn btn-outline-success" ><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
          </div>
              
          
        </form>
      </div>
    </div>
  </div>
</div>
 <div class='modalCargando'></div>