{% extends 'baseModal.html.twig' %}
{% block body %}
<div class="modal-dialog modal-full">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE USUARIO # {{usuario.idUsuario}}</h3></div>
        <a href="{{ path('usuario_index') }}">
        <button type="button" title="Cerrar" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
    </div>      
    <div class="modal-body">
        <div class="row">
            <div class="col-12 text-center">
                {% if usuario.imagenUsuario != ''%}
                <img src="{{ asset('light/dist/assets/uploads/usuario/' ~ usuario.imagenUsuario) }}"  alt="" height="60" width="100"> 
                {% endif %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6"></div>
            <div class="col-2"><b>{{usuario.tipoentificacion}}</b></div>
            <div class="col-4">{{usuario.numeroIdentificacion }}</div>
        </div>
        <div class="row">
            <div class="col-2"><b>Nombres</b></div>
            <div class="col-4">{{usuario.nombres | capitalize}}</div>
            <div class="col-2"><b>Apellidos</b></div>
            <div class="col-4">{{usuario.apellidos | capitalize}}</div>
        </div>        
        <div class="row mt-2">
            <div class="col-2"><b>Perfil</b></div>
            {% set nombrePerfil = usuario.idPerfil.nombre |split('_') %}
            <div class="col-4">{{nombrePerfil[1] | capitalize}}</div>
            <div class="col-2"><b>Usuario</b></div>
            <div class="col-4">{{usuario.username | capitalize}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><b>Fecha nacimiento</b></div>
            <div class="col-4">{{usuario.fechaNacimiento | date('Y-m-d')}}</div>
            <div class="col-2"><b>Genero</b></div>
            <div class="col-4">{{usuario.genero | capitalize}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><b>E-mail</b></div>
            <div class="col-4">{{usuario.email | capitalize}}</div>
            <div class="col-2"><b>Número celular</b></div>
            <div class="col-4">{{usuario.movil}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><b>Dirección</b></div>
            <div class="col-10">{{usuario.direccion | capitalize}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><b>Tipo agenda</b></div>
            <div class="col-4">{{usuario.idAgendaUsuario | capitalize}}</div>
            <div class="col-2"><b>Color agenda</b></div>
            <div class="col-4">{{usuario.colorAgenda}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><b>Nombre contacto</b></div>
            <div class="col-4">{{usuario.nombreContacto ? usuario.nombreContacto | capitalize : '-'}}</div>
            <div class="col-2"><b>Número contacto</b></div>
            <div class="col-4">{{usuario.numeroContacto ? usuario.numeroContacto : '-'}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><b>Especialidad</b></div>
            <div class="col-4">{{usuario.idEspecialidad ? usuario.idEspecialidad | capitalize : '-'}}</div>
            <div class="col-2"><b>Clinica o sede (Ubicación)</b></div>
            <div class="col-4">{{usuario.idSucursal ? usuario.idSucursal | capitalize : '-'}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><b>Pago (%)</b></div>
            <div class="col-4">{{usuario.idAcuerdoPorc ? usuario.idAcuerdoPorc | capitalize : '-'}}</div>
            <div class="col-2"><b>Pago ($)</b></div>
            <div class="col-4">{{usuario.idAcuerdoValor ? usuario.idAcuerdoValor | capitalize : '-'}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><b>Fecha ingreso</b></div>
            <div class="col-4">{{usuario.fechaApertura ? usuario.fechaApertura | date('Y-m-d H:i:s') : '-'}}</div>
            <div class="col-2"><b>Usuario ingresa</b></div>
            <div class="col-4">{{usuario.idUsuarioIngresa ? usuario.idUsuarioIngresa | capitalize : '-'}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><b>Estado</b></div>
            <div class="col-4 text-success">{{usuario.estado ? 'Activo' : 'Inactivo'}}</div>
            <div class="col-2"><b>Tipo</b></div>
            <div class="col-4">{{usuario.tipoUsuario ? usuario.tipoUsuario | capitalize : ''}}</div>
        </div>
        <div class="row mt-2">            
            <div class="col-2"><b>Firma</b></div>
            <div class="col-10">
                {% if usuario.firmaProfesional != ''%}
                <img src="{{usuario.firmaProfesional}}"  alt="" height="160" width="400"> 
                {% else %}
                     No aplica
                {% endif %}
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <a href="{{ path('usuario_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>
  </div>
</div>  
{% endblock %}
