<div class="modal fade" id="modificarAgendaUsuario">          
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">CAMBIAR AGENDA USUARIO</h3></div>
          <button type="button" class="close"  title="Cerrar"  onclick="carga();">
            <span aria-hidden="true" class="fa-lg">&times;</span>
          </button>      
      </div>
      <div class="modal-body">  
        <form id="cambioAgenda" method="POST" action="{{ path('usuario_editaragendausuario') }}">
          <div class="row">
            <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12">
              <label for="idAgenda">Seleccione la agenda</label>&nbsp;<label class="text-danger">*</label>
            </div>
          </div>
          <div class="row">
            <div class=" form-group col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
                  <select id="idAgenda" name="idAgenda" data-toggle="tooltip" data-placement="right" title="Seleccione una agenda.">
                    <option value="">Seleccione una agenda</option>
                    {% for agenda in agendas %}
                      <option value="{{agenda.idAgendaUsuario}}">
                        {% if agenda.dia == '1' %}
                                Lunes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '2' %}
                            Martes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '3' %}
                            Miercoles ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '4' %}
                            Jueves ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '5' %}
                            Viernes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '6' %}
                            Sabado
                        {% elseif agenda.dia == '7' %}
                            Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '12' %}
                            Lunes - Martes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '13' %}
                            Lunes - Miercoles ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '14' %}
                            Lunes - Jueves ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '15' %}
                            Lunes - Viernes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '16' %}
                            Lunes - Sabado ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '17' %}
                            Lunes - Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '23' %}
                           Martes - Miercoles ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '24' %}
                            Martes - Jueves ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '25' %}
                            Martes - Viernes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '26' %}
                            Martes - Sabado ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '27' %}
                            Martes - Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '34' %}
                            Miercoles - Jueves ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '35' %}
                            Miercoles - Viernes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '36' %}
                            Miercoles - Sabado ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '37' %}
                            Miercoles - Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '45' %}
                            Jueves - Viernes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '46' %}
                            Jueves - Sabado ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '47' %}
                            Jueves - Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '56' %}
                            Viernes -Sabado ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '57' %}
                            Viernes -Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '67' %}
                            Sabado - Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '123' %}
                          Lunes a Miercoles ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})                              
                        {% elseif agenda.dia == '1234' %}
                          Lunes a Jueves ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}}) 
                        {% elseif agenda.dia == '12345' %}
                          Lunes a Viernes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '123456' %}
                          Lunes a Sabado ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '1234567' %}
                          Lunes a Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '234' %}
                          Martes a Jueves ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '2345' %}
                          Martes a Viernes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '23456' %}                              
                          Martes a Sabado ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '234567' %} 
                          Martes a Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '345' %}
                          Miercoles a Viernes ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '3456' %}
                          Miercoles a Sabado ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '34567' %}
                          Miercoles a Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '456' %}
                          Jueves a Sabado ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '4567' %}
                          Jueves a Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% elseif agenda.dia == '567' %}
                          Viernes a Domingo ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}}) 
                        {% else %}
                            {{agenda.dia | capitalize}} ({{ agenda.horaInicio ? agenda.horaInicio | date('H:m:s') : ''}} - {{ agenda.horaFin ? agenda.horaFin | date('H:m:s') : ''}})
                        {% endif %}
                      </option>
                    {% endfor %}
                  </select>
            </div>
          </div>  
          <input type="hidden" id="idUsuario" name="idUsuario">
          <hr>
          <div class="text-center mt-2">
            <button class="btn btn-outline-warning" type="button" onclick="carga();"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button>

            <button class="btn btn-outline-success" ><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
          </div>
              
          
        </form>
      </div>
    </div>
  </div>
</div>
 <div class='modalCargando'></div>