<div class="modal fade" id="modificarAcuerdoValor">          
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">CAMBIAR ACUERDO VALOR</h3></div>
          <button type="button" class="close"  title="Cerrar"  onclick="carga();">
            <span aria-hidden="true" class="fa-lg">&times;</span>
          </button>      
      </div>
      <div class="modal-body">  
        <form id="cambioAcuerdoValor" method="POST" action="{{ path('usuario_editaracuerdovalor') }}">
          <div class="row">
            <div class="col-xg-12 col-lg-12 col-md-12 col-sm-12">
              <label for="idAcuerdoValor">Seleccione un acuerdo</label>
            </div>
          </div>
          <div class="row">
            <div class=" form-group col-xg-12 col-lg-12 col-md-12 col-sm-12"> 
                  <select id="idAcuerdoValor" name="idAcuerdoValor" data-toggle="tooltip" data-placement="right" title="Seleccione un acuerdo.">
                    <option value="">Seleccione un acuerdo</option>
                    {% for acuerdoV in acuerdoValors %}
                      <option value="{{acuerdoV.idAcuerdoPago}}">{{acuerdoV.tipo}} ($ {{acuerdoV.valor}})</option>
                    {% endfor %}
                  </select>
            </div>
          </div>  
          <input type="hidden" id="idUsuario" name="idUsuario">
          <hr>
          <div class="text-center mt-2">
            <button class="btn btn-outline-warning" type="button" onclick="carga();"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button>

            <button class="btn btn-outline-success" ><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
          </div>
              
          
        </form>
      </div>
    </div>
  </div>
</div>
 <div class='modalCargando'></div>