{% block body %}

<link href="{{ asset('light/dist/assets/css/styleGeneral.css')}}" rel="stylesheet">
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Encabezado del modal-->
      <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">FOTO PERFIL</h3></div>
          <button type="button" class="close"  title="Cerrar" onclick="javascript:location.reload();">
            <span aria-hidden="true" class="fa-lg">&times;</span>
          </button>      
      </div>
      <div class="modal-body">  
        {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formCambiarPerfil'} }) }} 
          <div class="row">
            <div class="col-2">Foto perfil</div>
            <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
              <div class="input-group image-preview">
                <input type="text" class="form-control image-preview-filename" value="{{usuario.imagenUsuario}}" disabled="disabled"> 
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span>Quitar
                    </button>
                    <div class="btn btn-default image-preview-input">

                        <span class="fas fa-folder-open"></span>
                        <span class="image-preview-input-title">Archivo</span>
                        {{ form_widget(form.imagenUsuario) }}
                    </div>
                </span>
                <div class="invalid-feedback">{{ form_errors(form.imagenUsuario)}} </div>
              </div>
            </div>
          </div>  
          <hr>
          <div class="text-center mt-2">
            <button class="btn btn-outline-warning" type="button" onclick="javascript:location.reload();"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button>

            <button class="btn btn-outline-success" ><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
          </div>
              
        {{ form_end(form) }}
        <input type="hidden" id="idUser" value="{{usuario.idUsuario}}">
      </div>
    </div>
  </div>

 <div class='modalCargando'></div>
<script src="{{ asset('light/dist/assets/js/scriptCompletos.js')}}"></script>        
<script src="{{ asset('light/dist/assets/js/jquery.validate.js')}}"></script>        
<script src="{{ asset('light/dist/assets/js/messages_es.js')}}"></script>
<script src="{{ asset('light/dist/assets/js/validaciones_mileidy.js')}}"></script>
<script src="{{ asset('light/dist/assets/js/validaciones_desarrolloII.js')}}"></script>
 {% endblock %}