<form method="post" class ="eliminarDato" action="{{ path('formaPago_delete', {'idFormaPago': formaPago.idFormaPago}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formaPago.idFormaPago) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>