{% extends 'base.html.twig' %}
{% block title %}Forma pago{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>FORMA PAGO </h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('acuerdoPago_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Acuerdo pago</button></a>                
                <a href="{{path('conceptoPago_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Concepto Pago</button></a>
                <a href="{{path('formaPago_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Forma pago</button></a>                
                <a href="{{path('soportePago_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Soporte Pago</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_formaPago">
                    <thead>
                          <tr>  
                            <th class="text-left w-50">Nombre</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearFormaPago" data-backdrop="static" data-toggle="modal" data-target="#crearFormaPago" title="Crear forma pago"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for formaPago in formaPagos %}
                        <tr>
                          <td class="text-left">{{ formaPago.nombre | capitalize}}</td> 
                          <td class="text-right" colspan="2">  
                            {% if formaPago.estado == true %}
                              <button type="button" onclick="editar( {{ formaPago.idFormaPago}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar forma pago"><span class="fas fa-edit"></span></button>
                            {% else %}              
                              <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar forma pago"><span class="fas fa-edit"></span></button>
                            {% endif %}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ formaPago.idFormaPago }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>
{{ include('formaPago/modalNew.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade" id="datosFormaPago"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_formaPago');
});

$( ".cambiarEstado").click( function(){
  var idFormaPago= $(this).data('id');
   var tipo = 'Forma Pago';
  $('.modal-body #id').val(idFormaPago);
  $('.modal-body #tipo').val(tipo);

});
function editar(id) {
  // alert(id); 
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosFormaPago').modal('show'); 
            $('#datosFormaPago').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
</script>
{% endblock %}