<form method="post" class ="eliminarDato" action="{{ path('esterilizacion_delete', {'idEsterilizacion': esterilizacion.idEsterilizacion}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ esterilizacion.idEsterilizacion) }}">
    <button class="close" title="Eliminar" onclick="return confirmDelete();"><span aria-hidden="true" class="mdi mdi-delete text-danger"></span></button>
</form>