   <div class="row">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="fechaApertura">Fecha inicio</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.fechaApertura) }}
            <div class="invalid-feedback">{{ form_errors(form.fechaApertura)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="fechaVecimiento" class="fles">Fecha vencimiento</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.fechaVecimiento) }}
            <div class="invalid-feedback vencimiento">{{ form_errors(form.fechaVecimiento)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="carga">Carga</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.carga) }}
            <div class="invalid-feedback">{{ form_errors(form.carga)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="loteProveta">Lote probeta</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.loteProveta) }}
            <div class="invalid-feedback">{{ form_errors(form.loteProveta)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="cantidadPaquete" class="fles">Cantidad paquete</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.cantidadPaquete) }}
            <div class="invalid-feedback">{{ form_errors(form.cantidadPaquete)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="idUsuarioReporta">Responsable</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            {{ form_widget(form.idUsuarioReporta) }}
            <div class="invalid-feedback">{{ form_errors(form.idUsuarioReporta)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="tipoEsterilizacion" class="fles">Tipo esterilización</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-10 col-lg-10 col-md-10 col-sm-12"> 
            {{ form_widget(form.tipoEsterilizacion) }}
            <div class="invalid-feedback">{{ form_errors(form.tipoEsterilizacion)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="tiempoEsterilizacion" class="fles">Tiempo esterilización</label>&nbsp;<label class="text-danger fles">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            <div class="fle">{{ form_widget(form.tiempoEsterilizacion) }}</div><div class="fle">&nbsp;&nbsp;Min</div>
            <div class="invalid-feedback">{{ form_errors(form.tiempoEsterilizacion)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="tiempoSecado">Tiempo secado</label>&nbsp;<label class="text-danger">*</label>
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            <div class="fle">{{ form_widget(form.tiempoSecado) }}</div><div class="fle">&nbsp;&nbsp;Min</div>
            <div class="invalid-feedback">{{ form_errors(form.tiempoSecado)}}</div>
       </div>
    </div>
    <div class="row mt-2">
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="temperatura">Temperatura</label>&nbsp;
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            <div class="fle">{{ form_widget(form.temperatura) }}</div><div class="fle">&nbsp;&nbsp;°</div>
            <div class="invalid-feedback">{{ form_errors(form.temperatura)}}</div>
       </div>
       <div class="col-xg-2 col-lg-2 col-md-2 col-sm-12">                
            <label for="presion">Presión</label>&nbsp;
       </div>
       <div class=" form-group col-xg-4 col-lg-4 col-md-4 col-sm-12"> 
            <div class="fle">{{ form_widget(form.presion) }}</div><div class="fle">&nbsp;&nbsp;Lb</div>
            <div class="invalid-feedback">{{ form_errors(form.presion)}}</div>
       </div>
    </div>
    <hr>
    <div hidden>
    	{{ form_widget(form.estado) }}
    </div>
	<div class="text-center">
		<a href="{{ path('esterilizacion_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
	  <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
  </div>
{{ form_end(form) }}
