 <table class="table" id="table_paquetes_esterilizacion">
    <tbody id="datos">
    {% for paquete in paquetes %}
        <tr>
          <td class="text-left">{{ paquete.codigo }}</td>
          <td class="text-left">{{ paquete.idTipoPaquete}}</td>
          <td class="text-center" colspan="2">
            {% if paquete.estado == true %}
	          <button type="button" onclick="editarPaqueteEsterilizacion({{paquete.idPaqueteEsterilizacion}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar paquete esterilización"><span class="fas fa-edit"></span></button>

	        {% else %}                            
	           <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar paquete esterilización"><span class="fas fa-edit"></span></button>
	        {% endif %}
	        <a  class="cambiarEstadoPaqueteEsterilización" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{paquete.idPaqueteEsterilizacion}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
          </td>
        </tr>                                  
    {% endfor %}
    </tbody>
</table>