{% extends 'base.html.twig' %}
{% block title %}Esterilización{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>ESTERILIZACIÓN </h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('esterilizacion_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Esterilización</button></a>                
                <a href="{{path('tipoPaquete_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-map-marker-alt"></span>&nbsp;&nbsp;Tipo Paquete</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_esterilizacion">
                    <thead>
                          <tr>  
                            <th></th>
                            <th class="text-left w-25">Fecha inicio</th>
                            <th class="text-left w-25">Fecha vencimiento</th>
                            <th class="text-left w-25">Estado</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearEsterilizacion" data-backdrop="static" data-toggle="modal" data-target="#crearEsterilizacion" title="Crear esterilización"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for esterilizacion in esterilizaciones %}
                      {% set idEsterilizacion=esterilizacion.idEsterilizacion %}
                        <tr class="header expand" title="Ver" style="background: #F9F9F9;">
                          <td><span class="fas sign"></span></td>
                          <td class="text-left">{{ esterilizacion.fechaApertura ? esterilizacion.fechaApertura|date('Y-m-d H:i') }}</td>       
                          <td class="text-left">{{ esterilizacion.fechaVecimiento ? esterilizacion.fechaVecimiento|date('Y-m-d H:i') }}</td>  
                          <td class="text-left">{{ esterilizacion.estado ? 'Activo' : 'Inactivo' }}</td>
                          <td class="text-right" colspan="2">                         
                            <button type="button" onclick="detalle( {{ esterilizacion.idEsterilizacion}});" class="btn btn-sm btn-outline-info waves-effect waves-light" title="Detalle esterilización"><span class="fas fa-eye"></span></button>
                            {% if esterilizacion.estado == true%}
                             <a href="{{ path('esterilizacion_nuevoPaquetEsterilizacion', { 'idEsterilizacion': esterilizacion.idEsterilizacion }) }}"><button class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear paquete esterilización" ><span class="fe-share-2"></span></button></a>
                              <!--button type="button" onclick="envioCrearPaqueteEsterilizacion( {{esterilizacion.idEsterilizacion}});" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear paquete esterilización" ><span class="fe-share-2"></span></button-->
                              <button type="button" onclick="editar( {{ esterilizacion.idEsterilizacion}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar esterilización"><span class="fas fa-edit"></span></button>
                            {% else %}                            
                              <button type="button" disabled="false" class="btn btn-sm btn-outline-dark waves-effect waves-light" title="Crear paquete esterilización" ><span class="fe-share-2"></span></button>
                              <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar esterilización"><span class="fas fa-edit"></span></button>
                            {% endif %}
                            <a  class="cambiarEstado" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{ esterilizacion.idEsterilizacion }}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                          </td>
                          <td style="display: none;"></td>
                        </tr>
                        {% for paqueteEsterilizacion in paqueteEsterilizaciones %}  
                        {% if paqueteEsterilizacion.idEsterilizacion.idEsterilizacion == idEsterilizacion %}    
                        <tr>
                          <td></td>
                          <td class="text-left">{{ paqueteEsterilizacion.codigo }}</td>
                          <td class="text-left">{{ paqueteEsterilizacion.idTipoPaquete}}</td>
                          <td class="text-left">{{ paqueteEsterilizacion.estado ? 'Activo' : 'Inactivo' }}</td>
                          <td class="text-right" colspan="2">
                            {% if paqueteEsterilizacion.estado == true %}
                              <button type="button" onclick="editarPaqueteEsterilizacion({{paqueteEsterilizacion.idPaqueteEsterilizacion}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar paquete esterilización"><span class="fas fa-edit"></span></button>
                            {% else %}                            
                               <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar paquete esterilización"><span class="fas fa-edit"></span></button>
                            {% endif %}
                            {% if esterilizacion.estado == true %}
                              <a  class="cambiarEstadoPaqueteEsterilización" data-controls-modal="cambioEstado" data-backdrop="static" data-toggle="modal" data-target="#cambioEstado" title="Cambio estado" data-id="{{paqueteEsterilizacion.idPaqueteEsterilizacion}}"><button type="button" class="btn btn-sm btn-outline-dark waves-effect waves-light"><span class="fas fa-exchange-alt"></span></button></a>
                            {% endif %}  
                          </td>
                          <td style="display: none;"></td>
                        </tr>  
                        {% endif %}                
                      {% endfor %}
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>
{{ include('esterilizacion/modalNewEsterilizacion.html.twig') }}
{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade" id="datosEsterilizacion"></div>
<div class="modal fade" id="datosPaqueteEsterilizacion"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_esterilizacion');
});

$( ".cambiarEstado").click( function(){
  var idEsterilizacion= $(this).data('id');
   var tipo = 'esterilizacion';
  $('.modal-body #id').val(idEsterilizacion);
  $('.modal-body #tipo').val(tipo);

});

$( ".cambiarEstadoPaqueteEsterilización").click( function(){
  var idPaqueteEsterilizacion= $(this).data('id');
   var tipo = 'paqueteEsterilizacion';
  $('.modal-body #id').val(idPaqueteEsterilizacion);
  $('.modal-body #tipo').val(tipo);

});
function editar(id) {
  // alert(id); 
  var url = id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosEsterilizacion').modal('show'); 
            $('#datosEsterilizacion').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

function detalle(id) {
  // alert(id); 
  var url = id;
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosEsterilizacion').modal('show'); 
            $('#datosEsterilizacion').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}

function editarPaqueteEsterilizacion(id) {
  var url = "/paqueteEsterilizacion/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      data:{'ruta':'VISTA'},
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosPaqueteEsterilizacion').modal('show'); 
            $('#datosPaqueteEsterilizacion').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
</script>
{% endblock %}