<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <!-- Encabezado del modal-->
    <div class="modal-header ">
        <div class="text-center w-100"><h3 class="modal-title">DETALLE ESTERILIZACIÓN N° {{esterilizacion.idEsterilizacion}}</h3></div>             
        <a href="{{ path('esterilizacion_index') }}">
            <button type="button" class="close" title="Cerrar" aria-label="Close">
              <span aria-hidden="true" class=" fa-lg">&times;</span>
            </button>
        </a>
      
    </div>
    <!--Body de Modal-->      
    <div class="modal-body">
      <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Fecha inicio</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{ esterilizacion.fechaApertura ? esterilizacion.fechaApertura|date('Y-m-d H:i:s') : '' }}
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Fecha vencimiento</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{ esterilizacion.fechaVecimiento ? esterilizacion.fechaVecimiento|date('Y-m-d H:i:s') : '' }}
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Carga</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                {{esterilizacion.carga}}
          </div>
          
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Lote probeta</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                {{esterilizacion.loteProveta}}
          </div>
      </div>                
      <div class="row mt-2">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Cantidad paquete</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{esterilizacion.cantidadPaquete}}
          </div>
          
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Tipo Esterilización</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{esterilizacion.tipoEsterilizacion| capitalize}}
          </div>
      </div>      
      <div class="row mt-2">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Tiempo esterilización</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{esterilizacion.tiempoEsterilizacion}} 
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Tiempo secado</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
           {{ esterilizacion.tiempoSecado}}
          </div>
      </div>     
      <div class="row mt-2">
        {% if esterilizacion.temperatura != '' and esterilizacion.presion != ''  %}
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Temperatura</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            {{esterilizacion.temperatura}} 
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Presión</b>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
           {{ esterilizacion.presion}}
          </div>
        {% elseif esterilizacion.temperatura != '' and esterilizacion.presion == '' %}  
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Temperatura</b>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">      
                {{esterilizacion.temperatura}} 
            </div>
        {% elseif esterilizacion.temperatura == '' and esterilizacion.presion != '' %}  
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
              <b>Presión</b>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">      
                {{esterilizacion.presion}} 
            </div>
        {% endif %}    
      </div>
      <div class="row mt-2">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <b>Responsable</b>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">      
            {{esterilizacion.idUsuarioReporta}} 
        </div>
      </div>

    </div>
    <div class="modal-footer">
       <a href="{{ path('esterilizacion_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Cerrar' |trans}}</button></a>
    </div>  
      
  </div>
</div>  