{% extends 'base.html.twig' %}

{% block title %}Esterilización{% endblock %}

{% block body %}
{{ parent() }}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-header card-title text-center">
                    <h3>ASIGNACIÓN DE PAQUETES ESTERILIZACIÓN N° {{ esterilizacion.idEsterilizacion}} </h3>
                </div>
                <hr>
                <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
                {%  for flashMessage in app.flashes('mensaje') %}
                    <div class=" alert alert-success" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                {%  for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="resp"> {{ flashMessage }}</div> 
                    </div>
                {% endfor%}
                
                <div class="table-responsive-lg mt-3">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Fecha inicio</th>
                                <td>{{ esterilizacion.fechaApertura ? esterilizacion.fechaApertura|date('Y-m-d H:i:s') : '' }}</td>
                                <th>Fecha vencimiento</th>
                                <td>{{ esterilizacion.fechaVecimiento ? esterilizacion.fechaVecimiento|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Carga</th>
                                <td>{{ esterilizacion.carga }}</td>
                                <th>Lote Probeta</th>
                                <td>{{ esterilizacion.loteProveta }}</td>
                            </tr>
                            <tr>
                                <th>Tipo esterilización</th>
                                <td>{{ esterilizacion.tipoEsterilizacion}}</td>
                                <th>Cantidad paquete</th>
                                <td>{{ esterilizacion.cantidadPaquete }}</td>
                            </tr>
                            <tr>
                                <th>Tiempo esterilización</th>
                                <td>{{ esterilizacion.tiempoEsterilizacion }}</td>
                                <th>Tiempos secado</th>
                                <td>{{ esterilizacion.tiempoSecado }}</td>
                            </tr>
                            <tr>
                                <th>Temperatura</th>
                                <td>{% if esterilizacion.temperatura != ''%}{{ esterilizacion.temperatura }}{% else %} - {% endif %}</td>
                                <th>Presión</th>
                                <td>{% if esterilizacion.presion != ''%}{{ esterilizacion.presion }}{% else %} - {% endif %}</td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td colspan="3">{{ esterilizacion.estado ? 'Activo' : 'Inactivo' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
                <hr>  
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#paquetes" data-toggle="tab" aria-expanded="false" class="nav-link active">
                            <h3>Registro Paquetes</h3>
                        </a>
                    </li>
                </ul>                   
                <div id="paquetes" class="tab-pane">
                 {{ form_start(form, { 'attr': {'novalidate': 'novalidate', 'role' : 'form','id':'formNuevoPaquete'} }) }} 
                <div class="row mt-3"  >
                   <div class="col-xg-1 col-lg-1 col-md-1 col-sm-1">                
                        <label for="codigo">Código</label>&nbsp;<label class="text-danger">*</label>
                   </div>
                   <div class=" form-group col-xg-3 col-lg-3 col-md-3 col-sm-3"> 
                        {{ form_widget(form.codigo) }}
                        <div class="invalid-feedback">{{ form_errors(form.codigo)}}</div>
                   </div>
                   <div class="col-xg-2 col-lg-2 col-md-2 col-sm-2">                
                        <label for="idTipoPaquete" class="fles">Tipo Paquete</label>&nbsp;<label class="text-danger fles">*</label>
                   </div>
                   <div class=" form-group col-xg-3 col-lg-3 col-md-3 col-sm-3"> 
                        {{ form_widget(form.idTipoPaquete) }}
                        <div class="invalid-feedback vencimiento">{{ form_errors(form.idTipoPaquete)}}</div>
                   </div>
                   <div class="col-xg-3 col-lg-3 col-md-3 col-sm-3"> 
                      <button class="btn btn-outline-success"><span class="fas fa-check"></span>&nbsp; {{ button_label|default('Guardar') }}</button>
                   </div>
                </div>
                 <div hidden>
                    {{ form_widget(form.estado) }}
                    {{ form_widget(form.idEsterilizacion) }}
                </div>
                   
                {{ form_end(form) }}  
                </div>
                <table class="table" id="table_esterilizacion">
                    <thead>
                        <tr class="bg-primary">
                            <th colspan="3" class="text-center text-light">Paquetes esterilización</th>
                        </tr>
                        <tr>  
                            <th class="text-left w-25">Código</th>
                            <th class="text-left w-25">Tipo</th>
                            <th class="text-center w-25">Acciones</th>
                        </tr>
                    </thead>
                      
                    <tbody id="datos">
                    {% for paquete in paquetes %}
                        <tr>
                          <td class="text-left">{{ paquete.codigo }}</td>
                          <td class="text-left">{{ paquete.idTipoPaquete}}</td>
                          <td class="text-center" colspan="2">
                            {% if paquete.estado == true %}
                              <button type="button" onclick="editarPaqueteEsterilizacion({{paquete.idPaqueteEsterilizacion}});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar paquete esterilización"><span class="fas fa-edit"></span></button>
                            {% else %}                            
                               <button type="button" disabled="false" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar paquete esterilización"><span class="fas fa-edit"></span></button>
                            {% endif %}
                          </td>
                        </tr>    
                    {% endfor %}
                    </tbody>
              </table>
                <div class="text-center mt-3">
                    <a href="{{ path('esterilizacion_index') }}"><button class="btn btn-outline-warning" type="button"><span class="fas fa-times"></span>&nbsp;  {{ 'Volver' |trans}}</button></a>
                </div>
            </div>        
        </div>
    </div>
</div>   

{{ include('tipo_radiografia/editEstado.html.twig') }} 
<div class="modal fade bd-example-modal-lg" id="datosPaqueteEsterilizacion"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
  //añejo de datatable 
  newTable('#table_esterilizacion');
});


$( ".cambiarEstadoPaqueteEsterilización").click( function(){
  var idPaqueteEsterilizacion= $(this).data('id');
   var tipo = 'paqueteEsterilizacion';
  $('.modal-body #id').val(idPaqueteEsterilizacion);
  $('.modal-body #tipo').val(tipo);

});
function editarPaqueteEsterilizacion(id) {
  var url = "/paqueteEsterilizacion/"+id+"/edit";
    $.ajax({
      type: 'POST',
      url:url,
      dataType: 'html',
      beforeSend: function () {
            $('body').addClass('loading'); //Agregamos la clase loading al body
          },
      success: function(respuesta){
        $('body').removeClass('loading');
            $('#datosPaqueteEsterilizacion').modal('show'); 
            $('#datosPaqueteEsterilizacion').html(respuesta);
      },
      // código a ejecutar si la petición falla;
            error : function(xhr, status) {
                $('body').removeClass('loading');
                $('.resp').removeAttr('hidden');
                $('.resp').html('Disculpe, existió un problema en la conexión.');
            },
    });
}
</script>
{% endblock %}