{% extends 'base.html.twig' %}
{% block title %}Finalidad Consulta{% endblock %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="row mt-3">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="page-header card-title text-center">
                <h3>FINALIDAD CONSULTA</h3>
            </div>
            <hr>
            <div class="alert alert-danger alert-dismissable resp" role="alert" hidden></div>
            {%  for flashMessage in app.flashes('mensaje') %}
                <div class=" alert alert-success" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            {%  for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" title="Cerrar" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resp"> {{ flashMessage }}</div> 
                </div>
            {% endfor%}
            <div class="row">
              <div class="col-12">
                <a href="{{path('finalidadConsulta_index')}}"><button class=" menus btn btn btn-outline-primary waves-effect waves-light"><span class="fas fa-feather"></span>&nbsp;&nbsp;Finalidad Consulta</button></a>
                <a href="{{path('motivoConsulta_index')}}"><button class="menus btn btn btn-outline-primary waves-effect waves-light"><span class="fab fa-earlybirds"></span>&nbsp;&nbsp;Motivo consulta</button></a>
              </div>
            </div>
            <div class="table-responsive-lg mt-3">
              <table class="table" id="table_finalidadconsulta">
                    <thead>
                          <tr>  
                            <th class="text-center w-100">Nombre</th>
                            <th class="text-right w-25">Acciones</th>
                            <th>
                                <a style="float: right;" data-controls-modal="crearFinalidadConsulta" data-backdrop="static" data-toggle="modal" data-target="#crearFinalidadConsulta" title="Crear finalida consulta"><button type="button" class="btn btn-sm btn-success waves-effect waves-light"><span class="fas fa-plus"></span></button></a>
                            </th> 
                          </tr>
                    </thead>
                    <tbody>
                    {% for finalidadConsulta in finalidadesConsultas %}                     
                      <tr>
                          <td class="text-left">{{ finalidadConsulta.nombre  | capitalize}}</td>
                          <td class="text-center" colspan="2">
                            <button type="button" onclick="editar( {{ finalidadConsulta.idFinalidadConsulta }});" class="btn btn-sm btn-outline-primary waves-effect waves-light" title="Actualizar finalidad consulta"><span class="fas fa-edit"></span></button>
                          </td>
                          <td style="display: none;"></td>
                      </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>    
          </div>
        </div>
    </div>
</div>


{{ include('finalidadConsulta/modalNewFinalidadConsulta.html.twig') }}
<div class="modal fade" id="datosFinalidadConsulta"></div>
{% endblock %}
{% block javascripts %}

<script type="text/javascript">


$(document).ready(function(){
    //añejo de datatable 
    newTable('#table_finalidadconsulta');
   
});

function editar(id) {
  // alert(id); 
  var url = "/finalidadConsulta/"+id+"/edit";
$.ajax({
  type: 'POST',
  url:url,
  dataType: 'html',
  beforeSend: function () {
        $('body').addClass('loading'); //Agregamos la clase loading al body
      },
  success: function(respuesta){
    $('body').removeClass('loading');
        $('#datosFinalidadConsulta').modal('show'); 
        $('#datosFinalidadConsulta').html(respuesta);
  },
  // código a ejecutar si la petición falla;
        error : function(xhr, status) {
            $('body').removeClass('loading');
            $('.resp').removeAttr('hidden');
            $('.resp').html('Disculpe, existió un problema en la conexión.');
        },
});
}
</script>
{% endblock %}